[2021-03-21 07:19] Dnouv commented on #559
@Himanshunitrr, well, right now, I am working on this issue.

[2021-03-21 08:17] neilchauhan2 commented on #639
@AndersMoberg I agree to you, having 6 stars in UI can be a little confusing for some people, but I've made an update such that the Rating label is attached to the Item Lists so that people know what these stars mean, you can see the screenshots in the PR. And, in my opinion as well using stars for rating is more preferable because people find it more relatable. But still, we can definitely think

[2021-03-21 12:02] gg-dev-05 opened #865 "song progress bar with mozilla firefox not aligned properly"
The seek (song progress bar) is touching the bottom of page while using firefox but works fine with google chrome

![screenshot](https://user-images.githubusercontent.com/59741135/111904083-0120e980-8a6b-11eb-9634-fad9e8afd6e3.png)

[2021-03-21 13:11] Sanskar95 commented on #364
Hi
I have ample knowledge of web dev that will be required for this project
Can I pick some open issue to get familiar with the codebase?

[2021-03-21 13:45] gg-dev-05 commented on #865
@deluan Can I work on this issue as it seems quite easy to fix with a few lines of css.

[2021-03-21 14:00] jvoisin commented on #865
Sure :)

[2021-03-21 15:37] jvoisin commented on #364
Sure

[2021-03-21 16:34] deluan commented on #865
This is most probably an issue with the [react-jinke-music-player](https://github.com/lijinke666/react-music-player). Check if their [demo](https://www.lijinke.cn/react-music-player/) also has this issue.

[2021-03-21 17:07] gg-dev-05 commented on #865
The [demo](https://www.lijinke.cn/react-music-player/) looks fine.

![Screenshot_2021-03-21 react-jinke-music-player](https://user-images.githubusercontent.com/59741135/111913869-ca13fd80-8a95-11eb-8a89-3f2e6d6e465b.png)

[2021-03-21 17:19] #260 closed

[2021-03-21 17:29] #554 closed

[2021-03-21 17:37] deluan commented on #249
To be able to use FTS (#255) to search for lyrics snippets, it will be better to keep the lyrics in the database. SQLite3 should be able to handle large records (last famous words). My understanding is that the performance impact is when there is too many records, but the record size should not matter that much.

[2021-03-21 17:41] deluan commented on #830
I'm closing this for now.

[2021-03-21 17:41] #830 closed

[2021-03-21 17:45] deluan commented on #855
This was fixed in #845. Are you still seeing this issue?

[2021-03-21 17:58] sakshi-choudhary commented on #865
If no one is working on this, Can I take up this issue?

[2021-03-21 18:14] deluan commented on #857
Thanks for the report. Can you please attach a sample file, so I can take a look?

[2021-03-21 18:18] deluan commented on #858
Multiple authentication backend will be implemented at some point, but the priority now is to decide how to work around the Subsonic API limitations regarding authentication: https://github.com/navidrome/navidrome/issues/202#issuecomment-797640193.

[2021-03-21 18:29] rohitgeddam commented on #855
Yes the issue was still there, I looked at #845, but somehow it didn't solve the issue, I had made changes after the commit for issue #845 was merged into master, I made a small change and now it works.

[2021-03-21 18:34] deluan commented on #613
I'll keep the issue open until I test it thoroughly. Thanks @certuna !

[2021-03-21 18:37] deluan commented on #861
Thanks for trying Navidrome! Even though the scope of Navidrome is of a personal music server, this may be implemented in the future, as a UI-only feature. See also the #748 feature request, that will allow you to share music with people that does not have a Navidrome instance running.

[2021-03-21 18:43] deluan commented on #836
Hey @josepmdc , thanks for looking into this. I don't remember why I didn't add the `requestLogger` to the `initRoutes()` function, will have to take a look. Will get back to you after checking it out.

The `logger` injected in the context by `injectLogger`, is used by the `log` package, to add things like `requestId` to the `log `messages.

[2021-03-21 18:57] deluan commented on #855
Yeah, I was able to reproduce it on albums with long `comment` fields. Maybe we just need to apply the changes to that field? Or else is truncates the comment field, where it would be better to add some padding (or a `...`) at the end of the field:

<img width="379" alt="Screen Shot 2021-03-21 at 2 55 02 PM" src="https://user-images.githubusercontent.com/331353/111917284-91543400-8a55-11eb-9c67-da

[2021-03-21 19:05] deluan commented on #864
Are you sure you have the latest code, without any local changes? I can't reproduce it here (Firefox on macOS):

![ezgif com-gif-maker](https://user-images.githubusercontent.com/331353/111917528-d0cf5000-8a56-11eb-8f30-57f00feb6d6e.gif)

[2021-03-21 19:19] the-pro commented on #864
No sir you have to minimize and maximize the audio player. I produced the above on the demo site

[2021-03-21 19:26] deluan commented on #865
I can't seem to reproduce it in my environment with Firefox:
<img width="1114" alt="Screen Shot 2021-03-21 at 3 24 40 PM" src="https://user-images.githubusercontent.com/331353/111918043-9b783180-8a59-11eb-964e-3020cbda85a0.png">

And based on the size of the album cover, seems that there is some sort of font resizing going on in your browser... Can you double check this please?

[2021-03-21 19:28] deluan commented on #864
Still not able to reproduce it.... Can you post a video?

[2021-03-21 19:32] rohitgeddam commented on #855
***How about we make the details in a column on smaller screen? This way even if the title is longer it will wrap to the next line***

## Before
<img width="439" alt="Screenshot 2021-03-19 at 3 26 27 PM" src="https://user-images.githubusercontent.com/48797475/111918186-f174c580-8aa9-11eb-8a50-5201e4cb4b18.png">

## After
<img width="352" alt="Screenshot 2021-03-19 at 3 33 34 PM" src="https://user-

[2021-03-21 19:37] the-pro commented on #864
Yes sir here it is:

https://user-images.githubusercontent.com/42973786/111918386-de162a00-8aaa-11eb-8ff2-e076feb626cb.mp4

[2021-03-21 19:38] deluan commented on #855
Hummm, I'm not sure how I feel about this, I think it is worth to ask for feedback on the #general channel in Discord.

But this does not answer my main question: Should we apply the changes you are suggesting to fix responsiveness to the comment only, to avoid it being truncated like I posted in my previous comment?

[2021-03-21 19:41] deluan commented on #864
Ah yes, I see. I was able to reproduce this issue in Chrome as well. Good catch. This is probably caused by the player being removed and added back to the DOM by React, causing aconflict with Material-UI. A comment from a discussion about this in the past:

Do you think you can fix this?

[2021-03-21 19:47] the-pro commented on #864
I would definitely like to try

[2021-03-21 20:14] rohitgeddam commented on #855
we can either truncate long comments or we can set overflow property to scroll on css,
![navidrome_overflow](https://user-images.githubusercontent.com/48797475/111919465-1bc98180-8ab0-11eb-8f0c-5b27ee51e53d.gif)

[2021-03-21 22:44] grinapo commented on #857
https://big.grin.hu/OOHAx/DOTT_-_Dwaynes_theme.ogg

[2021-03-21 22:47] deluan commented on #613
I can confirm this is fixed!! Thanks again @certuna ! Now we have to come-up with the fancy "There's a new version available, please refresh" logic :)

[2021-03-21 22:47] #613 closed

[2021-03-21 23:03] deluan commented on #855
I prefer to just break the line and continue the text in the next line. Your example above is already doing this (...John_Bartmann/Royalty-Free_Soundtrack.... is breaking at the Royalty-Free), just don't know why it still needs to scroll....

[2021-03-21 23:34] gg-dev-05 commented on #865
The default font size in my firefox was 24px thus it was causing all these issues I changed it back to 16px and now it looks good.

But I was wondering why these other players like spotify and [react-jinke-music-player](https://www.lijinke.cn/react-music-player/) have no effect of changing font sizes. Shouldn't navidrome also be same i.e it looks same on all font sizes or at least we should preven

[2021-03-21 23:48] deluan commented on #865
Agree, not sure how to accomplish this in a simple way. Feel free to suggest a solution. This may be related to #232

[2021-03-21 23:54] deluan commented on #836
@josepmdc Now I remember: When I implemented the `requestLogger` it was logging at `info` level, and I didn't want log messages for things like the UI bundle and static resources, to reduce the noise. Now that it is `debug` level, I think it is ok to move it to all requests (in the `initRoutes`) and remove it from the `MountRouter` function. Let's try this and I'll take a look at the logs and see

[2021-03-22 01:04] gg-dev-05 opened #868 "Media Folder is empty. Aborting scan. (Even if media folder is not empty)"
After following the procedure for setting up the dev environment specified [here](https://www.navidrome.org/docs/developers/dev-environment/). If a user is having **no sub folders** in the media folder then navidrome returns
[code]
after running the command  ```make dev``` even if the folder is having some mp3 files.

[2021-03-22 01:10] deluan commented on #868
As we discussed in Discord, this is a bug. Navidrome wrongly shows this message when there are no subfolders in the MusicFolder, a rather uncommon situation for self-hosted users, but something that can happen in development environments.

This check was implemented to avoid deleting all your library in a situation where your music folder is not mounted when Navidrome starts:

https://github.com/n

[2021-03-22 01:12] gg-dev-05 commented on #868
@deluan Can I work on this issue?

[2021-03-22 01:13] deluan commented on #868
Sure! Let me know if you have any questions.

[2021-03-22 03:52] rohitgeddam commented on #855
Yea, It was annoying why the word wasn't breaking at the right place { ...John_Bartnann/ }. turns out it was a simple fix

please review #856

[2021-03-22 05:03] shravani05 commented on #846
@certuna no problem :)

[2021-03-22 05:56] Dnouv commented on #865
@deluan, maybe the problem is in the CSS units used; in most of the styles, the units are px, which are considered as absolute units and do not vary with the changing font size; the possible solution might be using the em units, they vary with the font size.

[2021-03-22 07:28] dependabot-preview[bot] opened #869 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/navidrome/update-logs/73139915).

[2021-03-22 09:28] KorobeinikovIgor opened #873 "The scan fails with an error"
My log:
$ navidrome

2021/03/22 12:21:44 goose: no migrations to run. current version: 20201213124814
INFO[0000] Starting scanner                              interval=1m0s
INFO[0000] Configuring Media Folder                      name="Music Library" path=music
INFO[0000] Creating Image cache                          maxSize="100 MB" path=cache/images
INFO[0000] Finished initializing cache

[2021-03-22 10:40] certuna commented on #613
I'll make a new issue for that.

[2021-03-22 11:27] certuna opened #875 "update cached webUI when new server version is detected"
Currently, the Navidrome web UI caches all JS/HTML assets client-side once, on login. When a new version of the server is installed, the clients do not automatically refresh their assets.

Logging out [now clears the serviceworker cache](https://github.com/navidrome/navidrome/pull/854), so from 0.41 onwards, a manual logout/login cycle will refresh the web UI/PWA. But if a user has not logged out

[2021-03-22 12:49] Dnouv opened #876 "Improper display of song play time"
The song play time in the player is not completely visible on some screen sizes, it can be seen in the attached screenshot that the duration 00:00-----01:02 is not completely visible the only visible play time is as "00-----01"
The issue screen:
<img width="437" alt="navid_bug" src="https://user-images.githubusercontent.com/61188295/111991685-95a64d00-8b3a-11eb-92fb-f8463eb682fc.png">

Expected du

[2021-03-22 13:56] gg-dev-05 commented on #868
@deluan I am thinking about the following solution

 If any file with the extension(mp3, ogg, wav) is present then don't show this error message of empty folder.
Is this solution fine? Also what other extensions are to be included?

[2021-03-22 14:11] deluan commented on #873
Did you configure your MusicFolder to point to the folder where your music files are stored? By default (your case, based on the logs), it looks for a folder named `music` under the current directory.

[2021-03-22 14:15] deluan commented on #868
You shouldn't check for files in the folder. Other functions in the scanner logic already do that, you should only check if they found and processed any files or not.

[2021-03-22 14:28] deluan commented on #875
Thanks for creating this. I tagged it as a "good first issue", but it may not be as straightforward (it is not for me :P, home someone with better JS skills than mine and PWA knowledge steps in)

[2021-03-22 14:33] deluan commented on #865
Feel free to experiment with it :)

[2021-03-22 14:36] dependabot-preview[bot] opened #878 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/navidrome/update-logs/73199906).

[2021-03-22 14:37] #869 closed

[2021-03-22 17:26] dm17 commented on #476
Can you add a dashboard section to it? Having a tough time getting subdomains in dashboard rule=Host working... Makes no sense why it wouldn't.

[2021-03-22 17:27] dm17 commented on #476
Yes the mixing of "static" & "dynamic" really makes no sense especially when some pages in the documentation only have static examples and some pages have both...

[2021-03-22 17:33] Dnouv commented on #865
@deluan, the same issue is there for react-jinke-music-player, so should I fix it for the navidrome site or raise an issue in the react-jinke-player repository? Please let me know.

[2021-03-22 17:43] deluan commented on #865
If I understand correctly, you'll wont be able to fix it completely without also changing `react-jinke-player`, is that right? If that's the case, you can try sending a PR to the `react-jinke-player` project, I'm sure the dev will be happy to accept/discuss it with you.

[2021-03-22 18:01] tcurdt commented on #476
Not entirely sure what you are asking.

TBH the only one good thing about traefik is that you can configure it completely without configuration files. That's it. Nice for docker compose files.

The time I wasted getting V2 to configured properly for another project - let's better not talk about it. The docs and the UX of traefik 2 are just horrific. Although I got it working in the end, I have in

[2021-03-22 18:06] dm17 commented on #476
It refers to the labels under the traefik service that makes the dashboard work.

I'm currently losing my mind with traefik v2. I never used v1... Maybe all the devs are non-native English speakers.

The traefik dashboard is what I'm currently trying to get working... So I can debug something else about why traefik is acting strange. They really need to consider hiring someone else to communicate

[2021-03-22 18:40] tcurdt commented on #476
I am still not sure :) ...but it seems you are looking for this?

[code]

TBH it does not feel like a sane configuration requires a native tongue. It's just done really bad. Not sure about the reasons. Maybe that's how they make their money - needing consultants to help :-p

FWIW, the dashboard did not feel helping all that much when debugging the setup. Only raising the log level did. Just my 2 c

[2021-03-22 18:53] #878 closed

[2021-03-22 18:58] dependabot-preview[bot] opened #879 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/navidrome/update-logs/73234711).

[2021-03-22 19:12] #879 closed

[2021-03-22 19:39] jvoisin commented on #876
I think that this should be tackled upstream in [react-music-player]( https://github.com/xiaolin3303/react-music-player ).

[2021-03-22 19:40] Dnouv commented on #865
Yeah, we will need to make changes in the `react-jinke-music-player/assets/index.css`, or else we could fix the site's font size independent of the default font size of the browser.
Thank you for your prompt reply.

[2021-03-22 19:49] Dnouv commented on #876
Sorry @jvoisin, but I am not sure if I fully understand your reply. How is this issue related to `react-music-player`? Ain't we using `react-jinke-music-player`.

[2021-03-22 19:54] jvoisin commented on #876
I meant `react-jinke-music-player`, my bad

[2021-03-22 20:00] Dnouv commented on #876
Thank you for your prompt reply, @jvoisin . I checked on the `react-jinke-music-player` site, but the issue was not present; it's only on navidrome.

[2021-03-22 20:04] jvoisin commented on #876
I meant that the problem is likely coming from `react-jinke-music-player`, and should be fixed there, instead of being hacked away in navidrome.

[2021-03-22 20:09] deluan commented on #876
This is related to #520, we need to set a proper mobile media query. In their demo they set it to 1024px: https://github.com/lijinke666/react-music-player/blob/master/example/example.js#L256, but I think this is too high

[2021-03-22 20:12] Dnouv commented on #876
I experimented with it, and it is most likely the issue is with the `theme-breakpoints`. I could give it a try, may I?

[2021-03-22 20:25] deluan commented on #876
Sure. You can always try to fix bugs without asking :)

[2021-03-22 20:32] andrewzah commented on #476
For me, having the dashboard helped significantly.

* [example traefik compose.yml](https://github.com/andrewzah/lilac-docker/blob/master/services/traefik/compose.yml)
* [example navidrome compose.yml](https://github.com/andrewzah/lilac-docker/blob/master/services/navidrome/compose.yml)

[2021-03-22 21:50] bhartshorn commented on #351
@deluan Navidrome is great, thanks for your effort!

I have the same use-case. ^^^

This would work just fine for me.

It might be nice to be able to insert the requested bitrate value (with a fallback to the value set in Navidrome config) into the transcode command.

[2021-03-23 04:12] #823 closed

[2021-03-23 04:50] armedev opened #890 "artist list ui problem"
In the artist list, the mobile UI is not optimized :>

![Screenshot from 2021-03-23 10-17-08](https://user-images.githubusercontent.com/51921579/112094431-40f9e500-8bc1-11eb-8882-719ce2b4fdb5.png)

should create a new UI for the displaying of artists.

[2021-03-23 04:52] armedev commented on #890
@deluan can I work on this issue?

if yes, you can assign it to me. will submit a PR.

[2021-03-23 08:36] jvoisin commented on #890
No need to be assigned an issue to work on it :)

[2021-03-23 09:51] certuna commented on #857
yeah taglib might be choking on that mjpeg (=video) image tag.

[2021-03-23 12:16] armedev commented on #875
@deluan I think it is not a good first issue, it has to do with how service workers work they update if there is a byte of change
which we can utilize to update the service worker by providing version numbers to service workers automatically from servers
after which we have to replace our cache with new data which is quite complicated though :P

[2021-03-23 12:29] armedev commented on #865
@Dnouv the quick fix for this issue is giving a fixed font-size (16 px) for the HTML tag in the index.css which will update the browsers font-size then we can use 'em' anywhere :)

[2021-03-23 13:24] Dnouv commented on #865
Yeah, @armedev, thanks for the suggestion, the same I have mentioned in the comment.

[2021-03-23 16:45] Himanshunitrr commented on #815
Close this issue as its already solved.

[2021-03-24 03:55] RitikPandey1 opened #896 "Bug : BulkActionToolbar in playlist remain open"
Found a bug. If I select and delete the 3 songs from playlist, after it  `3 items selected` message was still there and `BulkActionToolbar` remains open.

![navidromeBug](https://user-images.githubusercontent.com/57366926/112252246-c42f3f80-8c82-11eb-8698-f8913f45a063.gif)

[2021-03-24 03:57] RitikPandey1 commented on #896
I'd like to resolve this bug.

[2021-03-24 06:17] ruhci28 opened #899 "Change menu icon when menu is selected"
On selecting the menu item the icon does not change.  I think if we will change the icon on the selection then it will enhance UI.
Like in Spotify the icons changes

https://user-images.githubusercontent.com/59759735/112264191-83412600-8c96-11eb-979b-99abe02f2d80.mov

But in navidrome the icons does not changes

https://user-images.githubusercontent.com/59759735/112264245-994ee680-8c96-11eb-91c6-9

[2021-03-24 06:23] ruhci28 commented on #899
I try to apply some changes

https://user-images.githubusercontent.com/59759735/112264893-8d175900-8c97-11eb-8c70-4b9a761f1043.mov
@jvoisin  should i proceed with it.?

[2021-03-24 07:58] YashV1729 commented on #323
Hello , I've seen that the code is quite convoluted and not easy to understand , @deluan I'm interested in making the AlbumGrid from the scratch and making it as per the required design as Plex interface. Can I move forward with this issue?

[2021-03-24 13:44] deluan commented on #899
That seems nice. Please create a PR

[2021-03-24 14:13] jvoisin commented on #323
This is a non-trivial issue, not well-fitted as a simple pre-GSoC task.
As written [navidrome's documentation]( https://www.navidrome.org/docs/gsoc/ ), as well as on the [GSoC website](https://summerofcode.withgoogle.com/organizations/5157984449069056/):

Nobody is expected to take ownership of GSoC tasks before being officially selected/accepted to work on it *during* the GSoC.

[2021-03-24 14:26] metalheim commented on #896
Can confirm this happens to me too.

[2021-03-24 14:32] metalheim commented on #639
@neilchauhan2 I like the idea of changing the iconography towards *heart* for *favorite*. As you said, most music platforms do it this way and it would make a useful distinguish between *stars as rating* and *favorite*.

It's just that subsonic terminology uses *star* already (f.e. API calls to _getStarred_ endpoint). So I guess its a somewhat political decision if navidrome is willing to divert f

[2021-03-24 14:46] YashV1729 commented on #323
Ok I got it, thank you for clearing my doubt. I'll do the process accordingly.

[2021-03-24 15:10] deluan commented on #639
Yes, we decided to go with "Love"/"Loved" terminology and Heart as icon, it is less confusing and more inline with modern music services/players. But will keep it compatible with Subsonic API's  "Star" endpoints.

[2021-03-24 16:02] ruhci28 commented on #899
Okay i will create a PR soon after refactoring the code

[2021-03-24 16:09] neilchauhan2 commented on #639
@metalheim I'm working on it, and soon you'll be seeing a :heart: instead of a :star: in the UI.

[2021-03-24 18:35] kaiiiz opened #901 "Bug: Encounter "ReferenceError: caches is not defined" error in console"
* Version: 0.41.0
* Testing Environment: Raspberry Pi 4, Raspbian, docker
* Browser: Brave 1.21.77 (Chromium 89.0.4389.90) and Firefox 86.0.1

After the service startup, it's hanging on loading page, and the following error appear in brave browser's console:

[code]

![image](https://user-images.githubusercontent.com/30596812/112361140-094c8380-8d0e-11eb-9fcb-9631fcccb9bf.png)

Then I test it in f

[2021-03-24 23:42] MoralCode commented on #165
would a library like https://github.com/ianr0bkny/go-sonos help make this easier?

[2021-03-25 00:55] deluan commented on #165
Hey @MoralCode, we don't have any development specific documentation, but I'd be glad to answer any questions and provide any needed guidance over Discord.

[2021-03-25 03:14] #855 closed

[2021-03-25 03:17] #836 closed

[2021-03-25 04:36] MoralCode commented on #165
To summarize from the discord conversation:

It seems like the consensus is that this fits in really well as part of a broader "playback services" milestone with other issues like #364 (jukebox), Alexa integration (from GSOC page),  #682 (google home) .etc.

It also seems like the current working idea for the best way to implement this for all of the various external playback mechanisms is for the

[2021-03-25 08:17] certuna opened #904 "response served by service worker has redirections"
As mentioned here: https://www.reddit.com/r/navidrome/comments/mbw8kc/navidrome_version_0410/

1. log out
2. close browser tab
3. go to http://localhost:4533 (or in the case of a remote server, http://hostname:4533 )

Firefox: redirects to http://localhost:4533/app/ , blank page
Chrome: redirects to http://localhost:4533/app/index.html, "this site can't be reached"
Safari: "can't open the page htt

[2021-03-25 08:33] stefanomarty opened #905 "After upgrading to v.0.41.0 the About dialog is still showing v.0.40.0"
After upgrading to the latest version, the navidrome binary on the server shows the correct v.0.41.0:
[code]
but the About dialog keeps showing the previous one:
<img width="236" alt="Schermata 2021-03-25 alle 09 29 46" src="https://user-images.githubusercontent.com/3297621/112443164-ec837080-8d4c-11eb-9dab-f5a7fc3a53fb.png">

`Version:	0.40.0 (8799358a)
`

I cannot figure out why, the only place

[2021-03-25 08:35] certuna commented on #905
https://github.com/navidrome/navidrome/issues/875

[2021-03-25 08:41] stefanomarty commented on #905
Thanks, hadn't seen that. Clearing the Chrome browser cache soved it.

[2021-03-25 08:41] #905 closed

[2021-03-25 08:49] certuna commented on #901
Yeah this is a bit of a thing with these days - more and more new features formally require https, but fallback behaviour over http is unpredictable.

[2021-03-25 09:54] certuna commented on #904
I think I see the issue now. For some reason, after the logout, Chrome does not load the real Navidrome serviceworker.js, but a completely different one:

[code]

[2021-03-25 10:05] DowXor opened #906 "After updating to 0.41.0 unable to access navidrome"
Hello,

Thanks you for this super app !

After updating to 0.41.0, I can't access to navidrome. I just have this message :

![image](https://user-images.githubusercontent.com/57010998/112454814-5bff5d00-8d59-11eb-864f-3b539d7afa18.png)

I have cleared the older installation (var/lib/navidrome) but always KO. Nothing in journalctl. Scan is ok but no access.

Can you help me ?

Navidrome run on Debi

[2021-03-25 11:26] certuna commented on #906
It's probably this: https://github.com/navidrome/navidrome/issues/904

Try either:
- force reload (Shift-Ctrl-R)
- clear browser cache
Does that fix it?

[2021-03-25 11:30] DowXor commented on #906
I have already try this :/
And I tested access with Brave and Edge : same problem

[2021-03-25 13:11] metalheim commented on #906
I had the same issue.
Manually going to **<your-domain:port>/app/#/login** I was presented with the login screen. After logging in there, everything worked as usual :)

[2021-03-25 14:55] DowXor commented on #906
Well done :)
It works !

So, the redirection no longer works since the update in 0.41.0.
I leave the developers closed this issue when they will read your comment.

Thanks you :)

[2021-03-25 16:06] rohitgeddam commented on #847
![artist_api](https://user-images.githubusercontent.com/48797475/112503651-1ec6b980-8db1-11eb-9a56-a5219a0002f2.png)

We would like to display the artist image on the artist tab however, the API is returning an empty string
[code]

how should we fetch the artist image?
* we can fetch the image from the react app using some other external API.
* we can fetch the artist image while we are scanning f

[2021-03-25 16:16] neilchauhan2 commented on #639
@deluan I've refactored the current Star feature to Love feature. Please review the PR #908

[2021-03-25 16:19] certuna commented on #389
Looking into this - as with all text fields, id3v2.4 and Vorbis allow the label field to have multiple values. This in principle means this can't just be stored in the `mediaFile` table as a simple `label` field, we need a `label` table.

[2021-03-25 16:55] deluan commented on #906
Thanks for the report. This is a know issue and a fix will be release soon. Also thanks for @metalheim for providing the [workaround](https://github.com/navidrome/navidrome/issues/906#issuecomment-806715056)

[2021-03-25 17:04] deluan commented on #847
Artist metadata is handled on the server side. We don't want the UI talking to external services (and potentially introducing some privacy issues).

If (and only if) the image URLs are empty, you can retrieve them using the `getArtistInfo2` api call: http://subsonic.org/pages/api.jsp#getArtistInfo2

[2021-03-25 17:17] deluan commented on #132
Adding a reference to a library that can help with this: https://github.com/bvaughn/react-virtualized

[2021-03-25 21:12] metalheim commented on #639
Looks great

[2021-03-26 01:48] #592 closed

[2021-03-26 01:49] deluan commented on #896
Fixed in #898

[2021-03-26 01:49] #896 closed

[2021-03-26 02:13] deluan commented on #726
Hey @Himanshunitrr, thanks for the PR and sorry for the delay in reviewing it.

IMHO, the Quality should be a single field, and should only show the bitrate (without the `bps` suffix), when the format is lossy (i.e. not FLAC, WAV, ALAC, DSF...). It should also be all caps. Examples:

- MP3 320
- OPUS 160
- FLAC

At the same time, they need to be small, not get into the way. So they should not be t

[2021-03-26 02:45] #890 closed

[2021-03-26 03:45] ruhci28 opened #909 "Album name in Navbar"
### When the album is on the show page Navbar does not show the album name.

#### current navbar
![Screenshot 2021-03-26 at 9 10 18 AM](https://user-images.githubusercontent.com/59759735/112574095-a0e7ca00-8e13-11eb-82a0-7458dd2a977b.png)

#### After adding the name of the album in the navbar
![Screenshot 2021-03-26 at 9 03 25 AM](https://user-images.githubusercontent.com/59759735/112574128-b0ffa9

[2021-03-26 04:55] ruhci28 opened #910 "Albums Details and Song Details UI is different"
### Album Details and Song Details UI is different

![Screenshot 2021-03-26 at 10 18 27 AM](https://user-images.githubusercontent.com/59759735/112582542-c3caac00-8e1c-11eb-94c5-a7aec7eebc11.png)
![Screenshot 2021-03-26 at 10 17 14 AM](https://user-images.githubusercontent.com/59759735/112584250-7c90eb00-8e1d-11eb-959f-b4f8c6a5283a.png)

### Expected Behaviour

#### Make both the details look simil

[2021-03-26 05:04] Himanshunitrr commented on #726
Ok. Will work on it.

[2021-03-26 08:53] certuna commented on #904
Doing some more digging, this might help: https://github.com/GoogleChromeLabs/sw-precache/issues/220

[2021-03-26 09:19] jvoisin commented on #909
Sure.

[2021-03-26 09:48] certuna opened #911 "service worker: "fetch" event handler needs to return a valid response when the device is offline"
Currently, Navidrome can be installed as a Progressive Web Application (stand-alone web app) on many platforms: iOS/iPadOS (via Safari), Android (via Chrome), Windows 10 (via Edge), macOS (via Chrome), ChromeOS. At this moment, the Navidrome webUI has no offline functionality, all functionality depends on the server to be reachable. But even if it has no real offline functionality, the UI experien

[2021-03-26 12:57] deluan commented on #909
Actually, I'm not sure about that. Even though it is not great right now, I never added the title in this view because it duplicates the name in the title and in the page. And in a mobile view, it would be even worse.

Unless you come up with a good solution to avoid the duplication, I wouldn't touch this.

[2021-03-26 13:06] deluan commented on #910
This is not a bug, but it would be nice to be fixed :)

[2021-03-26 13:12] Dnouv commented on #909
I agree with @deluan; for mobile view, lengthy titles might be an issue. How about implementing it as desktop-only.

[2021-03-26 14:11] SteveDinn opened #912 "Search box should always be visible, perhaps up in the header bar"
### Is your feature request related to a problem? Please describe.

The search box should always be available for, uh...searching.

I get the concept of context-sensitive searching, and I think that search boxes should also exist within views for albums, artists, songs, etc., that should search only that specific type of content. But sometimes I don't know what I'm searching for, or I'm not sure i

[2021-03-26 14:19] deluan commented on #912
Thanks @SteveDinn, this is already being tracked in the #468 and #255, and is also one of the proposed [subprojects for GSoC](https://www.navidrome.org/docs/gsoc/#5-omnisearch)

I may borrow your (well articulated) description and add it to #468. I'm closing this for now to avoid duplication. Feel free to add additional comments on the issues linked above.

[2021-03-26 14:19] #912 closed

[2021-03-26 14:45] MoralCode commented on #911
Seems like a possible fix to this would be to add some kind of simple offline page that tells the user that they are not online and have that be the response emitted from the `fetch` event handler. Does Navidrome have something like this already?

Thinking it could be as simple as a slightly gray-white background with a large icon in the middle like a broken chain link or something and a message s

[2021-03-26 16:04] MoralCode commented on #165
upon some further ~~messing around~~ testing, sonos is able to play an mp3 stream just by grabbing the stream URL from inspect element in the web UI, setting the `format` (see docs [here](http://subsonic.org/pages/api.jsp#stream)) to `mp3` and instructing the sonos to play that stream url using soco-cli.

It seems like this method only supports mp3, WMA,and AAC/HE-AAC (per the [sonos docs](https:/

[2021-03-26 17:20] certuna commented on #911
Yeah I don't think it's super complex, but at the moment Navidrome does nothing with offline, it just has a boilerplate `service-worker.js`.

That said, an offline page can't be complely grey, it would need at least a refresh/"retry" button, since you don't have an address bar in a PWA.

[2021-03-26 21:54] deluan commented on #864
I did a `git bisect` to find when this bug was introduced. It is definitely caused by what I describe in the previous comment. Here's the commit, if you want to investigate:
[code]

[2021-03-27 07:59] aldrinjenson commented on #901
Hey, this has some major trouble in mobile devices.
Tested on both chrome and Brave for android.
![errorLog](https://user-images.githubusercontent.com/53407417/112714250-76733b00-8eff-11eb-9729-0882bdaacfa6.jpeg)

### Steps to reproduce
- try logging out and signing in again in Chrome/Brave browser for Android
- Or try opening the link in incognito mode for Chrome/Brave

Apparently, the cacheStora

[2021-03-27 12:49] Dnouv opened #916 "A greeting message for users"
### Is your feature request related to a problem? Please describe.

No, it's not related to a problem, rather an enhancement related most of the sites nowadays has auto greeting feature based on the users time as "Good evening," "Good morning."

### Describe the solution you'd like

A greeting message at the top of the album list would be nice.

### Describe alternative solutions that would also s

[2021-03-27 12:51] aldrinjenson commented on #846
Hey, I've a suggestion: Why don't we let the user decide? As in how nice it would it be if the user has the option to display the fields/attributes of his choice. What I have in mind is a button near the filter and shuffle options which opens a modal  on click from which the user could select the fields(check-boxes) to be displayed in each song row.
I think this could also help if in the future th

[2021-03-27 13:38] jvoisin commented on #916
I don't like this idea: I like navidrome because of its simple interface, adding useless text would go against this.

[2021-03-27 14:29] Dnouv commented on #916
Ok, anyways, it was optional; thanks for your feedback, @jvoisin. Should I close this issue?

[2021-03-27 15:22] neilchauhan2 commented on #639
@deluan I've enabled the feature to turn on/off the Favorites/Loved feature. Please review the PR #917.

[2021-03-27 20:20] Rishabh-malhotraa commented on #674
@deluan @jvoisin I can try to implement this, it should not be that hard to do, I also went through some examples for audio visualisation on GitHub and codepen and I like these one, please guide me on which one should i go ahead with while implementing this feature. I am listing them in order of preference

1. [https://codepen.io/alexdevp/full/RNELPV](https://codepen.io/alexdevp/full/RNELPV) Seems

[2021-03-27 20:45] aldrinjenson commented on #771
@Dnouv , if it's alright with you, may I try giving a shot at this please.?

[2021-03-28 01:39] deluan commented on #674
@Rishabh-malhotraa , thanks for the suggestions, but the original feature request is for implementing a [Milkdrop](https://en.wikipedia.org/wiki/MilkDrop)-like visualizer, and none of the options you showed falls into that category. I did some research in the past to see what could be used here, and the library that seems to be a good fit is [Butterchurn](https://github.com/jberg/butterchurn).

Th

[2021-03-28 01:43] deluan commented on #916
Yeah, while we don't have a "home" view, I don't see any place for this message. Thanks for the suggestion, though.

[2021-03-28 01:43] #916 closed

[2021-03-28 03:01] deluan commented on #901
@certuna Any thoughts?

[2021-03-28 03:11] deluan commented on #846
Yes, this is something I want to implement at some point. [React-Admin Enterprise Edition](https://marmelab.com/ra-enterprise/modules/ra-preferences#selectcolumnsbutton-store-datagrid-columns-in-preferences) has this nicely implemented, which design we could "borrow":

https://user-images.githubusercontent.com/331353/112741220-a3e8d480-8f51-11eb-8a3a-799f97cc375a.mov

[2021-03-28 05:41] Balaguru4580 commented on #132
I took a look at react-virtualized and it does seem like the library would allow for JIT infinite scroll implementations, but my concern is that the loading needs to be pretty quick to make sure it's not cumbersome when scrolling really fast. This isn't an issue when pagination because it's all already loaded and a user can quickly figure out if what they want isn't on the page.

Also, I think thi

[2021-03-28 05:52] samarsault commented on #909
Agreed, I believe adding album name in the appbar is redundant, even in the desktop version.

[2021-03-28 06:03] Dnouv commented on #771
Sure @aldrinjenson, please go ahead.

[2021-03-28 06:09] Dnouv commented on #910
@ruhci28, sorry to bother you, just wanted to know whether you're still working on this issue?

[2021-03-28 08:01] Vivekk07 opened #919 "navbar overlapping scrollbar"
### Description

Navbar and music bar overlaps scrollbar when profile dropdown is opened

### Steps to reproduce

1. Play any song
2. Click on your profile icon to open a dropdown
3. Notice the navbar and music bar overlaps scrollbar

### Platform information

 - Navidrome version: 0.41.0 (ba922bbf)
 - Browser and version: Chrome Version 89.0.4389.90
 - Operating System: Windows 10

### Screenshot

[2021-03-28 09:35] Rishabh-malhotraa commented on #674
I think the react way of doing this would be by  [code splitting](https://reactjs.org/docs/code-splitting.html), i.e lazy loading the component
[code]

and then render that component only when we have the setting to have milkdrop visualization is set as true.

[code]

![react-lazy-chunks-lazy-load](https://user-images.githubusercontent.com/54576074/112748040-d983d100-8fd6-11eb-81ad-318bc06ff2ed.jp

[2021-03-28 10:23] Dnouv commented on #919
Yeah, @Vivekk07, I was able to reproduce this issue; I'm working on this and will get it fixed soon. Thanks for reporting this issue.

[2021-03-28 10:30] Vivekk07 commented on #919
@Dnouv I am working on it myself too, but sure you can go ahead as well

[2021-03-28 11:28] KaramveerSidhu commented on #919
@Dnouv @Vivekk07 , the navbar overlaps the scrollbar even if you don't play a song.

[2021-03-28 11:33] Dnouv commented on #919
@KaramveerSidhu, thanks for following the issue. It was overlapping, which I have tried to fix now.
Here is the screenshot after the fix,
![navid919](https://user-images.githubusercontent.com/61188295/112750614-240d4980-8fe7-11eb-8772-0c32b0380749.png)

[2021-03-28 12:04] KaramveerSidhu commented on #919
@Dnouv Great work! Though it would look even better if there's a little less space between the user details bar and the scrollbar.

[2021-03-28 13:24] Dnouv commented on #919
Sorry @KaramveerSidhu, I am not sure if I fully understand your comment. Is it that you're suggesting to decrease the gap between the Dev admin popup and scrollbar?

[2021-03-28 17:16] deluan commented on #674
@Rishabh-malhotraa I had issues with code splitting and tree-shaking in the past, so my current approach is to not add any dependencies unless strictly necessary, but if you prove our WebPack config will handle this situation, go for it.

[2021-03-28 17:44] KaramveerSidhu commented on #919
@Dnouv Yes!

[2021-03-28 18:46] Dnouv commented on #919
Something like this @KaramveerSidhu ?
<img width="955" alt="navid919n" src="https://user-images.githubusercontent.com/61188295/112763881-f1ce0d00-9023-11eb-83a7-54fe3ac4b46c.png">

[2021-03-28 19:17] Rishabh-malhotraa opened #921 "Unwanted ConsoleLog Error thrown by the browser"
### Description

Unwanted `console.error`  thrown by the browser

![Screenshot from 2021-03-29 00-28-33](https://user-images.githubusercontent.com/54576074/112764362-c1876e00-9025-11eb-8aa8-3279bf8e81ed.png)

The browser is complaining that we have nested `<a>` tag which is forbidden/bad-practice
The component which is causing is in file :- `ui/src/Album/AlbumGridView.js` because we have nested Li

[2021-03-28 19:51] Rishabh-malhotraa commented on #769
@deluan
this is the response i get from the supersonic API
And I want to display this information like below )

Having the cover-art on the left and the name of the user on the right

![Screenshot from 2021-03-29 01-20-26](https://user-images.githubusercontent.com/54576074/112765898-fb0fa780-902c-11eb-8a03-8cf55dc545bc.png)

we could show the information about the song as a tooltip like a popover,

[2021-03-28 20:35] aldrinjenson commented on #846
Hey @deluan and @certuna , I've made a pr related to the change I suggested. Ig the original issue was different, tho please do take a look and see if this [pr](https://github.com/navidrome/navidrome/pull/923) is helpful in that direction. 🤞

[2021-03-28 21:32] aldrinjenson commented on #921
Ahh. Good catch. Thanks for the heads up.
Don't think changing component type is a good idea here.
Also Links shouldn't be wrapping over each other AFAIK.
Lemme see if there's some easy fix🤞

[2021-03-28 22:02] deluan commented on #921
Yeah, this is a know issue, and was left like this because it is (apparently) harmless. This is something that will be fixed with the Album Grid rewrite, one of the GSoC projects. If it is not picked-up for GSoC, the rewrite will be done at some point

[2021-03-28 22:08] aldrinjenson opened #925 "Unrecognized prop error in console"
### Description
A recent change to code base causes a minor error and shows up in the console

### Expected Behaviour
Error shouldn't be there

### Steps to reproduce

1. Open the Album view
2. Go to Album list view by toggling in top-right
3. Check console
4. See error

### Platform information

 - Navidrome version: latest master version
 - Browser and version: both Firefox and chrome latest ver

[2021-03-28 22:14] deluan commented on #925
Yeah, this seems to be a left over from #891. Simply deleting this property should do the trick.

[2021-03-28 23:53] #925 closed

[2021-03-29 03:21] ruhci28 commented on #910
Yes i am working on it

[2021-03-29 03:51] KaramveerSidhu commented on #919
@Dnouv Absolutely! It looks much better.

[2021-03-29 06:37] KaramveerSidhu opened #927 "Enhancing the login-form"
### Description

Enhancing and adding styles to the navidrome login-form to make it more visually appealing.

### Platform information

 - Navidrome version:  v0.41.0
 - Browser and version: Chrome v88.0.4324.150
 - Operating System: Debian GNU/Linux 9.13 (stretch)

![Screenshot from 2021-03-29 12-04-26](https://user-images.githubusercontent.com/51775341/112796103-1c9d7d00-9087-11eb-916e-220f0f06d

[2021-03-29 06:38] KaramveerSidhu commented on #927
@deluan  I'll be working on this now.

[2021-03-29 07:18] certuna commented on #846
I think this configurable columns thing works in the List view of Songs, Albums, or Artists, but that's something for another ieeus. The idea of this issue is to dynamically hide redundant info from the album details. You don't want the user to have to change the columns setting every time to show the Year column when it's a compilation, and then manually hide it again when it's a regular album -

[2021-03-29 07:28] certuna opened #928 "Background images from Unsplash are not music-related anymore"
For some reason, the random "music"-tagged pictures that Navidrome loads from Unsplash in the login screen seem to have dropped the "music" theme, and I've been seeing mostly non-music related images (some examples: girl eating ice cream, woman behind laptop, abstract wallpaper). At this point it's probably better to bundle or link to a small carousel of appropriate images than to rely on a somewh

[2021-03-29 07:30] certuna commented on #909
Also, showing the album name when you're playing a songs-oriented playlist is probably not really what you're interested in.

[2021-03-29 07:47] K-Kumar-01 commented on #928
@certuna
I would like to work on this issue. Please assign this to me

[2021-03-29 07:50] Dnouv commented on #928
@K-Kumar-01, there is no need to get assigned to work, you can go ahead and work on the issue without being assigned.

[2021-03-29 08:38] certuna commented on #928
I think we probably need some consensus on what we actually want from this:
- bundle a couple of stock images with the ND binary?
- host them on navidrome.org and link to them?
- allow the user to load custom images?

[2021-03-29 09:15] samarsault commented on #928
I think the quickest fix would be the change the search term in here -
https://github.com/navidrome/navidrome/blob/404253a88104c729069ce0ddd66502ecc871cd9e/ui/src/config.js#L4-L9

I've seen relevant images with search terms `musician` and `concert`.
Maybe it can be changed to that

[2021-03-29 10:36] rochakjain361 commented on #928
But again, this issue can occur after the update in the URL in config.js. Unsplash is a free public domain image website that can still have wrongly tagged `musician` or other `music` related queries in the future.

[2021-03-29 10:40] jvoisin commented on #928
@samarsault 's is the best solution I think.

[2021-03-29 11:21] samarsault commented on #928
On further inspection however, I found that we still are getting many unrelated pictures.
The best solution, which I found is to use an unsplash collection instead (See https://github.com/navidrome/navidrome/pull/936)

[2021-03-29 11:24] K-Kumar-01 commented on #928
@samarsault
I was actually working on this as I mentioned above. It would be better if you can wait some time before making a PR :sweat_smile:
It would not result to duplication of work

[2021-03-29 11:32] samarsault commented on #927
I think such changes are better suited to be part of a theme, instead of the component code.
Right now, I see that the LightTheme is being enforced in the login page. Shouldn't it be using the currentTheme?

[2021-03-29 11:33] samarsault commented on #928
Apologies @K-Kumar-01, I didn't realise that. Will keep that in mind.

[2021-03-29 12:20] certuna commented on #928
The issue is more that we're relying on a 3rd party API, do we want to continue doing this or choose something more predictable/controllable?

[2021-03-29 12:27] samarsault commented on #928
I feel collections are very much controllable. For instance, right now we are using a collection someone else created but we can very much create our own collection and use that instead.

[2021-03-29 12:31] certuna commented on #927
Problem is, the theme is stored per user (right?), so before the login there is nothing yet.

[2021-03-29 12:33] samarsault commented on #927
No, I meant it is hard coded (see below)
https://github.com/navidrome/navidrome/blob/404253a88104c729069ce0ddd66502ecc871cd9e/ui/src/layout/Login.js#L13-L18

[2021-03-29 12:38] K-Kumar-01 commented on #928
@certuna
I was wondering if we can save around 20 files in .webp format and then load them randomly.
In this way, we are ensuring that we are not depending on a third-party library. Also we would have 20 different images>
Though it will increase the bundle size. ;_;

[2021-03-29 12:44] certuna commented on #928
Exactly:
- link to an unsplash collection: we have to maintain that
- link to a collection of images on navidrome.org : extra traffic for @deluan
- include images with the binary: bigger bundle
- generate mosaic images from library cover art: cool, but who wants to/can code this in Go?
- allow users to specify a folder containing images: as above :)

[2021-03-29 13:35] K-Kumar-01 commented on #928
@certuna
So should I go with my approach of currently saving 20 images and choosing a random among them?

[2021-03-29 14:07] deluan commented on #927
To make the Login use the previously selected theme, we need to Wrap it with a ThemeProvider like [here](https://github.com/marmelab/react-admin/blob/27e446b9cf53340b3fb83f069094db4b3b0a2582/examples/demo/src/layout/Login.tsx#L199):
[code]
But instead of hardcoding the `lightTheme`, we can use our own `useCurrentTheme` hook to get the user preference (or darkTheme as default)

[2021-03-29 14:27] KorobeinikovIgor commented on #873
Thank you, this working

[2021-03-29 14:30] #873 closed

[2021-03-29 14:32] samarsault commented on #927
@deluan Yeah, should we go that way then?

[2021-03-29 14:38] rohitgeddam opened #937 "Remove empty albums"
### Description

I deleted a song from my music folder however the album is still listed in the UI

![album_empty](https://user-images.githubusercontent.com/48797475/112853462-80956500-90ca-11eb-9a4d-1e9a6610b938.png)

![empty_album](https://user-images.githubusercontent.com/48797475/112851618-c8b38800-90c8-11eb-985b-258ac08ba2ce.png)

***It shows``` 1 Song · 03:55 · 8.98 MB ``` but there is no so

[2021-03-29 14:45] rohitgeddam opened #938 "Admin should be able to delete selected songs/albums using the UI."
### Is your feature request related to a problem? Please describe.

I added a song that I don't like and now I want to remove it from the list,
Admin should have an option to delete selected songs/albums.

### Describe the solution you'd like
![delete_song](https://user-images.githubusercontent.com/48797475/112854164-32cd2c80-90cb-11eb-9922-153ffbd6a824.png)

we can have a delete button to delete

[2021-03-29 14:50] jvoisin commented on #938
Absolutely not.
Navidrome isn't a music management system, it's a music player, who shouldn't be editing my music in any way.

If you want to manage your music, there are better ways, like [Musicbrainz' Picard]( https://picard.musicbrainz.org/ ) for example

[2021-03-29 14:50] jvoisin commented on #937
This is working as intended.

The next time the scanner will run, it'll detect that the files have been removed. In the meantime, they'll still be displayed in the interface.

[2021-03-29 14:53] jvoisin commented on #928
Bundling a bunch of picture looks overkill to me: just use a plain color instead if you don't like unsplash.

[2021-03-29 15:18] SteveDinn commented on #928
Is there any way to currently disable this feature and just go with a plain background?

[2021-03-29 15:19] jvoisin commented on #928
If I remember correctly, yes

[2021-03-29 15:50] deluan commented on #928
Will take a look at this thread later and answer any pending questions. For now, just answering @SteveDinn's question:

Yes, there is: https://www.reddit.com/r/navidrome/comments/kxfa52/option_to_set_static_color_for_login_page_that/

[2021-03-29 16:02] certuna commented on #938
Probably never going to happen, Navidrome is designed to be 'read only' on your media files, so no deleting or modifying tags. [First item in the FAQ](https://www.navidrome.org/docs/faq/).

[2021-03-29 16:16] rohitgeddam commented on #938
Oh Ok

[2021-03-29 16:16] #938 closed

[2021-03-29 17:57] KaramveerSidhu commented on #927
@samarsault As you have already observed, since the app is under development yet, the LightTheme is hard coded. However as pointed by @deluan we can use the useCurrentTheme to get the user preference. Currently I am working on improving the visual appeal of the LightTheme. We also need to ask the user the preferred theme and update the DOM accordingly. That is a topic of a seperate issue. If you w

[2021-03-29 20:32] aldrinjenson commented on #846
Got it. My bad. Got muddled up with the issues it seems.😬 So I think, it'd then be better then to create a new issue separately for the menus.

[2021-03-29 20:54] aldrinjenson commented on #925
@deluan , I'm afraid just deleting the property won't solve the issue(in fact the error still persists in the latest master).

[2021-03-29 21:16] TheFlatworm opened #943 "Album's Song List Rearrangement"
When an album is selected and the songs are displayed the title bar above the song list looks to be part of the list itself:

<img width="1405" alt="Screen Shot 2021-03-29 at 1 52 47 PM" src="https://user-images.githubusercontent.com/5423879/112901068-2334f000-9099-11eb-8049-773baa9e7377.png">

Could this be redesigned to separate the header more clearly - something  like this:

<img width="1411"

[2021-03-29 21:29] TheFlatworm commented on #943
This would probably apply to other pages that has a list view as well.

[2021-03-30 00:16] deluan commented on #906
Will keep this open until more testing is done. If anyone is having this issue, please try with the latest dev build (should be available in ~10 minutes)

[2021-03-30 00:33] deluan commented on #906
Seems to work fine. Please feel free to report back if you still see this error.

[2021-03-30 00:33] #906 closed

[2021-03-30 00:43] #901 closed

[2021-03-30 01:42] deluan commented on #769
Yes, there is a `subsonic` "client" in the UI code, that you can call: `subsonic.getCoverArtUrl(record, size)`

I think it should show (without any popover/tooltip):
- username
- artist
- title
- small coverArt (with a link to the album, similar to what we have in the player)

[2021-03-30 01:45] #921 closed

[2021-03-30 02:13] deluan commented on #937
Yes, @jvoisin is correct in that Navidrome should remove the album in the next scan. But this image shows a bug:
![empty_album](https://user-images.githubusercontent.com/48797475/112851618-c8b38800-90c8-11eb-985b-258ac08ba2ce.png)

You should never have empty albums showing in the UI...

@rohitgeddam How is your library setup? Do you have files from different albums in the same folder? How big is

[2021-03-30 04:07] rohitgeddam commented on #937
- library setup?
    - I have put all my songs directly in my root music folder
- Do I have files from different albums in the same folder?
    - yes I have all songs at the root of my music folder
- How big is my Library?

   - It's pretty small about  ( < 50 )

- reproducing the same again?
  - I removed another song from my music folder and did a manual quick scan, but the empty album is still

[2021-03-30 05:38] rohitgeddam commented on #937
Not sure why it's showing up in the UI, I checked the  media_file table in the DB and the song has been removed from the DB. So I guess our scanner is doing its job well.
I think it's a UI problem, I even tried to hard refresh the page to make sure it's not cached on the frontend. but no luck.

[2021-03-30 05:59] armedev commented on #937
@rohitgeddam stop your server and try deleting the **./data/** and restart the server, I reproduced the issue and solved this issue by doing so.

@deluan maybe there is a problem in the DB updating while scanning the folders.

[2021-03-30 06:10] rohitgeddam commented on #937
@armedev I am afraid that we cannot just delete the data folder since it holds the SQLite DB,
***Must be some other way to handle this***

[2021-03-30 07:09] Balaguru4580 commented on #928
I looked into the Unsplash Source and it seems like I'm getting better results by just removing the '/random/' part of the URL. Do let me know if this change is alright.

That being said though, it is still around 10% erratic, like pictures of people operating cameras and whatnot, but for the most part it seems like it's working better.

[2021-03-30 07:44] Balaguru4580 commented on #864
Weirdly enough, on firefox and chromium on Ubuntu, the black arrow problem occurs whenever the player is closed. The favorite heart icon also turns black.

I wasn't able to reproduce the minimize problem that seems to be the main issue, but this seems to be related as wel.

I think I'll also take a crack at this and see what's going on. Thanks @deluan for providing the commit where that happened b

[2021-03-30 09:42] certuna commented on #943
I agree this header line should be separated better (bold it? all-caps? different bg colour?). The [react-admin demo site](https://marmelab.com/react-admin-demo/#/customers) bolds the headers, for example.

I don't think moving the Play-Shuffle-Play Next bar up into the album metadata area is a good idea, that's already where (long) comments go, and we also probably need that space in the future f

[2021-03-30 10:19] certuna commented on #943
And here's Plex: no headers either. They have a design where a lot of elements (checkbox, the `...` icon) in front only appear on mouse-over.
![Screen Shot 2021-03-30 at 12 16 35](https://user-images.githubusercontent.com/62144283/112973647-dfea8800-9151-11eb-802b-f188aaad8088.png)

[2021-03-30 10:28] certuna commented on #943
And here's Spotify, which does have a headers list (all-caps, with a line divider):
![Screen Shot 2021-03-30 at 12 24 13](https://user-images.githubusercontent.com/62144283/112974707-0bba3d80-9153-11eb-9bb7-0a59a1b46987.png)

[2021-03-30 13:55] Dnouv commented on #919
@jvoisin, @deluan, the same issue is on the react admin site. Should we report this on the react-admin repository or try to fix it for navidrome. Here is the screenshot of the demo page.
<img width="960" alt="Navbar overlap at top-right corner" src="https://user-images.githubusercontent.com/61188295/113000264-4640cc00-918d-11eb-89f1-c9be100f15f5.png">

[2021-03-30 14:40] certuna opened #947 "Show discSubtitle also for 1-disc albums"
At the moment, Navidrome only shows the disc subtitle when there's 2 or more discs. This means it won't show the disc subtitle for a 1-disc album.

In [SongDatagrid.js](https://github.com/navidrome/navidrome/blob/ac37bf3631610747001f44fe843517f3fdf0ac08/ui/src/common/SongDatagrid.js) this is caused by the line 156-158:
[code]
If I remove these lines, 1-disc albums with subtitles show correctly:

!

[2021-03-30 16:49] metalheim commented on #947
Good Input! Sorry, I misunderstood you in Discord.

Yes and no. It's convenient that Navidrome hides it currently, but the reason to need a "fix" is in our own messy tagging. If it can be fixed in tags, it should be IMHO

[2021-03-30 21:40] TheFlatworm commented on #943
Airsonic as well, has no header

<img width="2076" alt="Screen Shot 2021-03-30 at 2 38 49 PM" src="https://user-images.githubusercontent.com/5423879/113060684-d79c4800-9165-11eb-9fe1-56e27089250e.png">

[2021-03-31 02:44] #864 closed

[2021-03-31 04:23] deluan commented on #928
I think there are a few solutions that can all be implemented, and they are non-conflicting (no wasted effort) if they are implemented in this order:

1) Merge @samarsault's PR, that points to a specific collection of images in Unsplash. This is ok but the suggested collection is too small, I think.
2) Create our own collection, maintained by the project
3) Implement a new endpoint in ND, that ser

[2021-03-31 04:34] deluan commented on #846
@aldrinjenson No need to create a separated issue. I'll review your PR, just not close this issue

[2021-03-31 05:18] deluan commented on #919
I think opening an issue in React-Admin and discussing it there may be a better approach. We may be missing some edge case, some special resolution that your PR could break. I'd like to hear what they have to say about it.

[2021-03-31 05:21] deluan commented on #947
Thanks for the report. In my collection there is not a single occurrence of a single disc album with discSubtitle.... I'll take a look at that.

[2021-03-31 05:22] armedev commented on #937
Yes, I meant to say to delete data in the development mode to figure out where the bug is.
Maybe in my opinion the data in DB is not updating as expected.

[2021-03-31 05:24] deluan commented on #928
I don't want to bundle any images.... I rather point to a collection in Unsplash (managed by the project, i.e: US) and the user can set the images they want

[2021-03-31 05:32] Balaguru4580 commented on #928
I see. So, how about having a line in the TOML file that allows them to point to a folder with user set images? I'm thinking that approach might make it easier for a user to just link the picture library they want to use.

[2021-03-31 06:11] dersher opened #950 "Issue with Navidrome installation via Docker"
I installed Navidrome via Docker command method on Ubuntu Server 20.04.2.

I navigated to [server ip]:4533 but the page is perpetually stuck at "loading". Dev console throws up a few errors.

![image](https://user-images.githubusercontent.com/76836569/113098242-d2550100-922a-11eb-95b9-595143ac368b.png)

Please help. Thanks!

[2021-03-31 08:03] certuna commented on #947
That's what a "0-disc album" is, it's an album without a discnumber. Currently Navidrome hides the disc subtitle row for albums with no disc number, or "1" or "1/1".

Disc Subtitle (`TSST`, etc) is quite practical to tag subtitles, like "30th Anniversary Edition" or "2015 Remaster" etc. You could of course always append that in the regular album title like "Thriller (25th Anniversary Edition)" but

[2021-03-31 08:46] aldrinjenson commented on #950
Hey @dersher , this issue was reported as #906 and was supposed to be fixed(turns out not completely haha)

As a quick fix, as suggested by @metalheim, please try manually going to
`your-domain:port/app/#/login` or `your-domain:port/#/login` where you'll be presented with the login screen

[2021-03-31 09:20] aldrinjenson commented on #906
Hey, I think we should keep this issue or #950 open till a new production build is released.
Otherwise, new users facing this issue won't be able to search and find a fix quickly in the issues tab.

Or, is doing something like a hot-fix a good idea?

[2021-03-31 15:04] Balaguru4580 commented on #943
Alright. Working on this right now. I'm thinking Bold would be good for differentiating it along with some additional spacing. Any thoughts on design is welcome!

[2021-03-31 15:29] Balaguru4580 commented on #943
Right now I've made a pretty simple design of just making it bold and spacing out the header. I think it matches the UI scheme pretty well, but I'm open to altering it.

[2021-03-31 20:32] aryan0078 commented on #323
assign this to me

[2021-04-01 06:00] YashJipkate opened #957 "Undefined prop type error in album/random page."
### Description

The random album page gives out a warning on the console. However, the page still loads correctly.

### Expected Behaviour

No console warning should appear.

### Steps to reproduce

1. Go to the 'Random' tab on the side-menu.
2. See error.

### Platform information

 - Navidrome version: dev
 - Browser and version: Firefox 87.0 (64-bit)
 - Operating System: Ubuntu 20.04

### Addi

[2021-04-01 06:39] YashJipkate opened #958 "Context menu for Playlists."
### Is your feature request related to a problem? Please describe.

If I want to download or add some playlist(s) to my queue, I need to individually go to each playlist and add it from the Actions toolbar. A context menu like the one in tracks/albums/artists that pops up would be handy.

### Describe the solution you'd like

A three dots button should be placed beside the 'Edit' button that would

[2021-04-02 01:32] deluan commented on #958
Yes, that could be a good enhancement. Let's wait for the #941 to be merged, to avoid merge conflicts

[2021-04-02 02:40] deluan opened #959 "Don't expose songs paths for regular users"
### Is your feature request related to a problem? Please describe.
For security reasons, paths should not be exposed to users that are not administrators.
<img width="1436" alt="Screen Shot 2021-04-01 at 10 41 01 PM" src="https://user-images.githubusercontent.com/331353/113374614-7332e180-933b-11eb-8854-5edb20bf04b1.png">

### Describe the solution you'd like
**UI**: Only shows the song `path` in

[2021-04-02 03:03] #910 closed

[2021-04-02 03:06] deluan commented on #910
Hey @ruhci28, sorry, but I approved @Dnouv's PR, didn't see you were also working on this (too many people to keep track 😛 )

If you still want to work on this, as a follow up, you could refactor the code and create a single component that could be used in both Album and Song details. Tests would be a plus :)

[2021-04-02 03:16] #957 closed

[2021-04-02 03:51] deluan opened #960 "Play icon became dark on "light" theme."
### Description

The play icon that appears on top of album covers needs to always be forced to be white, and not "inherit" (default). This is the expected appearence:

Correct, from the demo server (version 0.41.0):
<img width="247" alt="Screen Shot 2021-04-01 at 11 46 22 PM" src="https://user-images.githubusercontent.com/331353/113378223-7d0d1280-9344-11eb-9aac-83f35f684f87.png">

Wrong, from ma

[2021-04-02 04:05] shishir610 commented on #960
Hey! I'd love to work on this issue.

[2021-04-02 04:22] deluan commented on #960
@shishir610 Go ahead!

[2021-04-02 06:08] shishir610 commented on #960
@deluan Tested on Chrome and Firefox and it's fixed, issue was that `className` property for the `<IconButton />` was being overridden.

Chrome/Firefox working:
![image](https://user-images.githubusercontent.com/27198773/113386407-d0647c80-93a7-11eb-9a28-3f4b18423add.png)

[2021-04-02 06:53] Dnouv commented on #323
@aryan0078, sorry but as @jvoisin, stated it would be a GSoc task, please refer to this comment for further instructios.

[2021-04-02 10:20] metalheim opened #961 "Feature Request: Artist Detail Page (based on custom react template)"
### Is your feature request related to a problem? Please describe.

If a user clicks on an artist, he will just get forwarded to the albums page, with a pre-selected filter for that artist.
A new "artist detail page" as it is present on every other music streaming service would help to navigate and orienting in a big library.
This page usually shows bundled information (Image, description, etc.) a

[2021-04-02 11:31] Balaguru4580 commented on #959
Alright. I'll take a crack at this!

[2021-04-02 15:58] #904 closed

[2021-04-02 15:58] #911 closed

[2021-04-02 16:28] deluan commented on #960
Just make sure it still works in other themes, looks like your change breaks the green PlayButton in "Spotify-ish"

[2021-04-02 16:45] deluan commented on #961
Hey @metalheim, thanks for opening this issue. We have discussed in the past this, but never recorded the ideas anywhere.

This information already exists from the Last.FM/Spotify integrations, we will just have to have an alternative layout for when the user does not (want to) configure the integrations.

Having said this, I don't see this coming any time soon, at least from me, as we have other

[2021-04-02 17:17] andrewzah opened #963 "UI doesn't seem to display comments from DESCRIPTION tag"
### Description

The UI doesn't show comments from flac tags.

### Expected Behaviour

I expect the UI to show comments from flac tags.

### Steps to reproduce

1. Have a .flac album with a lowercased comment field.
2. Open the album in navidrome web ui

### Platform information

 - Navidrome version: `0.41.0-SNAPSHOT (d5434d41)`
 - Browser and version: `78.8.0esr (64-bit)`
 - Operating System: do

[2021-04-02 17:21] deluan commented on #963
Thanks for the report. Are you using the (default) `taglib` scanner or the `ffmpeg` scanner?

[2021-04-02 17:29] andrewzah commented on #963
I'm using the default one. For some reason, `easytag` puts its fields in lowercase. Using metaflac I fixed it, but ideally the scanner should be case insensitive, no?

[2021-04-02 17:32] deluan commented on #963
Weird thing is that it is.... Can you attach a problematic file so I can take a look? I don't have easytag installed, could be another issue with tags created by it

[2021-04-02 17:45] andrewzah commented on #963
@deluan github won't let me upload .flac, but you can replicate with

[code]
and
[code]

In my testing it turns out navidrome actually does read both `COMMENT` and `comment`. I just had to do a hard refresh with ctrl-shift-r.

However, it looks like easytag actually sets `DESCRIPTION` instead of `COMMENT`. I *did* somehow get `comment` initially...

[2021-04-02 17:46] andrewzah commented on #963
[code]

![2021-04-02-134643_779x286_scrot](https://user-images.githubusercontent.com/9789467/113440177-69f95180-93db-11eb-9741-db15bb60afe2.png)

[2021-04-02 18:02] andrewzah commented on #275
:+1: Even just having the composer view under the track detailed dropdown would be nice.

Like here under Album Artist:
![2021-04-02-140036_879x195_scrot](https://user-images.githubusercontent.com/9789467/113441190-61a21600-93dd-11eb-9283-24c95c421f79.png)

But also on the regular song viewer, if we could optionally enable Composer that would be nice as well.
![2021-04-02-140204_1104x36_scrot](htt

[2021-04-02 18:51] deluan commented on #963
Is `Description` a standard field? Or Is it some weird behaviour from easytag? Any thoughts @certuna ?

[2021-04-02 19:04] Rishabh-malhotraa commented on #769
This is the way I have currently made it:

![Screenshot from 2021-04-03 00-30-01](https://user-images.githubusercontent.com/54576074/113445607-cf693480-9413-11eb-8f9f-0b8bbf4405c9.png)

**In the following I am not rendering the album all the information about the song but I feel it looks a bit cleaner**

![Screenshot from 2021-04-03 00-32-15](https://user-images.githubusercontent.com/54576074/1134

[2021-04-02 20:10] 999eagle commented on #621
Just to add to this: I have a playlist with 5775 songs and it's impossible to load. On my laptop it just loads for a few minutes until the tab crashes because it's out of memory. Firefox was using about 8 GB of memory at this point.

[2021-04-02 22:28] certuna commented on #963
Well Vorbis doesn’t have any formal standard fields, so all fields are “custom”.

id3v2 does have an official “subtitle/description” (TIT3). The original idea with id3 back in 2000 was:
- TIT1 (content group description), or as Apple started to call it “Work”, to group multiple files together as parts of 1 big piece.
- TIT2 (song title), this is what every player supports
- TIT3 (subtitle/descript

[2021-04-02 22:59] certuna commented on #959
isn’t this better solved in the database, as part of the support for multiple music folders?

so store for each record in the media_file table:
- a base folder index # (referencing a table containing the multiple folders)
- a relative path

then it’s fairly trivial to expose in the API the base folder + relative path for an Admin, and the relative path for a non-Admin

[2021-04-02 23:20] certuna commented on #961
We don’t necessarily have to reinvent the wheel here, looking at Spotify, Emby, Plex, Jellyfin and websites like Allmusic, Discogs and RateYourMusic there’s plenty of good examples, especially for your points 1-4.

Point 5 is basically “Release Type” (different sections for Albums, Singles/EP’s, Live, Mixtapes and V/A compilation appearances, a bit like RYM and Spotify have in their artist view) w

[2021-04-03 00:52] deluan commented on #275
@andrewzah, thanks for the suggestions, but this will have to wait a bit longer. We want to introduce "roles" in the `artist` table, instead of a simple field in the `album` / `media_file` tables, making it easier to create filters in the UI.

[2021-04-03 01:09] deluan commented on #621
Hey @999eagle thanks for the feedback. To be totally honest, I completely forgot about this... Will see if anything can be done before next release.

[2021-04-03 01:13] deluan commented on #963
Yeah, but the main question is: Should we import "Description" as "Comment"? What happens if the file has both?

[2021-04-03 01:22] deluan commented on #959
@certuna Your suggestion os definitely the long term solution, but I opened this as a quick and simple, `good-first-issue` for the GSoC students to get their hands dirty in the codebase.

Can you please add your proposed solution to the #192 story, so we don't lose track of it?

[2021-04-03 02:16] #943 closed

[2021-04-03 02:17] deluan commented on #943
Hey @TheFlatworm , let me know if the changes by @Balaguru4580 are what you were looking for. They are subtle but may be enough of a differentiation

[2021-04-03 08:40] rochakjain361 commented on #959
I'd also love to work on this issue

[2021-04-03 09:20] Rishabh-malhotraa commented on #132
Suggestion: of adding both the infinite scroll and pagination option

![Screenshot from 2021-04-03 14-48-52](https://user-images.githubusercontent.com/54576074/113474156-cd42bc80-948b-11eb-8b26-c461c5a46606.png)

*Adding an all option in pagination context menu*

[2021-04-03 09:29] Balaguru4580 commented on #132
We did deliberate over this on Discord and it seems like this is one of those features where it is much more feasible to implement just one of them as the primary system of traversal through lists.

That being said, I am looking into this, so I appreciate your feedback on this matter @Rishabh-malhotraa

[2021-04-03 09:52] Rishabh-malhotraa opened #967 "Material UI Minimising the development bundle size"
## Description

Reduces bundle size of UI folder during development.

Currently, at many places, we import components using the following method
[code]

which is considerably slower than doing the following

[code]

Read: https://material-ui.com/guides/minimizing-bundle-size/

### Describe the solution you'd like
 Use the Babel plugin (this needs to be added to the creat-react-app webpack configur

[2021-04-03 13:12] RitikPandey1 commented on #621
Hey @deluan, I'd like to work on this

[2021-04-03 13:35] SobhanBera commented on #967
This seems interesting to achieve.

[2021-04-03 16:15] andrewzah commented on #963
It seems like using description as comment is nonstandard.

[code]
https://id3.org/id3v2.3.0

[code]
https://www.xiph.org/vorbis/doc/v-comment.html

If *both* are set, one could put the description text above where the comment text is.

[2021-04-03 16:21] andrewzah commented on #963
example `DESCRIPTION` usages in my library:
[code]
[code]
[code]
[code]
[code]

[2021-04-03 16:33] certuna commented on #963
Supporting Description is fine, but it is track-level metadata, it should be a column in the tracks list, not one field at the album level. What do you do with two tracks on one album, with different Description fields?

I feel the same about the Comments field btw, I think it’s a mistake to use it in Navidrome as “album comments”, since each track can have its own Comments.

[2021-04-03 16:51] deluan commented on #621
Hey @999eagle, can you try with this build: https://github.com/navidrome/navidrome/suites/2413363545/artifacts/51439584
If you are using Docker, let me know and I'll make an image available.

[2021-04-03 16:53] 999eagle commented on #621
I'm using Docker, so if you could build a Docker image that'd be great.

[2021-04-03 17:15] deluan commented on #967
IMHO, this is not really necessary, as it affects only the development bundle size. Even though the startup is currently slow, after the dev server is up and running any changes are instantaneously picked-up. Sure, we would have faster startups, but you shouldn't have to start the dev server more than a couple of times a during a code session. Usually once is enough.

The "solutions" are also not

[2021-04-03 17:38] deluan commented on #621
@999eagle Sure: you can use the tag `deluan/navidrome:pr-970`. Please give feedback 👍🏼

[2021-04-03 17:44] 999eagle commented on #621
@deluan @RitikPandey1 I've tested this now and the pagination works perfectly fine and my playlists loads pretty much instantly. The only problem is: If I click on Play or Shuffle, only the songs on the current page are added to the play queue making playlists a bit useless.

[2021-04-03 17:45] 999eagle commented on #621
Oh and another thing: Going to the last page and then increasing the number of items per page shows only "No results found" with no way to go to another page or change the number of items per page.

[2021-04-03 17:48] jllodra opened #971 "Not able to get transcoding to work"
### Description

Transcoding now working. Both using the web react frontend and Ultrasonic Android app.
I'm on 0.41 (latest) with using docker.

### Expected Behaviour

Transcode working

### Steps to reproduce

Install latest navidrome using docker, play from Ultrasonic with transcoding setting 128kbps.

### Platform information

 - Navidrome version: 0.41
 - Browser and version: Chrome
 - Operat

[2021-04-03 17:49] deluan commented on #621
Hummm... yeah, that could be trickier.... @RitikPandey1, let me know if you want to tackle this and need some assistence.

@RitikPandey1 can you take a look at this, please?

[2021-04-03 17:55] deluan commented on #971
Currently Navidrome's transcoding setup prioritizes the server configuration. So, you need to enable the transcoding on ND's UI "Players" view. There you can find your Ultrasonic player, and configure what transcoding format and bitrate will be used.
<img width="370" alt="Screen Shot 2021-04-03 at 1 55 28 PM" src="https://user-images.githubusercontent.com/331353/113487139-450ce900-9484-11eb-88d0-d

[2021-04-03 18:08] deluan commented on #621
@999eagle Just keep in mind that actions that add more than 2000 tracks to the play queue are generally very slow, and can take several seconds to complete.

[2021-04-03 18:10] 999eagle commented on #621
Yeah that's not too big of a problem. I can wait a few seconds. It's just when displaying the playlist takes multiple minutes and requires about 6 GB RAM when it's becoming a problem.

[2021-04-03 18:12] jllodra commented on #971
Ok, thanks for the info.

I understand how it works now. 👍

And yes, I can confirm it works, after setting it on the player section (which I overlooked).

[2021-04-03 18:12] #971 closed

[2021-04-03 18:39] metalheim commented on #961
@certuna I'd love the separation into "Release Type". Deezer's Artistpages are a great example of that!

Unfortunately, I'm not aware of a tagging standard for "Release Type". Is there one that I'm missing, or is that data that can be augmented with mbz? I have a lot of mixtapes/bootlegs/singles in my library.

@deluan What happens when a user that doesn't have integrations configured currently qu

[2021-04-03 18:51] deluan commented on #961
`getArtistInfo` returns a placeholder response, and the current placeholder image is the one provided by Last.FM:
![image](https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png)

For the Release type field, there's a discussion about it in #369

[2021-04-03 19:29] RitikPandey1 commented on #621
@deluan This bug is caused because `setPerPage`  function provided by `<ReferenceManyField>`  didn't set `page=1` while changing `perPage` prop. I've fixed the bug by wrapping `PlaylistSongs` component inside `<ListBase>`  .  `<ListBase>` put data in list provider and then `setPerPage` function work exactly same as it work on normal `<List>` component.
I've committed the changes in PR: #969, pleas

[2021-04-03 19:39] RitikPandey1 commented on #621
adding all playlist songs on queue while using pagination is not an easy task, I'd like to give it a shot!
Yes @deluan, I need your help please provide me a direction.

[2021-04-03 21:11] TheFlatworm commented on #943
Hi!  I believe that would do - it's easier on the eyes.  Thanks!

[2021-04-03 22:20] andrewzah commented on #963
@certuna navidrome already shows the comment for each track in the detailed view.

![2021-04-03-181942_1146x1130_scrot](https://user-images.githubusercontent.com/9789467/113492916-b4a5c700-94ca-11eb-80c9-add4f819d8fb.png)

In both of the source I linked above, `COMMENT` referred to information pertaining to `the contents`, not necessarily the individual track. Also in my library, for every album t

[2021-04-04 04:20] shishir610 commented on #960
Fixed it for all themes as and when necessary.

Dark:
![image](https://user-images.githubusercontent.com/27198773/113498502-0b42ed80-952b-11eb-96a8-c0262bb1a23c.png)

Light:
![image](https://user-images.githubusercontent.com/27198773/113498513-26156200-952b-11eb-9ee5-e37d7d60edc6.png)

Spotify-ish:
![image](https://user-images.githubusercontent.com/27198773/113498520-3f1e1300-952b-11eb-8c3a-8f85f3

[2021-04-04 04:35] deluan commented on #960
Thanks, but without a PR I can't validate it...  ;)

[2021-04-04 05:12] shishir610 commented on #960
@deluan Kindly do look into the PR and suggest changes (if any)

[2021-04-04 05:25] shishir610 opened #973 "Play icon inside an album or playlist does not switch to "pause" while playing"
### Description

The play icon that appears inside an album to play all the songs in the album needs to change state to "pause" while playing and not remain on "play"

Correct (example from Spotify):
While paused:
![image](https://user-images.githubusercontent.com/27198773/113499371-30d3f500-9533-11eb-8d73-012792f25b11.png)

While playing:
![image](https://user-images.githubusercontent.com/2719877

[2021-04-04 06:01] TaakoMagnusen opened #974 "Docker contrainer suck on "Loading". No admin user found!"
These are my docker  settings [1](https://i.imgur.com/kdxwFuG.png) [2](https://i.imgur.com/6ycYcEd.png)

The page is stuck on "Loading. The page is loading, just a moment please."

Got this error:

    | \ | | (_) | |
    | \| | __ ___ ___ __| |_ __ ___ _ __ ___ ___
    | . ` |/ _` \ \ / / |/ _` | '__/ _ \| '_ ` _ \ / _ \
    | |\ | (_| |\ V /| | (_| | | | (_) | | | | | | __/
    \_| \_/\__,_| \_/

[2021-04-04 10:08] certuna commented on #961
@metalheim there’s a semi-official field for release type, musicbrainz uses it. See https://musicbrainz.org/doc/Release_Type

[2021-04-04 10:27] ShubhamSwati commented on #974
hey, can you please elaborate on the issue, I am new to open source projects, I want to work on this issue..

[2021-04-04 11:22] jvoisin commented on #974
It looks like you forgot to create a user.

[2021-04-04 13:40] samarsault commented on #973
That seems to be the case with both playlist and albums, and across themes.
Though you can use the keyboard shortcuts and the player below, a pause button is nice-to-have

[2021-04-04 13:53] shishir610 commented on #973
Yep, that's right. It is an enhancement to the already existing feature.

[2021-04-04 14:21] deluan commented on #974
@TaakoMagnusen If this is your issue: https://github.com/navidrome/navidrome/issues/950

It was already fixed in the latest development build and will soon be released. As a workaround you can follow these steps:

If you are having further issues, you can try the latest dev build  as a fix as well. https://github.com/navidrome/navidrome/issues/906#issuecomment-809809881

[2021-04-04 15:02] SteveDinn commented on #961
That fields is really interesting. I can't count the number of times audiobook chapters have credit into my random music mixes.

[2021-04-04 15:56] truthsword opened #977 "Multiple libraries... music, audiobooks..."
Docker user here... I'd like to see libraries so my music isn't intermingled with my audiobooks. In Docker I envision...

/my/audiobook/path > /audiobooks
/my/music/path > /music

...hoping I'd be able to map those separately.

Is that possible? Thank you.

... and a side question re: Docker... is PUID/PGID accepted? Or PID/GID? Or?

[2021-04-04 16:09] Balaguru4580 commented on #977
This has already been opened as issue #192 . Thanks for sharing your feedback. It's clear that there is definite demand for that idea right now.

[2021-04-04 16:12] jvoisin commented on #977
Marking as duplicate from #192, as pointed by @Balaguru4580

[2021-04-04 16:12] #977 closed

[2021-04-04 16:55] deluan commented on #977
Answering your side question:

Check https://github.com/navidrome/navidrome/issues/531, and https://www.navidrome.org/docs/installation/docker/#customization

[2021-04-04 17:07] TaakoMagnusen commented on #974
@deluan that workaround (going to `app/#/login`) was simple and effective! , thanks! Will close the issue and look forward to the next release.

Awesome project btw, really enjoying it!

[2021-04-04 17:07] #974 closed

[2021-04-04 17:12] TaakoMagnusen opened #978 "Add docker image for spotify integration"
Would it be possible to release docker images with spotify integration builtin? Maybe alongside the standard docker releases with a `-spotify` appended to the image tag?

As a complete aside: the docker hub tags are kind of a mess with so many tags being named after SHA hashes...

[2021-04-04 18:16] deluan commented on #978
If you are referring to [integrating with Spotify](https://www.navidrome.org/docs/usage/external_integrations/#spotify), Navidrome is already "integrated" with Spotify out-of-box, is just need a personal key/secret.

We cannot add a personal key/secret as part of Navidrome because it is, well, personal. If we add a key, it would be shared by all users, so it would be used by so many people that yo

[2021-04-04 18:47] truthsword commented on #977
Thanks. So I can't pass these as environmental variables. I'll sort
through that.

On 4/4/2021 12:56 PM, Deluan Quintão wrote:

[2021-04-04 18:59] TaakoMagnusen commented on #978
@deluan thanks! I just saw this page: https://www.navidrome.org/docs/usage/configuration-options/#environment-variables

that lays out all the environmental variables. I'd suggest calling out this page specifically in the DockerHub Overview for Navidrome, i did a quick cntrl+f for "spotify" and "environment" and didnt see anything that lead me to believe the docker image allowed for more environme

[2021-04-04 18:59] #978 closed

[2021-04-05 00:32] deluan commented on #621
Hi @999eagle, the latest from `pr-970` should fix the issues you mentioned (except for the "Play Next" and "Play Later" buttons. Can you please try it out and give feedback?

[2021-04-05 06:36] 999eagle commented on #621
Okay pagination still works fine and playing or shuffling the entire playlist adds all tracks to the play queue. Or rather, the number of tracks displayed in the play queue is correct, but I haven't actually checked whether all tracks are displayed.
Between clicking "Play" or "Shuffle" and music actually starting I have a delay of about 10 to 20 seconds which is totally okay for the list of (by no

[2021-04-05 07:41] count00zero commented on #674
I personally think that any visualization which is implementable - without breaking code or adding to much payload - is a great addition ... mustn't be milkdrop :)

[2021-04-05 09:33] pkspyder007 commented on #132
@deluan I wanted to work on this issue as my GSOC project. How can I start with it?

[2021-04-05 09:45] jvoisin commented on #132
@pkspyder007 everything is documented here: https://www.navidrome.org/docs/gsoc/

[2021-04-05 11:53] YashJipkate commented on #650
Hey @srichter @deluan, one of the solutions for this (where it starts playing from the beginning) is to remove the `playIndex: undefined` in [playQueue.js#122](https://github.com/navidrome/navidrome/blob/cdfdf78c734d8d9a3b6fb209656eb79bd9d51ec2/ui/src/reducers/playQueue.js#L122) and have the `playIndex` computed in the [PLAYER_PLAY_NEXT case](https://github.com/navidrome/navidrome/blob/cdfdf78c734

[2021-04-05 12:05] ghana7989 commented on #973
can I take up this issue?

[2021-04-05 13:38] srichter commented on #650
In your video the player resets the song that was playing to the beginning when you select "Play Next"; I don't think that's desired behavior either.

[2021-04-05 14:03] aldrinjenson commented on #229
We use React-admin dateField component to render these dates. Instead of using any extra libraries, we could instead pass in some dateOptions as props to customize the result based on the locale to a certain good extent.
It supports same options as those passed as second argument to the JS [Date.toLocaleString](https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/Date/toLo

[2021-04-05 15:34] shishir610 commented on #973
I'm also contributing to Navidrome and I opened this issue so that I could open a PR on it. I'm already working on it, sorry.

[2021-04-05 16:13] neilchauhan2 commented on #639
@deluan I've Added the Ratings feature with the option to enable/disable ratings. I've also added the `enableStarRating` config var to the server config. Please review the PR #986.

[2021-04-05 16:24] certuna commented on #963
The thing is, the Comments frame in id3v2 (`COMM`) is a bit more complex.
- it certainly doesn't say anywhere that this field is for album-level text. Lots of people use this field for track-level info (since nearly no music players support `TIT3` Subtitle/Description).
- there can be an unlimited amount of multiple Comment frames, see the specs below

[code]

Vorbis/FLAC as usual, has nothing str

[2021-04-05 17:58] andrewzah commented on #963
I don't know, but it's the same for any album downloaded from bandcamp. I can send them an email about it.

[2021-04-05 20:29] YashJipkate commented on #650
@srichter yes, that's the problem :(
I did some digging into this and found that the 'pause' state changes somewhere just after the updating of the queue. I logged every case in the playQueue reducer to see where the queue state is being changed but found that it remains on pause till the syncing of the queue but somehow the onAudioPlay handler is invoked just after, and the track starts playing f

[2021-04-05 22:21] #621 closed

[2021-04-05 22:25] deluan commented on #621
Thanks for testing it out @999eagle, probably this "freezing" is caused by non-preemptive nature of JS, and this can be further improved by paginating the API call and processing one returned page at a time. I hope this becomes unnecessary with the Infinite Scroll, but if it becomes a hassle, feel free to reopen this issue.

[2021-04-05 23:30] Rishabh-malhotraa commented on #674
I right now am trying to get the butterchum milk drop visualization working in Navidrome, anyway do have a preference for the ones I have mentioned earlier.

[2021-04-06 00:14] deluan commented on #973
The `PlayButton` can query the redux store (using `useSelector`) to know if the current album is the one being played. Similar to what we do in the song title (California Love in the screenshot below: https://github.com/navidrome/navidrome/blob/9d2426a601cc7464086994401d8bda8133b9ec84/ui/src/common/SongTitleField.js#L31
<img width="358" alt="Screen Shot 2021-04-05 at 8 04 58 PM" src="https://user-

[2021-04-06 00:39] deluan commented on #229
Yeah, let's try passing the current language selected. It should work as we are using the ISO-639-1 (two letters language code) for the language. You can retrieve the current selected language using `useLocale()`

[2021-04-06 01:19] srichter commented on #650
From my past research into this I believe I narrowed it down to either the play next reducer clearing the queue or playindex when it returned the state, but didn't get a fix implemented. I had been playing around with the queue to try to implement saving the queue position in localStorage to be able to restore it in a future session. I wonder if it may make sense to rebuild the queue in a differen

[2021-04-06 06:18] YashJipkate commented on #650
The playlist refreshes in the play next reducer because we have the `playIndex: undefined` return from it, which overrides the playIndex of the `previousState`. I got around this by passing the playIndex in the state. Now although this preserves the song that was being played (it doesn't go to the first one), it however it starts playing from the beginning (as shown in the screen recording I poste

[2021-04-06 13:47] tcurdt commented on #229
Maybe I am too exotic to count as a normal user - but my language always is `en` and I still want a 24h clock.

[2021-04-06 13:49] tcurdt commented on #229
That dateField is wrong though. The German locale should use 24h.

[2021-04-06 14:02] #960 closed

[2021-04-06 14:59] 999eagle commented on #621
@deluan I've tried listening to music for a few hours today using Navidrome. I don't know if this is related to this issue or not, but I've noticed that a playlist restarts from the very first song when I try to "play next" a song. The song I want to play next is added to the play queue in the correct position, but the playlist immediately restarts from the first entry of the play queue.

[2021-04-06 15:10] deluan commented on #621
@999eagle It is not related to this issue. This is a known bug: https://github.com/navidrome/navidrome/issues/650, and unfortunately we currently don't have a quick fix or workaround for it. :(

[2021-04-06 15:13] 999eagle commented on #621
@deluan it happened while playing though, not while paused. The currently playing song was interrupted and playback immediately started from the beginning of the play queue for me. Should I add that as a comment to the mentioned issue?

[2021-04-06 15:15] deluan commented on #650
Jinke player queue management is kind of messy.... It mixes declarative (using `audioLists`) with imperative syntax. Some features were added to it after Navidrome was already using it, and I think the best option would be a complete rewrite of the queue management actions/reducers.

As we are approaching the implementation of the Jukebox (#364) functionality, where we will need to control the ser

[2021-04-06 18:42] RitikPandey1 commented on #650
Hey @deluan, In my opinion, currently there is no need for a complete rewrite of the queue management. The queue starts first song when adding the next song is because the prop `clearPriorAudioLists` is set to be true when the next song action gets dispatch. `clearPriorAudioLists = true` set `playIndex` to 0, But if we set `clearPriorAudioLists=false` then new song not get added to correct place.

[2021-04-06 19:44] ishtiaqSamdani commented on #233
I have just completed my exams, so I am late
can I still contribute to this cause  I  am really interested in it
I have an idea that we can add it to the Alexa problem too
mentor I hope you will guide me on this :)

[2021-04-06 19:52] YashJipkate commented on #650
@RitikPandey1 I don't think that's a bug. That's the expected behaviour when you set clear audio lists to false. For the queue to have a different ordering, the previous list needs to be cleared, or it'll just add to the existing list/queue.

Looking at the issue you opened, I have a strong feeling that you'll get the same answer there :P

[2021-04-06 23:34] aldrinjenson commented on #229
Ahh, this can be easily fixed. For the example image, I had passed the 12hour option as true. Didn't know before reading the Wiki article(thanks for this!) that 24h clock is quite common in a lot of countries.

Hmm, we could add another dropdown for clock type in the personal page with three options -> Default(as calculated from the locale), 12hr, 24hr.
I'm not sure of the translation part though.

[2021-04-06 23:51] deluan commented on #229
You should not override the `hour12` option, so then it uses the default for that locale.

The idea of adding a config option is nice. A "Datetime format" with two options:
- Default (not touching the `hour12` option)
- ISO 8601 (modified as per @tcurdt [suggestions](https://github.com/navidrome/navidrome/issues/229#issuecomment-629661551)

For translation you will need to use the `useTranslate()`

[2021-04-07 01:30] #726 closed

[2021-04-07 04:32] RitikPandey1 commented on #650
@YashJipkate I'm talking about updating the current `audioList`, if `clearPriorAudioList=false`  then the  `updateAudioList` function of react-music-player only add new songs at the end, updating audio list doesn't mean add all song at the end. If you want to see the implementation of the `updateAudioList` function you can check the latest comments on issue I've opened on react-music-player.

[2021-04-07 06:03] YashJipkate commented on #650
@RitikPandey1 according to [this comment](https://github.com/lijinke666/react-music-player/issues/343#issuecomment-814602347) on the thread, he says that `clearPriorAudioList=false` shouldn't be used. I already tried the solution that he proposed about adding `playIndex`, the thing is that, as I've mentioned above it starts the 'correct' (i.e. not beginning of the queue) song from the beginning.

[2021-04-07 06:30] RitikPandey1 commented on #650
Yeah you're right.

[2021-04-07 13:23] AeronCyther commented on #959
Is this issue up for taking?

[2021-04-07 13:35] phanindra-max opened #993 "Demo site is not working"
### Description

the demo site : [Demo Site](https://demo.navidrome.org/app/index.html ) is not working
### Expected Behaviour

What you would have expected to happen instead.

### Steps to reproduce

1. Open the demo [site](https://demo.navidrome.org/app/index.html)
2. I see this message
![Screenshot 2021-04-07 190222](https://user-images.githubusercontent.com/51989959/113874870-da391600-97d3-11e

[2021-04-07 13:38] deluan commented on #993
This is a bug in 0.41.0 (the version in the demo site): https://github.com/navidrome/navidrome/issues/906#issuecomment-806715056

Check that issue for a workaround.

[2021-04-07 13:44] #993 closed

[2021-04-07 13:52] deluan commented on #959
@AeronCyther: The UI part is basically done by @rochakjain361 in PR #968 , but you can try to fix the backend, to not send the path in the response when the user is not admin

[2021-04-07 13:58] AeronCyther commented on #959
Alright, I'll get to that then

[2021-04-07 17:52] deluan commented on #973
Maybe `latest` is a too generic name, but yes, that would the gist of it.

[2021-04-07 18:09] shishir610 commented on #973
Does `recentAlbumOrPlaylist` work?

[2021-04-07 18:12] deluan commented on #973
Yeah, better. You have to reset it when the play action comes from artist or album.... Maybe it is better to combine this functionality with the current play* actions, maybe not... Didn't think about it throughly

[2021-04-07 18:20] shishir610 commented on #973
From my thought process, the play icon is visible ONLY when a user clicks on an album or a playlist. That's the only time we need to change state. For any other interaction (say, with the Artists or Songs) is irrelevant. We check whether the current track is playing and if it is, then we check whether `recentAlbumOrPlaylist` is same as current album. Anything else falls outside this functionality

[2021-04-07 18:22] deluan commented on #973
What if you play an album, then play an artist and go back to that album view? It would still show as "Playing".... That's why I said it should reset for song and artist.

[2021-04-07 18:42] shishir610 commented on #973
Ah got it. So, a third action RESET to be dispatched when user interacts with any of the left side panel buttons? Any other events that need to dispatch this RESET action?

[2021-04-07 18:46] deluan commented on #973
Not that I know, but maybe it is good to add it to the `onBeforeDestroy()` of the player as well

[2021-04-07 20:02] #639 closed

[2021-04-07 23:20] Rishabh-malhotraa commented on #585
@deluan How about the idea of custom keybinds?

[2021-04-07 23:36] Rishabh-malhotraa opened #996 "Warning when clearing the queue of songs"
If I have a list of songs in my queue which if suppose I want to add a new song to the queue and I mistakenly add play instead of play next it clears out my previous queue.
I was wondering if we already have a queue we can show the user the message
'Songs are already queued, do you want to add the song to the queue?'
In form of a dialog and if the user answers with yes the song is added to the que

[2021-04-08 02:26] deluan commented on #996
I understand your suggestion, but not sure if this is really important... Don't remember seeing this in any mainstream player....

@certuna / @jvoisin Thoughts?

[2021-04-08 02:31] deluan commented on #963
I think we discussed this before, but for comment, we could consider it an album-level comment if all comments from all songs are the same. If not, they only appear in the song details, and the album comment stays empty. Thoughts?

[2021-04-08 02:36] Rishabh-malhotraa commented on #996
It's a feature in apple music if I'm not mistaken.

[2021-04-08 02:44] deluan commented on #996
Just checked, no confirmation/warnings in Apple Music android and desktop, and Spotify and Deezer web.

[2021-04-08 03:06] Rishabh-malhotraa commented on #996
I guess they would have changed it, because I remember using this feature when I had iPhone its been a while though

![apple-music-101-clear-your-up-next-queue-remove-unwanted-upcoming-songs](https://user-images.githubusercontent.com/54576074/113962466-60da0b80-9845-11eb-8309-54527dfbaac7.jpg)

[2021-04-08 04:48] AeronCyther commented on #959
I went through everything and experimented with a few things. As far as I can see, there are two ways to go about this.
1. Making a new MediaFile type (say AdminMediaFile) where Path doesn't have a JSON field. This also requires making a corresponding "AdminMediaFileRepository) that works with our  new type. Code repetition can be minimised using embedded structs, but it's still pretty messy,
2. S

[2021-04-08 05:22] AeronCyther commented on #959
2nd approach does lead to some code duplication when compared to deluan/rest which can be avoided by introducing a few functions in that repo. @deluan is that possible?

[2021-04-08 05:22] Balaguru4580 commented on #959
I worked on this for quite some time and I came to the same conclusions you did. However, I wasn't able to get the alternate R and RX functions to work since I wasn't able to figure out how to modify the GetAll function that accessed the data.

But yeah, messing with the MediaFile struct seems to break too many things since it's been referenced well over 100 times in the code base.  So, I'm also l

[2021-04-08 05:35] AeronCyther commented on #959
Without being able to directly modify deluan/rest, the best we can do is duplicate the needed code and make *minor* modifications. There are too little changes to justify repeating so much code. That is why I want to avoid this scenario if possible. However, if there is no choice then we can't really do anything about it.

[2021-04-08 06:51] Balaguru4580 opened #998 "Title column of Songs list keeps jumping in width based on song title when clicked"
### Description
Whenever a song is clicked that has a varying title length than the previous song, the entire title column of the List jarringly increases in width to accommodate the playing icon.

### Expected Behaviour

Ideally, clicking any song in the list should just have the icon appear with no changes to the table column width.

### Steps to reproduce

1.Click on a song in any list within N

[2021-04-08 08:41] AeronCyther commented on #959
I made a draft with working path obfuscation based on the user being an admin.
#1000

[2021-04-08 08:47] certuna commented on #963
Agree.

[2021-04-08 11:12] jvoisin commented on #996
I don't think it's worth showing a warning for this.

[2021-04-08 11:28] armedev opened #1001 "pre-push golangci-lint problem"
### Description

when we try to push to GitHub after committing changes the linter (golangci-lint) often timeouts and gives awkward errors.

### Expected Behaviour

It should initiate all the linters and check for any errors and push to GitHub.

### Steps to reproduce

The main step to reproduce this error is when you have a slow pc and the linter timeouts.
The default timeout to load all linters

[2021-04-08 14:21] #1001 closed

[2021-04-08 15:50] Salman-Inayat opened #1003 "Addition of back button"
Wouldn't it be great to add a back button on player edit page. There are only two actions right now, save and delete. A user cannot go the previous page directly. User have to go to settings, then select player after which he can view player list.

Currently, playerEdit page is as below

![image](https://user-images.githubusercontent.com/45660519/114056799-76821c00-98ab-11eb-9345-22b3d2e086fd.png)

[2021-04-08 15:51] AeronCyther opened #1004 "Replace numerical literal 302 with constant http.StatusFound in server/app/serve_index.go"
Instead of using a numerical status code, we should use the constant declared in net/http.

### Old
![Screenshot from 2021-04-08 21-17-54](https://user-images.githubusercontent.com/46657504/114057120-ed211880-98af-11eb-8f56-b9565d065d57.png)

### New
![Screenshot from 2021-04-08 21-20-25](https://user-images.githubusercontent.com/46657504/114057555-4721de00-98b0-11eb-96d0-db54cc4d3599.png)

[2021-04-08 15:54] AeronCyther commented on #1004
It's a quick fix

[2021-04-08 17:56] MoralCode commented on #478
there don't seem to be any existing go libraries for _sending_ webhooks. i might play around with trying to make one based on https://freek.dev/1383-sending-and-receiving-webhooks-in-laravel-apps.

[2021-04-08 18:19] deluan commented on #1004
Fixed in #1006

[2021-04-08 18:19] #1004 closed

[2021-04-08 19:10] deluan commented on #963
Ok, will do this for `comment`. Two more questions:
- In the case the comment is the same for all tracks and we set it as the album's comment, should we hide the comment from each track?
- What to do with `description`? Thoughts?

[2021-04-08 19:25] shishir610 commented on #973
How do I check whether the `currentTrack` is the one that belongs to the selected `recentAlbumOrPlaylist`?
Specifically, if we are in an album with albumId `x`, how do I check if the current track also has albumId of `x`?
Same applied to if we are in a playlist as well.

As of now, `currentTrack` has trackId, uuid and paused properties. How do we include a `albumOrPlaylistId` property?

[2021-04-08 19:37] shishir610 opened #1008 "Render SimpleList for xs screens in PlaylistList similar to AlbumListView"
### Description

The playlist list is not responsive for xs screens since there is no conditional rendering of SimpleList from `/ui/src/common`

![image](https://user-images.githubusercontent.com/27198773/114085249-bc9ca700-98ce-11eb-9008-f121e4bc905a.png)
![image](https://user-images.githubusercontent.com/27198773/114085272-c7efd280-98ce-11eb-8e04-9ce667519d60.png)

### Expected Behaviour

The pl

[2021-04-08 19:45] andrewzah commented on #963
If we keep it, hiding the full comment until it's clicked like in the album page would be nice. See [the previous image I uploaded](https://github.com/navidrome/navidrome/issues/963#issuecomment-812933461) for an example of what long comments end up looking like currently.

It seems best to me to follow the ["standard" tags as mentioned by certuna](http://age.hobba.nl/audio/mirroredpages/ogg-taggi

[2021-04-09 11:56] #996 closed

[2021-04-09 12:02] Rishabh-malhotraa commented on #961
I would like to do this, can someone please assign this to me.

[2021-04-09 12:08] YashJipkate commented on #961
@Rishabh-malhotraa you don't need to be assigned. You can start working on it right away.

[2021-04-09 12:16] Rishabh-malhotraa commented on #961
Okay, it seems like a big task so I I felt it better to assign it to someone so two people don't get stuck trying to solve the same issue

[2021-04-09 14:02] deluan commented on #1003
Hey @Salman-Inayat , thanks for the suggestion, but this is the convention for [React Admin](https://marmelab.com/react-admin-demo/#/customers). The user can simply use the browser's back button to go back to the previous page.

This same pattern can be seen in a lot of different web apps.

[2021-04-09 14:26] Salman-Inayat commented on #1003
@deluan I understand your point. But adding a back button would increase user experience.

[2021-04-09 14:53] deluan commented on #1003
IMHO this is subjective... But I think if we want to add navigation buttons, we should add back and forth buttons, and in all views, maybe in the top bar, like Spotify:
<img width="839" alt="Screen Shot 2021-04-09 at 10 40 29 AM" src="https://user-images.githubusercontent.com/331353/114198394-45443300-9921-11eb-89ad-1dce5ae867f2.png">

[2021-04-09 15:12] #1003 closed

[2021-04-09 16:23] armedev commented on #1008
@deluan can i work on this.

[2021-04-09 16:43] deluan commented on #1008
I think @shishir610 wants to work on it, as he reported it

[2021-04-09 17:07] armedev commented on #1008
as I was waiting for a reply from @shishir610, I tried to design it for mobile views @deluan take a look at this,
https://www.figma.com/file/4eMY2IbN7rl4WJkJP4Qnkd/playlist_design?node-id=0%3A1

[2021-04-09 17:23] shishir610 commented on #1008
@armedev Like @deluan mentioned, I opened the issue so that I could work on it. Thanks for the inputs, really appreciate it. I will keep in mind while making the changes.

[2021-04-09 17:30] armedev commented on #1008
ahh, thank you, also kindly modify the designs. any suggestions @deluan.

[2021-04-09 17:51] armedev commented on #865
@deluan can I solve this by changing the font size to default (16px).

[2021-04-09 18:21] deluan commented on #865
I prefer to understand why [react-music-player](https://github.com/lijinke666/react-music-player) does not have this issue, than blindly applying this "fix". Do we know all the repercussions of changing this? As a rule of thumb, I prefer to not apply global CSS styles....

[2021-04-09 18:30] armedev commented on #865
yeah, I also thought of it where the end-user really wants his font size to be more than the default and surprisingly finds Navidrome with the default font size of 16px which is bad.
anyway I was wondering how to fix it because when I tried their [demo](https://lijinke666.github.io/react-music-player/) player if I change the font size it is not affecting the player on their site.

[2021-04-09 18:33] deluan commented on #865
Maybe this is caused by a change in style in our code? It could be caused by us overriding the `renderAudioTitle` property

[2021-04-09 19:13] armedev commented on #865
@deluan I figured it out, the br tag is the root cause for the issue.

[2021-04-09 19:22] deluan commented on #865
Yes, but please do extensive testing (various resolutions, various breakpoints: xs, sm, md, etc..., various font sizes) before doing so. We don't want a solution that fix one use case and break another ;)

[2021-04-09 19:27] legobuild commented on #165
While I can't offer any help, count me as another user interested in Sonos integration. I currently have home audio set up through several airport expresses and use Logitech Media Server to access my Navidrome library and serve it to different rooms. I'm considering migrating to Sonos and would look at access my library directly from the Sonos app.

[2021-04-09 23:35] simojenki commented on #165
I wrote the following project -> https://github.com/simojenki/bonob to integrate sonos with navidrome via the subsonic api.
I don't have the bandwidth rewrite it in golang within navidrome itself,  however if someone else would like to embark on that bonob would serve as a reasonable working example, there are plenty of tests that demonstrate how sonos -> 'service' integrate, and I'm happy to answ

[2021-04-10 00:06] deluan commented on #165
This is awesome @simojenki, thanks for sharing! This will be definitely helpful when implementing Sonos support!

[2021-04-10 05:34] pkspyder007 commented on #875
@deluan What if we have a `/version` route in the backend and on our application load i.e. `useEffect` of the `App` component we can check for the version change.
If true we can clear the cache similar to how we do it on logout using clearServiceWorkerCache() in authProvider.js and on a new request the service worker will automatically cache the new request responses
@certuna Did I missed somethin

[2021-04-10 06:01] pkspyder007 commented on #809
@deluan I found an implementation similar to this issue
I would like to create a similar kind of functionality and the previous work on this issue would serve as a great base for reference.

https://user-images.githubusercontent.com/19896788/114260074-42644380-99f0-11eb-9057-1946e4af524d.mp4

[2021-04-10 08:38] shishir610 commented on #973
Nevermind the previous question. I figured it out. Only issue I'm facing right now is pausing tracks anywhere in the app. I tried creating another action `pauseTracks` which just sets `queue.current.paused: true`. But that doesn't seem to be working. In Redux Dev Tools > Diff tab, that is the only change (`queue.current.paused: false -> true`) that happens, but I guess it has something to do with

[2021-04-10 08:46] armedev commented on #865
@deluan what do you suggest for keeping the font size in the player to a constant value, because increasing the font-size wrt to the browser font size will break the whole layout of the player.

[2021-04-10 10:45] aniketbiswas21 commented on #809
@pkspyder007 Actually I did implement this in #819. But, in order to achieve this, there is a lot of logic to be handled (Due to the fact how ```Player.js``` is currently implemented). To simplify the process, we first would have to rewrite how ```Player.js``` works and then we can proceed with this.

@deluan Thoughts?

[2021-04-10 11:18] dharmaInit commented on #202
Any luck with this?

[2021-04-10 11:28] shishir610 commented on #973
Everything seems to be working except the play button click in "pause" state (aka pause button click). Please do tell me what I need to do. The issue is same as previous comment (referenced below 👇)

[2021-04-10 14:10] Salman-Inayat opened #1009 "Album size overflowing in AlbumDetail.js"
Album size goes to the next line when viewed on extra small screen.

![image](https://user-images.githubusercontent.com/45660519/114272551-0fda3b00-9a30-11eb-92f6-e24838bfbacf.png)

It would be better if we display number of songs, duration and size in multiple lines

![image](https://user-images.githubusercontent.com/45660519/114272599-40ba7000-9a30-11eb-9aba-976355743020.png)

[2021-04-10 14:32] MoralCode commented on #165
@simojenki wow this is awesome! I'll see if I can spend some time turning this into a standalone go library/module that could be used by Navidrome and other go apps

[2021-04-10 16:31] deluan commented on #973
@shishir You should dispatch an action to pause, save it in Redux store, and in the `Player.js` read it and control the `ReactJkMusicPlayer`. @aniketbiswas21  did a good work on this in his PR #819,  you may take a look at some ideas from there.

[2021-04-10 16:35] deluan commented on #875
We don't want to force an update, we want something similar to GMail: A message saying "There is a new version. Click here to refresh". There is some discussion about this here: https://github.com/navidrome/navidrome/issues/613#issuecomment-724359765

[2021-04-10 16:50] shishir610 commented on #973
Thanks @deluan @aniketbiswas21, I understood

[2021-04-10 23:36] deluan commented on #585
@certuna I actually copied Left/Right from our beloved iTunes 😛

@Rishabh-malhotraa , it is more code to maintain that adds little value / will not be used by most users. We can poll users in our #general Discord channel, but I'd like to hear end-users' opinions, not devs opinions :)

I'll close this as the main shortcuts are implemented, together with a help dialog (activated with "?") as per @er

[2021-04-10 23:36] #585 closed

[2021-04-10 23:45] deluan commented on #959
@AeronCyther I did a quick look at your PR, there's a lot of improvements that can be made, and I'm glad to go over it with you in Discord. I actually did a simple implementation myself and I can share and explain it with you, so it can be helpful for your learning process.

The thing is that I'm not sure if I want to change it, as it would introduce code that adds complexity to the server side AP

[2021-04-10 23:47] deluan commented on #478
@MoralCode I don't see a need for a library to send webhooks... They are usually an HTTP GET/POST, and GoLang's http client is straightforward and simple enough. Maybe I'm missing your point?

[2021-04-11 00:37] MoralCode commented on #478
I was mostly thinking of a library just as a way to make implementing webhooks easy and simple for applications like Navidrome. To me it seems like the hardest part of implementing webhooks is the setup process of collecting the settings from the user and storing them.

I was thinking a library could be useful for simplifying this storage of webhook configurations so an app like Navidrome would ju

[2021-04-11 04:16] deluan commented on #865
I don't have any recommendation here, don't really know how to handle this. Maybe the best solution here is to leave it as it is...?

[2021-04-11 04:46] armedev commented on #865
Actually it has a global fix try applying below styles to class `progress-bar-content` in index.css
`display: flex;
flex-direction: column;`

after applying the above styles we can dynamically change font size and have the layout working fine

[2021-04-11 10:32] pkspyder007 commented on #875
So yes that could also be implemented in the same manner instead of forcing we can have a confirm box pop to ask the user to choose Yes or no for update

[2021-04-11 13:08] AeronCyther commented on #959
I'd be more than happy to learn how I can improve my code. I guess this can be put on hold till multiple folder support is added. But isn't path optional in Subsonic API?

[2021-04-11 16:28] MoralCode commented on #478
I have something basic thrown together at https://github.com/MoralCode/go-event-webhooks and am starting to see how simple sending a webhook is.

[2021-04-11 19:29] caiocotts commented on #963
I took a shot at implementing @deluan's suggestion:

Should we also remove the comments from the songs in that case?

[2021-04-11 19:46] deluan commented on #963
Hey @caiocotts, thanks for the PR, looks good.

I think we should hide the comments from the songs in that case.

In the current state, it may be challenging to hide the comments from songs in the UI as we don't have the album info everywhere we would need it (ex: in `SongDetails.js`). Maybe we can add a flag to the `media_file` table in the DB, something like `is_album_comment` ?  This would appe

[2021-04-12 04:22] pkspyder007 opened #1014 "Welcome message on Login Page broken styling on mobile view"
### Description
Navidrome has an welcomeMessage property in config.js which is used to show a message above login inputs.
On the demo site, it displays the username and password details, which is not styled properly on mobile view.

![i11](https://user-images.githubusercontent.com/19896788/114340053-533dc200-9b74-11eb-91c6-29a43d410de8.PNG)

### Expected Behaviour
![i11-fix](https://user-images.gi

[2021-04-12 04:29] pkspyder007 commented on #1014
@deluan There are two ways to fix this
 1-> removing `display: flex` from welcome styles
 2-> setting `flexWrap: wrap` to let all children expand full width and wrap

 I prefer 2nd as it goes along with the use of flex which is already been used for stying welcomeMessage

[2021-04-12 06:40] pkspyder007 opened #1016 "Fixed Sidemenu for better UX"
### Is your feature request related to a problem? Please describe.

We have a plan to implement Infinite scrolling to the UI and right now out Menu is scrolled off-screen with the albums see the screenshot attached below
![image](https://user-images.githubusercontent.com/19896788/114350380-c2241680-9b86-11eb-856b-c3781d86ceb8.png)

This is not a good UX on desktops as on mobile we get a toggle but

[2021-04-12 13:25] certuna commented on #963
This also has parallels with https://github.com/navidrome/navidrome/issues/846 : if any metadata is the same for all tracks, should the Navidrome UI then hide it (and move it to the album details section)? Because we'll soon have the same discussion with things like Producer credits: if one producer did all tracks, should it then show as a credit for each individual track, or as an album-level cre

[2021-04-12 13:30] aniketbiswas21 commented on #652
@deluan Is there any way we can retrieve the current playtime of the current song? Like, setting it to the `previous id` if the playtime is `0:00` and replaying the `current id` if it is not?

[2021-04-12 15:52] AeronCyther commented on #749
I think I have a potential solution for this.

[2021-04-13 06:01] KaramveerSidhu opened #1025 "UI not updated in real time when a new song is added"
### Description

When I add a new song/album to my music folder, the UI of navidrome is not updated in real-time. I have to reload the page to find my song in the list of albums.

### Ideal behavior

It would be great if the UI is updated in real-time.

### Screenshots

**Music Folder:** This is my music folder with a newly added song

![14-2](https://user-images.githubusercontent.com/51775341/114

[2021-04-13 06:17] pkspyder007 commented on #1025
@KaramveerSidhu You see there is a refresh button in the top-right header for refreshing the list.
For adding required behaviour we will need a socket connection so our server can send a refresh event in the UI.
And adding new songs is not a frequent operation and giving continuous resources for such task is not something I would want.

Let us see what others have to say about this.

[2021-04-13 06:39] JayKaku commented on #876
Is the issue still open ? like @Dnouv has created a pr

[2021-04-13 07:28] JayKaku opened #1026 "Menu icon on the navbar positioning with the sidebar icons"
![image](https://user-images.githubusercontent.com/61429929/114512636-f535db00-9c56-11eb-9a36-2415326cbf34.png)

The Menu icon on the Navigation bar for the sidebar (top left corner) would look great if it were aligned in line with the icons below, let me your thoughts, I'll make the required changes.

[2021-04-13 08:21] certuna commented on #1025
Also, you can initiate a server rescan in the top right menu: Activity -> Quick Scan/Full Scan

[2021-04-13 09:08] metalheim commented on #1025
I'm also not sure if it's worth the hassle. I don't add songs that often and even when I do, I just wait 60s (or whatever SCAN_INTERVAL is set to) and hit the refresh button.

[2021-04-13 10:01] JayKaku commented on #1026
I've created a pull request on the React-Admin Repo @deluan  https://github.com/marmelab/react-admin/pull/6161

[2021-04-13 12:17] deluan commented on #1025
If we need to create a websocket connection and implement logic to detect if we actually need to reload the current view, it may not be worth the hassle.

BUT:

We already have a eventStream opened with the server, that replaces the websocket connection. We can create a new event on the server that is sent whenever the scan is completed, and in the UI we can just use the `useRefresh` hook to call

[2021-04-13 12:34] deluan commented on #1026
Awesome! This reminds me that we need to spend some time upgrading to the latest React-Admin....

[2021-04-13 15:02] Dnouv commented on #876
Sorry @JayKaku, but the PR is still in progress, and the issue might close soon enough. Thanks for reviewing the issue.

[2021-04-13 15:47] count00zero commented on #674
I personally like #1 and maybe #2 :)

[2021-04-13 16:15] metalheim commented on #1025
@deluan I'm not sure if refreshing the current view forcefully is great. Imagine typing in the search bar and the UI just updates and you need to start typing again.
Maybe we could use that "DB updated" event to display a little `MuiBadge-badge` like that:

![image](https://user-images.githubusercontent.com/44159957/114585489-ff220300-9c83-11eb-97ab-219cd6d381e4.png)

[2021-04-13 16:23] deluan commented on #1025
@metalheim If we have to add a badge there, it may not be as straightforward to implement, and then I'll be forced to agree with you that it is not worth the hassle.

But refreshing the Ui should not cause a redraw:

https://user-images.githubusercontent.com/331353/114586218-6b840e80-9c52-11eb-8575-c09d96ba3bb1.mov

It only redraws the changed parts of the view. If there's no change, it does not r

[2021-04-13 16:29] metalheim commented on #1025
Agree, i just tested refreshing during various user interactions and it doesn't break anything. So if we implement the feature, we should directly go for the refresh instead of just "displaying a badge"

[2021-04-13 19:32] TheFlatworm opened #1029 "Feature Request: Sharing"
It would be wonderful to have sharing as referenced in #390.  An ability to select a song or album and have a link generated to share.  The link would access the music via a limited guest account so a user would not have to be set up to access the share.

[2021-04-13 19:43] deluan commented on #1029
Yes, this is one of the proposed GSoC projects: https://www.navidrome.org/docs/gsoc/#1-media-sharing

I'm gonna close this issue, as it is a duplcation of #748 , please subscribe to that issue to receive updates on its status

[2021-04-13 19:43] #1029 closed

[2021-04-14 00:56] deluan commented on #963
Yes, this is workable. The issue is in the SongList and PlaylistSongs views : When listing tracks detached from their albums, there is no way to know if the comment in the track is an album-level or track-level comment as we don't have the album information, only the data that is part of the track. Should we ignore this fact and always show the comment? Example showing songs from the same album, w

[2021-04-14 04:18] aniketbiswas21 commented on #652
https://github.com/lijinke666/react-music-player/issues/347

@deluan Raised an issue in `react-jinke-music-player` regarding this. I do have a plan to solve this issue, but the problem is, I was not able to extend my logic onto the player, so raised an issue regarding this.

[2021-04-14 08:09] JayKaku commented on #1026
The pull request got merged, do update us as to when we plan to update it.

[2021-04-14 08:09] #1026 closed

[2021-04-14 08:19] JayKaku commented on #876
Okay thank you for the update.

[2021-04-14 10:01] YashJipkate opened #1031 "Spotify theme: Buttons in BulkActionsToolbar should have some space between them."
### Is your feature request related to a problem? Please describe.

The buttons in the BulkActionsToolbar appear too cramped, and the buttons even appear to overlap with each other.

### Describe the solution you'd like

It would be nice to have the buttons get some space between them. Maybe increasing the margin between the buttons might be a good idea.

### Describe alternative solutions that wo

[2021-04-14 10:10] metalheim opened #1032 "Normalise album playcount sorting by amount of tracks"
### Is your feature request related to a problem? Please describe.

When I query the Subsonic `getAlbumList2` by `type=frequent`, I am supposed to get returned my albums with the most plays.
In reality, I get returned the longest Albums that I ever heard (usually Audiobooks).

An Audiobook i listened to once with 120 tracks will show before a 10-track Album that I listened to 10 times. So IMHO, it

[2021-04-14 10:28] YashJipkate opened #1033 "Pin the BulkActionsToolbar to the top."
### Is your feature request related to a problem? Please describe.

Say I am in a 50-item per page Song section, I select 2 songs to add to a playlist, but now I have to scroll all the way up to do it.

### Describe the solution you'd like

I would like a fixed toolbar that appears quickly on the top of my screen so I can perform the actions. I think that will be quite handy.

Thoughts @deluan?

[2021-04-14 13:02] pkspyder007 commented on #1016
@deluan I tried it on different resolutions and themes, it worked on them.
I just found a UI issue but that was already mentioned in issue #647.

[2021-04-14 13:13] shishir610 commented on #1008
Thanks, @armedev but the Owner and Date fields didn't seem necessary to me. I've pushed a commit that lists the playlist name, number of songs, and duration. Please do let me know if it's necessary, I can make a custom field and add the same.

[2021-04-15 10:51] certuna commented on #1032
Another approach is to multiply plays by song length, i.e. "total time spent listening to album X"

[2021-04-15 11:31] metalheim commented on #1032
Yes, that's also viable. A property called **playcount** in an **album** object should reflect "how often has this album been played".
My point was: What is the user story, why does this endpoint exist? My personal take on it is:

For me, it would be a compromise, because I don't want the annoying audiobooks in there.. But maybe this requires another solution (multiple libraries/musicfolders f.e.)

[2021-04-15 11:48] certuna commented on #1032
Arguably that would still benefit long albums (ie, a 210-minute 3CD album played 10 times would be higher than a 30-minute EP played 69 times), but at least it would show correctly how you have actually spent your time listening.

I do like the concept of configurable "library sections", which would essentially be smart playlists/filters (Release Type is not "audiobook"), but we'll have to wait fo

[2021-04-15 22:48] deluan commented on #650
I haven't spent too much time analyzing this issue, so my question to you guys is: Did we find the issue? Is it feasible for us to create a PR in the React-Jinke-Player repo to fix this?

[2021-04-15 23:22] deluan commented on #1009
Thanks for tackling this. But instead of putting each info in its own line (using a lot of the vertical space of the details area, it would be better just to make sure each field does not "break" in two lines. I'm not sure how to do this in CSS, but in the example above, only the size would go to the next line, like this:
[code]

[2021-04-16 00:18] #1014 closed

[2021-04-16 01:39] deluan commented on #1033
Not sure if this is a good enhancement.... Remember that every change we do to the look and feel of React Admin is more code to maintain and harder to upgrade, so small things like this may not be worth the hassle....

[2021-04-16 02:07] deluan commented on #1032
This gets complicated if for example I listen to three songs in a row:
1) Queen - A Night At The Opera - Bohemian Rhapsody
2) David Bowie - Low - Sound & Vision
3) Queen - A Night At The Opera - Love of My Life

How many plays should the Queen's album playCount be increased by? In my opinion it should be 2 and not one.

I think this logic should be a bit smarter, by not incrementing an album's pla

[2021-04-16 06:19] YashJipkate commented on #1033
Say if we add this feature to react-admin itself, would that be a good idea?

[2021-04-16 06:36] YashJipkate commented on #650
I'll raise an issue (with a fix if I could find it) in the Jinke repo, to see what the creator has to say on this. I'll update this thread if I get anything.

[2021-04-16 07:28] jvoisin commented on #959
Having path only hidden client-side is useless in my opinion.

[2021-04-16 08:29] certuna commented on #959
The more I think about it, I think that the best action is not expose the file path (in the API) to regular users at all, just to admins.

[2021-04-16 09:06] AeronCyther commented on #959
That's exactly what I thought. Paths shouldn't be exposed for any reason

[2021-04-16 09:21] pkspyder007 opened #1034 "Change Menu Icon on toggle"
To change the Menu Icon in app bar as the image below on toggle
![1_KwqSHfeILFT91L3jahO9UQ](https://user-images.githubusercontent.com/19896788/114999527-91621b00-9ebf-11eb-8253-e0f4024d65b1.png)

### Describe the solution you'd like

This [documentation](https://marmelab.com/react-admin/Theming.html#replacing-the-appbar) provides the basic of how to create a custom app bar with no hide on scroll b

[2021-04-16 09:22] pkspyder007 commented on #1034
I am experimenting with this as there are some UI quirks related to custom app bar implementation.

[2021-04-16 09:45] Salman-Inayat commented on #1009
Album size is only  shifted to next line when viewed on small screen.

![image](https://user-images.githubusercontent.com/45660519/115006351-341b9900-9ec2-11eb-8fe4-e3c40f21fe97.png)

[2021-04-16 11:37] certuna commented on #1032
I think that @metalheim 's suggestion is that the album playCounts should increase by 2/12 = 0.167

[2021-04-16 11:38] certuna commented on #1033
You can already add songs individually by using the triple-dot menu on the right, which is faster than clicking on two songs and scrolling up

[2021-04-16 11:49] YashJipkate commented on #1033
Yes, you can do that. But let's say you want to play 5 (or more) songs in a particular order, then it would be too much work (and slower). That's where the BulkActionsToolbar can come real handy, don't you think? Also it would be a good plus for infinite-scroll feature.

[2021-04-16 13:00] Balaguru4580 commented on #959
This might become relevant when multiple folders are supported though.

I can see the utility of already being able to find which folder a song is from. With multiple folders this utility just increases.

[2021-04-16 13:13] AeronCyther commented on #959
That might be true for admins, but non admins have no need to know where the files are located. For example, you do not know where the files are stored in spotify. You don't need to. Users are supposed to listen to music. When technical difficulties arise, the administrators _might_ need to know where files are located. Other than that, giving more information than needed is a good way to introduc

[2021-04-16 13:39] deluan commented on #959
My opinion is: As long as we support the Subsonic API, there's no point in hiding the paths in other parts of Navidrome, from a pure security perspective.

[2021-04-16 14:01] AeronCyther commented on #959
If we absolutely have to return paths, how about mapping real file paths to virtual file paths? Not relative, virtual. All media files may be album_name/media_name or something along those lines?

Should be more _secure_ than relative paths

[2021-04-16 14:18] deluan commented on #959
This is actually the default behaviour in Navidrome, but there's an option to enable real paths, as it breaks some clients:
<img width="456" alt="Screen Shot 2021-04-16 at 10 17 51 AM" src="https://user-images.githubusercontent.com/331353/115037992-14be4500-9e9d-11eb-91bb-d1fac4afd25b.png">

[2021-04-16 14:38] AeronCyther commented on #959
There's actually an issue with this approach. It probably doesn't work with _unofficial_ copies of songs grouped together by being stored in a folder. This will probably end up showing everything under unknown album, right?

[2021-04-16 14:51] deluan commented on #959
Yes it will... Usually people that don't care about tags use "Browse by folder", a feature Navidrome does not implement

[2021-04-16 18:41] Rishabh-malhotraa commented on #1034
I did something similar to [this](https://spotify-design-demo.netlify.app/). You can find the code [here](https://codepen.io/erikterwan/details/EVzeRP)

[2021-04-16 19:28] metalheim commented on #1032
Yes, that's my suggestion. It's questionable how subsonic clients would handle a non-integer play count though

But even doing this and applying rounding (read: cast to int) would already be better than whatvwe currently have imho

[2021-04-16 21:06] upward4 opened #1035 "Make Albums grid view sortable without switching to list view first"
### Is your feature request related to a problem? Please describe.

The Albums grid view cannot be sorted, unless you first switch to list view and select the desired sort field.

### Describe the solution you'd like

I would like to be able to sort albums while in grid view, for example using a drop down control.

### Describe alternative solutions that would also satisfy this problem

I don't th

[2021-04-16 21:20] pkspyder007 commented on #1034
@Rishabh-malhotraa The issue is to achieve this with react-admin Appbar component.
One way I came up with was to write our own Appbar component from scratch.
But that's something I want to avoid as it deviated us from react-admin and makes codebase hard to maintain.

If you have any other suggestions please let is know.

[2021-04-17 01:46] deluan commented on #1033
Yes, that would be better, let's see what they say about it

[2021-04-17 01:48] deluan commented on #1035
We are planning to rewrite the Album Grid, and this may change. Can you please list the fields you want to sort on?

[2021-04-17 02:35] deluan commented on #1032
Just to be clear: I also don't like the current behaviour, but I'm not sure if what you are proposing is a good solution.

Picture this: I have the The Cure Disintegration Deluxe Edition, a triple album with rarities and a live show. I love that album and I frequently listen to the first disc (the original content), but rarely listen to the live show or the rarities. With the approach you are prop

[2021-04-17 04:44] deluan commented on #899
Closed by #903

[2021-04-17 04:44] #899 closed

[2021-04-17 09:41] oliveconstant commented on #1035
I would personally like to sort on release date, but there are other fields that I think most users would like to sort on. For example, Apple Music can sort by:

- title
- recently added
- artist

As another example, iTunes can sort by:

- title
- genre
- year
- rating (0-5)

I also think there should be a way to switch between ascending and descending order. I find the way iTunes accomplishes thi

[2021-04-17 09:50] oliveconstant commented on #1035
As a side note, I think we should consider the possibility of sharing a single sorting control (e.g. dop-down button) between grid and list view.

[2021-04-17 10:40] metalheim commented on #1032
Yes, overnight I thought about that same problem, I have a lot of "Deluxe Editions" with CD1 being the normal album and CD2 being instrumentals, which I rarely listen to, causing the same issues as your "rareties".

Your solution 1. for `playCount` sounds better than mine, although a bit more complex to do (?beyond my capability to access).

And yes, my problem with audiobooks can be solved other

[2021-04-17 12:29] certuna opened #1036 "Tracking metadata enhancements"
This is an issue to track various metadata enhancements in Navidrome's tag scanner, database and API, and their dependencies on other parts of Navidrome. Will make it easier to see which metadata enhancements can be implemented relatively easily now, and which ones require more fundamental changes first.

** Track level metadata **

- [ ] Work `TIT1` note: used to group files together in one work.

[2021-04-17 14:17] Dnouv commented on #1034
@pkspyder007, maybe we could open a feature request issue on `react-admin` .

[2021-04-17 14:38] pkspyder007 commented on #1034
@Dnouv I did mentioned few suggestion there.
https://github.com/marmelab/react-admin/issues/6174

Let's see what they think about it.

[2021-04-17 14:41] pkspyder007 commented on #1016
@deluan We discussed elaborately in discord and think that it is ok to have this behavior.
A PR has been opened on React Admin to have a prop to control hide on scroll behavior. So if you have any suggestions please let me know.

[2021-04-18 00:47] sumnerevans opened #1037 "AUR package maintainer wanted"
I no longer use Arch Linux on any of my main machines, thus I'm looking for someone to take over the active maintenance of the AUR package: https://aur.archlinux.org/packages/navidrome-bin/.

@deluan is listed as a maintaner, but AFAIK he doesn't use Arch Linux as his main driver either.

[2021-04-18 02:15] deluan commented on #1009
Ah, ok, that's not what was pictured in the previous screenshot. Will take a look at the PR, thanks!

[2021-04-18 03:25] aldrinjenson opened #1038 "Warning: Missing translation in AlbumsList - favourites"
### Description
Opening albums - favourites throws up warnings in the console saying translations are missing

[code]

### Steps to reproduce
Navigate to /album/starred

### Screenshots
![image](https://user-images.githubusercontent.com/53407417/115133155-a9eb4600-a023-11eb-9dd5-9d8d66273ca0.png)

[2021-04-18 03:44] aldrinjenson opened #1039 "Login error in firefox"
### Description
Trying to Log in for the first time in firefox throws up a securityError error saying that the operation is insecure.
Works fine in Chrome.
Logging in for the [Navidrome demo site](https://demo.navidrome.org/app/), in new private window also shows the insecure message in the console:
`Uncaught (in promise) DOMException: The operation is insecure.`

### Steps to reproduce

1. Open f

[2021-04-18 06:22] #1039 closed

[2021-04-18 06:23] deluan commented on #1039
Thanks! I pushed a "fix": catch the exception and shows it in console. I think clearing the service worker cache is not required anymore, needs to be validated

[2021-04-18 06:25] deluan commented on #1038
This is caused by using an Icon as the filter label. It's a limitation of React-Admin: Even though it works, it shows this message in dev mode. We need to open an issue with React Admin similar to this: https://github.com/marmelab/react-admin/issues/4848

[2021-04-18 06:40] Salman-Inayat commented on #1009
I modified it after you mentioned only album size should go to next line.

[2021-04-18 07:46] BobRawr101 commented on #1037
I don't have /any/ experience in maintaining arch packages, but w/ some direction, I'd be willing/want to maintain the package.

[2021-04-18 07:48] sumnerevans commented on #1037
@BobRawr101 do you run Arch Linux as your primary distro?

[2021-04-18 08:03] BobRawr101 commented on #1037
I use Manjaro, but I think it's close enough.

[2021-04-18 14:50] sumnerevans commented on #1037
That's great! I can give you the info you need to maintain the package. If you are on the Discord, DM me there. Otherwise, contact me via one of the methods listed at my website: https://sumnerevans.com/contact/

[2021-04-18 16:37] deluan commented on #1037
Maybe we could automate it with: https://github.com/guumaster/aur-publish-docker-action ?
It is being used by this project for example: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=kafkactl

I could try to automate it, but I don't have a system to test AUR packages, nor the time to setup one...

[2021-04-18 22:42] MoralCode commented on #478
@tcurdt is there a particular service (you mentioned Zapier) that you are interested in sending these webhooks to at first? just added https://github.com/MoralCode/go-event-webhooks/issues/6 tas a TO-DO item for the webhook library I am making for this and am curious if any particular service should be prioritized

[2021-04-18 23:09] tcurdt commented on #478
@MoralCode I used Zapier just as one of the common examples. I'd probably send them to n8n or nodered instead. Or even write my own service.

[2021-04-18 23:14] deluan commented on #478
I think another good example is IFTTT

[2021-04-18 23:38] deluan commented on #1035
Yeah, agree. The first implementation of Album browsing was based on Subsonic/Airsonic Album List views, and that's what you get in the left-side Albums menu:
- All (Sorted alphabetically)
- Random
- Favourites (marked with "Heart", or "Star" using a Subsonic client, sorted by when it was marked)
- Top Rated (5-star rating, sorted 5-1)
- Recently Added
- Recently Played (by playDate)
- Most Played

[2021-04-19 00:51] MoralCode commented on #478
awesome! I added those as ideas to the issue I mentioned within the library.

[2021-04-19 02:35] BobRawr101 commented on #1037
Username on AUR is lostpolaris

[2021-04-19 10:00] certuna commented on #1032
With playlist and "radio" based listening, 1. will make album statistics pretty meaningless. Consider the many people who don't collect full albums, but for tons of songs only have 1 song from an album in their collection.

[2021-04-19 10:23] YashJipkate commented on #1033
@deluan this feature was given green light by the react-admin maintainers. See https://github.com/marmelab/react-admin/issues/6180.

A contributor has volunteered and hopefully he'll be sending a PR.

[2021-04-19 14:08] deluan commented on #646
(a) is merged. I agree with (b), we should support specifying different IPs for each stack. For reference: https://groups.google.com/g/golang-nuts/c/_cCyCgDfP-Y/m/jtZbieMCwPMJ

If anyone wants to tackle this, PRs are welcome :)

[2021-04-19 17:18] deluan commented on #152
This is superseded by #1037

[2021-04-19 17:18] #152 closed

[2021-04-19 17:22] sumnerevans commented on #1037
Thank you @BobRawr101 for stepping up! I have transferred ownership over to you.

[2021-04-19 17:22] #1037 closed

[2021-04-20 04:48] delightfuldude commented on #793
+1
A navidrome podcast support as a gpodder alternative would be great!

[2021-04-20 17:40] NyaomiDEV opened #1046 "Add variables to clearly distinct between Navidrome instances."
### Is your feature request related to a problem? Please describe.

There is no way to clearly distinct between Navidrome instances.

### Describe the solution you'd like

In the configuration / environment:
- `instanceName` / `ND_INSTANCE_NAME` (`string`, defaults to `Navidrome`): The current instance's name; it will be displayed in the <title> tag and as a header in the login section (under the

[2021-04-20 19:50] whorfin commented on #446
I'm not sure my issue is OPs, but since I see the issue of "covers that worked before will disappear" showing up, this seemed like the place for the bug I've found.

If the cache is empty and I start navidrome with image caching enabled, everything works great.
If I _restart_ navidrome, all cover-art shows as broken links in the web GUI.
Perhaps most importantly, logging shows this panic every tim

[2021-04-20 19:59] deluan commented on #446
@whorfin this is a different issue, can you please open a new [bug report](https://github.com/navidrome/navidrome/issues/new?assignees=&labels=bug&template=bug_report.md&title=) in GH? I'll take a look ASAP

[2021-04-20 20:02] whorfin opened #1048 "Image Caching panics when navidrome restarted"
### Description

If the cache is empty and I start navidrome with image caching enabled, everything works great.
If I _restart_ navidrome, all cover-art shows as broken links in the web GUI.
Perhaps most importantly, logging shows this panic every time the broken link is displayed:
[code]
If I stop navidrome, completely delete the cache folder and restart navidrome, everything is fine.
Until navid

[2021-04-20 20:24] deluan commented on #1048
Can't seem to reproduce it here on my environment. Do you see a message like this in your logs, _before_ attempting to use the UI:
[code]

[2021-04-20 21:17] deluan commented on #1048
Can you post the initial lines of the log after the restart? This is the important bit:
[code]

[2021-04-20 21:18] whorfin commented on #1048
When started the first time with Cache enabled:

"Creating Image cache" maxSize="100 MB" path=/tank/scratch/navidrome/cache/images
"Finished initializing cache" cache=Image elapsedTime=1.4ms maxSize=100MB

When restarting [when things fail]
"Creating Image cache" maxSize="100 MB" path=/tank/scratch/navidrome/cache/images
"Finished initializing cache" cache=Image elapsedTime=1.2ms maxSize=100MB

[2021-04-20 21:18] deluan commented on #1048
No errors between or warnings the lines?

[2021-04-20 21:20] whorfin commented on #1048
here is the whole relevant bit:
[code]

[2021-04-20 21:20] whorfin commented on #1048
(the additional decoration is courtesy SMF, sorry)

[2021-04-20 22:59] AryToNeX commented on #351
Citing my message on the Discord server:

The transcoding engine should be flexible enough to force a specific transcoding setting to an user

[2021-04-21 01:46] SenorSmartyPants opened #1049 "Subsonic API Multi disk view"
### Is your feature request related to a problem? Please describe.

Option to display a individual disks in a boxset, instead of the current list of all tracks.
I saw this mentioned in #272 but it was crossed out. Was this decided against or just not implemented?

### Describe the solution you'd like

Display sub folders for each disk in a boxset, using disk subtitle for folder name (and year of r

[2021-04-21 01:57] deluan commented on #1049
As the UI does not support folders, the best we can do is what is already implemented. With the current implementation you can see the tracks grouped by discs in a boxset, play/shuffle one disc and so on. The image in the mentioned issue #272, is the what you see if the album is properly tagged with disc subtitle tags.

The crossed-out item in that issue is related to your "Additional context": To

[2021-04-21 02:00] SenorSmartyPants commented on #1049
Yes, I'm only asking about the subsonic API. No need to change the Navidrome Web UI.

Consider this my +1 for _browse by folder_ to show discs as subfolders.

[2021-04-21 13:48] deluan commented on #1048
Sorry, but I don't have a clue on what is going on. The code at line https://github.com/navidrome/navidrome/blob/master/utils/cache/file_caches.go#L98 should not throw an nil pointer dereference, as it is protected by a synchronized guard (`fc.Available()`, line 89).

Can you try with an old implementation of the cache? Version [0.36.1](https://github.com/navidrome/navidrome/releases/tag/v0.36.1)

[2021-04-21 18:03] whorfin commented on #1048
a quick log print shows:
neither key nor fc are nil, but fc.cache _is_ nil when things go south
fc.name is correct, but fc.cache is <nil>

[2021-04-21 18:17] deluan commented on #1048
Yeah, I suspected that, but if you look at the code for `fc.Available()`, it should not get to line 98 if the cache was not initialized yet.

I found a scenario where it was missing an error log message. Can you try with the latest from master (31b553e), and also set loglevel=trace to maybe get more insights?

[2021-04-22 01:12] whorfin commented on #1048
even without loglevel trace, i think we found it:
Starting with a fresh [removed] cache:
[code]
and then restarting:
INFO[0000] Creating Image cache                          maxSize="100 MB" path=/home/whorfin/navidrome/navidrome-master/0runhere/cache/images
ERRO[0000] Error initializing Image cache                error="lstat /home/whorfin/navidrome/navidrome-master/0runhere/cache/images/da/7e/da

[2021-04-22 03:46] deluan commented on #1048
We are getting close! I pushed a change (467eb345) that handles this scenario, disabling the cache when this happens. Not the best outcome but at least it does not crash.

Unfortunately, reading the code that loads the cache from the FileSystem, I cannot figure out what can be causing this:
https://github.com/navidrome/navidrome/blob/1d681d92d382ca12940e1f3bfce410809040eafb/utils/cache/spread_fs.g

[2021-04-22 08:30] aniketbiswas21 commented on #652
https://github.com/lijinke666/react-music-player/pull/359

@deluan I opened a PR on react-jinke-music-player. If that gets merged, we will be able to proceed with this :)

[2021-04-22 09:30] metalheim commented on #1046
Maybe we could also add a configuration option for `defaultTheme`?
It would also allow to visually separate instances from the login screen.

[2021-04-22 13:43] deluan commented on #1046
This was introduced last week: https://github.com/navidrome/navidrome/commit/f63a912341c646bcdb97b35aa32ada8bc1db67cd

Docs for 0.42.0: https://deploy-preview-45--navidrome.netlify.app/docs/usage/configuration-options/#notes

It is already available in develop builds, and will be in the next release.

[2021-04-22 15:25] deluan commented on #1046
@AryToNeX thanks for the suggestion, that seems doable and relatively easy to implement.

This may be challenging, as Favicon is not just one image, it has different resolutions and alpha configurations for different platforms, take a look at the current one: https://github.com/navidrome/navidrome/tree/master/ui/public

We can definitely replace it with one image, but it may not look good in some

[2021-04-22 15:41] metalheim commented on #1046
Awesome, works great!

[2021-04-22 18:06] deluan commented on #1048
Added tests for the Reload function: https://github.com/navidrome/navidrome/blob/240de70026729d974bbf09d2ca8e19a6d719f715/utils/cache/spread_fs_test.go#L39

Please run these in your local (`make test`) and see if they pass

[2021-04-22 18:32] AryToNeX commented on #1046
Given that your project internally uses `ffmpeg`, and given a reasonably sized (512x, really) square icon with alpha, I don't see why you couldn't use the `cache/` folder to autogenerate all the different favicons to use within multiple platforms.

Sure, the only one problem would then be the `safari-pinned-tab.svg` icon. I do not know about how Safari handles pinned tabs without that icon, but I

[2021-04-22 19:17] whorfin commented on #1048
everything passes _except_:
[code]

[2021-04-22 19:26] deluan commented on #1048
Seems to be an issue with the [godirwalk](https://github.com/karrick/godirwalk) library. Can you please try cloning that library and running its tests?

[2021-04-22 21:50] whorfin commented on #1048
Well that's not good:
[code]

[2021-04-22 21:54] deluan commented on #1048
Yeah, seems to be an issue with that library.... Can you please open an issue there?

Meanwhile, I'll see if replacing it with [filepath.Walk](https://golang.org/pkg/path/filepath/#Walk) is fast enough for Navidrome's use case.

[2021-04-22 21:55] whorfin commented on #1048
Yep, typing up an issue right this moment.

[2021-04-22 21:57] whorfin commented on #1048
Thank you very much for your quick responses!
Just FWIW, I totally don't need caching and am getting along fine so far by just disabling it.
If you'd like to just wait until `godirwalk` is fixed that's totes fine by me.
Of course if `filepath.Walk` is fast enough then that's one less dependency.
Speaking of, I've removed `reflex` from my local `go.mod` for navidrome as it appears to not be needed,

[2021-04-22 22:02] deluan commented on #1048
Yeah, the image cache is more helpful when your music is stored in the cloud or in a slow network drive.

`reflex` is used when you run `make dev` or `make server` to start Navidrome in development mode. It is listed as one of the tools in `tools.go`.

[2021-04-22 22:04] whorfin commented on #1048
Right, sorry, that's what i meant by "not needed".
Clever usage, but busted on solaroid systems - the build just crashes due to a bizarre assumption about ptys.

[2021-04-22 23:28] deluan commented on #1046
We don't need to use `ffmpeg` for this: Go has good PNG library and there are small, pure Go, ICO encoders out there. I just think it is code that will be included in Navidrome that will be used once, if ever. I think this are static files that could be generated outside Navidrome. For ex: the current favicons were generated using the online site https://realfavicongenerator.net

Maybe we could re

[2021-04-23 02:00] AryToNeX commented on #1046
Handling this internally could be better because this way you do not rely on other services that may be shut down at any moment; plus, it is really trivial and it works well within the intent of pointing the configuration variable to a PNG; but in any other case, laying down some code to do the image processing in a separate project is fine as well.

I'd also doubt that the code would then be used

[2021-04-23 12:59] jvoisin commented on #1046
The favicon thingy sounds overkill to me.
Simply having the *name* of the instance somewhere should be enough.

[2021-04-23 16:35] balki opened #1050 "[Feature request] CLI tool to show metadata(tags) as read by navirdrome"
Before editing the tags, it would be good to see what are the tags needed by navidrome and what their current values are. I created a crude version: https://gitlab.com/balki/naviextract/-/blob/main/naviextract.go
However it does not show the pictures and does not include other ways tags are processed by navidrome.

[2021-04-23 22:06] #865 closed

[2021-04-23 22:37] #609 closed

[2021-04-23 23:04] #876 closed

[2021-04-23 23:44] deluan commented on #909
So, most agree this is not a great idea, at least with the current page/menubar layout. I will close this, then. Thanks @ruhci28 for the suggestion.

[2021-04-23 23:44] #909 closed

[2021-04-25 00:47] caiocotts commented on #963
@deluan  please my PR and see if there's anything missing.

[2021-04-25 01:39] deluan commented on #963
@caiocotts, looks good, thanks!

@certuna / @andrewzah, the PR makes `comment` behaves as we discussed above, I'll merge it.

What should we do re: `description`? Leave as it is now (not imported)?

[2021-04-25 05:09] xnaas opened #1052 "[Feature Request] Lower Default Volume"
### Is your feature request related to a problem? Please describe.

The first time you start audio in the web interface, it can be quite deafening.

### Describe the solution you'd like

Either:
* A lower default volume to begin with
* A configurable default volume through an environment variable

### Describe alternative solutions that would also satisfy this problem

Simply having the first-time

[2021-04-25 13:00] rochakjain361 opened #1053 "Extract urls from comments and link them to their correspoding sites"
### Description
Metadata in the comment field of the audio file consists of a URL to the music website when being imported from that site. It would be nice to detect those URLs from the comments and link them to their respective site.
(Songs when downloaded from music sites like Jamendo, etc., would provide URL in comments description.)

### Screenshot

![Screenshot from 2021-04-25 17-34-53](https

[2021-04-25 16:08] jvoisin commented on #1052
This seems to be an issue with your operating system volume settings.

[2021-04-25 20:08] metalheim commented on #1053
Generally such links shouldn't go in the comment field, but in the dedicated tag field like WXXX, WOAF or WOAS.

https://hilfe.mp3tag.de/main_tags.html
(page is German, but the table is self explanatory)

But since it's rather common to have links in comments and navidrome does not read WXXX and alike we should to what you're supposing.

[2021-04-26 20:39] guim31 opened #1063 "[PWA] status bar doesn't match theme color"
I tried the new spotify-ish theme, i find it really great, but when I install Navidrome as a PWA... The status bar on top of my phone is blue... 🤔

![OfaKePN](https://user-images.githubusercontent.com/331353/117899130-7dc68c00-b294-11eb-9ca2-1c3e6f56cfb3.jpeg)

[2021-04-26 20:46] deluan commented on #1063
@certuna Can you reproduce this in your environment? Maybe this is caused by the `theme-color` in `manifest.json`:
https://github.com/navidrome/navidrome/blob/master/ui/public/manifest.json#L9

If that's the case, it is time to make it a template (as we discussed in the beginning of the PWA implementation)

[2021-04-27 11:06] certuna commented on #1063
I cannot reproduce this on iPhone and iPad (status bar is black as usual), but I don't have an Android phone here.

Templating is nice (also brings the advantage to rename the app to the servername), but I don't know if the manifest.json gets reloaded when you change the theme though - another possibility is choose a neutral colour for it (black/white/grey)?

[2021-04-27 11:08] certuna commented on #1053
Yeah I know, but taggers (and players) are notoriously bad at supporting these URL fields, so everyone just dumps them in the `COMMENTS` field.

[2021-04-27 11:11] certuna commented on #1050
Probably easier to do that in a SQL editor/viewer?

[2021-04-27 12:05] metalheim commented on #1053
Easiest would probably be a URL-detection in javascript clientside with a regex similar to

`(https?:\/\/)?[\w\-~]+(\.[\w\-~]+)+(\/[\w\-~@:%]*)*(#[\w\-]*)?(\?[^\s]*)?`

[2021-04-27 12:46] Dnouv commented on #1063
@deluan, I was able to reproduce the same; the notification bar was blue.

[2021-04-27 15:30] #1048 closed

[2021-04-27 15:31] deluan commented on #1048
Hey, can you try with the latest from master? I removed the dependency on `godirwalk`

[2021-04-27 16:13] whorfin commented on #1048
Most excellent
That fixed it
🎉

[2021-04-27 18:55] andrewzah commented on #199
Any progress on this?

[2021-04-27 19:36] TheFlatworm opened #1064 "[UI Bug] Spotify-ish Theme "Add to Playlist" covers CANCEL/ADD Buttons with the Drop Dropdown Element."
Spotify-ish "Add to Playlist" covers CANCEL/ADD buttons with the drop dropdown element.

<img width="597" alt="Screen Shot 2021-04-27 at 12 27 32 PM" src="https://user-images.githubusercontent.com/5423879/116301636-21705200-a755-11eb-8bc7-e0999a036cab.png">

Firefox browser
Navidrome Version: | 0.42.0 (f1bd736b)

[2021-04-27 21:07] Dnouv commented on #1064
@TheFlatworm, thanks for reporting the issue; I think the dropdown options menu disappears whenever one selects an option, so that might not conflict with ADD button, it is the default behavior.
If you have got any suggestions, please feel free to provide them.

After selecting the option:
![image](https://user-images.githubusercontent.com/61188295/116312691-671b3200-a7ca-11eb-946e-4364150b937d.pn

[2021-04-27 21:07] deluan commented on #1064
This was already the behaviour with previous versions and other themes:

<img width="718" alt="Screen Shot 2021-04-27 at 5 06 13 PM" src="https://user-images.githubusercontent.com/331353/116312819-f6005e00-a77a-11eb-9ec6-21d93da532d8.png">

The difference is that it is showing a part of the button...

[2021-04-27 21:21] deluan commented on #199
I hope to have it working for next release.

[2021-04-28 06:33] blunderberg opened #1066 "Spotify-ish theme paging not highlighting current page"
### Description

Spotify-ish theme paging not highlighting current page

### Expected Behaviour

Current page to be highlighted (as is on other themes)

### Steps to reproduce

1. Click "Next" or select a specific page at the bottom of Albums/All list

### Platform information

 - Navidrome version: v0.42.0
 - Browser and version: Microsoft Edge Version 90.0.818.46 (Official build) (64-bit) (Navid

[2021-04-28 07:32] Dnouv commented on #1031
@YashJipkate, how about having only the icon, in the toolbar, and as one hovers over the icon, the "Play now" or other button text will appear in the icon, something like the screenshot below
![image](https://user-images.githubusercontent.com/61188295/116364413-cce6d880-a821-11eb-90a2-73470ea6e4f2.png)

[2021-04-28 07:42] YashJipkate commented on #1031
The idea is nice but then the icons have to be accurately descriptive, like the profile icon or the camera icon in your ss (the previous one). One can guess its motive just by looking at them. But here if you see the 'Add to Playlist' and 'Play later' buttons, they look identical and might not be good UX. Even in players like Spotify or YT, they have full text. So unless there is some icon that ex

[2021-04-28 07:44] Dnouv commented on #1031
Yeah, the icons are not that much descriptive, ok then I will go ahead with adding margin in between icons; thanks for your feedback.

[2021-04-28 08:44] certuna commented on #1052
Yeah I'm a bit puzzled by this - is Navidrome louder than other websites?

[2021-04-28 08:56] metalheim opened #1067 "Make favourite/🖤 songs more accessible"
### Is your feature request related to a problem? Please describe.

I want to access my favorited/hearted (🖤) songs more accessible, similar to the way streaming services like Spotify, Deezer, and alike handle it.
Currently, to find my favorite songs, I have to go to "Songs", then "filter by 🖤" and "sort by 🖤" to see my latest songs.
The problem is: If I want to play all my favorite songs, I canno

[2021-04-28 09:03] certuna commented on #1049
The Subsonic API already supports DiscNumber (it's included in the `Child` ComplexType), it's up to the client to subdivide an album into discs. What could Navidrome do?

[2021-04-28 11:11] samarsault commented on #1066
Thank you for pointing this out.  Fixed in https://github.com/navidrome/navidrome/pull/1068

[2021-04-28 12:57] #1066 closed

[2021-04-28 16:41] certuna commented on #211
Put up an issue at the Sonic Extensions API project: https://gitlab.com/sonic-extensions-api/specification/-/issues/3

Is this dormant/dead?

[2021-04-28 16:49] deluan commented on #211
I think it is dormant.... not dead. From my side, I'd like to get to implement these changes in the DB first, I don't have much to add until I actually see what the implementation will require (I also don't have much free time to delve into that ATM)

[2021-04-29 02:36] #199 closed

[2021-04-29 03:37] deluan commented on #1063
@Dnouv can you please try changing the `theme-color` in the `manifest.json` file and see if it affects the notification bar color?

[2021-04-29 08:37] DowXor opened #1070 "Personal configuration in WebUi don't save"
Hello,

### Description

After modifying an item in the personal configuration, when I quit navidrome and come back, the configuration is always the default.

### Expected Behaviour

I would like my configuration to be saved for any users.

### Steps to reproduce

I use a private navigation for test this (I'm sure the cache doesn't save it)

1. Connect to Navidrome
2. Click on 'Personal'
3. Modify

[2021-04-29 08:52] Dnouv commented on #1063
I tried varying the color as suggested, but it did not affect the notification bar color. However, I tried something extra, just playing around with `index.html` (ui/public/index.html); by varying the color of `content` in the following line of code, the notification bar color was changed successfully.
`<meta name="theme-color" content="#ffffff">`
If there is anything else I need to do, please fee

[2021-04-29 13:45] metalheim commented on #1063
It seems to be different for Android/chrome (possibly all chromium-based renderers) and Apple/Webkit:

- Android takes the `meta` tag `theme-color` with `content ` attribute set to the color as @Dnouv stated
- Apple takes another `meta `tag called `apple-mobile-web-app-status-bar-style` and only allows three values for `content`
   * `default` (black text on white bg)
   * `black` (white text on b

[2021-04-29 13:46] deluan commented on #1070
Personal configuration is saved in the browser's `localStorage`. When using private navigation, the `localStorage` is deleted when you close it, hence you won't be able to save preferences in that window.

Can you reproduce the issue with a regular (not private) window in your browser?

[2021-04-29 13:53] certuna commented on #1063
Hah, I would've thought that's the kind of stuff PWA's would do in the `manifest.json` but it's still in `index.html`. Good for us I guess, that means the manifest doesn't need to be changed when the theme changes.

[2021-04-29 14:11] DowXor commented on #1070
Ah OK ! I thought it was save to the database. It's a shame, it could be useful when Navidrome is used between several different equipments.

Thanks for your answer.

[2021-04-29 14:25] deluan commented on #1070
In the future it may save some of the preferences in the server, but the reasoning for not doing this is that, you may want to have different options for different browsers. Ex: use different themes in the desktop and in mobile.

But some prefs are for the user (ex: language), so this may change in the future.

[2021-04-29 14:25] #1070 closed

[2021-04-29 18:30] balki commented on #1050
The idea is to view the tags before adding to navidrome to make sure everything is good.

[2021-05-01 06:28] blunderberg opened #1072 "Spotify-ish theme shows Navidrome logo with incorrect display ratio on login screen (not 1:1)"
### Description

The Navidrome logo (blue record) appears with incorrect display ratio (not 1:1) when using the Spotify-ish theme - image width is less than height as compared to other themes

### Steps to reproduce

Change the theme to Spotify-ish, log out, then navigate to /app/#/login

### Platform information

 - Navidrome version: v0.42.0
 - Browser and version: any
 - Operating System: any

[2021-05-01 12:47] deluan commented on #1072
Thanks for reporting. This was fixed in https://github.com/navidrome/navidrome/commit/0d409e37e2aa9a5b0d15db5bb8db795e2f8f4271 and will be in the next release.

[2021-05-01 12:47] #1072 closed

[2021-05-01 17:31] arg274 opened #1074 "Ignore files from Recycle Bin in Windows"
### Description

Navidrome seems to pick up files from the Recycle Bin in Windows since the folders are not blacklisted.

### Expected Behaviour

Ignore any file in Recycle Bin so that trashed files don't appear in ND.

### Steps to reproduce

1. Let ND scan for media files via any of the supported means.

### Platform information

 - Operating System: Windows 10 x86_64 binary

### Additional info

[2021-05-01 19:02] metalheim commented on #1074
Would it be feasible to add a file called ".ndignore" in the recycle bin folder?

[2021-05-01 20:59] arg274 commented on #1074
I don't think that should be the recommended approach. There might be some hacky solution that I'm not aware of but the Recycle Bin isn't really meant to be a place for users to create files in.

[2021-05-02 07:03] RitikPandey1 commented on #1067
Yes, separate page for favourite songs would be nice. I'm working on it, soon gonna open PR.

[2021-05-02 08:28] metalheim commented on #1074
Agree, Come to think about it, it's a bad idea, even if it worked, it could get easily deleted..

[2021-05-02 10:59] Uatschitchun commented on #1074
Why would one add a system's root as source?

[2021-05-02 14:12] ghost-of-cerberus commented on #141
Looks like Sohalt made decent progress on #590 for adding LDAP. PR looks like it's set but @deluan, you were going to take another look. Just wanted to see if there had been any progress on this as it's not on the roadmap and it appears many of the roadmap items have been completed or are close to completion.
Again, not rushing. Just curious as I am definitely interested in this feature. Thanks!

[2021-05-02 15:45] KingDuckZ opened #1075 "Is EnableTranscodingConfig not respected?"
### Description

This is my current config file:

[code]
but in the admin UI I keep getting the security message saying that ND_ENABLETRANSCODINGCONFIG is enabled. I honestly don't know how to verify if the environment variable is really set or not, but to the best of my knowledge it should be unset. I finally fixed this problem by adding `Environment=ND_ENABLETRANSCODINGCONFIG=false` to my system

[2021-05-02 18:57] Dnouv commented on #1063
So @certuna, will we change the `meta theme-color` for each theme or going for another solution.

[2021-05-02 19:34] deluan commented on #1075
This flag is already false by default. If it says it is enabled in the UI, you may have it configured somewhere. If you change loglevel to `debug` you should see what it is using, something like this when starting Navidrome:
[code]

These values can be loaded from the config file or env vars, this is result of merging both. Try removing the change in the systemd unit, changing the loglevel and che

[2021-05-02 22:25] TheFlatworm opened #1077 "Have Search Also Search For Songs in Playlists"
I know there may be work in revamping the search bar into a universal search across all categories - ALBUMS, ARTISTS, ALBUM ARTISTS, and SONGS.  If not too much trouble would it be possible to return results of matches in playlists, so that playlist names would be listed if a song in question is in that playlist?

[2021-05-03 03:09] deluan commented on #1077
Good call! Please add this as a comment in #468, so we can have all ideas and requirements concentrated in one place.

[2021-05-03 05:52] TheFlatworm commented on #468
In revamping the search bar into a universal search across all categories - ALBUMS, ARTISTS, ALBUM ARTISTS, and SONGS. It would be great to have search return results of matches in playlists, so that playlist names would be listed if a song in question is in that playlist

[2021-05-03 05:53] Dnouv commented on #242
@deluan, there is a rewrite ts version of zxcvbn; it was last published recently, around 2 months ago. here is the link,
[https://github.com/zxcvbn-ts/zxcvbn](url)

[2021-05-03 09:45] certuna commented on #1063
It appears that's the way to go, yeah. Sadly I'm not good enough with javascript to code that myself.

[2021-05-03 10:01] Dnouv commented on #1063
Ok, then I will give it a try.

[2021-05-03 12:31] #1077 closed

[2021-05-03 16:03] arg274 commented on #1074
Not sure where you're getting that from. Windows keeps recycle bin per partition/drive. It's not an anomaly for me (or anyone using Windows, as a matter of fact) to dedicate one drive to music and point ND towards the root of that drive, especially since ND doesn't support multi-libraries yet.

[2021-05-03 16:11] SteveDinn opened #1084 "Clicking "play next" on a track while tracks are playing starts the play queue over from track 1."
### Description
Clicking "Play Next" on a track from my library while there is music playing will correctly add the track to the next position in the play queue, but it will also reset the play queue to the beginning of track 1.

Further, if the play queue is paused, "Play Next" will reset to the beginning of Track 1 and start playing! If the play queue was paused, it should remain paused.

"Play

[2021-05-03 16:34] YashJipkate commented on #1084
Thanks for reporting this. This is actually a known issue with the Jinke player that Navidrome uses.

You can track #650 for updates on this.

[2021-05-03 16:37] SteveDinn commented on #1084
Yep, that is exactly my issue. I even searched and didn't find anything matching. I guess I need better keywords. I'll close this one then.

[2021-05-03 16:37] #1084 closed

[2021-05-03 18:08] andrewzah commented on #963
`DESCRIPTION` doesn't seem to have standard usage at all. About 8 albums out of my ~245 albums have it set. So I'm not sure if it's worth adding a field for that.

If it is added, perhaps it could be shown underneath `COMMENT`, if all tracks have the same value?

[code]

[2021-05-03 18:46] deluan commented on #963
If it is a nonstandard, not commonly used field, I rather not add support for it, as it is more code to maintain for such an edge case.

I'll close this for now, but feel free to reopen if you sill have any concerns.

[2021-05-03 18:46] #963 closed

[2021-05-03 23:04] deluan commented on #857
@certuna, `mjpeg` is how ffmpeg shows jpeg cover art in the output, this is not the cause of the issue.... I'm doing more investigation in TagLib  "chokes" and see if we can make it more resilient somehow.

[2021-05-04 07:29] Dnouv commented on #430
@antipiot, for item 2, please have a look at the attached screenshot. Do you want something like this,
After,
![image](https://user-images.githubusercontent.com/61188295/116972331-7ae9fb00-acd8-11eb-82fc-aa08bc4b54f9.png)

Before,
![image](https://user-images.githubusercontent.com/61188295/116972276-6ad21b80-acd8-11eb-98f8-7e502774e28c.png)

@deluan, should I go ahead with this arrow icon in place

[2021-05-04 07:54] antipiot commented on #430
This looks Great! That's it.
Actually i'm asking myself if it really makes sense to have a submenu for library: my point is that albmus are part of a library and thus should show inside "library" aswell  - or Hide the library submenu entry wich i found  is not that usefull.
Why not have something like this and consider "library" as the root of all menus:

Artists
Songs
Playlists

instead of

   Ar

[2021-05-04 09:29] KingDuckZ opened #1085 "Set scan time for new music"
### Is your feature request related to a problem? Please describe.
Is it possible to set a time for when a music scan should be complete? I'd like it to be done in the night, simply because I like finding the music I added the day before when I wake up in the morning. I have set `ScanInterval = "24h"` but I'm not sure at what time of the day the 24h timer will trigger

### Describe the solution yo

[2021-05-04 13:14] Dnouv commented on #430
Thanks for your feedback, @antipiot, about all items under the library. I understood your point; it was well explained by you. It would probably require a proper discussion and feedback from members, so maybe for your item 1, you will need to wait a little longer. I hope you may understand, but about the submenu dropdown icon, it is a small change so, it will be done promptly.

[2021-05-04 13:48] brianschrameck opened #1086 "BPM metadata enhancement"
Related to #1036. BPM should be added as a supported metadata field. This is an issue created in anticipation of a pull request.

[2021-05-04 15:08] certuna commented on #1086
Cool - as mentioned in the Discord chat, you might consider adding the metadata field for Key (id3: `TKEY` Vorbis: `INITIALKEY`) to this as well, since these are both similar track-level fields used by DJ's.

[2021-05-04 18:08] antipiot commented on #430
Thanks for your time @Dnouv  - im in no hurry and, indeed, it's only my though about the GUI improvements that i would appreciate.
the submenu dropdown Icon is already a great thing :-)

[2021-05-04 19:52] Dnouv commented on #430
Thanks for understanding and your kind words; We will definitely look into your suggestions. Till then, if you encounter any other issues, please feel free to create a GH issue.

[2021-05-04 20:03] #1038 closed

[2021-05-04 22:37] legobuild commented on #165
This is great @simojenki. I was able to set up your project this afternoon with no issues. Navidrome serving up to my Sonos Five now. Still need playlist support, but so far this works great.

[2021-05-05 00:04] KingDuckZ commented on #1049
It would be nice if the boxset displayed the cover art for the corresponding disc too, for albums that have a different cover for each disc!

Anyways I noticed the spinning disc in the play bar already displays the correct cover, so thank you for that :)

The grouping itself works fine with me in Strawberry (and also the cover art for each song seems to be the correct one).

[2021-05-05 03:21] deluan commented on #1085
Thanks for the suggestion. I think a better approach is to allow a [cron](https://en.wikipedia.org/wiki/Cron)-like configuration. I'll think about it.

[2021-05-05 09:27] KingDuckZ commented on #1085
Thanks @deluan, looking forward to it! :) In the meantime as a workaround yesterday I tried modifying navidrome.db manually with: `update property set value=1620097200000 where id='LastScan-/data/airsonic/audio';` and I expected the next scan would happen today at that time (so just 24h later), but unfortunately it didn't work. Today I found that timestamp got set to 1620121802099 which is only a

[2021-05-05 09:38] KingDuckZ commented on #1075
I tried that and... now it says it's set to false and the warning in the web UI is gone :/ I don't know what happened, I'm fairly sure I did change the setting and restart the daemon last time, but maybe I made some mistake somewhere! Anyways I think this can be closed. I'll bump this thread if I see the problem happening again!

[2021-05-05 14:43] deluan commented on #1085
Maybe you changed the DB while Navidrome was up and running? Anyway, with the latest release (0.42.1) you can disable the `ScanInterval` (set it to `0`) and add an entry to your crontab like this:
[code]

And it will trigger a scan every morning at 5am. (of course assuming you are using a Linux/Unix system)

[2021-05-05 15:19] KingDuckZ opened #1088 "Recently played and Most played menus don't get updated"
### Description

When playing something in an external player such as Ultrasonic or Strawberry, Navidrome seems oblivious to it and both the Recently played and Most played views don't get updated. This makes them pretty irrelevant as the information they show is out of sync with real usage.

### Expected Behaviour

I expect the Recently played and Most played views to get updated when playing mus

[2021-05-05 15:23] deluan commented on #1088
For Navidrome to register the plays in Subsonic clients, they need to have Scrobble on (even though Last.FM scrobbling is not available yet). Please see https://github.com/navidrome/navidrome/issues/593#issuecomment-715646271

[2021-05-05 15:35] deluan commented on #1088
Not sure about Strawberry, but Ultrasonic has a setting for this:
<img width="469" alt="Screen Shot 2021-05-05 at 11 33 59 AM" src="https://user-images.githubusercontent.com/331353/117168203-f198fe00-ad95-11eb-993a-a5c42e68689c.png">

[2021-05-05 15:36] timothysnave commented on #141
I also don't mean to rush, just wanted to voice my support for LDAP. I have a home setup like @helmut72 with a bunch of apps, and would love to have one user to rule them all.

[2021-05-05 15:55] metalheim opened #1089 "Playlist title in "Spotify-ish" Theme is cut off"
### Description

The playlist title in "Spotify-ish" Theme is cut off (with ... ellipsis) way too short. The title gets cut off after about 15 characters (?)

### Expected Behaviour

Use most of the size of the viewport

### Steps to reproduce

1. Navigate to a playlist with a title > 15 chars

### Additional information

there's plenty of space in the 4k viewport to display the full title 😄
![ima

[2021-05-06 01:35] #1086 closed

[2021-05-06 07:59] lbesnard opened #1091 "Last.fm API not getting correct Artist info"
### Description

With some Artists in my collection, the Last.fm API call seems to not retrieve the correct or any information at all, while almost others Artists seems to work as expected, i.e. returning a biography, top tracks, similar artists...

Both spotify and last.fm api are set up in Navidrome and running fine. Everything seems to work fine with DSub (top songs, similar artists and artist

[2021-05-06 10:49] certuna commented on #1049
In principle songs can have individual covers in the Subsonic API, but not sure how Navidrome handles this in the DB?

[2021-05-06 12:20] metalheim commented on #1091
Both artists work for me, **but**, I don't have an `artistID` tagged for those artists. It's seems navidrome is querying last.fm with an MBZ `artistID`?
Are there other artists, that have an `artistID` tagged, that work?

![Screenshot_20210506-141409](https://user-images.githubusercontent.com/44159957/117296547-7a3a9b80-ae75-11eb-9f47-d5920b61a7ea.png)
![Uploading Screenshot (06.05.2021 14_15_32).

[2021-05-06 12:33] lbesnard commented on #1091
I think you're right. I have this artist "Boris Brejcha" which doesn't seem to have an artistId field, and it's working as expected

[code]

[2021-05-06 12:39] KingDuckZ commented on #1085
Thanks, I'll try that as soon as 0.42.1 hits AUR.
I tried again with the database value hack, I can confirm navidrome was not running when I made my change. The edit was entered correctly (database's sha1 changed), but then navidrome immediately set it to the current timestamp as soon as I started it again. Not that it matters that much if your trick with cron works, but still I don't think the di

[2021-05-06 13:36] deluan commented on #1085
Yeah, the way that the periodic scan works today is: it do a scan at start-up, then it runs scans every ScanInterval past that. So changing the LastScan in the database will not work.

What you can do while waiting for 0.42.1 is to set ScanInterval to some humongous number, like `87600h` (10 years). The cronjob will work and you surely upgrade Navidrome before 10 years :)

[2021-05-06 13:52] #1075 closed

[2021-05-06 14:29] deluan commented on #1049
@certuna,  I agree it is up to the client to do The Right Thing ™️ , but some simply don't. In my use case, DSub correctly displays shows the tracks in order, but does not make a clear separation between discs:
![Screenshot_20210506-102533](https://user-images.githubusercontent.com/331353/117315269-87479280-ae55-11eb-9b04-2c7fc99cb86b.png)

My idea is to leverage the "browse by folder" API, which

[2021-05-06 15:46] KingDuckZ commented on #446
In 0.42.0 I'm still having the "too many open files" error spammed in my logs. If it helps to reproduce it, it seems to happen every time I press the update collection button in Strawberry.

[2021-05-06 15:52] deluan commented on #446
@KingDuckZ A chunk of the log (loglevel=debug) can help. You can send it directly to me if it contains too much sensitive data (deluan at navidrome org)

[2021-05-06 16:35] TheWrathKing opened #1093 "Feature Request: Add a configuration option or UI element to sort albums in artist detail page"
### Is your feature request related to a problem? Please describe.

When selecting an artist, the albums in the artist detail pages are always displayed oldest first thus having to navigate through, sometimes many, pages before being able to play the latest release of that artist.

### Describe the solution you'd like

Having a configuration option to choose the sort order of albums in artist deta

[2021-05-06 16:53] certuna commented on #1093
Will probably be part of the Artist page: https://github.com/navidrome/navidrome/issues/961

[2021-05-06 17:03] certuna commented on #1091
What happens if you retag the Artist field (remove artist, save tag, add artist again, save tag)?

[2021-05-06 21:57] #1085 closed

[2021-05-06 22:05] deluan commented on #1085
You can now specify the cron schedule in a new config option , `ScanSchedule`, which superceeds the (now deprecated) `ScanInterval`, examples:
[code]

For more options and syntax, see https://pkg.go.dev/github.com/robfig/cron#hdr-CRON_Expression_Format

This will be in next release (0.43.0)

[2021-05-06 22:33] #1089 closed

[2021-05-07 00:04] deluan commented on #1091
Hey @lbesnard , can you attach one song from each artist to this issue? I'll take a look at the tags and try to figure out what is going on.

Thanks

[2021-05-07 02:32] lbesnard commented on #1091
Hi @deluan , thanks, I just sent you an email! cheers

[2021-05-07 07:19] aniketbiswas21 commented on #652
@deluan UPDATE: My pr got merged :smile:

We will be able to proceed with this, once the new version releases.

I will make a separate pr as soon as the former release :)

[2021-05-07 07:23] Omnia89 opened #1099 "Incorrect subsonic API implementation (getBookmarks)"
### Description

Hi, I was testing the feature to save and restore bookmarks from an android client (ultrasonic), but the retrieving don't work, so I opened an issue in the ultrasonic repo, but they responded me that the cause seems to be an incorrect implementation of the json API: [ultrasonic-454](https://github.com/ultrasonic/ultrasonic/issues/454#issuecomment-834084884)

In short, the `entry`

[2021-05-07 07:34] metalheim commented on #1099
The xml response seems to be in the exact format that subsonic provides in their [API documentation](http://www.subsonic.org/pages/inc/api/examples/bookmarks_example_1.xml):

In my understanding, looking at the XML, Ultrasonic is correct. `bookmarks` should contain an array of `bookmark`, but a single `bookmark` only needs to have one entry.

[2021-05-07 07:35] NYCJames opened #1100 "openSUSE package request"
I am interested in a package/pre-built binary for openSUSE

[2021-05-07 14:01] deluan commented on #1099
Ops, my bad. Didn't have a JSON client when testing this, only XML ones. The fix will be in next release (end of this month)

If you want to give it a try and don't mind living in the edge, you can try the latest development build (should be available in the next 20 minutes)

[2021-05-07 15:19] deluan commented on #1099
Thanks @metalheim. Will close this now.

@Omnia89 feel free to reopen if you have any other concerns.

[2021-05-07 15:19] #1099 closed

[2021-05-07 16:50] deluan commented on #1100
Hey, thanks for giving Navidrome a try.

For the binaries, have you tried downloading one for you platform, from the [release page](https://github.com/navidrome/navidrome/releases/tag/v0.42.1)? Those binaries should work on any Linux distro, as they are statically linked and self contained.

In terms of packages, we don't provide packaging for any specific OS or platform, although some are [create

[2021-05-08 00:50] whorfin opened #1102 "JPEG coverArt which displays fine unresized, fails on server-side resize"
### Description
I saw a bunch of "No cover" blue records where I expected to see album art, both in
iSub and the native Navidrome web interface.
Inspecting the logs showed messages such as:
[code]
I tried swapping the `CoverArtPriority` to give precedence to local jpg, and also discovered this doesn't seem to resolve at runtime but required a _full_ rescan.  Then I saw:
[code]
As an aside, even wi

[2021-05-08 01:11] whorfin opened #1103 "Incomplete password redaction"
### Description
Thanks much for the Password redaction feature, this is a nice improvement for security.
Unfortunately it has a bug.
If a password contains spaces, only the first "word" is redacted, at least in the scenario below.

Here I'm using iSub on iOS, which very much likes to fetch lyrics all the time.
This causes the following log messages where the user was "user_name" and password was "

[2021-05-08 01:35] whorfin commented on #1103
At a guess, the issue is the definition of a password in `log/log.go` as a sequence of words; this allows escaped specials, such as space, to not match as eg the percent in `%20`  isn't a word character.
At the risk of attempting to be helpful, perhaps
[code]
instead of
[code]
But of course you Should Not Trust Me; the redaction string needs to be validated against valid input,, with particular ca

[2021-05-08 01:46] deluan commented on #1102
Yeah, Go image library is too finicky... The only current workaround is to open the images in a good editor and save them again. The solution is to try to extract images with `ffmpeg` when Go library fails. It's been in the todo for a while, but we didn't have an issue here in GH. Will keep this to track the work on that.

Yes, covers are resolved at scan time.

What do you mean by "trigger this a

[2021-05-08 01:47] deluan commented on #1103
Good catch. Please check if the latest fix the issue. If not, feel free to reopen the issue

[2021-05-08 02:23] deluan commented on #1102
What I mean is to extract the image from `ffmpeg`, using its options to resize the image, and send it directly to the ResponseWriter, without any further image processing in Go. This will be implemented in Navidrome, is not a workaround for the user.

I'll take a look at that

[2021-05-08 02:24] deluan commented on #1102
Nevermind `go-libjpeg`, it is a biding for a C library, and I think we have enough C dependencies already. I'll work on the `ffmpeg` image extraction whenever I can. In the meantime, you'll have to reencode the images, unfortunatelly.

[2021-05-08 02:39] whorfin commented on #1102
Agreed on the dependencies
Now I understand - and your `ffmpeg` solution would greatly improve my library, as I have Navidrome configured to prefer embedded covers if they exist.  In this particular case, the cover was embedded -- I only extracted it to a file to understand what was happening, and confirm that the problem happened with files and not just embedded artwork.

So I will await the `ffm

[2021-05-08 16:46] DocBrown101 commented on #245
Is there anything new yet?

The app Ultrasonic in the PlayStore already supports bookmarks. Unfortunately, this does not work with this server.

[2021-05-08 17:00] deluan commented on #245
@DocBrown101 This issue is still open only to track the Web UI part, but it is already implemented in the Subsonic API.

Re: not working in Ultrasonic, a bug in the JSON format was found this week (#1099) preventing Ultrasonic to work properly.

The fix is already in place in the development builds, and will be part of next release (0.43.0), at the end of the month

[2021-05-08 18:27] #652 closed

[2021-05-09 02:06] NYCJames commented on #1100
I have just tried, you are correct. I thought that there was a different package needed because Debian/ubuntu uses .deb

[2021-05-09 02:06] #1100 closed

[2021-05-10 00:14] lbesnard commented on #1091
Thanks for figuring this out. That's definitely annoying,
The best approach I imagine would be to get Last.fm to fix these entries. But this could take a long time, and this probably affects many more artists.

I never like patchy code, but maybe this could be a temporary approach? Having navidrome performing first a query with the mbid value, and if the results are none, try without?

[2021-05-10 00:21] deluan commented on #1091
Yeah, I though about doing this. But in the case of Marilyn Manson it returns a valid response, but "unknown" artist. I'd also have to extend the hack, to cater for this situation... and hope to not have any other weird situations!

I'll take a look at the (latest open source) Subsonic code, to see how it is done there.

[2021-05-10 08:56] simojenki commented on #165
@legobuild  playing of playlists has been added (to bonob), so try now.  Editing playlists will require some time as that is a different usage of the sonos smapi api.

[2021-05-10 13:15] legobuild commented on #165
I just updated and it works perfectly. Thanks!

[2021-05-10 19:30] Dnouv commented on #248
Ah, thanks a lot, looks like we have to wait for new release.

[2021-05-11 01:55] deluan commented on #165
Thanks @simojenki It works like a charm! By the way, are you in our Discord? I have some questions regarding the implementation. Ex: Is it possible to host bonob in a server outside your local network? In that case how bonob will register with the speaker?

[2021-05-11 08:01] simojenki commented on #165
Just joined discord.

[2021-05-11 10:33] sabamimi commented on #305
My programming skills a little bit rusty , but I will try .... (now retired with plenty of time)

[2021-05-12 00:11] #1063 closed

[2021-05-12 07:35] Dnouv commented on #248
Thanks a lot, @deluan; I will try to find another project using secure middleware.

[2021-05-12 12:40] certuna commented on #305
I know there's still quite a lot of older DLNA/UPnP hardware around, but I'm having some doubts how useful is it to put in the work to develop that if all current speakers/receivers either do ChromeCast, AirPlay or Bluetooth?

[2021-05-12 12:47] certuna commented on #165
Ah no Opus then.

[2021-05-12 13:11] simojenki commented on #165
You would need to transcode into something else

[2021-05-12 13:19] Dnouv commented on #248
@deluan, I tried implementing the CSP, but there are inline scripts that will probably require a hash or nonce for proper integration with CSP, which require other packages to be included, as you mentioned [here](https://github.com/navidrome/navidrome/pull/545#issuecomment-703620615). Here is the screenshot of inline scripts currently in use, thoughts?
![image](https://user-images.githubuserconten

[2021-05-12 13:24] deluan commented on #248
I think we should not implement CSP in Navidrome. IMHO, it is already safe enough, and a good practice is to put it behind a reverse proxy, which can handle this and other security improvements (ex: SSL).

@jvoisin Thoughts?

[2021-05-12 15:01] jvoisin commented on #248
I think that the way to go is to wait on react to implement [Trusted-type]( https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/trusted-types ) support, and let them deal with the CSP-compatibility, because I'm __sure__ that we really don't want to start monkey-patching things there.

[2021-05-12 15:08] deluan commented on #248
Are they (React) already working on it? Do they have an open issue to track it? Should we keep this open to track the progress, or should we close this one and open another when they implement it?

[2021-05-12 16:14] Dnouv commented on #248
There was once an issue regarding this [https://github.com/facebook/create-react-app/issues/5288](url); they mentioned setting `INLINE_RUNTIME_CHUNK=false`, in `.env` to opt-out of the inline script. Although I did not quite understand how to implement this and what was `.env`

[2021-05-12 21:34] deluan commented on #248
@Dnouv [.env](https://www.npmjs.com/package/dotenv) is a way to configure your Node/JS app with environment variables.

What they are saying is that to remove inline scripts you just have to set `INLINE_RUNTIME_CHUNK=false` before calling `npm run build`.  Then the generated index.html will transform the `<script>` tag into a `<script src="">` one, making it easier to implement CSP.

Either way, a

[2021-05-13 05:33] Dnouv commented on #248
Thanks a lot, @deluan; I really appreciate it. For CSP implementation, it looks like we need to wait.

[2021-05-13 12:26] metalheim commented on #305
The Amazon firetv devices only do dlna/upnp :(

[2021-05-13 13:04] sabamimi commented on #305
I did solve this by using a upnp/dlna package using the same media shared
folder.
In my case Navidrome is running in a docket in Open Media Vault and it has
a plugin for UPnP/DLNA
So that is my work around
In case it helps
Kind regards

Le jeu. 13 mai 2021 à 14:26, Stephan Wahlen ***@***.***> a
écrit :

[2021-05-13 17:52] aldrinjenson opened #1118 "Warning: React does not recognize the prop in AlbumListActions"
### Description
For Extra-Small screens, 2 console warning appears saying that React does not recognize the props 'disableElevation' and 'fullWidth'
[code]

### Steps to reproduce

1. Open albums
2. Resize the window to XSmall size
3. See warning in the console

### Platform information

 - Navidrome version: latest master
 - Browser and version: Firefox latest

### Additional information
 - Scree

[2021-05-13 18:00] metalheim commented on #305
@sabamimi thanks, I also have an instance of `minidlna` running in parallel to navidrome. It works, but isn't very elegant (Metadata scanning, storing and interpretation is done twice, favorites and playlists aren't available)
Also, navidrome handles metadata much better than most other software.

I see there's many different workarounds (dsub->dlna casting, parallel dlna server) so this isn't a p

[2021-05-15 20:29] ghost opened #1119 "Add INDEX to artists and ALL ALBUMS"
Would something like this be possible to ease browsing of ARTISTS and ALBUMS without using a search.

Add index to artists:

![Artist index](https://user-images.githubusercontent.com/5423879/118377325-7992bb00-b581-11eb-84f8-cb5db5b0701b.jpg)

And for all albums, if the index is added it may make more sense to move the ALL ALBUM page under the library: section

![All Album Index](https://user-imag

[2021-05-15 21:41] SteveDinn commented on #1119
Agreed, this would be awesome. The "All Albums" view isn't really useful one you have dozens of pages of albums; you have to search anyway. This index would be super useful.

[2021-05-16 10:50] Dnouv commented on #1119
@TheFlatworm, thanks for your suggestion; actually, it is planned to re-design the Album UI in the upcoming months as a project under the GSoC by the selected student; if I recall correctly, this alphabetical index feature was discussed to be implemented, so you might see this feature in the future updates.
If there any more suggestions or feedback, please feel free to comment. Thank you!