[2021-05-17 06:13] Dnouv commented on #961
@Rishabh-malhotraa, are you still working on this issue?

[2021-05-17 06:21] Rishabh-malhotraa commented on #961
No you can go ahead with this, I got COVID last month and then I lost track.

[2021-05-17 06:27] Dnouv commented on #961
Ok, thanks for your prompt reply, hope you get to feeling better soon.

[2021-05-17 09:43] certuna commented on #1119
Plex, Emby etc all have the A-Z index vertically on the right, I think that works well.

Mind you, this isn't totally trivial, as the contents of the index would have to be dependent on the sorting method selected, for example:

- Sort by album title: A-Z bar
- Sort by album artist: A-Z bar
- Sort by album year: 1920-2021 bar
- Sort by album rating: 1-5 ratings bar
- Sort by date added: "Nov 2005"

[2021-05-18 01:04] whorfin commented on #1102
I made a very nasty hack to my local "image/jpeg/reader.go" code, which seems to enable perfectly acceptable decoding of all of my cover art in some tests.
I now have various client and user configurations in my navidrome database, but per the above description, my coverart remains broken in the database despite fast or Full rescans
I'd rather not delete the database if it can be avoided --- is th

[2021-05-19 14:33] Dnouv commented on #323
@deluan, if it is still available, I would like to work on this project as my first open-source project, not as a part of GSoC. In return, I hope to get the required guidance. Thanks!

[2021-05-20 15:03] certuna commented on #961
Ideas for what the Artist Detail page can contain:

Artist details section:
- artist image
- buttons for love/unlove, play, shuffle, "artist radio"
- biography
- clickable links to artist on MusicBrainz & last.fm websites
- X albums, Y songs (from API, `albumCount` and `songCount`)
- artist genres: not possible yet, needs backend work, data is in the database but not in `/artist` API yet
- min_yea

[2021-05-20 15:10] certuna commented on #961
Here's some examples of Emby, Plex and Spotify for reference:

![Emby](https://user-images.githubusercontent.com/62144283/119003709-3b850500-b98e-11eb-82e5-cc713069776f.jpg)
![Plex](https://user-images.githubusercontent.com/62144283/119003713-3d4ec880-b98e-11eb-95dd-453bbfb72a4e.jpg)
![Spotify1](https://user-images.githubusercontent.com/62144283/119003719-3e7ff580-b98e-11eb-85f2-36f966999628.jpg)

[2021-05-21 02:51] AQUOSTICS opened #1125 "random album covers missing"
### Description

All my album covers are working properly until I restart my server. Suddenly I am missing a lot of the album covers. But when I play the song, those covers can be displayed on the disc. Also it works when I click on the album cover to see the bigger image.

I tried cleared my cache by deleting data/cache couple times, but each time i do it some covers shows up and some don't. It's

[2021-05-21 03:50] tedder commented on #242
Deluan:

I'd love to put oauth2-proxy in front of it. I use it for other things on my network, and it's a nearly "free" integration if navidrome could map the users.

Dnouv:

The link is wrapped in a strange way (the href doesn't match the text). Putting it here to reduce confusion.

[2021-05-21 04:16] AQUOSTICS commented on #1125
So I found out that deleting(in my case i just renamed them) all the .db files fix the issue, but i have to clear all my accounts info and playlist info :/

[2021-05-21 04:31] #1125 closed

[2021-05-21 04:54] sans2801 commented on #1118
Hello @aldrinjenson, I would like to know whether this issue is open.

[2021-05-21 08:24] kaosnews commented on #165
Wait... are we getting Sonos support? Oh wow!

[2021-05-21 15:40] KingDuckZ commented on #446
Sorry for the delay @deluan, I emailed you the logs. On a closer look at the cover cache in the Strawberry directory, I see it's 2.2 GiB and growing (update is still at 37%). It's clear there are a lot of duplicate covers in there, for example there are the first few lines printed by `find . -type f -exec sha1sum {} \; | sort | less`:

[code]

So I don't know if it's a bug with Strawberry or with

[2021-05-22 19:58] aldrinjenson commented on #1118
Yeah, the warning still shows up in the latest master when you use extra-small screen size for albums

[2021-05-23 03:16] sans2801 commented on #1118
Ohk

Ohk thanks, I'll look into it

[2021-05-23 15:08] Dnouv commented on #242
I just opened my previous comment link sorry, it is not working as expected, and thanks a lot, @tedder, for providing the correct link.

[2021-05-23 15:10] Dnouv commented on #961
Sorry for the late reply, @certuna, and thanks for providing the screenshots of so many different projects. I truly appreciate it.

[2021-05-24 16:06] deluan commented on #1052
Hey @xnaas maybe the issue you are experiencing is related to this? https://github.com/lijinke666/react-music-player/issues/379

[2021-05-24 18:41] xnaas commented on #1052
@deluan: maybe, maybe not? I'm not sure if it's quite the same issue or not. I don't know if that change would resolve full logouts as well as just closing the player.

[2021-05-25 22:20] jaum20 commented on #728
I added ND_SCANNER_EXTRACTOR: ffmpeg to my docker-compose.yml and forced a reescan, but the problem persists

[2021-05-26 01:24] deluan commented on #728
Hey @jaum20, can you attach one of your files here? Also, can you send me (in private) the full log from a fresh install? Send it to deluan @ navidrome . org

[2021-05-26 23:56] infinitejones opened #1137 "Metadata scanning for certain files"
This looks similar to this issue: https://github.com/navidrome/navidrome/issues/728
... but the key difference is that the files can be played by Navidrome.

### Description

Errors along these lines for individual tracks when running a full re-scan - regardless of using taglib or ffmpeg

`2021-05-26T05:19:29.235223000Z time="2021-05-26T05:19:29Z" level=warning msg="Error reading metadata from fil

[2021-05-27 00:05] deluan commented on #1137
Please attach the sample files. TagLib has issues with some tags, which explain the issue when using the default `taglib` Scanner. Extractor.

Is this after changing the extractor to `ffmpeg`?

[2021-05-27 00:10] infinitejones commented on #1137
Yes, this is after changing to the ffmpeg extractor. I'm running this in Docker via docker-compose so I added       `ND_SCANNER_EXTRACTOR: ffmpeg` under `environment:` and did `docker-compose down; docker-compose up`.

I seem to be having problems attaching a Zip with the two files and their ffprobe outputs. It's a 51.3MB zip file. Is there another way I can get it to you?

[2021-05-27 00:11] deluan commented on #1137
Send it to me by email? deluan @ navidrome dot org

[2021-05-27 00:12] infinitejones commented on #1137
Here's a Google Drive link:

https://drive.google.com/file/d/1krWx-nVOL8JboIOF3bFsUrqtIvhhjuLR/view?usp=sharing

[2021-05-27 02:14] jaum20 commented on #728
I need to do further investigations but I think the problem was due to the fact I was using a fuse-mounted volume as /music folder and maybe `taglib` runiing inside the container couldn't properly read the files.

[2021-05-27 13:59] deluan commented on #1137
Weird, I was able to import the two songs in my environment, with both `ffmpeg` and `taglib` extractors. This is the result of using `taglib`:
<img width="749" alt="Screen Shot 2021-05-27 at 9 52 15 AM" src="https://user-images.githubusercontent.com/331353/119838711-9f00bc80-bed1-11eb-89f4-118eecef985e.png">

Maybe it is something in your setup? Are the files accessed from a network share or are t

[2021-05-27 19:18] deluan commented on #1091
Update: Based on what I could get from reading Subsonic's code, it is only using name, and never uses mbid. I think it is important to use mbid if it is available, so I'll go ahead and implement the workaround we discussed above

[2021-05-27 22:51] infinitejones commented on #1137
Thanks. The files are on a 6TB btrfs volume connected directly via USB to the Raspberry Pi that Navidrome runs on (in a Docker container).

I'm going to try re-ripping the files and re-tagging with MusicBrainz - I'll advise whether that makes a difference.

[2021-05-27 22:56] deluan commented on #1091
Hey @lbesnard , I implemented the workaround we discussed. Can you try the docker image `deluan/navidrome:pr-1138` and let me know if it fixes your issues?

[2021-05-28 00:49] lbesnard commented on #1091
@deluan , Thanks a lot. It works perfectly! The results for biography, last fm top tracks, similar artists all work as expected :) . make my day

[2021-05-28 00:53] #1091 closed

[2021-05-28 10:14] infinitejones commented on #1137
I've deleted some of the failing files from the disk and re-added them, and that seems to have done the trick, after a full re-scan in Navidrome.

Thanks for the help, sorry for the false alarm!

[2021-05-28 10:14] #1137 closed

[2021-05-28 17:57] JayKaku commented on #1074
Apologies for being out of context but could you tell me how exactly did you setup navidrome for windows

[2021-05-28 18:39] deluan commented on #1074
@JayKaku , it is better to ask this in our Discord channel. Also check the docs for setting up the environment: https://www.navidrome.org/docs/developers/dev-environment/

[2021-05-29 14:57] acroyear opened #1139 "Improve the handling for coverArt endpoint missing the id property"
### description

Several endpoints do not return coverArt as expected (playlist and artist). SubFire expects it, so it ended up generating the coverArt URL without the id= property.

In Subsonic, if the id= is missing, subsonic returns the generic musical-note icon, the same one it returns if you ask for coverArt and the id= doesn't match anything in the database.

Navidrome (like Ampache) returns

[2021-05-29 15:38] #1139 closed

[2021-05-29 15:39] deluan commented on #1139
As we discussed in Discord, there are still situations where `getCoverArt` returns a JSON/XML response:
- User/Password missing or invalid
- `id` is invalid (ex: "abc")

Anyway, Navidrome now returns the placeholder blue record when the id is missing

[2021-05-29 17:41] acroyear opened #1140 "Playlist update via API does not update the comment field"
### Description
SubFire sent an update to

demo.navidrome.org/rest/updatePlaylist.view?playlistId=c21c936f-cbec-4c74-bef7-20e322b4608f&comment=go+away&public=false&name=zz-sbr-local3k&v=1.16.1&f=json&c=SubFireLibDemoIncomplete <&credentials>

and the comment was not updated. When fetched back, the comment was initially empty, and later the comment was the comment that was updated in the Demo's UI

[2021-05-29 21:02] deluan commented on #1140
Ops, not only the `comment`, but also the `public` param is being ignored! Will fix this ASAP

[2021-05-29 21:18] #1140 closed

[2021-05-31 14:44] c0dev0id opened #1147 "Navidrome connects to google"
### Description

I noticed that navidrome is asking my browser to connect to `https://storage.googleapis.com/workbox-cdn/releases/6.1.2/workbox-sw.js`. It is the only remote resource that's fetched.

I blocked `storage.googleapis.com` in ublock and found that navidrome is still working as expected. So my question would be:

* Is workbox needed at all or can it be removed?
* If it's needed, would i

[2021-05-31 14:54] deluan commented on #1147
This is the default implementation from Create-React-App, and it is used for the PWA functionality. AFAIK, it can potentially be replaced by a npm dependency, @certuna was looking into that a while ago, but PRs are always welcome :)

[2021-05-31 15:16] certuna commented on #1147
Yeah it's one of the loose ends of the PWA serviceworker implementation, see also https://github.com/navidrome/navidrome/pull/952 . It's been like this ever since we started using the CRA service worker and had PWA support. It definitely would be possible to include the Workbox libraries in Navidrome instead of loading them in remotely, and I'm sure it's super easy for someone with better knowledg

[2021-05-31 15:30] deluan commented on #1147
I was reading the workbox implementation, and it would be pretty straightforward to just host the `workbox-sw.js` in Navidrome itself. The issue with this is that we could end-up with a stale version, and for this reason, I don't think we should do this.

Ideally we would use one of the Workbox's Node modules, but this is a more complex solution, and unfortunately I don't have time to implement th

[2021-05-31 20:05] cannibal3004 commented on #740
I know this is closed, but i came across this looking for a solution to get logs and thought I would share what I've come up with, in case someone else find this.

If you are using unraid, I found an easy way to get logs from navidrome. This should work with docker run as well if you're not using unraid but you'll need to figure out the syntax.

Tee doesn't seem to work in the docker image, not su

[2021-05-31 21:55] deluan commented on #119
While doing some work towards multi-valued tags, I just found out that the newest version of `ffmpeg` supports multi-valued tags (at least `genre`):

From TagLib:
[code]

From ffmpeg:
[code]

Not great (we will have to split the string - what if `;` is a valid value for the field), but it is better than nothing!

[2021-05-31 21:58] deluan commented on #740
Why not configure the container to redirect the logs to syslog, using docker's `--log-driver syslog` option?

See https://docs.docker.com/config/containers/logging/configure/#supported-logging-drivers

[2021-06-01 06:49] certuna commented on #1147
We have the same issue with loading it from the CDN - the URL has a version number in it (`/releases/6.1.2/workbox-sw.js`) so it can become stale anyway.

[2021-06-01 07:30] certuna commented on #119
I think it's safe for us to assume that `;` is not a valid value for the field, so many other music applications also treat `;` as a separator, even if it's non-standard.

[2021-06-01 19:11] whorfin opened #1149 "Problem streaming legacy FLAC files with IDv3 tags in Firefox"
This is more to document some observed bad interaction between Firefox, legacy FLAC and various web players.  It seems to be not just navidrome, nor even just the webplayer navidrome embeds.  Navidrome could work around this by re-muxing the track (eg `ffmpeg -i busted.flac -vn -acodec copy -f flac -`), but something seems broken here in the firefox/webplayer ecosystem?  Firefox plays the media fi

[2021-06-02 00:19] deluan commented on #1147
Yeah, you are right, not a great way to handle it, but it is not worse than it is already. I did some tests and embedding workbox in Navidrome will increase the binary in 1.6MB.

@jvoisin Any comments?

[2021-06-02 00:25] deluan commented on #119
I was referring to any fields, not only `genre`. I think `;` would work for `genre` grouping` and maybe others, but not for `artist` (ex: [Kairon; IRSE!](https://en.wikipedia.org/wiki/Kairon;_IRSE!)

Anyway, I decide to implement `genre` before `grouping`, and will accept `;` and `/` as separators. Maybe will make it configurable.

[2021-06-02 11:22] jvoisin commented on #1147
Do we really need 1.6MB of javascript for PWA support?
Otherwise, just download it when needed. Worse case, this can likely be put behind a knob for people who don't want to have their navidrome instance contacting Google.

[2021-06-02 13:54] certuna commented on #119
`/` as separator is problematic with a *lot* more artist names than `;`.

Emby has the same problem, it splits by `/` (not just for id3v2.3 where that's the official separator but also for id3v2.4) so it needs a whitelist, and that's a rabbit hole you really don't want to go down.

[2021-06-02 14:00] certuna commented on #1147
We're not using all Workbox modules, we can probably eliminate. Only `-core`, `-strategies`, `-routing` and `-preload` are used.

[2021-06-02 14:08] deluan commented on #119
For genre and grouping only. For artist, I'm not planning on any separator. Maybe `;` but that's out of the scope for now, let's focus on `genre`

Do you think `/` would be problematic for `genre`? Seems to be a common practice...

[2021-06-02 14:16] certuna commented on #119
`/` is fine for genre yes. Looking through all the hundreds of genres on RYM, haven't found any with that.

[2021-06-02 23:56] bjhiltbrand commented on #305
As someone looking to migrate from Airsonic, the biggest thing holding me back from moving to Navidrome is the lack of DLNA support. I use DLNA to stream to my A/V Receiver fairly regularly, and this would be a great feature to bring in to Navidrome.

[2021-06-05 10:34] letompouce commented on #695
Using `docker-compose` with this configuration:
[code]

The problem here is, when bringin the stack up, the `volumes` are created by the docker daemon, *before* the container is started using `id=1000`. As a result, the `data` volume is owned by `root`:

[code]
The fix is obvious then:
[code]
HTH.

[2021-06-05 10:58] letompouce opened #1153 "Add tzdata to the Docker container in order to configure the timezone"
### Description

The container lacks of the `tzdata` package. As a result, the container can not use anything else than UTC.

### Solution

[code]

### Alternatives

Move to Greenwich.

Or, build a custom image:
[code]
Build it, then use it in your `docker-compose` file, in which you also mount your host's localtime file:
[code]

### Additional context

https://wiki.alpinelinux.org/wiki/Setting_th

[2021-06-05 20:32] certuna commented on #646
I guess we get new environment variables `ND_V4ADDRESS` and `ND_V6ADDRESS`

For IPv6 I suggest the following binding values:
- empty (defaults to all IPv6 addresses, aka `::`)
- "stable" (binds to all IPv6 addresses except temporary)
- "local" (binds to only ULA and link-local addresses)
- one address or a list of multiple (and also allow subnets so ND binds to all addresses from the subnet)
For I

[2021-06-05 20:34] FabianPiconeDev opened #1154 "Mobile GUI freezes when changing list view"
Noticed on deluan/navidrome:latest image with Android Chrome and Android Firefox.
Reproducible also on current online demo with Windows Chrome on mobile mode.

![Animation](https://user-images.githubusercontent.com/4472725/120904738-02b38400-c64e-11eb-8aa7-97e1f48b4eb9.gif)

**EDIT**
Exact version of Navidrome was 0.43.0 .

[2021-06-05 21:20] FabianPiconeDev opened #1155 "Filter by genre"
When I click on the menu icon, I would like to have a link under Category "Library", named "Genres".
When I would click on the link "Genres", there should be rendered tiles of scanned genres, similar when clicking on "Albums" -> "All".
By clicking on a genre, all files of that genre should be playable, similar as I would click on an album.

![Capture](https://user-images.githubusercontent.com/4472

[2021-06-05 23:17] deluan commented on #1154
Yeah, this is a know bug, and was already fixed, to be released in the next version. You can try the develop build if you want: `deluan/navidrome:develop`

[2021-06-05 23:19] deluan commented on #1153
Hey, thanks for reporting this. Based on the link you provided, you don't actually need to install `tzdata`, just need to mount your `localtime` as you specified in the docker-compose example. Can you please confirm this?

[2021-06-06 10:55] letompouce commented on #1153
Hmm, it turns out you are right, things changed over time in Alpine:
[code]
I guess I have a few images to shave `tzdata` off!

Sorry for the noise!

[2021-06-06 10:55] #1153 closed

[2021-06-06 12:17] metalheim commented on #1155
I think there is already an Issue for that feature you're describing at #1092

The basis for this feature was just done a few days ago, so it'll take some time to build the API endpoints and UI parts.

[2021-06-06 14:45] whi4 opened #1157 "Installing from Docker"
Hi,
I am trying to install the docker using this:
"
 docker run -d \
   --name navidrome \
   --restart=unless-stopped \
   --user $(id -u):$(id -g) \
   -v /srv/shares/music:/music \
   -v /srv/shares/navidrone-data:/data \
   -p 4533:4533 \
   -e ND_LOGLEVEL=info \
   deluan/navidrome:latest
"

I get this error message (many times):
"_   _             _     _
| \ | |           (_)   | |
|  \| |

[2021-06-06 15:28] tpbnick opened #1158 "Nord Theme"
### Is your feature request related to a problem? Please describe.
Creating a Nord theme based on the [Nord color palette](https://www.nordtheme.com/).

### Describe the solution you'd like

Create a new Nord theme.

### Additional context

Also style the music player, beyond the 'dark' and 'light' options.

[2021-06-06 15:55] jvoisin commented on #1158
Feel free to open a pull-request, creating a theme is [pretty easy]( https://www.navidrome.org/docs/developers/creating-themes/ ).

[2021-06-06 16:09] metalheim commented on #1157
Maybe a typo in mounting your `data` volume?

`-v /srv/shares/navidrone-data:/data`
sounds like you meant
-v /srv/shares/navidro**m**e-data:/data

 If that does not exist, navidrome can't create the database.

[2021-06-07 08:50] talkingseedling opened #1164 "Scanning loop"
### Description

Error while scanning folders for new music. Navidrome looped indefinitely over the same folder, causing high CPU usage and strerr log generation until manual Navidrome restart.

### Expected Behaviour

Successful scan of a music folder, or error then move on.

### Steps to reproduce

Problem started with the automated scheduled scan.
A restart corrected the problem, not reproducib

[2021-06-07 09:40] whi4 commented on #1157
Hi,
Thanks for your very rapid reply.  I did check that the navidrome-data directory was created by docker, so I thought there might be something wrong with the setup file.

I tried retyping the docker compose command, as you suggested, but had no luck.

I found this link: https://www.reddit.com/r/navidrome/comments/ivfknd/dockercompose/ , which identified that the user line caused the problem.

I

[2021-06-07 09:50] kescherCode commented on #1149
FLAC is not supposed to have IDv3 tags. Therefore, it's correctly strict behaviour by clients to reject such files, and incorrectly permissive by clients to accept such files.

[2021-06-07 14:03] deluan commented on #1157
Maybe your issue is related to this?

https://github.com/navidrome/navidrome/issues/695#issuecomment-855219513

[2021-06-07 19:20] whorfin commented on #1149
Every web browser plays these files correctly when directly streamed.

Navidrome correctly reads the tags, the issue is on playback.  And as you can see above, the fault ultimately seems not to be navidrome's, but rather some subtle interaction of the javascript player and media typing on Firefox, where the media is incorrectly interpreted as MPEG but only when using non-native player.

Your comme

[2021-06-07 19:53] deluan commented on #1149
IMHO, folks that have these type of files should re-tag to avoid this kind of issue. If they prefer not to do it, the second best option is to "transcode" the files to FLAC (or any other format), removing the tags, as you proposed in the description.

As this is a generalized issue, affecting a lot of different players, I don't think this should be kept open, as there won't be any "solution" for t

[2021-06-07 19:58] whorfin commented on #1149
That's a totally fair point.
I'll close this out, as the issue really is upstream.

[2021-06-07 19:58] #1149 closed

[2021-06-08 02:22] deluan commented on #1164
Very weird! I never saw this, and cannot think of a way for this to be triggered in the current scanner code.... Unfortunatelly without a way to reproduce this, it will be impossible to figure this out... Is there any other message between these "Skipping DirEntry" messages?

[2021-06-08 08:59] talkingseedling commented on #1164
Hey, no, all the log messages were identical, with what looks like 4 messages every 0.001 seconds

![image](https://user-images.githubusercontent.com/77553230/121154790-97a2c100-c88a-11eb-9a96-f91fdaa50848.png)

My volume source data is mounted from a SAMBA share. Could this bug be triggered if the file share hiccuped during a scan?

![image](https://user-images.githubusercontent.com/77553230/1211

[2021-06-10 01:03] #1025 closed

[2021-06-12 15:44] ryanmurray opened #1170 "Top Hits"
Love navidrome coming from airsonic which was clunky. The only feature i miss is top hits.

[2021-06-12 16:13] deluan commented on #1170
This is already available in Subsonic API, and you can see it if you use a client that supports it (DSub, Substreamer, probably play:Sub)

But I'm assuming you want the feature in the Web UI, and this will be possible once we get the new Artist Detail page (#961) in place

[2021-06-12 17:32] ryanmurray commented on #1170
Unfortunately after scanning my entire library In last FM data such as top
songs or biography isn't working on any artists. I am running in a docker
container so maybe I'm missing something

On Sat, Jun 12, 2021, 9:14 AM Deluan Quintão ***@***.***>
wrote:

[2021-06-13 14:00] kalegood opened #1172 "Transcoding options on download"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. For e.g. I'm always frustrated when '...'

### Describe the solution you'd like

A clear and concise description of what you would like to happen.

### Describe alternative solutions that would also satisfy this problem

A clear and concise description of any alternative solu

[2021-06-13 14:00] kalegood commented on #1172
The ability to transcode for downloads would be great.

[2021-06-14 03:27] deluan commented on #1170
Did you configure Last.FM integration? Current version requires manual setup: https://www.navidrome.org/docs/usage/external_integrations/#lastfm

What Subsonic client are you using?

[2021-06-14 03:33] deluan commented on #1164
Maybe....  But I checked the code and it does not make sense.... Well, as we can't reproduce it, I'll close this for now, but please let me know if you have any other related issue. Thanks!

[2021-06-14 11:42] quotengrote opened #1179 "Navidrome Docker-Container creates large resolv.conf"
### Description

After a few Days(>10) the Navidrome docker-Container creates large(>50Gb) resolv.conf.

### Expected Behaviour

...

### Platform information

 - Navidrome version: 0.43.0 (d9f26826)
 - Browser and version: Vivaldi | 4.0.2312.25 (Stable channel) (64-Bit)

### Docker-Compose
[code]

### Additional information

![2021-06-14 13_38_33-Greenshot](https://user-images.githubusercontent.c

[2021-06-14 11:48] quotengrote commented on #1179
After stopping and restarting the container the space is now free.

[2021-06-14 12:32] ryanmurray commented on #1170
dsub. I added the enviroment variables to my docker and all is working. Sorry did not see API key was required.

[2021-06-14 12:32] #1170 closed

[2021-06-14 21:14] bjhiltbrand opened #1181 "Ability to change playlist scan functionality to only scan a specific mount"
Currently, playlists are automatically scanned and imported if they are found anywhere under the /music directory. If there are playlists that one doesn't necessarily want imported from that directory, they have no control over whether or not those specific playlists get picked up and imported.

I would propose that a check be made at startup to see if a /playlists directory has been mounted. If s

[2021-06-15 10:13] talkingseedling commented on #1164
Hey, sorry for posting on a closed topic, seems it wasn't a one off. It's triggered again.

![image](https://user-images.githubusercontent.com/77553230/122035428-cd5d2200-ce15-11eb-9621-e288eb0ff029.png)

Different folder it got stuck on this time, but like last time all of the logs are it scanning the exact same folder non-stop.

![image](https://user-images.githubusercontent.com/77553230/1220357

[2021-06-16 23:23] zoidy opened #1185 "Ability to disable album image spinning"
### Is your feature request related to a problem? Please describe.

I'd like to be able to disable the spinning image of the album cover as it causes unnecessary CPU usage. With rotation the browser process uses about 7-12%. When I edit the DOM to remove the img-rotate class, CPU usage immediately goes to about 2%. When you're running a lot of other browser tabs and applications, it's noticeable a

[2021-06-17 06:46] Tuphal commented on #192
Hi, this feature will be really nice to have.
For example my wife has a different music folder, than me. Therefore 2 seperate libraries would be best.
I would financially support a bounty.

[2021-06-17 11:15] KucharczykL opened #1186 "Large album completely freezes the app in the browser"
### Description

I have a (custom) album that consists of roughly 300 songs and when I open it in Navidrome, after a moment the UI freezes and the only solution is closing the tab or even a browser.

### Expected Behaviour

Opening an album with large amount of songs doesn't freeze the UI.

### Steps to reproduce

1. Open an album with a lot of songs (I have 272).
2. Wait or scroll around.
3. UI s

[2021-06-17 21:56] deluan commented on #202
Next version (0.44.0) will provide two features to address this issue:
#1152 - Reverse Proxy Authentication , allowing the use of SSO/OIDC solutions like Vouch or Authelia, or plugins for your current reverse proxy
#1187 - Passwords will be encrypted in the DB (but not hashed!) to keep compatibility with Subsonic API

After the release, I'll close this issue. Multiple authentication backends may b

[2021-06-19 13:01] henniaufmrenni opened #1189 "feat(UI): add SSO via auth redirects"
### Is your feature request related to a problem? Please describe.

When enabling http-header authentication, for example in conjunction with Authelia, you need to set Authelia to bypass authentication for that URL otherwise you loose the ability to use the Subsonic API. If you're opening Navidrome in a new Browser and want to use SSO with http-header authentication you would need to first to visi

[2021-06-19 14:41] deluan commented on #1189
Thanks for the ideas. Let's go over it one by one:

I don't use Authelia, but I have a "poor man's" SSO with Caddy and in my case I just put the Subsonic API url in a white-list, so it is not required to be authenticated. All Subsonic API endpoints are under `/rest`. Wouldn't this work for you?

Don't show "logout" when authenticated by Header the user could specify a URL for single-sign-out.
Stic

[2021-06-19 19:40] henniaufmrenni commented on #1189
Thank you for your fast respond :^)

Ouh I don't know why I didn't think about that option before, but yeah I agree that this is the better way to implement it, since it's not just one click less, but also protects the UI from bots and crawlers. Should we add documentation for that before the next release? I'm happy to provide a configuration for Authelia.

Great!

I personally think it would be g

[2021-06-19 19:44] seanwllms opened #1190 "Auto-skip certain songs"
One feature that I would appreciate is the ability to permanently and automatically skip certain songs when playing an album (or shuffling the whole library). I could obviously delete tracks from my library, but the completest in me wants to keep tracks in my library even if I don't actually listen to them (sketch tracks on hip-hop albums are a good example of this).

I haven't used iTunes in 10+

[2021-06-19 19:45] deluan commented on #1189
Yes, I'm gonna review the docs before release. A blog post about configuring it with Authelia would be great : 😊

Yeah, that makes more sense.

If you are going to work on these things and have any issues/questions, let me know.

[2021-06-19 20:31] samcro1967 opened #1191 "URL Base"
Is there a URL Base for putting behind a proxy server as a subdirectory?

[2021-06-19 20:38] deluan commented on #1191
Yes, take a look at the config option `BaseUrl`: https://www.navidrome.org/docs/usage/configuration-options/

[2021-06-19 20:38] #1191 closed

[2021-06-21 10:20] blunderberg commented on #1190
Automatically skipping tracks that are shorter than a certain (configurable) length would be a cool feature.
There are certain albums that have short intros, interludes, outros, etc. that shouldn't be played on their own or as part of a random mix, and should only be played when listening through the entire album (start to finish).
This would be most useful with "shuffle all" functionality that pl

[2021-06-21 12:32] certuna commented on #1190
Once we get smart playlists you will probably be able to create a filter on song length that takes out short songs and/or excessively long songs, since you might not want 60+ minute tracks to show up in shuffle.

[2021-06-21 15:50] iPwnWolf opened #1196 "scrolling with pages is annoying!"
![image](https://user-images.githubusercontent.com/31454341/122790188-5c57b780-d2b8-11eb-83c6-5573b64329c8.png)

I think it's really annoying to have pages in all lists.
Is it possible to automatically load new content when scrolling?
Does such a feature exist already or will it be worked on?
I would suggest an option to load all content next to the limit of x per page.

Honestly my biggest issue

[2021-06-21 16:10] deluan commented on #1196
As we use React-Admin framework, which does not provide this support, this is not a trivial task as it conflicts with the way the framework handles API calls. And we can't just load all data, as the UI would be really slow and probably would freeze (see #621, #1186).

We are working on making this possible as a GSoC project: https://www.navidrome.org/docs/gsoc/#6-infinite-scroll

I'm closing this

[2021-06-21 16:10] #1196 closed

[2021-06-21 18:23] deluan commented on #875
I implemented a Notification when the server updates in 877f01bd. Based on the conversation above, and the current "network-first " PWA implementation, I think this can be closed?

What do you think, @certuna ?

[2021-06-22 14:33] certuna commented on #875
If it all works, fine with me!

[2021-06-22 17:16] #875 closed

[2021-06-22 21:24] #1088 closed

[2021-06-23 09:41] dani opened #1203 "Auto create users when using header auth"
It's really great to see header auth support comming (I'll finally be able to deploy navidrome :-))
But it'd even better to have an option to automatically create users if they are correctly auth by http header. Also, we could define additional headers which could contain any useful information (name/email/groups) and automatically set / update them when the user logs in

[2021-06-23 10:43] LucaDLL commented on #1186
Just wanted to add that I have the same problem... for me, albums/playlists under 30 songs are safe, albums/playlist with 30 to 50 songs occasionally freeze the tabs, and then I have a playlist with 100 songs which almost always freezes the tab... To play it I usually enter the playlist, press the shuffle button, and then quickly get back to any page with a few entries (like the random albums page

[2021-06-23 16:50] NOBLES5E commented on #176
How about support oauth?

[2021-06-23 16:58] deluan commented on #176
We don't have plans to support OAuth2 natively, maybe after other priorities are implemented.

Having said that, the new Reverse Proxy Auth (#1152) will allow you to use a OAuth2 enabled reverse proxy, like Authelia or Vouch, that can handle the authentication flow.

[2021-06-23 17:27] deluan commented on #1203
That would prevent the Subsonic API to work, as it requires the password to be know by the server.

[2021-06-24 09:44] mindfuucker commented on #176
I got it working in vouch with the following docker-compose:
![image](https://user-images.githubusercontent.com/5075692/123240911-04e86000-d4e1-11eb-8644-47e309ff2187.png)

And the following Vouch Nginx proxy-pass block:
![image](https://user-images.githubusercontent.com/5075692/123241182-37925880-d4e1-11eb-9314-f936a938e3ed.png)

A question that's on my mind:
Is the request username matched with

[2021-06-24 18:33] dani commented on #1203
One way to handle this would be to autocreate the user, and prompt him for an API password on first login on the web interface (or have some kind of notifications inviting him to set a password for the API to be available)

[2021-06-25 09:29] metalheim commented on #947
@certuna The more I use Navidrome, I start to agree with you. Storing Information in the Disc Title can be useful, even for 1-disc albums. (For the reasons you mentioned, "Japanese Release" or "2015 Remaster" etc.)

And since it can be read already, it would be easy for navidrome to show it (only when there is a `TSST` in place)

[2021-06-25 15:13] deluan commented on #947
Is it ok to remove the disc number when it is `0`?
<img width="958" alt="Screen Shot 2021-06-25 at 11 12 25 AM" src="https://user-images.githubusercontent.com/331353/123445883-54449400-d5a6-11eb-9356-3cbf1b21ad55.png">

[2021-06-25 15:23] deluan commented on #947
Better?

<img width="628" alt="Screen Shot 2021-06-25 at 11 23 09 AM" src="https://user-images.githubusercontent.com/331353/123447351-bfdb3100-d5a7-11eb-9d73-99ce4aef8e68.png">

[2021-06-25 15:32] #947 closed

[2021-06-25 16:03] SteveDinn commented on #947
Does the subtitle also show up in the grid or list view?

[2021-06-25 16:24] deluan commented on #928
This was fixed in a previous version, by creating a dedicated [Unsplash collection](https://unsplash.com/collections/20072696/navidrome)

[2021-06-25 16:24] #928 closed

[2021-06-25 16:36] certuna commented on #947
Pretty hard to do, since it's song metadata, not album metadata (an album can have multiple discs with multiple subtitles)

[2021-06-25 18:54] deluan commented on #1185
The React Player does not provide an [option](https://github.com/lijinke666/react-music-player#clipboard-api) to do that. The only thing we could do is to not show the cover (by using the `autoHiddenCover ` option)

Another possibility is, once we figure out how to properly [override the player's styles](https://github.com/navidrome/navidrome/pull/1184), is to change the cover style to stop the an

[2021-06-26 14:39] lud0v1c opened #1206 "Playlists - Warn about repeated tracks"
### Is your feature request related to a problem? Please describe.

I have huge genre playlists and would be nice to be informed if a track has been already added.

### Describe the solution you'd like

Airsonic already does this quite effectively, by showing a small label on the repeated tracks.

### Describe alternative solutions that would also satisfy this problem

If the above isn't possible

[2021-06-26 14:42] lud0v1c commented on #1206
My bad, this is already being done,  but just when you import repeated stuff, not when you already have them on the playlist.

[2021-06-26 14:42] #1206 closed

[2021-06-26 18:57] deluan commented on #491
Closing this in favour of #249

[2021-06-26 18:58] deluan commented on #249
Note to self: Free Lyrics API - https://docs.genius.com/

[2021-06-27 16:54] charliemartinez commented on #390
Good afternoon:
First of all I want to congratulate you on this application, I already have it running on my server and I am really surprised at how good it is.

I am very interested in the function to share music without logging in.

All the best
:-)
Charlie Martinez

[2021-06-27 17:58] deluan commented on #390
@charliemartinez, thanks! Sharing without login (similar to Airsonic/Subsonic feature) is being tracked by #748

[2021-06-28 19:28] brianschrameck opened #1213 "User'"
### Description

A clear and concise description of what the bug is.

### Expected Behaviour

What you would have expected to happen instead.

### Steps to reproduce

1. Open the '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Platform information

 - Navidrome version:
 - Browser and version:
 - Operating System:

### Additional information

Any other information that may be rel

[2021-06-28 19:29] #1213 closed

[2021-06-28 19:33] brianschrameck commented on #1213
Accidental creation; feel free to delete. :)

[2021-06-28 20:52] zoidy commented on #1185
I was able to achieve the desired result by adding
[code]
To the player's styles in [Player.js](https://github.com/navidrome/navidrome/blob/167fe462885f286b84f26e082a663c5d6cde5e0a/ui/src/audioplayer/Player.js#L65). I tried applying the change in a theme without success. Now that the #1184 is merged, perhaps it's possible to do so?

[2021-06-28 20:58] deluan commented on #1185
I'll try to add this as a config, and not part of a theme. Will try tonight, before the next release

[2021-06-28 21:12] #1185 closed

[2021-06-29 03:55] kbridger opened #1215 "Support %characters in m3u files and other m3u complexities"
### Is your feature request related to a problem? Please describe.

I am trying to synchornize my playlists across Navidrome and my desktop player and be able to play them on mobile apps.  I am leveraging the playlist import/sync capabilities in Navidrome (thanks for that!).  I have my playlists in a folder saved as .m3u.  Navidrome reads these and imports them nicely.

The problem is that my desk

[2021-06-29 09:59] certuna commented on #1215
It's not so much the `%` character, what you're looking for is support in Navidrome for local file paths encoded as URLs. [M3U](https://en.wikipedia.org/wiki/M3U) can contain file links as either a URL or a local file path. Most applications write local files as filesystem paths in playlists, and remote files as URLs (`https://servername.com/musicfile.ogg`), but it seems that Lollypop writes local

[2021-06-29 12:48] deluan commented on #1215
I agree with @certuna, this is unusual but covered by the specs, and Navidrome should support it (`file://` schema).

[2021-06-29 13:00] #202 closed

[2021-06-29 13:44] SteveDinn opened #1216 "Play queue scroll bar colour doesn't match theme"
### Description
Just updated to v0.44. I'm just using the default theme and post-upgrade, the player accent colour changed from green to purple, but the play queue scroll bar remained green.

### Expected Behaviour
I would have expected the play queue scroll bar to match the other purple accent colours.

### Steps to reproduce
1. Add enough tracks to the play queue to see the scroll bar.
2. Look a

[2021-06-29 14:28] deluan commented on #1216
Good catch! Will try to fix it ASAP

[2021-06-29 17:20] #1216 closed

[2021-06-29 19:07] kerenon opened #1217 "Can't reopen player on demo"
After minimizing the "now playing" overlay/window on android, opening it again is almost impossible. It seems the "hitbox" I'd need to find is waaaaay too small. It takes at least 20-30 taps to eventually hit the mark and thus reopening the player overlay, making this a dealbreaker bug.

First noticed the problem a few months ago, found this reddit thread, but no solution:

https://www.reddit.com/

[2021-07-01 06:17] jiaoting opened #1218 "How to use translation files"
I can't find where I can set it to Chinese ~

[2021-07-01 09:07] Mikhail5555 commented on #1189
[code]
@henniaufmrenni incase you are using nginx, this is how i have it setup, this allows /rest to bypass the authelia SSO while all other requests being redirected to your SSO provider.
@deluan This might also be a good reason to keep the logout url enabled (Without the need of adding a new environment variable to configure the redirect ur)l

[2021-07-01 12:33] shgurbanov opened #1220 "Status of the big play button does not change"
### Description

Status of the play button does not change when mp3 is playing.

### Expected Behaviour

Expected the same status of the play buttons as play-play, stop-stop.

### Steps to reproduce

Play any track, big button doesn't change status to "playing".

### Platform information

 - Navidrome version: v0.44.0
 - Browser and version: Google Chrome Version 91.0.4472.114 (Official Build) (64

[2021-07-01 12:42] shgurbanov opened #1221 "How to bypass default auth login page ?"
I would like that when opening the main page of the engine, not the authorization page comes out, but the main page of the player with albums.

Now
![Screenshot 2021-07-01 163816](https://user-images.githubusercontent.com/5786682/124125802-0e4a6d00-da8b-11eb-9937-dc3e6b28b335.jpg)

How to get that without authentication(as default main page when open site)
![Screenshot 2021-07-01 163910](https://u

[2021-07-01 13:57] deluan commented on #1218
It is an option in the "Personal" menu: ![ezgif com-gif-maker](https://user-images.githubusercontent.com/331353/124136219-8ea0ac00-da52-11eb-8812-59c43f63d9d0.gif)

[2021-07-01 13:57] #1218 closed

[2021-07-01 14:02] deluan commented on #1189
@Mikhail5555, thanks for the sample config. Regarding the logout URL, the `/app/logout/` path you used above is not part of Navidrome. Logout is handled entirely in the frontend, without ever communicating with the server. So I'm not sure if the config above would work....

[2021-07-01 14:45] Mikhail5555 commented on #1189
Oh my bad. It was a way that I handled it in another application which also supported SSO so though it would also work in Navidrome, but ofcourse that wouldnt be the case if the frontend just destroys all tokens.

(Offtopic) Wouldn't the backend also need to 'destroy' the token at some point (or does the application just wait for it to expire)?
Feels like the frontend should let the backend know t

[2021-07-01 15:01] Mikhail5555 commented on #1221
It is currently not supported to bypass login (consider having a Guest user with maybe an easy password) and have the ability to login at the same time. Maybe you could achieve something like this with a special SSO, which falls back to some default user if no-one is logged it.
I would also heavily advice against just exposing your instance to the internet without any authentication.

[2021-07-01 15:07] deluan commented on #1189
The server does not store any session state, it is completely stateless. That's by design, as it helps with the goal of having a very lightweight server.

[2021-07-01 16:09] #446 closed

[2021-07-01 16:12] deluan commented on #446
Hey folks! I finally found the cause of this bug and it is now fixed in the latest builds. If you still seeing this issue, please let me know. Thanks for your cooperation and patience!

[2021-07-01 18:56] TheFlatworm commented on #446
I had seemingly the same result on 0.44.0 (b16d473d) using the mac binary on a mac mini server.  I do not know if this is related so forgive me if this is just confusing the issue.  The album images wouldn't load unless previously loaded as in the op, but eventually the UI became completely unresponsive until service restart.  The log files were filling up with "too many open files".  But in this

[2021-07-01 19:44] Xx-Ness-xX opened #1222 "Error: Unauthorized when changing name"
### Description

Hi, I am have issues logging into Navidrome after changing the name under personal. I got "Error: Unauthorized" when I tried to login using the unchanged **username**

### Expected Behaviour

Login without error using the username that I had set up originally

### Steps to reproduce

1. Change "name" under "personal"
2. Log out
3. Log back in using username & password
4. See error

[2021-07-01 20:11] #1222 closed

[2021-07-01 20:14] deluan commented on #1222
Hey, thanks for reporting this! The issue is that it was resetting the password to "" when you update your details. I just fixed this and in about 20 minutes a new version will be available for download here: https://github.com/navidrome/navidrome/actions/runs/991380850 or in the `deluan/navidrome:latest` docker tag.

I'll be releasing a bug-fix version tomorrow that will contain this fix.

[2021-07-01 20:16] Xx-Ness-xX commented on #1222
Thank you for your prompt action!
Does that mean I can still log back in using the password ``"`` ?

[2021-07-01 20:17] deluan commented on #1222
you can try, but it may be invalid given other checks in the code.

[2021-07-01 20:21] Xx-Ness-xX commented on #1222
Just tried and couldn't log back in. I tried ``""`` ``''`` no luck
I'll wait for the fix tomorrow since I just started migrating my iTunes library to Musicbrainz Picard to fix my ID3 tags

[2021-07-01 20:22] deluan commented on #1222
It should be an empty password, without the quotes, but if you just started using Navidrome it would be better to wait till tomorrow, and start from scratch (deleting the current navidrome.db files)

[2021-07-01 20:27] Xx-Ness-xX commented on #1222
I couldn't enter empty password to sign in, and I tried using "space bar" as password to sign in but no luck.

[2021-07-01 20:33] deluan commented on #1222
Yeah, it basically screwed your user password.... Sorry about that. The new build or tomorrow's release will not cause this anymore, but any user that had its details updated before the fix had the password broken, and can only have its password reset by another admin in the system

[2021-07-01 20:49] Xx-Ness-xX commented on #1222
Not a problem, let's just hope I am the only one that changes the name

[2021-07-02 00:11] deluan commented on #1221
Navidrome is meant to be a "personal" server, and not a public service. In this context, self-registration does not make much sense. We are working on a way to enable you to create links to selected music/albums/playlists that will allow you to share part of your library anonymously. See #748

As for bypassing the login page, I second @Mikhail5555 opinion that you should not do this. For security

[2021-07-02 00:13] deluan commented on #1222
Just released the new fixed version , 0.44.1. Let me know if you have any other issues

[2021-07-02 00:14] deluan commented on #446
Hey @TheFlatworm, can you try the latest release 0.44.1?

Anyway, this seems to be unrelated, so if you are still having these issues after upgrading to 0.44.1, please open a new issue with all details, and I'll investigate it. Thanks!

[2021-07-02 07:41] certuna commented on #1221
Even a public service like Spotify shows a login screen before the music.

[2021-07-02 10:23] ToadCast commented on #1221
This is partially true, you don't need to login to explore the albums and artists.

[2021-07-02 10:25] ToadCast commented on #1220
Hi, I wanna give it a shot with my understanding: I think it's the expected behavior because the Play button (with you red mark) intend to tell to start playing this album from the beginning, whether or not you're already playing it.

But I understand you're point because on Spotify, while you're playing the album, it display a 'pause' button at your red mark position. Honestly, it is not somethin

[2021-07-02 10:36] ToadCast commented on #1186
Hi, I'll try to reproduce with the same version but honestly I have no issue to load an album with 414 Songs, 1:12:05:34 long and 9.1 GB all in FLAC 16-bits.

### Platform information
- Navidrome version: v0.42.0
- Browser and version: Firefox v89.0.2 on both Windows 10 and Ubuntu 18.04.5
- Operating System: Debian 10, using Docker

[2021-07-02 10:46] ToadCast commented on #1172
Hi, why would that be great? If you have the music on a storage to be accessed by Navidrome, you can change the format of the files then. Do you mind giving a bit of context to picture it?

[2021-07-02 13:10] Xx-Ness-xX commented on #1222
Thank you!, I've tested it and it is working fine now

[2021-07-02 13:17] Xx-Ness-xX commented on #810
Thanks, after making the change I was able to get Navidrome to scan my Chinese & Japanese songs

[2021-07-02 13:58] dani opened #1223 "Header auth not correctly extracting reverse proxy IP"
### Description

Just installed navidrome and made it reachable behind my nginx reverse proxy (I'm using Lemonldap::NG as SSO system on the reverse proxy). I've configured navidrome to use the HTTP Header Auth-User :

[code]

This header is sending my login name, and a matching user exists in Navidrome.

### Expected Behaviour

Navidrome should recognize me and automatically log me in. Instead, it

[2021-07-02 14:13] dani commented on #1223
My bad, red the doc too quickly. The ReverseProxyWhitelist needs CIDR notation, so adding a /32 for a single IP

[2021-07-02 14:13] #1223 closed

[2021-07-02 14:21] deluan commented on #1221
But Spotify has a team dedicated to secure their web app, and they don't have issues with copyright. Also their web app does not have a "download" button ;)

[2021-07-02 14:56] ToadCast commented on #1221
Oh they have some issue with the copyrights, but not the same kind we could have with Navidrome indeed 🙂. But it would only be to the owner of the server then. I guess the purpose of the issue was more about listening the music without account than downloading it.

Anyway, I meant that it's an understandable issue and desire. However, that doesn't seem to fit in the purpose of this software:

[2021-07-02 18:11] Mikhail5555 commented on #1221
I mean, with the new SSO feature, you could make this work.
Have a secret separate subdomain with a hard-coded Remote-User: Guest (WHICH YOU MOST DEFINITELY SHOULD HAVE AT LEAST AN IP WHITELIST ON)
And then a separate default subdomain which redirects to your SSO provider with the normal Auth flow & people having separate accounts.
But then again, I would still heavily advice against this approach

[2021-07-02 20:24] whorfin opened #1224 "Version incorrect when building from release tarball source"
### Description

When building from source from eg:
https://github.com/navidrome/navidrome/archive/refs/tags/v0.44.1.tar.gz

Navidrome reports itself, in banners and "--version" as
[code]

This is because the tarball, reasonably, does not contain a .git directory
Therefore the two Makefile git shell calls for GIT_TAG and GIT_SHA both fail:
[code]

### Expected Behaviour

I would expect to see the

[2021-07-03 00:35] anarcat opened #1225 "use file's modification timestamp on import"
### Is your feature request related to a problem? Please describe.

When switching from another app to navidrome, the first import is impressive: it is fast and works great! One problem, however, is that the "Recently added" time seems rather random. If you've used another program in the past, this is somewhat of a disappointement: your latest additions to your collections are kind of lost in a se

[2021-07-03 00:40] anarcat opened #1226 "duplicate albums in different formats show up as duplicate tracks"
### Description

Say I'm in a band. I make a recording, and save it in my library as a FLAC. I also have a copy that's transcoded to MP3, as a kind of "master" that I distribute around. Both are in my library.

### Expected Behaviour

Those should show up as different albums. Alternatively, a single album, with the right version streamed, depending on the requested encoding.

The actual behavior i

[2021-07-03 00:52] anarcat commented on #199
i actually can't figure out how to change my password, as admin or regular user. what am i missing?

[2021-07-03 01:10] deluan commented on #199
@anarcat Here's the way, let me know if you are having any other issues:

https://user-images.githubusercontent.com/331353/124339087-c5251680-db79-11eb-84d8-9a146c724783.mov

[2021-07-03 01:13] deluan commented on #1225
Try setting the config option `RecentlyAddedByModTime = true` and let me know if this is what you are looking for.

Take a look at the complete list of configuration options: https://www.navidrome.org/docs/usage/configuration-options/#available-options

[2021-07-03 01:28] deluan commented on #1172
This is already requested in #573. I'm closing this in favour of that one. Please follow that issue for updates.

[2021-07-03 01:28] #1172 closed

[2021-07-03 01:29] deluan commented on #1226
In Navidrome, songs are grouped by Artist/Album names. The only disambiguation that would work in this case is to add the type in the title ("Verrats [MP3]", "Verrats [FLAC]").

Ideally, you wouldn't need to transcode the files yourself, you should keep only the lossless version (FLAC) as Navidrome transcodes on demand for you (and caches the results). To activate transcoding, just go to the Playe

[2021-07-03 03:51] deluan commented on #1220
This is the current expected behaviour, but we already have an issue open to tackle this: #973.

I'll close this in favour of that one, please subscribe to that issue for updates.

[2021-07-03 03:51] #1220 closed

[2021-07-03 03:53] deluan commented on #703
This should be fixed in ace5c905. Please test the latest build and let me know.

[2021-07-03 11:14] nicholas-robertson commented on #1186
I have this issue with a large playlists. The interface hang and is unusable after the playlist page is opened.

[2021-07-03 13:44] danshilm commented on #703
Works as desired in https://github.com/navidrome/navidrome/commit/ace5c905eb81a80bc54f9f7d8889c7815a4c9af7. Thanks a lot 👍🏼 This is one of those things that I do a lot that works the same way in all the other players I used which breaks Jakob's Law like you mentioned.

[2021-07-03 13:53] deluan commented on #703
Thanks @YashJipkate for your previous PR #976, you were right: The "Play Next" behaviour is already broken in master, it is a bug in the React Player. I'll open an issue with that project and will try to fix it this weekend.

[2021-07-03 13:53] #703 closed

[2021-07-03 14:00] YashJipkate commented on #703
There is an issue already opened by me, you might want to take a look at https://github.com/lijinke666/react-music-player/issues/349.

[2021-07-03 20:38] anarcat commented on #199
right okay, so i guess that's my problem: the "users" dropdown gives me a "Forbidden" error and doesn't load.

[2021-07-03 20:40] anarcat commented on #1226
well i understand that navidrome can transcode: that's not the reason i have those multiple copies. the reason is that those are masters that are actually part of my collection...

from that perspective, changing the tags on the files is unacceptable: the album name is not "Verrats MP3" :)

but i see where you're coming from....

[2021-07-03 21:01] anarcat commented on #1225
looks like this already exists and works, sorry for the noise and thanks! :)

[2021-07-03 21:01] #1225 closed

[2021-07-03 21:02] anarcat opened #1229 "docker image should start in /data"
It's kind of inconvenient to override the config in the docker image. Because the config gets loaded from the current directory, and that is in `/app`, one need to export a config into `/app/navidrome.toml`.

It would be better it the starting directory would be `/data` so that the config could just live there.

[2021-07-03 21:28] anarcat commented on #199
after flushing the data directory (for #1225), this issue has gone away and i can see the user listing.

[2021-07-03 22:51] deluan commented on #1229
You don't need to use a config file with docker, just need to map a volume with your data folder, and you can pass all options as environment variables, take a look here: https://www.navidrome.org/docs/installation/docker/#using-docker-compose-

[2021-07-03 22:59] deluan commented on #1226
So then the only solution for using Navidrome in your use case is when we introduce Multiple Libraries (#192), you could then have one Library with FLACs and other with MP3, and you can give access to only MP3 for your users if you want. Would that work for you?

[2021-07-03 23:47] anarcat commented on #1226
it would require a major rearchitecturing on my side, unfortunately. it would probably be easier for me to hide the files from navidrome in the first place, because i run navidrome behind docker it's possible for me to hide parts of the filesystem from navidrome. i just didn't want to have to play that whack-a-mole game... :)

[2021-07-03 23:48] anarcat commented on #1229
yeah that's what I actually did...

ah. doh. totally missed that. :) would have been more visible if it was in the Docker image docs (in https://hub.docker.com/r/deluan/navidrome)

i guess i just missed the docs, sorry again for the noise.

[2021-07-03 23:48] #1229 closed

[2021-07-03 23:54] anarcat commented on #748
for the record, i have tried again and again to use this feature in AirSonic and it has always failed me. the most anyone got from my share links was an authentication screen. :p i have high hopes that this will allow *completely anonymous* users to access my instance... not everyone has access to a navidrome server! :)

[2021-07-04 00:55] deluan commented on #1226
The only way to skip a folder (and its subdirectories) is to add a `.ndignore` in the folder.

Well, whenever the Multiple Libraries feature is ready, you can write a simple bash to move the MP3s to a different root level, keeping their relative path.

[2021-07-04 02:15] Hukuma1 opened #1230 "UI play scrub bar hard to click?"
### Description

![naviui](https://user-images.githubusercontent.com/54511555/124370969-d7628b80-dc31-11eb-9de6-aae2e4d2d3ca.jpg)

Not sure what it is, but it seems the scrubbing section is either super particular where the mouse needs to be, or maybe some overlapping elements issue happening. Just hard to click and skip around the song if the UI doesn't register the click. Clicking the left-mouse

[2021-07-04 02:27] Hukuma1 opened #1231 "[FR] Crossfade effect when scrubbing through song"
### Is your feature request related to a problem? Please describe.
Can we please implement a cross fade effect so when skipping around a song it isn't so jarring?

### Describe the solution you'd like
Add an option to cross fade scrubbing through songs, and maybe even prev/next songs if in playlist (like Spotify).

### Describe alternative solutions that would also satisfy this problem

Continue t

[2021-07-04 02:35] deluan commented on #1230
This is the behaviour of the upstream [react-music-player](https://github.com/lijinke666/react-music-player) project. I think it was meant to click on the current position indicator (the small ball) and dragging it to the position you want. This always work for me.

Please confirm you see the same issue in their demo: https://www.lijinke.cn/react-music-player/

[2021-07-04 02:38] deluan commented on #1231
As I said in the previous issue, this behaviour is from the upstream project, https://github.com/lijinke666/react-music-player

I suggest you open an issue in that project, as there's currently nothing we can do from Navidrome's side.

[2021-07-04 02:38] #1231 closed

[2021-07-04 02:54] Hukuma1 commented on #1230
Yep. Looks to be happening there too. Will close this out. Thanks!

[2021-07-04 02:54] #1230 closed

[2021-07-04 04:18] YashJipkate commented on #748
I'm trying to implement this in my free time now. But with the new job and GSoC, it is hard to squeeze in. I'll try to get this done ASAP.

[2021-07-04 16:10] #647 closed

[2021-07-04 16:12] deluan commented on #647
I think I finally got it fixed! Will do more testings and it should be in the next release.

[2021-07-05 01:38] #1052 closed

[2021-07-05 01:39] deluan commented on #1052
Hey @xnaas, after a big refactor in the Player state management code, I was able to set a default value. Please check if this solves the issue for you. If not, feel free to reopen the issue.

[2021-07-05 05:27] aniketbiswas21 commented on #249
@deluan I'd like to work on this. Can you brief me, how should I proceed with this?

[2021-07-05 06:33] JOduMonT commented on #1157
@whi4 like @deluan said, you should chown your volumes with the proper user, which could be done with
chown $(id -u):$(id -g) -R -v /srv/shares/music /srv/shares/navidrone-data

@deluan, the container should take care of this such as you could see with [LinuxServer container](https://github.com/search?q=org%3Alinuxserver+%22chown+-R%22&type=code)

[2021-07-05 19:20] SteveDinn commented on #1157
That might be ok for the data folder, but I have my music accessible in other ways besides Navidrome. I don't think Navidrome should be messing with the owner or permissions of the music files. I have my music mounted as read-only, so this would give me an error each time I started the server.

[2021-07-06 00:09] anarcat commented on #1226
On 2021-07-03 17:55:17, Deluan Quintão wrote:

Oh well that's a great solution for me, actually.

a.
--
I believe that if someone choose arts as their subject but do not
criticize the issues of their society, they have have betrayed
themselves, their conscience, and their society.
                        - Atena Farghadani

[2021-07-06 00:55] JOduMonT commented on #1157
@SteveDinn you need a group in commons with navidrome and the other apps/users which have the right to read at least.
It is a best practice to not run a service as root even inside a container

[2021-07-06 02:25] SteveDinn commented on #1157
Agreed, and I follow that advice, but I run Navidrome as a group member and not the file owner. I don't want it "taking over".

[2021-07-06 06:52] certuna commented on #1217
I see a related (?) issue with Navidrome in Edge (Chrome probably too, will test):
- make the window smaller to trigger the mobile view
- play a song, minimize it to the bubble
- enlarge the window to switch to desktop view
- now you can't enlarge the bubble to the bottom-bar player anymore
Issue with the upstream player?

[2021-07-06 12:57] xnaas commented on #1052
@deluan: Is this a change that's already pushed to a released version, or do I need to build from source to test?

[2021-07-06 14:51] deluan commented on #1052
It is in the latest dev build: https://github.com/navidrome/navidrome/actions/runs/1002861479 (click on the _binaries_ artifact at the bottom). Also in Docker, by using the tag `deluan/navidrome:develop`.

But if you prefer to wait for a release, thats fine. Should be end of this month.

[2021-07-06 18:49] Darthagnon opened #1234 "How to use local image for wallpaper?"
I was wondering how I would go about using a local image as a wallpaper for the login screen? There was this pull request that was merged that seemed relevant: https://github.com/navidrome/navidrome/pull/154

I've tried using base64 images in the config file, but that doesn't work (they just don't display for me; am running it on a Raspberry Pi, tried a few JPG images converted to base64) and is a

[2021-07-06 19:15] Darthagnon commented on #1234
### Related issues:
https://github.com/navidrome/navidrome/issues/102

https://www.reddit.com/r/navidrome/comments/kxfa52/option_to_set_static_color_for_login_page_that/

[2021-07-07 02:28] xnaas commented on #1052
Still quite loud, but it is technically lower. Would definitely love if this was configurable via an Environment Variable or some such. 😅

[2021-07-07 10:32] certuna commented on #1226
Other option is to tag the FLACs as Disc 2, then you'll see them under the album, but separated.

[2021-07-07 10:43] nellistc commented on #1164
Can confirm this is occurring in 0.44.1 at random. As above, stopping and restarting navidrome will continue scanning until the error happens again. It happens on different directories each time.

[2021-07-07 10:52] pacija opened #1235 "FreeBSD Makefile go and node version check"
### Description

Compiling on FreeBSD needs Makefile modification because current mechanism to check go and node version does not work on FreeBSD

### Expected Behaviour

Compiling on FreeBSD works out of the box

### Steps to reproduce

Described on https://www.x-tra-designs.org/metallum/installing-navidrome-under-freebsd-12.html

### Platform information

 - Navidrome version: navidrome-0.44.1

[2021-07-07 15:58] #176 closed

[2021-07-07 17:07] andrewzah commented on #141
+1 for LDAP support as well, but if SSO solutions like Keycloak (which can sync with ldap) are supported, those are preferable to plain LDAP for me.

[2021-07-07 21:53] kellyksveinson opened #1236 "Special chars running amuck"
### Description

songs with special characters seem to be going to to their unknown album

### Expected Behavior

this should be no different than an album with just letters and numerals

### Steps to reproduce

load albums with as per screen shot that had id3 and filenames from picard

### Platform information

 - Navidrome version: v0.44.1 -->
 - Browser and version: Firefox v8x.xx
 - Operating

[2021-07-07 22:06] deluan commented on #1236
Sorry, this should be better documented: There's a bug with the `taglib` extractor when running on Windows that it fails to read files with special chars in it.

The current solution for this is to use `ffmpeg`. Add `Scanner.Extractor = "ffmpeg"` to your configuration and forece a rescan (or start from scratch)

[2021-07-08 11:43] talkingseedling commented on #1164
I noticed that when Navidrome was stuck in the scanning loop, every other docker container also reported an error accessing files, pointing to an issue with my SMB host (though as the SMB share seemed fine on observation, restarting all docker containers fixed this). Though while the other containers threw 1 error, Navidrome loops and throws many errors.

[2021-07-09 00:33] anarcat commented on #1226
understood. thanks for all the alternatives! If you're okay with the idea, i think this ticket can be closed. :)

[2021-07-09 01:07] #1226 closed

[2021-07-09 01:20] anarcat opened #1237 "look for playlists only in a given directory"
### Is your feature request related to a problem? Please describe.

I finally managed to get navidrome to parse my precious playlists, yay! Turns out they had to be at the root of my music directory (or, to be more accurate, have the paths in the playlist actually work relative to the playlist, which, to be fair, is reasonable).

But this implies that now, navidrome is parsing *all* of my playlist

[2021-07-11 13:25] HappyBasher commented on #625
Seems with 0.44.1 the report real path feature is broken. Old behaviour takes place again.

[2021-07-12 20:08] bjhiltbrand commented on #1237
Also requested here: https://github.com/navidrome/navidrome/issues/1181

[2021-07-12 20:15] bjhiltbrand commented on #682
It's been a while since I have messed with this (like 2 or 3 years), but here is a simple API that someone wrote to interface with dialog flow in Google Assistant. I took it and made some changes to fit my needs as far as commands go. It was far from perfect, but it was working. I will have to look at dusting it off again. Maybe some of the principles could be implemented within Navidrome so you d

[2021-07-13 07:20] BobWs opened #1246 "Get Artis Info not working anymore after update"
Hi,

After updating Navidrome to version 0.44 LastFM Bio/artist info isn’t working anymore. I keep getting this log errors. Before the update everything was working fine. I’m I missing something? Did something change in the preferences?
[code]

</div>

[2021-07-13 14:36] metalheim commented on #1246
Just checked. I'm having the same issue. Can check and provide logs later from home

[2021-07-13 15:01] deluan commented on #1246
Thanks for reporting. This error was fixed in master already, will be part of next release. In the meanwhile, you could use the develop builds.

[2021-07-13 18:13] metalheim commented on #1246
"lucky Luke" of coding, @deluan fixing bugs faster than than his shadow ;)

[2021-07-14 02:05] deluan commented on #1237
Thanks @anarcat, but as @bjhiltbrand pointed out, we already have an issue tracking this, so I'm closing this as a duplicate. Feel free to follow that one (#1181) for updates.

[2021-07-14 02:05] #1237 closed

[2021-07-14 02:08] deluan commented on #1181
I was hoping to tackle this as part of the Multi-Library support (#192), but in the interim I may introduce something to allow the user to specify where Navidrome should look for playlists.

[2021-07-14 02:25] deluan commented on #1164
@nellistc Yeah, it seems to be related to that issue, but it is not the same. That issue used to break Navidrome scanner in older versions, but it was fixed in Go 1.15 (we are now on Go 1.16). And the solution/workaround proposed in that issue is actually still in place in Navidrome's Dockerfile:

https://github.com/navidrome/navidrome/blob/d4a5508f6a215c5d440ce536adfa2a6cbb0d34be/.github/workflow

[2021-07-14 02:26] deluan commented on #1236
@kellyksveinson, were you able to test it with the `ffmpeg` Extractor?

[2021-07-14 02:27] kellyksveinson commented on #1236
Oh buddy, yeah, it totally fixed all my problems, so sorry I forgot to get back.

Sent with a Spark
On Jul 13, 2021, 9:26 PM -0500, Deluan Quintão ***@***.***>, wrote:

[2021-07-14 02:30] deluan commented on #1235
Thanks for opening the issue. I thought this was fixed long time ago. The modifications you did in the `Makefile` are not correct: We need the versions required by Navidrome, not the versions installed in your system.

Can you please post here the output of the following commands (run it in the root of the project):
`grep "^go " go.mod`

and

`echo "go 1.16" | cut -f 2 -d ' '`

[2021-07-14 02:35] deluan commented on #1052
Yeah, this is due to the way the React-Player implements logarithmic volume: https://github.com/lijinke666/react-music-player/pull/266 Will probably change it to be really 50%

Adding a config option for this is adding more code to maintain and unless there are more users affected by it, it is not worth (IMHO). Hope reducing it to real 50% will make it better

[2021-07-14 02:35] #1236 closed

[2021-07-14 02:39] deluan commented on #1234
Hey @Darthagnon, there's currently no way to set the login background to an image served by Navidrome itself. What you could do is host the image in some place, like your own proxy server, or even in a private image hosting account.

Adding an image to the config file as a base64 should work. Can you please post your config line here?

[2021-07-14 02:43] deluan commented on #1217
Most probably yes. I'll do some testing. A solution I may implement is to disable the ability to drag the mini-player, as it bring too little value

[2021-07-14 02:52] deluan commented on #249
I'll reach out to you in Discord. Feel free to ping me there if it takes more than 2 days, I'm really busy this month :)

[2021-07-14 03:08] deluan commented on #1224
Yeah, I may take a look on how to add a "hardcoded" version in the archive. Maybe a file with the version used in the release and if it is found, the Makefile uses it?

[2021-07-14 06:47] aniketbiswas21 commented on #249
Sure :+1:

[2021-07-14 13:15] quotengrote commented on #1179
Any News on that?

In this screenshot it shows the growing disk-space consumption till i restart the container.
![2021-07-14 15_14_41-Greenshot](https://user-images.githubusercontent.com/38253905/125628250-ec2e2deb-8925-41ef-9cba-4aa062dc6721.png)

[2021-07-14 13:36] deluan commented on #1179
Sorry, but I fail to understand how it is even possible.... The only process I know could be writing to this file is a DHCP daemon, and it has nothing to do with Navidrome. This seems to be caused by some configuration in your environment. Is the `resolve.conf` file mounted by any other container/process? Can you check which processes have the file opened?

[2021-07-14 13:50] xnaas commented on #1052
Ah, makes sense. Thanks for the info.

Fair enough; it's your project, not mine. :D

Definitely will. Thanks again. :)

[2021-07-14 15:15] quotengrote commented on #1179
Hi, thx for the answer.

At the moment it runs as it should. resolve.conf isnt opened anywhere.
`
/app # cat /etc/resolv.conf
search grote.lan
nameserver 127.0.0.11
options edns0 trust-ad ndots:0
`

[2021-07-15 13:49] #1224 closed

[2021-07-15 19:40] quotengrote commented on #1179
Hi, today it occured again.
The output of `lsof`, looks normal.

BUT...
it is the Logfile that Navidrome writes thats gets so big...(78GB)

and its XXX lines like these:

[code]

[2021-07-15 20:54] quotengrote commented on #1179
If you need the complete log i can upload it, after rar'ing ist only 2GB big

[2021-07-15 23:17] deluan commented on #1179
Ah, ok. That makes more sense, even though I don't know what is the problem. This is the same issue as #1164. Please close this and follow that one to get updates on the issue.

[2021-07-16 05:16] talkingseedling commented on #1164
@deluan Elastic reports the term "async" was never present in any log message
![image](https://user-images.githubusercontent.com/77553230/125894809-931b3c43-61b4-41ca-bf7f-12794a1f7712.png)

If it helps, what is triggering this bug is when the docker container expects to find data in a volume mount, and the volume mount has failed in some way (different to the volume mount working, and a file just

[2021-07-16 07:05] #1179 closed

[2021-07-16 14:20] #1164 closed

[2021-07-16 14:21] deluan commented on #1164
Ok, I found and fixed the infinite loop. If the SMB fs fails when reading a directory, it will just skip that dir. To test it, you can use the `deluan/navidrome:develop` docker tag (should be available in 20 mins).

Please let me know if this is working as expected. If not, feel free to reopen this issue.

[2021-07-16 18:34] anarcat commented on #1237
oh! sorry, i couldn't find #1181, seems perfect for my needs, thanks!

[2021-07-16 18:37] anarcat commented on #1181
this would fix the problem i described in #1237 quite elegantly. to avoid seeking there, let me rephrase:

My problem is that the current playlist import code imports a *lot* of playlists (hundreds!) which are mostly useless because they are .m3u files shipped within album directories. so, basically, many albums show up as playlists as well, and drown out my normal playlists.

having a specific fo

[2021-07-17 16:28] whorfin commented on #1164
Apologies for the churn - I made a comment in the commit, but that doesn't show up at all on the mobile client nor did it tag this, so I'm replicating here for visibility

@deluan The fix in eb8ffc6 will break the "find all subdirs when some are missing rx permissions" behavior fixed by #1054
The loop over ReadDir was not a bug.
https://pkg.go.dev/os#File.ReadDir
[code]
#1164 reports a scenario wh

[2021-07-17 19:50] deluan commented on #1164
Are you sure? I just tested with this scenario:
[code]

After a clean scan, the _Arctic Monkeys_ album does not appear in my albums, but the other two are there, together with all other albums in my library. Logs:
[code]

The fact that we are calling `ReadDir` with `n == -1`, it reads all readable entries in one shot. In the previous implementation the `ReadDir` was returning an error. It was show

[2021-07-17 20:18] deluan commented on #1155
I'm closing this in favour of #850. Please feel free to follow that issue to get updates on the progress. Also add any relevant comments to that issue.

[2021-07-17 20:18] #1155 closed

[2021-07-17 20:55] deluan commented on #1036
@certuna: Navidrome don't read the `TLEN`, but it provides this information. Both `ffmpeg` and `taglib` extractors provide this info. Is there any advantage of reading the tag versus relying on the info provided by the extractors?

[2021-07-17 21:29] whorfin commented on #1164
Yes, I am sure
Note how the message in your case is not from the code in question; it is "Skipping unreadable directory" instead of "Skipping DirEntry"
This is why I made that change...
To prove the point, I pulled down and built the most recent.  And it totally kills my scan:
[code]
Restoring `fullReadDir` to its previous version, I'm back in business:
[code]
The "Skipping unreadable directory" e

[2021-07-17 21:36] deluan commented on #1164
Hummm.... How to simulate this error then? What kind of permissions you have in place to cause this?

Anyways, we cannot have the `for {}` loop, as it is definitely causing the issues

[2021-07-17 21:48] whorfin commented on #1164
How does this look?  lmk if you'd prefer a PR:
[code]

I have the opposite problem of replicating the broken filesystem...
In my scenario, here's an example - "Midi" gets the usual "Skipping unreadable directory" while "Synth" gets "Skipping DirEntry" and kills my scan with your change.
[code]

[2021-07-17 21:57] deluan commented on #1164
Yeah, the code above may work. But not sure if you can compare `error` interfaces like that. Maybe it is better to do this instead?
[code]

By the way, why are you blocking ND's access to folders this way (like in the "Synth" folder)? Why not just remove read access? Aren't we try to put in place a workaround for an issue that may not exist, given that you could just `chmod -rx` folders you don't

[2021-07-17 22:10] whorfin commented on #1164
I believe equality should work; it's normally not recommended precisely because it includes "too specific" information.  If you would prefer string comparisons, which I agree are perhaps less ambiguous, perhaps this is clearer:
[code]

[2021-07-17 22:14] whorfin commented on #1164
As to your "why" question...
Navidrome isn't the only thing running on my server; ACLs are used to lock down some directories differentially from simple group permissions.
We could argue about which is more proper - handling ACLs, which are common on ZFS, or handling broken filesystems where ReadDir never completes - but let's make it work in both cases, right?

[2021-07-18 01:35] deluan commented on #119
Implemented as part of #1251:

<img width="867" alt="Screen Shot 2021-07-17 at 9 34 57 PM" src="https://user-images.githubusercontent.com/331353/126053027-da8081f9-34b8-4294-87b3-8de30355548b.png">

Will close this when the PR is merged

[2021-07-18 02:12] whorfin commented on #1164
Big thanks!
And major hat-tip for figuring out how to make a test scenario for this

[2021-07-19 07:47] pacija commented on #1235
Here goes:

[code]
[code]

[2021-07-19 13:48] koehntopp commented on #1067
+1

My preferred solution would be to have the exact same items that are there under the "Albums" menu, they're equally useful for songs.

And Kudos for being able to favourite albums - not many players can do that.

[2021-07-19 14:23] deluan commented on #1235
So, looks like the original `Makefile` should work. What error message do you get when trying to run `make`?

[2021-07-19 18:05] deluan commented on #1064
Hey @TheFlatworm , I'm closing this as it is the expected behaviour. Feel free to reply with you have any concerns.

[2021-07-19 18:05] #1064 closed

[2021-07-19 20:34] martin-sweeny opened #1256 "Web UI prevents KDE from sleeping"
### Description

When music is playing in the web UI in Ungoogled Chromium, KDE's screen lock is inhibited

### Expected Behaviour

Music playing should not inhibit screen lock

### Steps to reproduce

1. Prepare a box with KDE and Ungoogled Chromium / Chromium / Chrome
2. Play music in Navidrome
3. Observe the Battery & Brightness panel in your taskbar:

![image](https://user-images.githubusercon

[2021-07-19 20:34] martin-sweeny commented on #1256
While writing this I realized that you may need a laptop to repro this

[2021-07-22 00:47] Forceflow commented on #1181
@anarcat: It's probably besides the point, but do you end up using these album-specific playlists a lot? I know Bandcamp releases sometimes come with them, but I'm always listening in a context where the album tags are used to play an album, and not an album-specific playlist.

[2021-07-22 01:09] anarcat commented on #1181
I don't even remember *ever* using such playlists. I find them
completely useless, but I'd understand why they were historically
useful.

Right now it's just noise. :)

[2021-07-22 05:27] metalheim commented on #1181
I also endend up deleting all these playlists, because they annoyed me and I had no use for them.
But I get that isn't a solution for everyone

[2021-07-22 10:53] Forceflow commented on #1181
If you're on Linux:

`find "/path/to/music/folder" -name '*.m3u'` to see the playlist files found in the directory structure.
`find "/path/to/music/folder" -name '*.m3u' -exec rm -v {} \;` to delete them (obviously, move your **actual** useful playlists to somewhere else first)

Anyway, back on topic: a designated playlist directory that when set only makes Navidrome look for playlists there would

[2021-07-22 19:06] lostpolaris commented on #1256
Does this not happen w/ a similar context like playing video through VLC? Or playing other sources of media through Chrome like Youtube/Netflix?

[2021-07-23 22:46] karmanyaahm opened #1259 "32-bit Docker Images"
### Is your feature request related to a problem? Please describe.

Cannot install on a 32-bit Intel CPU.

### Describe the solution you'd like

Just like there are ARM images for raspberry pi's it would be nice if there were 32-bit images. I'm not sure about it but I would imagine the process is similar.

### Describe alternative solutions that would also satisfy this problem

Install from source

[2021-07-24 11:51] #1259 closed

[2021-07-24 13:03] deluan commented on #1259
Done. When I started supporting Docker images for multiple platforms, I decided to only add new platforms as needed/requested, as each new addition increases the time to build the project.

I'm curious to know why you need a Docker image for Intel 32-bit. Are you running Docker in a 32-bit host?

[2021-07-24 15:55] karmanyaahm commented on #1259
Yes, I'm using an old laptop as that's the only server I have access to that has storage available.

[2021-07-26 04:13] martin-sweeny commented on #1256
It doesn't happen when playing music in other players (Spotify, youtube, etc) and I think it only prevents sleep for videos when they're fullscreen and playing

[2021-07-29 13:44] pacija commented on #1235
Indeed, it works now out-of-the-box, sorry for the fuss.

Also, nice to see there's FreeBSD port in official tree as of lately:
https://www.freshports.org/multimedia/navidrome/

Best regards,

[2021-07-29 13:44] #1235 closed

[2021-07-29 16:27] RandomBloke85 opened #1263 "External Integrations not working?"
Hello

I installed the Navidrome freeBSD pkg (0.40.0-FREEBSD (8799358)) on TrueNas a couple of days ago and running it behind a nginx reverse-proxy. Everything is running fine and I love Navidrome, since it is extremly fast, easy to install and does what it is supposed to do - serving music. So thank you for that!

However, I tried to integrate the external integrations :-) as described here https

[2021-07-29 18:58] metalheim commented on #1263
Can you check the logs? And put the results here?

Usually they will show errors when something is not working. Especially when something is breaking the server.

If possible, please censor your spotify/last fm api keys. Later versions of navidrome will automatically censor it, but I think v0.40 does not have that feature.

[2021-07-29 20:48] RandomBloke85 commented on #1263
Could you tell which logs that would be and where to find them? I guess they should be in /var/log. But the debug.log shows only some flacs it couldn't read. And that's not a Navidrome issue. Sorry, I'm not so sophisticated...

[2021-07-29 21:59] deluan commented on #1263
If you installed using the instructions from the docs, you can find the logs here: https://www.navidrome.org/docs/faq/#where-are-the-logs

[2021-07-31 12:35] certuna opened #1264 "Downloads don't work on iOS/iPadOS PWA"
When running the Navidrome WebUI in Mobile Safari on iOS/iPadOS, downloads work as expected (i.e., they're saved in the default download folder of Safari).

When running Navidrome as PWA on the same platform, downloads do not work: click the download link, nothing happens.

Apparently this is a known issue, discussed here: https://developer.apple.com/forums/thread/119017 and can be solved with thi

[2021-07-31 15:20] mill1000 commented on #351
Throwing my opinion into the fray as a new user.

- I agree with the above mentioned mobile vs home use cases.
- I want the ability to set a default transcoder for new players.  Added bonus if it could be a per user settings. This way less savvy users could have a bandwidth friendly default, and advanced users could switch to lossless streams as they desired.

Additionally, is there any documentat

[2021-07-31 15:36] mill1000 opened #1265 "Mobile web interface animates cover art when EnableCoverAnimation is set to false"
### Description

When EnableCoverAnimation is set to false the cover art is still animated on the mobile web interface.

### Expected Behaviour

The cover art is not animated.

### Steps to reproduce

1. Set EnableCoverAnimation to false in configuration or via ND_ENABLECOVERANIMATION
2. Confirm that cover art does not animated in desktop web interface.
3. See that cover art does animated in mobil

[2021-07-31 17:52] certuna opened #1266 "FLAC comments are changed, database is not updated"
Just stumbled upon this bug:
- FLAC album with same Comments on each track
- scan
- remove comments from tags
- scan
- old comments are still there

can anyone reproduce this?

[2021-08-01 00:34] deluan commented on #1266
Thanks for reporting this. Yes, I can reproduce and will fix for next release (this week)

[2021-08-01 00:55] deluan commented on #1265
This is not a `bug`, as it is works as intended and is [documented](https://www.navidrome.org/docs/usage/configuration-options/#available-options):

IMHO, if we remove the animation from the mobile player, it will become very dull.

I'll change the issue type to "enhancement", and if anyone else think this is a good idea I can try to implement it (as this has to be "hacked" into the upstream react

[2021-08-01 00:59] deluan commented on #351
@mill1000:

No, there's no documentation and I don't even remember what exactly it does...  😛
I think this card is over due and I plan to work on it pretty soon.

[2021-08-01 01:17] deluan commented on #1264
Unfortunately this would load a complete base64 encoded version of the file in memory, before saving the file to disk. For a song it would work ok, but for a large album or an artist's discography, it could use too much memory and completely freeze the PWA (or even the phone).

Some insights on Blob's memory usage (from https://stackoverflow.com/a/43816041):

**Safari (10.1+ or perhaps earlier):**

[2021-08-01 01:54] travisfalk commented on #1263
Thanks for the great software.
I'm having the same problem. No artist Bio's. Everything else appears to work ok.
Last.fm similar artists are populated properly so the api appears to be working.
The error I get is 'error="json: cannot unmarshal number into Go struct field .artist.stats.listeners of type string" mbid= requestId=6e22a2f673f8/54AvCo8uKq-000005'
I'm using a docker container on Ubuntu s

[2021-08-01 02:39] mill1000 commented on #1265
Ah I had missed that bit. Thanks.

Re: dull player. Personally, I don't see the need for a player to be "flashy". Plenty of apps use static cover art and are still polished interfaces. I'd rather see the cover art in it's entirety instead of truncated version that's upside down half the time. If I wanted visualizations, I'd go for visualization.

But perhaps I'm barking up the wrong tree and I sho

[2021-08-01 04:37] travisfalk commented on #1263
Looking back through other issues, this has probably been already addressed in issue #1246

[2021-08-01 09:21] certuna commented on #1264
Hmm...there could be a filesize check with an arbitrary limit (say, 200 MB?), but that might be a bit too much work for just one platform - one that doesn't handle PWA's that well anyway. But if someone with more JS skills than I have wants to tackle this, feel free :)

[2021-08-01 10:59] accountForIssues commented on #1091
@deluan I'm facing a similar issue on the latest (as of today) develop image.

I've checked and it's the same issue. Last.fm returns wrong/empty results for the correct mbid (verified with musicbrainz).

eg.

[Hans Zimmer](https://musicbrainz.org/artist/e6de1f3b-6484-491c-88dd-6d619f142abc) with mbid `e6de1f3b-6484-491c-88dd-6d619f142abc`

The response from Last.fm:

`https://ws.audioscrobbler.com

[2021-08-01 16:08] #1266 closed

[2021-08-01 16:13] deluan commented on #1091
:/

Besides letting Last.fm know about these issues and having them fixing these, the only solution I see is to not use the MBID, which is not great for disambiguation....

[2021-08-01 17:05] deluan commented on #1263
@travisfalk Yes, the issue you are facing is already fixed and will be part of the next release (this week?)

[2021-08-02 01:47] mill1000 commented on #351
Ha ok, well I won't stress about it then.

Some other thoughts I had on transcoding:

**Arbitrary quality levels**
The current implementation pretty much assumes constant bitrate (CBR) encoding. We can enter arbitrary commands so it's still possible to use variable bitrate (VBR), but we lose the ability to adjust the quality without setting `ND_ENABLETRANSCODINGCONFIG` and editing the command.

Th

[2021-08-02 10:46] certuna commented on #1036
Yeah I think this is indeed best handled upstream by the tag library.

[2021-08-02 19:51] jicho opened #1274 "Scheduler starts even when disabled with ND_SCANSCHEDULE"
### Description

When I create a new instance of Navidrome like this:
[code]

I still see a scheduler appearing in the logs:
[code]

When I change the variable into ```-e ND_SCANSCHEDULE=""``` the result is the same.

Am I doing something wrong here? Or am I not understanding the documentation correctly that I've found here:
https://www.navidrome.org/docs/usage/configuration-options/#available-opt

[2021-08-03 03:52] deluan commented on #1274
Thanks for the report, will take a look. Can you please set the `ND_LOGLEVEL=debug`, restart the container and post here the config that is dumped in the logs?

[2021-08-03 03:53] #1215 closed

[2021-08-03 08:40] jicho commented on #1274
Little addition... After the initial index, based on my docker run, I get scans in my logs:
[code]

[2021-08-03 11:52] daviddavo opened #1276 "Hiding [Unknown-Album]"
### Is your feature request related to a problem? Please describe.

When you go to Random Albums, most of them are just [Unknown-Album] with one or two songs

### Describe the solution you'd like

Add the possibility to ignore certaing albums/artists in Random View

### Describe alternative solutions that would also satisfy this problem

Treating it as a whole album: Setting it as a compilation or

[2021-08-03 12:45] deluan commented on #1274
A simple workaround is to use the old ScanInterval to disable it. Just set it to zero: `ND_SCANINTERVAL=0`

[2021-08-03 15:11] jicho commented on #1274
Ah, thank you for this hidden feature (as in... it isn't documented in the docs).
This workaround works nicely

[2021-08-03 16:30] Tropaion commented on #250
Are there any news about this feature? I would be really interested in it.

[2021-08-03 16:34] xorander00 commented on #832
I'll throw in my $0.02, as I think object store support (i.e. S3) would be very useful...

- Mounting an S3 bucket using tools like rclone or s3fs isn't ideal because it's faking a POSIX compliant file system on top of an S3 bucket.
- It can be fragile from the perspective of reading/writing since file systems are generally expected to have far less latency than object stores, which in the broader

[2021-08-03 18:30] metalheim commented on #1276
I agree that there is audio content that does not fit the vinyl/tape/CD based paradigms of categorization into "albums" that tag systems like id3 and vorbis depict.
An the amount of content like this gets more, as distribution forms evolve.

But, in your case, it looks like you're just too lazy to tag your audio properly? (not trying to be rude, I certainly have some messy tagging in my library)

[2021-08-03 19:00] andrewzah commented on #1186
I've had this issue as well, with a 4-CD album / 98 songs. After a little bit the UI completely freezes and I have to load a new tab.

* Navidrome version: `0.44.1-SNAPSHOT (c0fc36da)`  in docker on debian 10
* Browser and version: `Firefox 78.11.0esr`
* Operating System: `Debian 10`

[2021-08-03 23:14] deluan commented on #1186
@KucharczykL and all: I just tried with Firefox version 89.0.2 (same version @ToadCast is using and didn't have the issue), with a 280 songs album and was not able to reproduce this as well. Can you please try upgrading your browsers to the latest version? Also is it possible to test with a different browser?

@nicholas-robertson How large is the playlist? Can you also try upgrading to 89.0.2?

[2021-08-03 23:20] deluan commented on #1276
Hey @daviddavo, thanks for using Navidrome. What I do in these cases is create a fake album, something like: "Rarities" or "Outtakes" to group all dangling songs from an artist together.

Or if you don't want these songs in your collection, the best solution is to do what @metalheim suggested: remove them from your library or just ignore them.

We have plans to introduce more album filters in the

[2021-08-03 23:39] #1274 closed

[2021-08-03 23:40] deluan commented on #1274
`ScanInterval` is not documented because it is a deprecated config option that was replaced by `ScanSchedule`.

What happens if you set the value with `-e ND_SCANSCHEDULE=''` (using single quotes instead of double quotes)?

Anyway, I added the option todisable scans by setting `ScanSchedule` to `0` as well as empty, and will update the docs once I release the next version.

[2021-08-04 06:04] KucharczykL commented on #1186
I just did a quick test with Firefox 90 and Chromium 92.

Firefox loaded the album and I could scroll freely without freezing but when I clicked on a song to play, it kept loading and eventually froze the app but not the browser.

Chromium could both load and play a song but after 31 seconds of playback the app froze, too. I could still scroll the list but the playback controls were not interactiv

[2021-08-04 11:22] deluan commented on #1186
Can you try with Navidrome 0.44.1? It fixes a bug in the Activity Panel that could cause this type of UI freezing.

[2021-08-04 11:55] KucharczykL commented on #1186
I am running 0.44.1 (fb183e58).

[2021-08-04 11:57] jicho commented on #1274
👍

Just for the record, I've tried ```-e ND_SCANSCHEDULE=""``` and ```-e ND_SCANSCHEDULE=''```.
Both resulted in an active scheduler.

The ```0``` sounds like a good solution and also a nice visible confirmation. Empty text between quotes is readable, but you always has to look twice.

[2021-08-04 12:27] deluan commented on #1186
Can you try disabling the activity panel, then?

[2021-08-04 15:11] KucharczykL commented on #1186
I can confirm setting ND_DEVACTIVITYPANEL to false fixes the freezes. The UI is still slower than usual, like clicking songs or buttons takes about a second to register, but at least it works now. Thanks! :grin:

[2021-08-05 10:11] KucharczykL commented on #643
Hi, would this also solve issues like having Japanese, Chinese and other-than-English names sorted after everything else instead of where it's supposed to be?

[2021-08-05 15:00] jicho opened #1277 "Not all covers are not displayed"
Hi,

What can be the cause that covers are not visible with albums?
In a number of case I see the blue LP and not the cover that is stored in the album folder :(

I've started Navidrome in docker with this param ```-e ND_COVERARTPRIORITY="folder.*, cover.*"```
As said some covers are visible other aren't.

I did found an issue that the .jpg could have issues, that's why I did a verify test with th

[2021-08-05 15:40] jicho commented on #1277
Hmm... can it be that the audio files that have no cover embedded are displaying with a blue LP?
In other words... The cover that is in the folder is not used even when the, in my case, docker variable is "saying" that it should only look at the cover files?

[2021-08-05 15:46] jicho commented on #1277
Yes, that's it!
When I add the covers to the audio files, execute the "rescan" option the cover popups up in Navidrome :)

It feels like a bug, or... I'm understanding the documentation incorrect.

[2021-08-05 16:36] jicho commented on #1277
Last log entry ;)
Sorry... I messed up my installation... Covers are read with the given option, my mistake.
Thanks for reading!

[2021-08-05 16:36] #1277 closed

[2021-08-06 12:58] ToadCast commented on #489
Hello, I'm raising back this topic from last year 👋

I've been changing the name of the album in the first place to fit the need, but it starts to be really bothering with my collection. But when I navigate on the album list, that different years are displayed (it's already nice to know) like this:
![album](https://user-images.githubusercontent.com/31543450/128510759-116d00b0-a5e1-460d-a911-ec6c6a

[2021-08-06 21:46] RandomBloke85 opened #1279 "Possible bug with Recently Added"
Hello

First let me thank for that fantastic piece of software you've developped. It's small, easy to setup and super fast. So I'm very happy.

The only issue I have is it does not show updated Albums, only new Albums added to the directory (without cover).
Im running version 0.40.0-FREEBSD (8799358) in a TrueNas 12.2 jail behind a nginx proxy installed from pkg install.
Adding `RecentlyAddedByMod

[2021-08-09 06:03] quotengrote commented on #1164
Hi,

is this fix already in the latest release or should i stay on `deluan/navidrome:develop`?

[2021-08-09 06:54] certuna commented on #1276
What could be done is auto-hide any `[Unknown Album]` from the Album view, client-side. That way the songs still pop up in the Songs view but not in the Albums view.

[2021-08-09 07:36] daviddavo commented on #1276
Yeah, I ended up creating a script that is called every time I import an album with beets. The script puts all the "singletons" in a single album with `Various Artists` as albumartist, and compilations set to True.

My idea was to do something like the "Single Tracks" option from Cantata (mpd client)

![image](https://user-images.githubusercontent.com/10263941/128672913-83df4705-29cc-4a9b-a136-14e

[2021-08-09 10:44] certuna commented on #1276
You could also tag singletons with "Singleton" in either the Grouping or Release Type field, and then smart filter, like set the Albums view to exclude Podcasts, Audiobooks and Singletons. I think @deluan had some plans in that direction?

[2021-08-09 13:56] deluan commented on #1164
It was not released yet, so if you need this, please keep using the `develop` build. Hopefully I'll be able to release a new version this week.

[2021-08-09 17:49] quotengrote commented on #1164
👌

[2021-08-10 13:24] nuts-i77 opened #1283 "Some songs categorized to [Unknown Album]"
### Description

Some songs categorized to [Unknown Album]

### Platform information
 - Navidrome version: 0.44.1
 - Browser and version: chrome 92.0.4515.131
 - Operating System: CentOS 7, and using binary

### Additional information
I tried the following, but it didn't work.
* quick scan, full scan from WebUI
* Run "navidrome scan -f" command on server

Here is the screenshot.
![screenshot](http

[2021-08-10 16:40] deluan commented on #1283
Thanks for reporting. Can you please attach the output of the `ffmpeg` command above as text? Or attach one of the songs from the problematic album?

[2021-08-10 23:24] nuts-i77 commented on #1283
Thank you for your reply.

Here is output of the ffmpeg command.

[code]

[2021-08-10 23:40] deluan commented on #1283
The output works correctly with `ffmpeg` extractor. Maybe `taglib` has issues with it? If you can, please send the file to _issues @ navidrome.org_ so I can take a look.

In the meantime, you can try using the `ffmpeg` extractor. Just set the `Scanner.Extractor="ffmpeg"` in your configuration. You may need to delete all files in the data folder so Navidrome starts from scratch.

[2021-08-11 00:34] deluan commented on #1283
Thanks for the file. I don't see any issues when using the latest develop build:

<img width="1551" alt="Screen Shot 2021-08-10 at 8 32 47 PM" src="https://user-images.githubusercontent.com/331353/128952050-5a7d59b0-3beb-40a2-b8f1-2ff89224e8fb.png">

There were some changes in the scanner, so you can try with the latest develop build, or wait for the next release (probably this weekend)

[2021-08-11 00:45] nuts-i77 commented on #1283
Thank you for your swift response.
When I changed Scanner.Extractor to "ffmpeg" in navidrome 0.44.1, the issue did not occur.

I would like to see if this issue will occur in the next release.

[2021-08-11 09:33] vandonmake opened #1284 "Installation fails on Ubuntu 16.04: make buildall"
I followed these steps https://www.navidrome.org/docs/developers/dev-environment/

Fail on step 7.
```make buildall```

### Output on terminal
[code]

### Platform information

 - Navidrome version: v0.44.1
 - Operating System: Ubuntu 16.04

### Conclusion
I have no idea what is the cause of error. In Makefile at line 71 to 73 there are these:

[code]

How should I fix this?

[2021-08-11 14:57] mill1000 commented on #1284
What version of taglib does your system have? Perhaps there's a compatibility issue.

On Ubuntu 20.04 I have 1.11.1 and everything builds OK.

[2021-08-11 15:00] bbsixzz commented on #585
I would like to suggest a command that takes you to the currently playing track in an album.

Just like clicking the currently playing track.

Cheers

[2021-08-11 16:26] vandonmake commented on #1284
That was it! I installed taglib version 1.11.1.

Downloaded tar package. Then I did these commands:
[code]
Earlier on step 3 I used command ```sudo apt install libtag1-dev``` which was not enough.

Thank you. It helped.

[2021-08-11 16:27] #1284 closed

[2021-08-11 16:33] mill1000 commented on #1284
@deluan Perhaps it's worth updating the docs to mention a minimum taglib version?

[2021-08-13 08:47] metalheim commented on #1053
@dheerajdlalwani there is an open PR from @moulinapradhan of this issue linked.
I don't know if he/she plans to finish this pr, maybe drop a message?

[2021-08-15 03:22] blunderberg opened #1286 "Navidrome web player stalls (stops playing) before track is finished"
### Description

This is an intermittent issue I have seen happen more frequently with Navidrome versions 0.44.0 and 0.44.1

Before a track reaches the end, the web player stops playback. It usually happens near the end of a track, but I have seen it happen a few times 2/3 through a track.

### Expected Behaviour

Keep playing.

### Steps to reproduce

Play 200 random tracks by navigating to "Song

[2021-08-16 07:46] KucharczykL commented on #1186
@deluan I am not sure whether I should keep the issue open or close it. For me, the main issue was fixed, even though I have to use a dev flag. However, there is still a slowdown but I think filing a separate issue to track that might be better. What do you think?

[2021-08-16 08:29] nicholas-robertson commented on #1186
798 songs.

I can also confirm that adding `ND_DEVACTIVITYPANEL: "false"` to `docker-compose.yaml`.

[2021-08-17 00:13] Kiina commented on #1263
I'm not getting any errors or even a mention of spotify in the logs except for `{"log":"time=\"2021-08-17T00:05:31Z\" level=debug msg=\"Spotify integration is ENABLED\"\n","stream":"stderr","time":"2021-08-17T00:05:31.189105845Z"}` (but it also does that with the lastfm one I haven't configured). Tried switching over to the develop tag of the docker image. When I do a `printenv` inside the contain

[2021-08-17 00:45] g4rry420 commented on #868
Is this issue still open or not ?

[2021-08-17 01:36] deluan commented on #868
It is. The open PR does not work in some situations, but as this affects not many ND users, and a simple workaround exists (put songs in a subdir under the Music Folder), it is very low priority at the moment. I plan to take a look at it once I get to the [Multiple Libraries](https://github.com/navidrome/navidrome/issues/192) implementation

[2021-08-17 05:08] mayanez commented on #192
I'd also be willing to support a bounty. Alternatively, I'd be willing to help out with the implementation as well. I'm not at all familiar with the codebase and what it would entail, but maybe if one of the maintainers could point me in the right direction I'd be happy to take a look.

[2021-08-17 06:18] jicho opened #1289 "Favorites are sorted by addition order"
### Description
When you make albums favorite by pressing the stars they are visible in the same order as the hearts pressed.
Why isn't this ordered by Album name?

### Expected Behaviour
I would expect to have the order of the albums, not by the order of pressing hearts and/or the stars pressed.

### Steps to reproduce

1. Login
2. Click hearts random
3. Press favorites
4. You see the order or th

[2021-08-17 17:57] #1265 closed

[2021-08-17 23:54] g4rry420 commented on #1289
Can I work on this issue ?

[2021-08-18 01:00] deluan commented on #1289
@jicho Thanks for trying Navidrome! This is the expected behaviour: The Album List views were created to mimic the behaviour of Airsonic/Subsonic. We plan to make all views (including song/artist/genre/playlists) more flexible, allowing table/grid view and also allowing to specify the sort order, but for now this is not something we will "fix" in the current Favourites view.

@g4rry420 Sorry, but

[2021-08-18 01:00] #1289 closed

[2021-08-18 06:14] jicho commented on #1289
@deluan That sounds logical, I will survive till #1035 is implemented.

[2021-08-18 11:34] certuna commented on #192
It's not a super trivial thing. I think, from the top of my head, there's at least the following steps (please correct me if I'm wrong):

Create new database table `base_folder` with `id` (an UUID), `path` ("/path/to/folder1") and `name` (to give it a fancy name "Harry's Audiobooks Folder")

Write the server code to pick up the (comma separated?) list of base folders from the configfile and popula

[2021-08-18 14:13] certuna commented on #643
If the sort field (Sort Artist, Sort Album, Sort Title, etc) contains the Romanized names, then yes.

[2021-08-18 19:22] ghost opened #1290 "Prioritize User's Playlists on top of Playlist List"
When adding to or accessing the playlists, if there are many shared playlists - it is difficult to find playlists created by me, the current logged in user.

It would be nice if the current user's created playlists were located at the top of any lists - like dropdowns and pageviews, putting the shared playlists after the user's.

[2021-08-18 21:35] devilliersjohnny opened #1291 "Error creating data path"
Hi am attempting to run the project in docker... have tried everything under the sun, keep hitting "Error creating data path" I however have created all the other containers in the same directory without issues?! Am using a .env file to make sure that all is the same and so that I can replicate my containers at any time... looking at container details from inside portainer the only thing that seem

[2021-08-19 13:16] deluan commented on #1291
Thanks!

Are you using a non-root user? Check permissions on the directory you specified as the data volume. If using docker-compose, please attach the docker-compose.yml file  here and also some logs

[2021-08-19 16:01] jvoisin opened #1292 "Limit the size of the journal on disk"
### Description

The journal file of my navidrome database is bigger than the actual database:

[code]

### Expected Behaviour

Have a super-small journal file on disk.

### Steps to reproduce

1. Run navidrome
2. Do a couple of re-scans and `vacuums`

### Platform information

 - Navidrome version: 0.45.0
 - Operating System: Linux

### Additional information

[`journal_size_limit`]( https://www.

[2021-08-20 01:26] nuts-i77 commented on #1283
I tried Navidrome v0.45.0 and it worked perfectly!
This issue will be closed.

[2021-08-20 01:26] #1283 closed

[2021-08-20 10:07] devilliersjohnny commented on #1291
Am the sole user of the system... have created a non root user with sudo permissions and am the owner of all the directories using the chown directive, my testing ( Short compose file ) can be found here... https://pastebin.com/5qA8BBwm

Logs from portainer... am still pretty new to this all, if there are any other ways of creating/viewing logs please let me know
_   _                 _     _
| \

[2021-08-20 11:04] michael-ball opened #1293 "API: failed response with "Internal Error" message when lastfm integration is enabled"
When using latest the latest navidrome (0.45.0) with Last FM integration enabled, I get an error popup in the DSub client when trying to view artist info.

The navidrome log shows the line:
Aug 20 11:55:07 hostname navidrome[4774]: time="2021-08-20T11:55:07+01:00" level=warning msg="API: Failed response" error=0 message="Internal Error" requestId=hostname/9cPSZIk1rv-000014

This happens for every

[2021-08-21 08:10] metalheim commented on #1293
@deluan I guess that's the issue I sent you trace log for :)

[2021-08-21 18:06] deluan commented on #728
Hey @jaum20, are you still having this issue?

[2021-08-21 18:16] Ominitay commented on #728
Hi there! As of a few weeks ago, I've been using the docker container. I'm not sure what that changes, but all of my library has worked with it without having to change the extractor.

[2021-08-21 18:20] williamkray commented on #793
i just stumbled across [this project] which is a golang-based podcast fetching application, i feel like the opportunity for these projects to join forces would be exceptional.

[2021-08-21 18:21] deluan commented on #728
There were some changes in the extractor after this issue was open, that may have fixed it for most of the cases. For those who are still having this issue, there are some files that `taglib` simply cannot read. You can try removing and re-adding all tags for these files, or use the `ffmpeg` extractor, which is more resilient to such errors.

Anyway, I'm closing this issue for now.

[2021-08-21 18:21] #728 closed

[2021-08-21 20:34] deluan commented on #1293
Thanks for reporting! Can one of you attach (or send me) one song from one of the affected artists, please?

[2021-08-21 23:37] jaum20 commented on #728
@deluan, I still having this issue after the last docker update :(
I'm using ffmpeg

[2021-08-21 23:38] deluan commented on #1293
Found and fix the issue, with @simojenki's help.

[2021-08-21 23:38] #1293 closed

[2021-08-21 23:42] deluan commented on #728
@jaum20, can you please send me a file with error ? `deluan @ navidrome . org`

[2021-08-22 01:24] jaum20 commented on #728
Basically it gives an error with any .m4a file. I sent one to you. I had to remove and recreate it to make it work again

[2021-08-22 09:39] wanieru opened #1296 "Next song always plays at 50% volume (Web UI 0.45.0)"
### Description

In the Web UI, after listening to a song at, say, 20% volume, the next song to come up (either from skipping or the previous song ending) will play at 50%. The volume bar will appear to still be at 20%. Slightly nodging the volume slider will significantly reduce the volume back down.

### Expected Behaviour

The volume should play at the same as the previous song, reflecting the

[2021-08-22 09:45] wanieru opened #1297 "Volume & Volume Slider sometimes rises when skipping song (Web UI 0.45.0)"
### Description

In the web UI, sometimes, the volume slider will start increasing every time the song is skipped, until maxing out at 100%.

### Expected Behaviour

The volume slider should not change until the user changes it.

### Steps to reproduce

1. Queue multiple songs
2. Change the volume slightly, between 2-10%
3. Skip to the next song
4. Notice if the volume slider rises. If not, repeat

[2021-08-22 15:13] deluan commented on #728
@jaum20 Thanks for the file. I tested it here with `taglib` and it works as expected (but no coverart):
<img width="968" alt="Screen Shot 2021-08-22 at 11 11 51 AM" src="https://user-images.githubusercontent.com/331353/130360313-758e3c51-a8df-4593-9fd1-0495eb3a7127.png">

Are you having issues with this specific file?

[2021-08-22 16:24] deluan commented on #1186
Hey folks, for those still having this issue, I think I got a clue of what is happening. Can you please do a test for me?

Set `LogLevel="debug"`, set `DevActivityPanel=true`, restart Navidrome. When it freezes, take a look at the logs and find one or more messages like this:
[code]

And please report in this thread what is the maximum `numClients` you can find in the logs. Thanks in advance for t

[2021-08-22 16:35] deluan commented on #1297
Thanks for reporting! Latest development build should fix it, can you please try it?

[2021-08-22 16:35] deluan commented on #1296
Thanks for reporting! Latest development build should fix it, can you please try it?

[2021-08-22 19:36] KucharczykL commented on #1186
For me `numClients` says `1`. The UI froze and after the current track completed, no more songs played.

[2021-08-22 21:53] ryansalerno commented on #1293
Ran into this and can confirm the pushed fix works for me now.

[2021-08-23 09:23] wanieru commented on #1297
Yep, it seems to work! Thanks a lot!

[2021-08-23 09:23] wanieru commented on #1296
Yep, it seems to work! Thanks a lot!

[2021-08-23 09:23] #1296 closed

[2021-08-23 13:55] mradermaxlol commented on #1297
@deluan any ETA for the next release containing this fix?

[2021-08-23 14:00] deluan commented on #1297
Probably today. I'm trying to validate another fix, so it can be included in this bug fix release

[2021-08-23 17:59] andrewzah commented on #1186
On `0.45.0-SNAPSHOT (cf042ed8)` I've been unable to reproduce this issue with the dev activity panel enabled.

Large albums can take a few seconds to load and picking a new song has about ~1s delay, but there was no freezing or anything like before.

[2021-08-23 19:47] jaum20 commented on #728
Yes, it was skipped by taglib

[2021-08-23 21:31] deluan commented on #728
Are you running Navidrome on Windows? Maybe you are getting this issue? https://github.com/navidrome/navidrome/issues/810

[2021-08-24 02:41] mill1000 commented on #1297
Using the latest commit c55e65902b8a6a8f455b9501c0e46f60924e41a6 I've noticed a strange volume slider behavior.

When starting playback the volume starts at 50%. I then increase volume to 100% and click next track. The slider jumps downward. Each new track the slider shifts slight more right until it reaches 100%.

![Animation](https://user-images.githubusercontent.com/6924622/130547272-6da7904c-c

[2021-08-24 04:49] hg2s commented on #1292
What do you mean by 'vacuums'? Is that a command?

-Thanks

[2021-08-24 16:17] gr34n opened #1301 "[Feature Request] - Populate ratings from file metadata"
I have a considerable song collection, which I started to rate at some point to organize it. All web players I've tried so far supported only their own rating system in their own databases. I never really bothered to transfer ratings there because of enormous amount of manual work and lack of compatibility with another players (in case of migration).

As I see it, the main purpose of web players i

[2021-08-24 18:03] whorfin opened #1302 "Source for v0.45.0 missing .gitinfo file"
This is a trivial "oops" complaint, but still seems worth noting:

#1250 provided the foundation to fix #1224

Unfortunately the `.gitinfo` file is missing from the tarball for v0.45.0
https://github.com/navidrome/navidrome/archive/refs/tags/v0.45.0.tar.gz

Manually plonking this in there fixes it right up:
[code]

[2021-08-25 05:33] antipiot opened #1303 "Dsub app get "internal error" while loading artist BIO"
### Description

On dsub app, when opening an artist, i get an error "server error: Internal error"
It feels like it's caused by "loading artis bio" from the server to the app.

### Expected Behaviour

To not be welcome by an error

### Steps to reproduce

Connect dsub to your navidrome instance
Open an artist
See the error

### Platform information

 - Navidrome version: 0.45.0
 - Dsub Version: 5

[2021-08-25 05:37] antipiot commented on #1246
I guess this will fix my problem in client aswell:
https://github.com/navidrome/navidrome/issues/1303
Will close my case.

[2021-08-25 05:37] #1303 closed

[2021-08-25 05:43] EdgarVerona commented on #682
As a home assistant user, I can confirm that your suspicions are correct @bjhiltbrand - I have a local Google Assistant integration going with Home Assistant, and it keeps the communication entirely between my server and Google at the expense of a bit of one time manual setup.

[2021-08-25 13:15] certuna commented on #1301
Yeah, you're touching on a number of ratings (and playcounts!) issues.

- if Navidrome stays read-only (which I hope so, it's a good thing from a security and file corruption point of view), we cannot write our playcounts and ratings to the tags
- reading ratings from tags (`POPM` in id3): ratings are [stored by-user](https://id3.org/id3v2.4.0-frames) (specified by email address!), how should navi

[2021-08-25 15:17] C-Fu commented on #1046
ND_INSTANCE_NAME would be awesome! I wanna have different servers for different libraries, eg. Western/Hollywood files that prefer lastfm, and local stuff that prefer spotify for instance.

[2021-08-25 19:21] ghost opened #1305 "Option to toggle recently played for all users or current user"
In the Recently Played section of the album lists - an option to show what all users recently played as well as an option to show what the logged in user recently would be great.

[2021-08-26 08:42] ghenry22 opened #1306 "getAlbumList2 / getAlbumList API for type recent returns no data but web UI shows recent albums"
### Description

Get Recently Played Albums from API returns no results when there are recent plays shown in the web interface.

### Expected Behaviour

Get recently Played Albums from the API will return the same list of albums as shown in the web UI.

### Steps to reproduce

Setup a new navidrome instance
Add some music
Play songs from a couple of albums and see in the web interface recent secti

[2021-08-26 08:54] ghenry22 opened #1307 "getArtistInfo2 / getArtistInfo API requests fail with internal server error"
### Description

When calling the getArtistInfo2/getArtistInfo API endpoint the request fails with an internal error.
This is causing a hang when loading the artist detail view on the substreamer app for example.

### Expected Behaviour

When I call the getArtistInfo2/getArtistInfo API endpoints I receive a valid response.

### Steps to reproduce

1. Open the '...'
2. Click on '...'
3. Scroll down

[2021-08-26 14:10] #1307 closed, assigned to nobody

[2021-08-26 20:17] Iwyil opened #1308 "Random freezes with extremely high cpu usage while playing (docker latest - 0.45.1)"
### Description
While playing any song, the entire UI of the browser suddenly freezes and the music stop playing. Monitoring performance reveal a constant CPU usage of 100%. When the spike after many seconds stops, music will continue and the UI will start to work again, just to repeat the cycle, freezing after some time. The freezing time and impact of it on the browser increase over time.
(Simil

[2021-08-27 22:35] Horuyuki opened #1309 "Sort Albums By Folder"
### Is your feature request related to a problem? Please describe.

Sometimes my music is not perfectly tagged, being able to just have the album organized by folder would be nice. Or a directory browsing method.

### Describe the solution you'd like

1. Option to or default to sort album by folder

### Describe alternative solutions that would also satisfy this problem

1. Browse music by directo

[2021-08-28 04:59] renere opened #1311 "Allow custom CSS"
I'm not sure if this is possible or not, but the ability to load custom CSS to make small changes to the visuals of the site without having to set up a dev build and create a whole new theme / edit any of the files would be very convenient.

[2021-08-28 08:02] Iwyil commented on #1308
Seems to be a duplicate of #1186
Adding the environment variable ND_DEVACTIVITYPANEL=false, solves the problem of JavaScript using all the available CPU. I will and more information if I have them in the other issue.

[2021-08-28 08:02] #1308 closed

[2021-08-28 09:06] Iwyil commented on #1186
I am having the same issue. Both with Chromium and Firefox. I ma using a docker image, version 0.45.1 (when I downloaded it was the 'latest'). Setting `ND_DEVACTIVITYPANEL=false` make things run without problems.

For me `numClients` is `1`.

I don't know if it might help, but I have a performance profile of Chromium. The domain has been set to `music.example.com`
[profile-chromium-navidrome-0.45.

[2021-08-28 23:35] #810 closed

[2021-08-29 09:18] tokyovigilante opened #1312 "Additional/Custom music format support"
Hi,

Firstly thanks for the great software, have been using Navidrome on my home server for a year or so now and it's been fantastic.

However I have a collection of MOD music in various formats (`.S3M`, `.AMF`), mostly videogame soundtracks and demoscene recordings, which would be great if Navidrome could support.

Consequently it would be great if custom file formats could be specified (by exten

[2021-08-29 14:20] msartiano commented on #316
Hello, may I ask if Internet Radios added then? If so, how would I add my internet radios to Navidrome?
Thanks, the Software is amazing!

[2021-08-30 02:44] gr34n commented on #1301
As I said, I don't think ratings are reason enough to switch files to RW-mode.

Ok, I forgot about email part of id3 specs. Still, doesn't seem too difficult. It can be an optional field in personal settings or in dialog box in case of manual import.

While I can't say anything against adding second rating field to the DB, displaying/managing several ratings in web player itself can make UI more c

[2021-08-30 11:17] Igeljaeger opened #1313 ""Database could not be opened!" when starting navidrome as docker"
### Description
This error occurs when I follow the Docker instructions of Navidrome after already having it used for a normal install on my RPi4. Where is it looking for the Database and can I declare a path? Why doesn't it create a new one?
[code]

[code]

### Expected Behaviour

For it to create a new database instead of looking for an existing one.

### Steps to reproduce

1. Install Navidrome

[2021-08-30 15:31] certuna commented on #1301
I might not have been clear enough - obviously we're not going to show multiple ratings in the UI, this storage of different ratings would only be serverside, the API just exposes one rating clientside.

Sure there is:
1. import ratings from metadata and write to a `tag_rating` DB field
2. allow rating from the navidrome web UI or Subsonic clients, written to `navidrome_rating`
3. the API has a me

[2021-08-30 15:43] certuna commented on #1312
Navidrome does not have codecs onboard, it relies on the formats supported by the browser (or the Subsonic player app). If Chrome/Safari/Edge/Firefox can't play MOD/S3M, neither can Navidrome.

You're probably better off rendering these file to WAV/FLAC/MP3 once, and keep the original MOD/S3M files somewhere else.

[2021-08-30 17:42] DX21-LLC opened #1319 "Option to have API return either true path or tag derived path"
### Is your feature request related to a problem? Please describe.

This request is focused for the album list returned for an identified artist, but could be beneficial for the entire physical path.

This is not an issue with the native UI, as switching to table view allows for a good sort.  But in 3rd party apps, alphabetical sorting tends to be the only option, and usually that is either by fol

[2021-08-30 19:10] devilliersjohnny commented on #1291
Hi found the problem.... on your website, your docker-compose file reads

version: "3"
services:
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      # Optional: put your config options customization here. Examples:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND

[2021-08-30 19:30] devilliersjohnny commented on #1291
Hi found the problem.... on your website, your docker-compose file reads

version: "3"
services:
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      # Optional: put your config options customization here. Examples:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND

[2021-08-31 01:56] doggogoesbork commented on #1286
Can confirm, have the same issue. happens with a 200+ long playlist as well

[2021-08-31 07:12] metalheim commented on #1313
You specified "navidrome" as your data folder (where the will go amongst other things) with that line:
` - "navidrome:/data:rw"`

Does it exist and is writeable?
I think it would be better to set it to an absolute path like "/home/pi/navidrome/data", so you would need to:

`mkdir /home/pi/navidrome/data`
and then change your docker-compose to say:

`  volumes:
      - "/home/pi/navidrome/data:/dat

[2021-08-31 09:38] tokyovigilante commented on #1312
Thanks for the response. I understand Navidrome is just doing the indexing, but that is my point, if I have a player that supports additional formats beyond the browser, it would be nice to be able to add that music to Navidrome.

I can certainly transcode to FLAC etc, but I like to keep my music as close to the source as possible, and for MOD this is obviously the original format. I note that Nav

[2021-08-31 15:54] DX21-LLC opened #1321 "Recently Added includes Albums with only Tag Updates"
### Description

Under Recently Added, both new Albums and Albums where any file therein has the Album Artist tag updated are shows in chronological descending order.

I would fully expect this if I completely changed the Artist name (e.g., "Depeche Mode" to "Recoil"), but case correction changes (e.g., "Depeche mode" to "Depeche Mode") are being considered new entries.

### Expected Behaviour

Ca

[2021-09-01 00:48] Horuyuki opened #1322 "Can't update library after changing the contents of /var/lib/navidrome/navidrome.toml"
### Description

Updated a new location of where music is stored in the file:
[code]
Restarted the service, but there were no new files being added. Plex is using that directory just fine.

### Expected Behaviour

Albums should pop up and stuff.

### Steps to reproduce

should be already described.

### Platform information

 - Navidrome version: 0.45.1
 - Browser and version: firefox
 - Operating

[2021-09-01 10:44] Igeljaeger commented on #1313
the volume would usually be created when
[code]
is added AFAIK. But I guess I'll use the path instead like you suggested. Thanks

[2021-09-01 10:44] #1313 closed

[2021-09-01 14:32] Dnouv commented on #1311
Hi, @renere; thank you for trying navidrome and opening an enhancement request. If you could elaborate on the changes you want to custom change, it might help to make the required changes.
Please feel free to comment. Thank you!

[2021-09-01 15:36] ch1nch4ch4 opened #1323 "MP3 Tags being ignored"
### Description

I have imported MP3 files into NaviDrome all of which have Artist/Album/Title etc tagged however NaviDrome isn't able to see this and details Unknown artist / album etc. I have also imported a file from another user that works on their installation however on mine it doesn't.

### Expected Behaviour

Correct artist/album/tag data to be displayed.

### Steps to reproduce

1. Downlo

[2021-09-01 17:26] bwat47 commented on #1292
@hg2s  https://www.sqlite.org/lang_vacuum.html

[2021-09-01 23:20] jaum20 commented on #728
Not. I’m using centos

[2021-09-02 00:54] Forceflow commented on #1292
Do you often remove media? My journal file is smaller than my db file, but I generally only *add* music

[2021-09-02 04:13] Hukuma1 commented on #248
Am I in the right place?

I am trying to iframe Navidrome into Home Assistant (since there is no native Home Assistant integration). Using Home Assistant's normal iframe_panel method: https://www.home-assistant.io/integrations/panel_iframe/

I don't even make it to the username/password screen of Navidrome. :/ Blocked by header immediately?

`Refused to display 'http://192.168.1.4:4533/' in a fram

[2021-09-02 11:48] ghenry22 commented on #1309
Subsonic and the subsonic API support browsing by folder structure out of the box, might be worthwhile supporting in navidrome for compatibility.

In substreamer for example I have an albums section and a folders section and can browse either way or set a preference to only use one or the other.

[2021-09-02 21:10] certuna commented on #1323
I can not reproduce this on macOS, file gets scanned correctly with all metadata.

Does changing the scanner (ffmpeg instead of taglib) make a difference? So you are running Navidrome in Docker on macOS with the media as a remote Google Drive mount? That's a pretty complex scenario. If you run the native Navidrome macOS binary and/or with local files, does it still happen?

[2021-09-02 22:00] ch1nch4ch4 commented on #1323
Hi and thanks for the advice. I updated the config and changed the scanner and it is now working. :-D

[2021-09-02 22:00] #1323 closed

[2021-09-03 08:00] wanieru commented on #1286
I have this issue as well, using Firefox. Happens even with short playlists, but especially long tracks (20+ minutes). However, for me the track doesn't resume when clicking on the unplayed part of the track bar.

[2021-09-03 17:10] vian9 commented on #1053
Can I get the further details. I would like to work on this issue. So can you pinpoint something in code which I can look at?

[2021-09-03 17:17] vian9 commented on #809
Can I work on this issue? @deluan

[2021-09-03 18:54] deluan commented on #809
@vian9 This has been discussed in the past and it is not trivial. There was an almost complete implementation in PR #819, but in the end we decided to put this on hold as the integration with the player was too convoluted. Currently we are preparing to add Infinite Scroll, and we are also holding back any changes to the song grids because of this.

We can come back to this after the infinite scrol

[2021-09-03 18:57] deluan commented on #1053
Sorry @vian9, but this is being worked by @dheerajdlalwani at the moment. Please reach out to me in Discord so I can try to find something for you to work on

[2021-09-03 19:05] deluan commented on #1053
Hey @MoulinaPradhan, sorry for the delay. I added some comments in your PR

[2021-09-03 19:11] deluan commented on #1309
Thanks for the suggestion.

Unfortunately supporting "browse by folder" would require too much internal changes and it is out of the scope, but may be implemented in the future (but please don't hold your breath). Sorting by folder could be implemented, we are thinking of changing the sorting/filtering options in the web UI and this may be introduced. Again this would be low priority for now.

[2021-09-03 19:16] deluan commented on #248
@Hukuma1 , this is disabled as a [security measure](https://cheatsheetseries.owasp.org/cheatsheets/Clickjacking_Defense_Cheat_Sheet.html#defending-with-x-frame-options-response-headers). The way to override it is what you already did: in your Nginx configuration

[2021-09-03 19:19] deluan commented on #728
@jaum20 Can you try with the latest develop build? After starting it, do a "Full rescan"

[2021-09-03 19:27] deluan commented on #1321
Thanks for reporting. This should not happen as artistIDs and albumIDs are derived from lowercased artist/album names. I'll take a look this weekend.

[2021-09-03 19:41] DX21-LLC commented on #1321
Thanks!

[2021-09-03 19:43] deluan commented on #1312
Hey @tokyovigilante , thanks for the suggestion. Yes, currently this is not possible, but this use case (supporting additional file formats) will be handled by the upcoming transcoding engine revamp (#351). Please add this use case description to that ticket, so it is all in one place.  Thanks!

[2021-09-03 19:48] deluan commented on #1291
Are you sure? PUID and PGID are not used anywhere in Navidrome's Dockerfile...

[2021-09-03 19:50] deluan commented on #1319
Thanks for using Navidrome!

is this what you are looking for (in the Edit Player screen):
<img width="829" alt="Screen Shot 2021-09-03 at 3 49 02 PM" src="https://user-images.githubusercontent.com/331353/132058829-51bd04fa-e609-4db0-b017-0ef568a5923f.png">

[2021-09-03 20:04] deluan commented on #1301
I think importing and maintaining ratings from tags would be out of scope for Navidrome, I don't even know of any players that writes ratings in tags. Having said that, this could be easily accomplished by writing a script to import the ratings. Such script could write to Navidrome's DB using one of the two methods:
1) Directly to the SQLite3 DB (table `annotation`)
2) Using Subsonic API: can be m

[2021-09-03 20:06] deluan commented on #316
@msartiano Internet Radios (Shoutcast, etc...) is not a feature that is in the road map. May be implemented in the future, though, but we currently have no plans for that.

[2021-09-03 20:12] deluan commented on #1306
Hey @ghenry22, sorry for the long delay. Yes, the UI uses a different API, but the result should be exactly the same. I'll take some time this week to work on pending tickets, and will take a look at this.

[2021-09-03 20:21] deluan commented on #1305
Thanks for the suggestion! This will be possible as part of Smart Playlists: You'll be able to create a playlist sorted by `global recent played` (or similar) and select the view to Album (or Song if you prefer).

I didn't get this part.... Can you please elaborate?

[2021-09-03 20:25] deluan commented on #1302
I think the whole `.gitinfo` implementation is a fiasco. It is not used when GH packs the source code for release. The only way around it is to add `.gitinfo` (or similar file) to the source code and commit it, which I don't think it makes sense

Thinking about this, I'm not sure if it makes sense to embed the version in the source code tar ball at all. Although this is a common practice in applic

[2021-09-03 20:26] deluan commented on #1297
@mill1000 Can you try with 0.43.0? This may be an issue with the upstream react music player...

[2021-09-03 20:55] TheFlatworm commented on #1305
Sorry about the non clarity. If I’m logged is as “bill” it would be nice to
be able to to toggle between what every user on the server has recently
played and just what “bill” has recently played. Would that be possible
with smart playlists?

On Fri, Sep 3, 2021 at 1:21 PM Deluan Quintão ***@***.***>
wrote:

[2021-09-03 20:59] deluan commented on #1305
Ah, got it! Well, not with one smart playlist, you'd have to have two of them, one with `global recently played` and another with `recently player`. I don't think a toggle would be a good UX in this case, as it would be very "unexpected". I'll keep this open so I can come back to this later, or others can chime in with different ideas.

[2021-09-03 21:35] TheFlatworm commented on #1305
Great. Thank you.

On Fri, Sep 3, 2021 at 2:00 PM Deluan Quintão ***@***.***>
wrote:

[2021-09-03 22:01] whorfin commented on #1302
If this isn't done, building from source results in an unknown version, which seems like a bad idea.
I find it immensely useful to see what version is running when consulting the logs.

Most of the CLI tools I build from source handle this, for example `tmux` and `ffmpeg`, for obvious reasons.
`tmux`  passes the version from the makefile as a define, with it baked into the configure script
`ffmpeg

[2021-09-03 22:25] NyTimez opened #1324 "Albums get merged"
### Description

A clear and concise description of what the bug is.

### Expected Behaviour

What you would have expected to happen instead.

### Steps to reproduce

1. Open the '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Platform information

 - Navidrome version:
 - Browser and version:
 - Operating System:

### Additional information

Any other information that may be rel

[2021-09-03 22:32] NyTimez commented on #1324
I have a Music folder.  In It I have subfolders:  Mike and Dave.  Both folders have an albums with the same name.  In Mikes folder the album has 2 discs.  Dave's album has 4 discs.  When Navidrome scans these folders it combines the first 2 discs.  This is not correct. They are 2 separate distinct albums.

[2021-09-04 00:17] deluan commented on #1324
Thanks for using Navidrome. ND uses tags exclusively to identify and group songs, it ignores folders. So if the two albums have the same artist/album name, they will be considered one. If you want to import multiple albums with same name for the same artist, you can change the names in the tags, like:

The Doors - Morrison Hotel
The Doors - Morrison Hotel (40th Anniversary Edition)

Currently that

[2021-09-04 00:24] deluan commented on #1302
That's what I tried to do. The issue is that the source tar ball is created by GitHub itself, and it gets it directly from the git repo, not from the pipeline. Also, if you download the source tar ball from GitHub "download" option, the download will be named `master.zip`:
<img width="935" alt="Screen Shot 2021-09-03 at 8 20 55 PM" src="https://user-images.githubusercontent.com/331353/132076233-dc

[2021-09-04 00:53] mill1000 commented on #1297
@deluan I tried downgrading to v0.43.0 but I can't seem to login. I wiped my database and cache but I keep getting "Error: Method Not Allowed" when trying to create a new admin user.

[2021-09-04 00:59] deluan commented on #1297
Ops, I forgot to tell you you'll need to use a fresh installation for this test with 0.43.0. The databases from 0.44.0 and 0.43.0 are not compatible.

[2021-09-04 01:11] mill1000 commented on #1297
I thought I blew them away but I'll give it another shot.

[2021-09-04 01:39] mill1000 commented on #1297
No luck. Removed the database files and cache form `/var/lib/navidrome`. Is there something incompatible in the config file between 0.43 and 0.44?

[2021-09-04 01:44] mill1000 commented on #1297
NVM. Got it working. I was building my own release of 0.43 instead of grabbing it from releases.

This volume issues does **not** appear to be present in v0.43.0.

[2021-09-04 04:45] vian9 commented on #1053
Yeah Sure @deluan can I have your discord username to send request so that I can reach out to you?

[2021-09-04 14:37] deluan commented on #1297
Thanks for the feedback. Will take a look.

[2021-09-04 17:13] mill1000 commented on #1297
@deluan You can close this after all. I've been building my own releases and I've just noticed that `make single` does not build the frontend. All along I've been testing with an updated backend and an out of date frontend.

Using the official v0.45.1 release I am not seeing this volume issue.

[2021-09-05 09:23] tokyovigilante commented on #351
Just adding in as requested in #1312 a request for custom format support, in my specific case I have a bunch of MOD/AMF/S3M tracker-based music which could be imported into the library and either passed as is to players supporting the format, or converted to opus for streaming/browswer playback by piping PCM output from the decoder through `opusenc`.

Additional info in the other ticket, but I had

[2021-09-05 09:23] tokyovigilante commented on #1312
Thanks for the comments, closing in favour of #351 as requested.

[2021-09-05 09:25] #1312 closed

[2021-09-05 16:51] devilliersjohnny commented on #1291
100% It allows for the rights to use the file structure to reach the target if the ownership is correct... it must be a built in security feature of Linux?! Linux is built on the security first principle... so it made sense to try it that way and it worked!! Feel free to play around with it a bit if you wish, but on a side note am setting up a tutorial on getting an entire webserver up and running

[2021-09-05 16:56] whorfin commented on #1302
Right.  I wouldn't expect the `master.zip` download to have the right version.
But OK now that makes sense if the pipeline isn't making the source tarball.
I'll submit a PR for an easier way to do the directory parsing, see what you think.

[2021-09-05 17:48] DX21-LLC commented on #1319
Perfect - & thanks for the quick response.  Keep up the great work!

[2021-09-05 17:48] #1319 closed

[2021-09-06 01:24] deluan commented on #1291
Yes, I can help for sure, it is better if you ask questions in Discord, as the discussion may benefit others as well.

Regarding the PGID/PUID, I have to do some testing, but this is news to me. For me this is a custom implementation inf the LinuxServer.io base image. Will sure play around with it.

[2021-09-06 01:40] deluan commented on #1297
Great it worked! I added a warning message to all make targets that only build the server, thanks for the tip.

[2021-09-06 01:40] #1297 closed

[2021-09-06 07:42] certuna commented on #1301
Yeah the whole concept of writing ratings (and playcounts) in tags was part of the original specification of id3 but was never really adopted in practice.

Downside is that we now have to migrate ratings and playcounts database-to-database.

[2021-09-06 09:02] devilliersjohnny commented on #1291
hmm... fine and well, if you think that, that is the best route?! But what I was saying is that I am also planning a full youtube channel covering the setup and that I have already figured out a way to serve your player over the software that I am using allowing for the complete spotify effect, but to be at the forefront I am going to be asking for an inside track...

[2021-09-06 09:08] ghenry22 commented on #1306
@deluan yeh I figured that the subsonic api probably just transforms and forwards request so likely something going missing in translation versus something fundamentally broken

[2021-09-06 15:57] certuna opened #1328 "rescan updates Album Artist in mediafile table but not album table"
v0.45.1 on latest macOS 11
mp3 with id3v2.4 tags

I had a couple of compilations with Album Artist = "Various" (so not "Various Artists") and Compilation=True
- edited the tags and set Album Artist to blank
- rescan
- Album Artist is updated correctly in the `mediafile` table and the `song` endpoint returns "Various Artists" as albumArtist
- Album Artist is not updated in the `album` table and the

[2021-09-06 19:12] satyaarthchhabra commented on #815
@deluan  is this issue still open. if yes can i work on it

[2021-09-07 01:02] deluan commented on #1328
Are you really using version 0.40.1?

Anyway, in previous versions (0.44.1 and earlier), the full rescan was broken, and would not reimport tags if the files didn't change. This was fixed in 0.45.0. Let me know if it is still occurring in newer versions

[2021-09-07 01:08] deluan commented on #1306
Hey @ghenry22 , sorry but I was not able to reproduce this. You can even check the demo instance and point a subsonic cliente to it, and it is working as intended (I tested with my personal instance, my test instance and the demo). Are you sure you were using the same user in both situations?

[2021-09-07 01:19] deluan commented on #1291
Ah, ok. You can ping me directly in Discord.

Regarding the PUID/PGID, I just tested it here and could not set the user using these. Here is the results with PUID/PGID:
[code]

Now with [`user` ](https://docs.docker.com/compose/compose-file/compose-file-v3/#domainname-hostname-ipc-mac_address-privileged-read_only-shm_size-stdin_open-tty-user-working_dir) configured as in the doc site example, and

[2021-09-07 01:19] #1291 closed

[2021-09-07 01:26] #1302 closed

[2021-09-07 02:35] deluan commented on #815
Sorry @satyaarthchhabra, but this is actually solved. Closing it now.

[2021-09-07 02:35] #815 closed

[2021-09-07 02:45] deluan commented on #585
That's a good suggestion, thanks! Can you please open a new GH issue, so this is not buried in a closed issue, and can be picked up by other contributors? Thanks!

[2021-09-07 02:53] deluan commented on #1279
Hey, sorry for the long delay. I lost track of some tickets and I'm going through the whole backlog now checking any missing ones. Are you still having this issue with the latest versions?

[2021-09-07 03:03] deluan commented on #832
@xorander00, good points, and I starting to think it may be worth to implement something like this. But I still think it would be better to be implemented as a plugin, and I don't think the gRPC would cause any performance issues, as the main bottleneck would be the communication with the remote storage.

As I said before, we would need to write a C++ File class wrapper for `fs.File`, to allow Tag

[2021-09-07 03:06] deluan commented on #1290
Playlists will be moved to the sidebar (similar to iTunes), and the user's playlists will be displayed first as you suggest. While we don't have that, I can easily introduce a filter by user. Does that helps?

[2021-09-07 03:09] TheFlatworm commented on #1290
Yes! That would be so much better. Would playlists be collapsible in the
sidebar?  If so that would be great.

On Mon, Sep 6, 2021 at 8:06 PM Deluan Quintão ***@***.***>
wrote:

[2021-09-07 03:11] deluan commented on #1322
Hey @Horuyuki, sorry for the long delay. Are you still experiencing this? Can you please share a debug log?

[2021-09-07 03:13] deluan commented on #1290
That's the idea. One "folder" for the user's own playlists and another for shared playlsists.

[2021-09-07 03:15] Horuyuki commented on #1322
I am staring to think it is problem with my cloud drive. I will update here as soon as I have an update.

[2021-09-07 04:01] ghenry22 commented on #1306
@deluan ok let's make this slightly weirder still...

Logged into demo.navidrome.org (user demo) with chrome
played a song from Maya filipic album in the webUI
recently played in the webUI does NOT update

Logged into demo.navidrome.org (user demo) with substreamer
played a song from VOODOOCUTS album in substreamer
recently played in the webUI AND the subsonic API response does NOT update

So now

[2021-09-07 06:00] ghenry22 commented on #1306
@deluan If I call the scrobble API then the recent play is updated on both the webUI and API response.

Fix might be: when the getStream API endpoint is called update recently played based on the streamed track ID.

[2021-09-07 06:36] RandomBloke85 commented on #1279
Hey, thank for getting back to this issue.

I'm still on 0.40.0-FREEBSD (8799358) since pkg upgrade on FreeBSD doesn't give me the latest version. I would install it manually if I knew how to do this.

However, for some reason, if I install a completely new album, it shoes in the "Recently added" section. If I change the directory of an album it also shows in "Recently added". So obviously as long

[2021-09-07 07:44] certuna commented on #1328
0.45.1, sorry :)

[2021-09-07 09:08] satyaarthchhabra commented on #1035
Hi @deluan can i ork on this issue ??

[2021-09-07 16:59] certuna commented on #1264
Thinking about this some more, Navidrome could be set up to download individual songs sequentially, instead of a single .zip of songs.

[2021-09-07 22:25] bbsixzz opened #1336 "Keyboard shortcut; currently playing track in an album"
Hello!

I would like to suggest a command that takes you to the currently playing track in an album.

Just like clicking the currently playing track.

Cheers

[2021-09-07 22:26] bbsixzz commented on #585
You got it!

https://github.com/navidrome/navidrome/issues/1336

[2021-09-08 00:10] deluan commented on #1279
Yeah, the album is considered "new" if it is a new combination of artist/album names. If this combination is already present in the library, it is not considered a new album. Does that match what you are experiencing?

[2021-09-08 00:13] deluan commented on #1264
Maybe... it could still have issues with very large songs (Close To The Edge, Autobahn, ...) and maybe podcasts/audiobooks.... WHat is the status of Chrome (or Firefox) PWA's on iOS? Maybe this could be an alternative?

[2021-09-08 01:01] anarcat commented on #1181
as a workaround for this, I did the following hack over the sqlite database directly:

[code]

this implies that the playlists care about are at the root of `/music`. if they are elsewhere, you'll need to tweak the SQL request. then, of course, you also need to tweak the config to disable auto loading those playlists (ND_AUTOIMPORTPLAYLISTS/AutoImportPlaylists set to false). enjoy!

[2021-09-08 05:29] satyaarthchhabra commented on #1336
hi @deluan  can you assign this issue to me

[2021-09-08 07:21] certuna commented on #1264
If I'm not mistaken, PWA's all use the same (Safari) engine. But I saw a couple of methods here: https://stackoverflow.com/questions/2339440/download-multiple-files-with-a-single-action/9425731#9425731 . There's a bit of a divergence what "Download" does on mobile vs desktop - on desktop browsers you can "save as" into a folder of your choice, with mobile browsers (Android/Apple) downloads automat

[2021-09-08 07:57] satyaarthchhabra commented on #1336
@deluan  and @bbsixzz   so you want it  to display current album right as when we click on the name of the song i takes to the album .for eg https://vimeo.com/600080682

[2021-09-08 12:14] PoGo606 commented on #141
I second this. LDAP and/or SSO support will be great.
Don't hesitate to reach out if any beta testing is needed !

[2021-09-08 13:43] deluan commented on #1336
Yes. The idea is that a shortcut would have the same effect as clicking in the song name in the player

[2021-09-08 14:47] bbsixzz commented on #1336
In iTunes <kbd>⌘</kbd> + <kbd>L</kbd>  invokes **Go to Current Song**

L is already used for love (add to favorites) in Navidrome so I guess you need another key, maybe C?

On a tangent, may I suggest using capital letters in the Navidrome Hotkeys popup for clarity?

<img width="292" alt="Screenshot 2021-09-08 at 16 32 15" src="https://user-images.githubusercontent.com/47334163/132529326-c6d55ee3-

[2021-09-08 19:01] RandomBloke85 commented on #1279
Yes, that's exactly how I experienced it. It would be "deluxe", if it would be considered as new, when I change, let's say, a title. But it is perfectly fine as it is.

Cheers

[2021-09-08 19:30] deluan commented on #1279
Great! You may be able to achieve this when we introduce smart playlists, by sorting the albums by "data modified" field. For now , I'm closing this, but feel free to reopen if you have any other concern related to this.

[2021-09-08 19:30] #1279 closed

[2021-09-09 02:54] deluan commented on #1016
Implemented in new React-Admin version 3.18.0. Fixed in 8444c28bed76e6f79408a99a99548931b692e4d1

[2021-09-09 05:15] simojenki opened #1337 "Allow multiple transcodings to be registered with the same target-format"
Currently it would appear that only 1 transcoding per target format can be registered.  Trying to create a second one for mp3 for example results in a constraint violation;

time="2021-09-09T05:06:40Z" level=error msg="SQL: `INSERT INTO transcoding (command,default_bit_rate,id,name,target_format) VALUES (?,?,?,?,?)`" args="['ffmpeg -i %s -map 0:0 -b:a %bk -v 0 -f mp3 -',320,'e7de14f1-2dd9-4304-9c7

[2021-09-09 13:34] #1016 closed

[2021-09-09 13:36] #967 closed

[2021-09-09 13:51] DX21-LLC commented on #1321
Just to expand out, I recently did an update to correctly mark compilations I'd missed, and that also bumps them to the Recently Added list..

[2021-09-09 15:22] deluan commented on #1034
Hey @pkspyder007, I don't think we need to change the menu icon on toggle. From what I read above, your motivation is:

I think showing a different icon for this is redundant, as the user can see the state by just looking the menu.

Anyway, thanks for opening the issue about making the AppBar always visible in React Admin's repo. I just implemented it now in 6ac2fefaf35443691e005661a25f11d8a5c626e

[2021-09-09 15:22] #1034 closed

[2021-09-09 15:25] #1246 closed

[2021-09-09 15:29] deluan commented on #1157
I'll close this as the original issue was resolved. Migrating to a LinuxServer image is tracked here: https://github.com/navidrome/navidrome/issues/531

[2021-09-09 15:29] #1157 closed

[2021-09-09 15:41] deluan commented on #746
Hey @vestingz, can you please check if this still occurs in the latest version (0.45.1)?

[2021-09-09 15:57] deluan commented on #1009
Fixed by #1071

[2021-09-09 15:57] #1009 closed

[2021-09-09 16:12] vestingz commented on #746
Hi @deluan, thanks for looking into this!
Sorry, I am running a different setup now, which doesn't involve remote
mounts anymore :( Maybe I can find some time soon to test it. I will
update this thread accordingly, then.

[2021-09-09 17:02] vestingz commented on #746
Within the next few weeks, it seems like I won't delve into it - just
started a new job. I think it is safe to close it for now. If I can
provide some results, we can still reopen. Thanks! :)

[2021-09-09 17:03] #746 closed

[2021-09-09 17:12] deluan commented on #1306
@ghenry22 thoughts?

[2021-09-10 04:12] ghenry22 commented on #1306
If I hit the scrobble API with submission=true does this only submit to the navidrome server or does it also scrobble this to last.fm?

Airsonic-advanced & subsonic will always update the recently played list when the stream end point is called (just tested both).  They will update the "now playing" in the web UI also if the scrobble end point is called.

So in substreamer for example I have a set

[2021-09-10 17:03] gr34n commented on #1301
Yeah, metadata is the only at least remotely standardized ratings implementation I've come up with during past migrations. Without some common denominator you'll be bound by one player.

Web and mobile players do tend to use some custom ratings system. Desktop players usually work with id3, and still there are few mature mobile players with id3 ratings support.

As for the script, it's already don

[2021-09-10 17:17] deluan commented on #1301
Great! No worries, it is coming... :)

[2021-09-10 17:17] #1301 closed

[2021-09-10 17:19] deluan commented on #1301
@certuna:

If you have to write a script to get the ratings into tags, you can write the script to write it directly to ND DB....

[2021-09-11 00:41] adamdmoss commented on #1036
Is metadata in .dsf supposed to extract/scan intact at this point?  Because I don't believe it's working; should I file a separate issue?

[2021-09-11 01:30] pkspyder007 commented on #1034
It's better that React Admin fixed this.
We don't need to hack around it and add extra code to our system.

[2021-09-11 17:12] deluan commented on #771
Reopening it as is is merged but not complete. It is behind a feature flag, so if you want to experiment with it, set `DevSidebarPlaylists=true` in your config options

[2021-09-11 18:20] deluan commented on #1290
Hey @TheFlatworm , latest develop build has the first implementation of this:
<img width="290" alt="Screen Shot 2021-09-11 at 2 16 52 PM" src="https://user-images.githubusercontent.com/331353/132957485-8cf3896e-7c2d-46cc-9426-3ca382a80218.png">

To try it, set `DevSidebarPlaylists=true` in your config options

[2021-09-11 20:37] un99known99 opened #1340 "avahi-daemon error"
### Description
regularyly all 5-6 mins following records are showing up in syslog:

Sep 11 22:12:14 raspberrypi avahi-daemon[382]: avahi_normalize_name() failed.
Sep 11 22:12:14 raspberrypi avahi-daemon[382]: avahi_key_new() failed.
Sep 11 22:12:14 raspberrypi avahi-daemon[382]: avahi_normalize_name() failed.
Sep 11 22:12:14 raspberrypi avahi-daemon[382]: avahi_key_new() failed.
Sep 11 22:12:14 r

[2021-09-12 03:34] deluan commented on #1306
Different from Subsonic/Airsonic, Navidrome uses Last.fm APi 2.0, so the user must authorize ND to send scrobbles. This is done in the "Personal" screen. So by default, ND does not send any scrobbles to Last.fm

Ok, but do you agree that this can cause the play counts and last played info to be inaccurate, as the client can simply call `/stream` to cache/download songs without playing?

When using

[2021-09-12 12:02] certuna commented on #1036
Correct, DSF at this point can only be read by ffmpeg, not by Taglib. Not much we can do about that...

[2021-09-12 18:56] fwicht commented on #753
Hey, @deluan, no worries!

- What I meant by 'globally' was to give the user the possibility of exporting every playlists from his library with a single and global option.

- As for 'relative', I probably meant relative to the m3u8 files themselves. This way the playlists could be exportable to any software on any system. For example, say you want to export your playlists to a DJ software like Rek

[2021-09-12 20:37] TheFlatworm commented on #1290
Tried this and it is really great. I was thinking at first that the
playlists shouldn’t be displayed in the side bar, but rather the side bar
would have PLAYLISTS/SHARED PLAYLISTS and when clicked it would open the
previous interface for playlists in the main window.  But after using this
for a while this is a good solution as well!

On Sat, Sep 11, 2021 at 11:20 AM Deluan Quintão ***@***.***>
wro

[2021-09-12 23:56] adamdmoss commented on #1036
ffmpeg scanner did indeed fix it - apologies for the noise.

[2021-09-13 01:09] #1181 closed

[2021-09-13 01:11] TheFlatworm commented on #1290
I did notice that the COLLAPSED/EXPANDED state does not persist between logins - it always initiates expanded. Would the state be able to be implemented or a choice to start expanded or collapsed?

[2021-09-13 01:13] deluan commented on #1290
This is an old TODO: To store the state of any collapsed "folder" in the menu (it is the same for the "Albums"). Will try to fix this for the next release

[2021-09-13 01:29] deluan commented on #1181
Added new option: PlaylistsPath: list of paths globs from where ND should import playlists. Default: `'.:**'` (or `'.;**'` in Windows, meaning all folders and subfolders under MusicFolder.

Examples, assuming MusicFolder is `/music`:
- To only search for playlists at the root of MusicFolder: `'.'`
- To only search for playlists in folder /music/playlists: `'playlists'`
- To search for playlists in

[2021-09-13 03:00] deluan commented on #793
Not a proper solution, more of a hack/workaround, but may interest some of you folks: https://github.com/allanjamesvestal/Cousin-IDDD

[2021-09-13 15:09] Udit-takkar commented on #1053
@deluan  Can I work on this one? this seems to be abandoned

[2021-09-13 15:14] deluan commented on #1053
This one is being implemented by @dheerajdlalwani (right?)

[2021-09-13 15:14] dheerajdlalwani commented on #1053
Yes.

[2021-09-13 15:20] Code-Slave commented on #793
Yea podcast api has has support in clients so its needed for bookmarking, etc etc

[2021-09-13 15:20] deluan commented on #1217
I made the mini-player position fixed (bottom right of screen), and not draggable anymore. This should help with reopening it. If it does not, please reopen this issue

[2021-09-13 15:21] deluan commented on #793
Navidrome already support bookmarks. The only piece missing for full Podcast support is managing them (add, downloading, etc..)

[2021-09-13 19:28] Code-Slave commented on #793
like the person above, i use podgrab. works incredibly well. What id love is to run a seperate navidrom instance just on that folder that my play:sub or other subsonic app see as a podcast. I dont know from a server perspective what designates via the api that its a podcast. Navidrome is great at what it does. podgrab is as well. i like having seperate tools

[2021-09-13 21:17] wanieru opened #1343 "Rescan crashes when scanning certain files"
### Description

When rescanning the attached .mp3, navidrome crashes.

### Expected Behaviour

The scanning should complete without problems.

### Steps to reproduce

1. Start navidrome using the attached docker-compose.yml
2. Add the songs to the music volume
3. Do a full rescan
4. Navidrome should crash while scanning the files.

### Platform information

 - Navidrome version: 0.45.1-SNAPSHOT (

[2021-09-13 22:04] deluan commented on #1343
Thanks for opening this. I was not able to reproduce on my dev environment (macOS), but will try in a docker container.

Worse case, I'll put in place a panic recover, so it does not crash Navidrome

[2021-09-14 09:46] fuomag9 commented on #868
My case maybe it's "anomalous", but I don't care about organizing my music and I just dump it all in the same folder so I'm getting this error as well

[2021-09-14 12:53] certuna commented on #279
Working on this now. There's a couple of milestones:

### Step 1: Display Work/Movement in Web UI
- [ ] read the tags `TIT2` (Song Title),`TIT1` (Work), `TIT3` (Song Subtitle), `MVIN` (Movement) and `MVNM` (Movement Name)
- [ ] store `title` (already exists), `song_subtitle`, `work`, `movement_number` and `movement_name` (new columns) in the `media_file` table of the database
- [ ] add them to the

[2021-09-14 13:06] aaronhuggins opened #1345 "Add remote file storage support (Looking to discuss and potentially contribute)"
### Is your feature request related to a problem? Please describe.

I cannot adopt alternative file storage protocols without adapting the underlying file system. Examples: webdav, https, sftp.

### Describe the solution you'd like

Would like to be able, either by user interface or by configuration file, to define a URL path which would access the remote storage resource as the music folder.

###

[2021-09-14 13:39] aaronhuggins commented on #1345
Closing in favor of #832.

[2021-09-14 13:39] #1345 closed

[2021-09-15 12:07] aaronhuggins commented on #832
@deluan I'm interested in picking this up. Do you already have a plan in place to implement?

Also, I'm not sure what your thoughts were on the `fs.File` wrapper, but we may not have to wrap the File instance explicitly and may be able to pass a stream of bytes instead using `IOStream`.

https://taglib.org/api/classTagLib_1_1IOStream.html

[2021-09-16 00:34] deluan commented on #832
I think the first step is what @fionera started doing (still doing?): Abstract away all access to the filesystem with calls to `fs.FS`. See his PR: #851. THis is problably outdated and has too many conflics, but it gives a good idea of what needs to be done.

Next would be to make taglib and ffmpeg work through `fs.FS` as well.

For ffmpeg, I think we could read the file with Go code as a Reader a

[2021-09-16 00:54] aaronhuggins commented on #832
I'd like to take a closer look at `IOStream`, but you may be right about memory constraints especially in parallel. I do have some experience with the Kodi codebase and they use TagLib too, so I may take a look at how they've implemented it under the hood to see if it provides any useful hints. My instinct could be wrong, and the `fs.File` wrapper could be more viable.

I'm very interested in this

[2021-09-16 12:27] joseph-cheung commented on #491
How is it going? Does it now support the display of lrc format lyrics files?

[2021-09-16 13:38] deluan commented on #491
@dheerajdlalwani recently started working on adding support for lyrics (both sync and unsync). We will probably support it first in the Subsonic API (#249), then move to implement sync lyrics in the UI. Unsync lyrics may take longer to get to the UI, as the current player we use does not support it

[2021-09-16 13:45] v1sor commented on #1286
Can confirm that this is happening while I listen to a 74 track playlist. It's as though Navidrome cuts the track off early and starts the next one. The worst one so far was a good 1'15" from the end of a particularly good song.

Playing that same song directly from the share does not exhibit this behaviour.

[2021-09-16 20:55] PillTime opened #1347 "Cached album art for player isn't updated"
### Description

If changing the cover art of an album, the image is updated everywhere except for in the player.

### Expected Behaviour
For the art to be updated in the player as well.

### Steps to reproduce

1. Have cover art in an album.
2. Change it.
3. Refresh Navidrome.

### Platform information

 - Navidrome version: v0.45.1
 - Browser and version: Firefox v93.0b4
 - Operating System: Nix

[2021-09-17 01:13] deluan commented on #1347
Is that the case that you changed the cover _after_ the song was added to the play queue? What happens if you click on the song again after the cover changes in Navidrome?

[2021-09-17 01:26] PillTime commented on #1347
If I remember correctly, yes, I had already added the song to the play queue when I changed the cover.

Nothing changes.
I tried changing the cover with another image.
The cover art only changes after doing a quick scan and refreshing the webpage with F5.
The image in the player is still the old one. It doesn't change no matter what.

[2021-09-17 01:44] deluan commented on #1347
This is expected

The play queue (part of the player) keeps the old cover. To make it "forget" it, you'd need to remove the song from the play queue and add it again. Please confirm this is the case. If that's it, it is unfortunately something that cannot be fixed for now, while we depend on the react-jinke-player. We have plans to replace it in the future, but we are not there yet.

[2021-09-17 01:47] PillTime commented on #1347
Unfortunate timing as I just updated my previous comment.

This doesn't work. The old cover is still being used after removing and adding the song to the play queue.

[2021-09-17 06:32] pavulongit commented on #1286
I can confirm having this issue as well. Happens on Firefox with even small playlists (6-10 tracks). Version 0.45.1 in docker.

[2021-09-17 15:18] deluan commented on #1347
Humm.. I have to check, but IIRC, the `CoverArtPriority` is only for albums, and  I think for a song the embedded art always take precedence over any album artwork.... You can disable song artwork by setting `DevFastAccessCoverArt=true`.

Anyway, will take a look at this before closing this. Please let me know if `DevFastAccessCoverArt` works for you

[2021-09-17 16:16] PillTime commented on #1347
Yep, `DevFastAccessCoverArt=true` fixed it.
So I guess the player simply uses the embedded cover if the song has it.

Thank you so much for your help.

[2021-09-19 03:14] possessedbysatan opened #1349 "Metadata scanner SIGSEGV"
### Description

Navidrome crashes during initial folder scan.

### Expected Behaviour

To finish scanning my music folder without any issues.

### Steps to reproduce

1. Literally I just modified a little the recommended docker-compose.yml, ran `docker-compose up -d` it and then Navidrome crashed.

### Platform information

 - Navidrome version: 0.45.1 (c55e6590) and 0.45.1-SNAPSHOT (f2ed3f2d)
 -

[2021-09-19 16:48] deluan commented on #1349
Hey, thanks for reporting. This is the same as #1343, so I'm closing this as duplicate. Please follow that one to receive notifications about this problem. I'm not able to reproduce this issue in my environment, so if you have a file that causes this, please attach it to #1343 so I can try to reproduce it. Thanks!

[2021-09-19 16:48] #1349 closed

[2021-09-20 11:01] certuna opened #1350 "allow using file creation date for "date added""
Opening this issue to track progress/discussion, as per discussion with @deluan back in March.

**Issue**
There are currently two timestamps to select how Navidrome sorts the "recently added" screen, and sorts songs by date added in the Song list or playlist.
- _created_at_, the date that the Navidrome scanner first added the mediafile or album to the Navidrome database. This gets reset when the u

[2021-09-20 11:58] certuna commented on #1340
I see this error message posted in a lot of Debian forums/bugtrackers, are we sure this is has any relation with Navidrome?

[2021-09-20 13:46] metalheim commented on #1350
Sounds like a good addition.

Regarding the rollup: file times will be different for every file in an album (as copying/ripping/downloading/extracting takes time)

Usually these are only a few minutes apart, but it could also happen that songs in 1 album have vastly different creation dates.
What's a good priority to roll up to album, the earliest date?

[2021-09-20 15:54] srrathi opened #1351 "Individual Favourite Songs are not showing on favourite page, Album marked as Favourite is coming"
### Description
I don't know exactly whether its a bug or the the feature I'm looking is not present in.  As I mark a song favourite from any album that song is not listing on Favourites page instead it's showing No Records Found but if I mark an Album as Favourite its showing on favourites page.

### Expected Behaviour
If a user mark a song as Favourite that song too should be listed on Favourite

[2021-09-20 16:02] pyluyten commented on #1186
For what its worth i could reproduce the issue almost each time i play a track in one of my 150+ songs album. (I have several.) Setting DevActivityPanel="false" seems to help.

Navidrome 0.45.1 (c55e6590); direct install on Debian
I used navidrome before 0.45 and did not notice this bug

log at last crash but i am not sure to see what is relevant

sept. 20 17:50:01 debian navidrome[25871]: time="2

[2021-09-20 16:28] metalheim commented on #1351
This is more or less working how it is designed to be.
The "favourite" page is sitting under the "albums" menu, indicating it is only for favorite albums.
It's really just the "All albums" grid with a filter "favourite=true" applied.

That said I totally agree there should be a page for favourite songs!
I already opened #1067 for this reason :)

[2021-09-20 16:30] metalheim commented on #1351
Also related is #1076 as an attempt to implement this, but as I understood @deluan it wasn't the best approach and should be implemented in a proper way

[2021-09-20 22:12] #1343 closed

[2021-09-20 22:17] deluan commented on #1343
I put in place the panic recover. Now when this happens, the file will not have any tags read, it will appear as `[Unknown Artist]/[Unknown Album]`, and you'll see the message `TagLib: recovered from panic when reading tags` in the logs. If you get this issue, please attach the problematic file to this issue and reopen it so I can try to reproduce it in my environment

[2021-09-20 22:24] deluan commented on #1217
The fix has caused responsiveness issues. Reverting :(

[2021-09-20 23:03] deluan commented on #1351
Yes, @metalheim is right: The implementation from 1076 has some problems, and I'm not sure that's the best way to approach the issue.

I'm closing this in favour of #1067, feel free to follow that issue for updates

[2021-09-20 23:03] #1351 closed

[2021-09-20 23:04] deluan commented on #1340
Yes, based on the discussion on Discord, looks like it was caused by something else, not Navidrome. Will close this but feel free to reopen if you have any remaining concerns.

[2021-09-20 23:04] #1340 closed

[2021-09-20 23:06] deluan commented on #1347
Closing this as there is a workaround, and not sure if it is worthy to "fix" it, as it allows songs to have individual covers (ex: [8-bit lagerfeuer by pornophonique](https://demo.navidrome.org/app/#/album/ad0f112b6dcf83de5e9cae85d07f0d35/show)

[2021-09-20 23:06] #1347 closed

[2021-09-20 23:47] deluan commented on #430
@Dnouv Thanks for the PR, but I don't think this is relevant anymore, as we don't have the "Library" root menu anymore. I rather leave this unchanged until we add Smart Playlists to the Sidebar menu, when we will have to redo the Menu (again).

@antipiot, will close this for now, but feel free to reopen if you have any concerns.

[2021-09-20 23:47] #430 closed

[2021-09-21 01:27] ghenry22 commented on #1306
Other subsonic forks are the same, you need to add your lastfm API key on the server before you can scrobble to last.fm.

I don't disagree with the approach you have taken, my problem is that it is different to the way any other subsonic forks work.  Any other server records plays from the stream api and uses the scrobble API to scrobble to last.fm.  This means I can have an easy switch in the APP

[2021-09-21 02:59] doggogoesbork commented on #1286
This issue is seemingly more persistent on the newer docker versions, to the point where I cannot use the webUI for more than 2 songs on any browser.

Firefox seems to be capturing no useful logs with the developer web / browser consoles since the entire tab freezes when this occurs. Edge reports that the tab is no longer responding as well.

let me know what can be done to give you useful logs

[2021-09-21 03:08] deluan commented on #1286
Hey @doggogoesbork I think your issue is something different, related to #1186. Check if the workaround on that thread (setting `DevActivityPanel=false`) works for you.

Also for others having this issue here, can you please check if the workaround above makes it better?

[2021-09-21 03:31] doggogoesbork commented on #1286
nice catch, that seems to resolve my main issue.

though to be clear, I did have the separate audio pausing in the middle here as well, though it was separate and less common. I will see if after a few days, if this fixed that issue as well

[2021-09-21 06:17] pavulongit commented on #1286
The workaround did not help in my case, but now I tend to think that I'm experiencing a different issue. In my case almost every track skips to the next one after reaching 2/3 or so  duration. I've noticed it only happens when transcoding is enabled. Also, only  Navidrome UI is affected. Mobile clients do not show this behaviour.

[2021-09-21 09:44] certuna commented on #1350
probably the earliest date (which will catch the occasional "you find out that one track is corrupt, so you re-download it" scenario).

[2021-09-21 13:31] limitlessbritt opened #1357 "Add suppport for metdata explicit tag (itunes advisory)"
### Describe the solution you'd like

It would be nice to see the itunes advisory tag when I'm looking at songs in the web UI like how BPM was added.

![MusicBee_6BI5jKblCm](https://user-images.githubusercontent.com/37319328/134179422-fb150a25-503d-4120-acbb-1891002f260d.png)

[2021-09-22 08:59] certuna commented on #1357
I've been thinking about this before, it's not so difficult to add this. It's probably best to display it like it's shown in iTunes/Spotify, ie a little "E" icon next to the track name, rather than a whole extra column (which would take a lot of space).
As far as I know, the field is `TXXX:ITUNESADVISORY` in id3v2, `rtng` in MP4, but I don't know where this is commonly stored in FLAC/Vorbis - `EXP

[2021-09-22 20:33] bbsixzz opened #1361 "Display Free Storage Space in Activity"
I would like to request that the activity popup shows the free storage space.

<img width="264" alt="Screenshot 2021-09-22 at 22 25 24" src="https://user-images.githubusercontent.com/47334163/134416667-25547e5b-6957-4b65-97d3-99ef40d78d5e.png">

This would be useful for many reasons, especially on systems with small SD-cards.

[2021-09-22 21:09] aosterholt opened #1362 "Last.fm Scrobbling Authorization Not Working"
### Description

When attempting to enable scrobbling in the client, I got to last.fm and attempt to authorize by clicking the button in Last.fm and it returns with the following:

[code]

### Expected Behaviour

Scrobbling gets authorized

### Steps to reproduce

Open the web page, click profile/personal and toggle Scrobble to Last.fm. authorization screen appears and click Yes, Allow Access in l

[2021-09-22 21:48] deluan commented on #1362
Can you please post (or send to deluan @ navidrome.org) all log messages that contain the string `navidrome/h5qxazRWuS-005653` ? Thanks

[2021-09-22 22:12] aosterholt commented on #1362
I just emailed them

[2021-09-23 00:04] aosterholt commented on #1362
It seems that my custom API key was not working as expected. I removed this from my configuration and scrobbling works without issue. Thank you @deluan

[2021-09-23 00:04] #1362 closed

[2021-09-23 08:49] vs49688 commented on #489
Very very WIP, but here's the result of a one-line change.

![image](https://user-images.githubusercontent.com/4423262/134478920-6ca0558f-0913-4c59-826f-b4ce3ef456b1.png)

[2021-09-23 12:21] deluan commented on #489
@vs49688 Nice! How are you disambiguating the albums? Do you have the code pushed? It would be great to have a Draft PR so I could easily take a look whenever you wanted feedback or discuss any implementation details

[2021-09-23 12:55] vs49688 commented on #489
@deluan See https://github.com/navidrome/navidrome/pull/1363

[2021-09-24 10:42] KucharczykL opened #1364 "Add semantic class tags for currently playing song"
### Is your feature request related to a problem? Please describe.

I use the WebScrobbler extension (https://github.com/web-scrobbler/web-scrobbler) to scrobble songs I'm listening to in my browser to services other than Last.fm and it worked with Navidrome until recently.

I believe currently it's broken because the `.songInfo` class was removed in https://github.com/navidrome/navidrome/commit/a

[2021-09-24 20:30] Porco-Rosso opened #1365 "Set all playlists as public"
Hello, firstly thanks for making this project, it's really great. I was using Koel before but this is a much more elegant solution.

### Is your feature request related to a problem? Please describe.

I would like to share guest accounts with my friends and family, and to make my library useful, playlists are a must. The "public playlists" function seems to work great for this. The problem is that

[2021-09-25 06:59] symzn opened #1366 "admin users can not modify not owned (public) playlists via subsonic api"
### Is your feature request related to a problem? Please describe.

Admin users are able to modify other users playlists from the navidrome web client.
But this is not possible from a subsonic client.
As all playlists are imported with the user admin, my family users are not able to manage their playlists from their android phones (DSub app). And moreover if I set them as admin users it will allow

[2021-09-25 16:34] sparkhom opened #1367 "Playback quiet when loading a new album"
### Description

Sometimes, the playback is quiet after pausing/unpausing a new album, and the following error is printed in the JS console:

```Uncaught DOMException: Failed to set the 'volume' property on 'HTMLMediaElement': The volume provided (10000) is outside the range [0, 1].```

After adjusting the volume slider, it works again.

### Expected Behaviour

Pausing/unpausing a newly loaded alb

[2021-09-26 05:43] sparkhom commented on #1367
I'm actually not sure whether this is an upstream React Music Player issue, or if this should be solved in Navidrome. I've [taken a crack at the upstream code](https://github.com/sparkhom/react-music-player/commit/9af4b37708a260af3b13dc1b198b02406aec1492), which fixes this in my dev instance. LMK what you think.

[2021-09-26 14:55] dominikh opened #1368 ""Too many SQL variables" error"
### Description

Sometimes, Navidrome logs a failed SQL query. I believe this happens when I delete a lot of songs from the monitored directory.

<details>
<summary>Truncated log entry</summary>
<code><pre>
ERRO[12202] SQL: `INSERT INTO artist_genres (genre_id,artist_id) VALUES (?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(?,?),(

[2021-09-26 16:22] deluan commented on #1357
Yeah, this should be simple to implement, and should be appended to the title as @certuna suggested. We can also append it server side, so it would be available to Subsonic clients.

[2021-09-26 16:26] deluan commented on #1361
That's a good idea. I have plans to add more info to the Activity Panel, but I'm trying to first figure out the issue that it freezes the browser #1186

Will keep this open, but let's wait for that bug to be fixed first.

[2021-09-26 16:41] deluan commented on #1365
That's a great idea. Something like: `DefaultPlaylistPublicVisibility=true|false`? And this would be used whenever a playlists is created, through importing a .m3u or in Navidrome itself. What do you think?

This can also be implemented. I'll take a look.

Yes, that's the current behaviour. It also means that any changes you do to the playlist through Navidrome UI or a Subsonic client will be lost

[2021-09-26 16:46] deluan commented on #1366
This is working as intended. The [Subsonic API](http://www.subsonic.org/pages/api.jsp#updatePlaylist) states that:

I could disable this behaviour, but maybe introducing a config option as you said is the best approach.

Thanks, glad you liked it :)

[2021-09-26 16:47] deluan commented on #1368
Hummm, thanks for the report. Will take a look.

[2021-09-26 17:03] deluan commented on #1367
Yeah, I saw this behaviour before but couldn't reproduce it. Seems that it is an issue with the upstream player, as you pointed out. Open a PR in their repo and see what the author says.

[2021-09-26 18:30] Porco-Rosso commented on #1365
Yes, exactly the first is what I had in mind. The second solution is just a nice addition to the UI for ease of life.

The default syncing functionality is perfect for my use as is. I Just have a library and would like to serve it through Navidrome. I have noticed that only a full sync pics up m3u changes, but that might be due to something else on my end.

[2021-09-26 19:33] deluan commented on #961
Reopening it as @Dnouv's contribution is disable by default, with some pending issues

[2021-09-26 19:37] deluan commented on #1365
Navidrome only picks up changes in quick sync if files have their timestamps updated. If the app you use to edit your .m3u files does not update the timestamp, ND won't be able to detect the changes

[2021-09-26 19:58] #1368 closed

[2021-09-26 20:06] deluan commented on #1364
Yeah, this kind of issues may happens from time to time with solutions that don't use well supported APIs. I actually fixed WebScrobbler in the past due to a similar issue, but as we restructured the `AudioTitle` component, this came up again. It is hard to keep track of third-party integrations, and make sure it all works...

I may take a look at this later, but a better approach is just use Navi

[2021-09-26 22:26] bbsixzz commented on #1186
I just tried a playlist with 163 tracks and had no issues on a Pi Zero W running DietPi v7.6.2 Bullseye.

Linux DietPi 5.10.60+ #1449 Wed Aug 25 14:59:20 BST 2021 armv6l GNU/Linux
Navidrome 0.45.1 (c55e6590)

macOS Big Sur 11.6 (20G165)
Safari 15.0 (16612.1.29.41.4, 16612)

**navidrome.toml**
[code]

[2021-09-26 22:30] deluan commented on #1328
Hey @certuna, I was not able to reproduce this. If I have an album already scanned with album_artist = 'Various', and I change it to blank, after running a quick scan I can see both `song` and `album` endpoints returning album_artist = 'Various Artists'.

Maybe there's some key info missing from your report? an you change the log level to `trace` and try again? Then send me in private the logs.

[2021-09-27 08:52] pacija opened #1369 "Makefile broken for FreeBSD (again)"
### Description

`make setup` throws errors and exits

### Expected Behaviour

`make setup` does its thing without errors - downloading go and node dependencies

### Steps to reproduce

Download source v0.45.1.tar.gz, extract, cd to dir, issue `make setup`.

### Platform information

 - Navidrome version: 0.45.1
 - Operating System: FreeBSD 12.2-RELEASE-p4 amd64

### Additional information

[code]

[2021-09-27 13:40] deluan commented on #1369
Can you please try with latest from master? https://github.com/navidrome/navidrome/archive/refs/heads/master.zip

The `.gitinfo` is not being used anymore and was removed already

[2021-09-27 13:43] deluan commented on #961
Another issue: Biography text should wrap in words
<img width="617" alt="Screen Shot 2021-09-27 at 9 41 27 AM" src="https://user-images.githubusercontent.com/331353/134920528-3856bf10-68b5-4fe0-aff3-c38b7ea270d3.png">
:

[2021-09-27 17:32] certuna commented on #1357
would we want to append it to the title already serverside in the API endpoint, or do the "title + 🅴" appending client-side? that might interfere with other client-side concatenation logic like "title + subtitle"

[2021-09-27 17:36] deluan commented on #1357
Yeah, that's why I think a `DisplayTitle` should be created on the server, with all this title/subtitle/movement/explicit logic, while also giving the client/ui the separated attributes.

[2021-09-27 20:33] deluan commented on #1337
Thanks for reporting. I'll take a look this week on this

[2021-09-28 07:23] certuna opened #1377 "Support for the Language tag"
This is a placeholder Issue for implementation of support for the Language tag (`TLAN` in id3, `LANGUAGE` in Vorbis Comments, etc). It is defined in the id3v2 tag specification as an [ISO 639-2](https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes) code ("eng", "spa").

Edited to reflect the latest state of discussions on how to implement this.

Thing to consider:
- what to do with multi-language

[2021-09-28 11:38] certuna commented on #1328
I have some problems reproducing it as well. It has happened twice now but I can't find out why.

[2021-09-28 13:39] certuna commented on #1377
I was envisioning we'd have a similar filter as we have now for Genre, so you could filter in the Songs view for `language`="Spanish" & `genre` = "Hip-Hop" etc.

I agree that if we do this without the filter option, you could store `language` as a comma separated string in the `media_file` table.

[2021-09-28 17:08] pacija commented on #1369
Hi,

after re-building node with BUNDLED_SSL=on, setup and buildall finished without problems, albeit with `gmake`, not with `make`. Compiled binary works without problems on FreeBSD 13.0-RELEASE.

I am not [www/navidrome](https://www.freshports.org/multimedia/navidrome) FreeBSD port maintainer, but it is almost certain it will be hard to maintain if it depends on another port with non-standard op

[2021-09-28 21:15] deluan commented on #1369
Glad you were able to make it work.

This error has nothing to do with Navidrome. This simply says that, when `make` tried to run `node --version` [[Makefile:132](https://github.com/navidrome/navidrome/blob/9f00aad216793f9e52bdbd4ff04cdafe3a9560f1/Makefile#L132)], `node` failed with the error `ld-elf.so.1: /lib/libcrypto.so.111: version OPENSSL_1_1_1e required by /usr/local/bin/node not found`. Fr

[2021-09-28 21:15] #1369 closed

[2021-09-29 01:22] tcurdt commented on #478
Seems there is overlap with https://github.com/navidrome/navidrome/issues/246

[2021-09-29 08:44] djjudas21 commented on #275
I'm new to Navidrome this week, but this is a killer feature for me. Pleased to see there's some movement in #1036 :slightly_smiling_face:

[2021-09-29 09:14] sdrnk commented on #1286
Same issue. Running Navidrome through Cloudflare Tunnel and playback freezing all time. If click to pause playback then track starting from the start. Trying different frontend clients, but no luck. DevActivityPanel=false don't help.

[2021-09-29 12:28] acroyear opened #1380 "Support exact filesystem structure in subsonic api indexes/musicdirectory (as option)"
### Is your feature request related to a problem? Please describe.

My collection is rather large and I tend to keep things organized on the file-system first, ID3 second. In particular, my classical collection divides things up by musical period (e.g., early 19th century Romantic, late 19th Century Romantic German, late 19th century Romanic Russian etc).  Subsonic's original index/musicDirectory,

[2021-09-29 13:59] acroyear commented on #1380
hmm...an initial 'stab', a little less efficient, could be to return the file system 'live' since it is just basic local file system calls, and just filter the results down to just songs and folders.  when song files are reached, match them up against the 'real path' in the DB.  Nothing new needs to be cached.

that would get slow over a network/cloud drive, but again it would only happen when the

[2021-09-29 16:16] certuna commented on #275
We're moving ahead on adding support for Work/Movement and hopefully after that some other metadata fields, but adding Composer (and other artist credits/roles like Conductor/Remixer/Producer) will require a pretty major refactoring of the database as @deluan mentioned above and will affect a lot of the UI as well, we don't have a timeline for that yet.

[2021-09-30 09:49] KucharczykL commented on #1364
I do appreciate Navidrome having its own Last.fm integration but I also use other services (LibreFM, ListenBrainz) and I use other services, including YouTube Music, Spotify, and Deezer. Having them all scrobble to the same services from one spot is a godsend!

That said, what would be a better solution to fix this long-term other than scraping and having the information in semantic tags like I de

[2021-09-30 21:13] symzn commented on #1366
Ok thanks, now I understand the reason of the owner check.

Great! I am not a go programmer but may-be I could create a PR for this issue (it shouldn't be too difficult I think)? If you are ok of course.

[2021-09-30 21:16] deluan commented on #1366
Sure, go ahead!

[2021-10-01 12:42] #1367 closed

[2021-10-01 13:14] #1147 closed

[2021-10-01 17:43] spiral6 commented on #297
.ndignore is a good solution but it is very user intensive to have to create an .ndignore for *every* folder that requires one. A nice feature that would help would be to create a global blacklist for folders to be scanned such as a root config with .ndignore.

[2021-10-02 03:59] abescalamis commented on #1067
+1 for this why don't you use the same favourites tab for songs, artists and albums and it can be implemented in so many ways look at the example I did.

![MOCKUP](https://user-images.githubusercontent.com/36573279/135702843-3f14975e-6346-42da-8cb2-d9a447741c1d.jpg)

[2021-10-02 17:55] deluan commented on #771
Drag and drop implemented in 6c3e45de41ca0d996a0efb6a588ddd6c91b35275. Will be part of next release (0.46.0)

[2021-10-02 17:57] #771 closed

[2021-10-03 16:17] AQUOSTICS commented on #1286
Same issue, having Navidrome running on my home server. It looks like it only happen when I try to access it using my domain. If I directly access it by typing the ip +port then I did not run into this issue.

I did some investigations and it **seems** like this happened to me because I am streaming flacs files(30mb - 40mb) without using slice on my Nginx reverse proxy server. That means each GET

[2021-10-03 22:23] HubKing opened #1384 "Support a directive file for Navidrome to use when adding music files to its database."
### Is your feature request related to a problem?

Music files from various sources could have different aspects, like different character set in the tags, or different volume levels. I mean, not all music files have tags encoded in Unicode or in the same character set as the default character set of the operating system on which Navidrome runs. And some music files are louder than others.

### De

[2021-10-04 04:10] HubKing opened #1385 "Extension/plugin like search handler."
### Is your feature request related to a problem? Please describe.

Things get complicated when music files are in multiple foreign languages, especially for Eastern Asian languages. For example, the same Japanese can be written in numerous different ways. The followings are all the same meaning and the same reading (sokoni):

* そこに
* ソコに
* 其処に

Also to type Japanese, when one is usually typing in

[2021-10-04 10:41] ScrumpyJack commented on #745
Gaps make listening to classical music and particularly opera, painful. I'd love gapless playback

[2021-10-04 12:53] AQUOSTICS commented on #1286
Same issue here. If I access my server using my domain name, then I will run into this issue eventually, also more often if songs are huge(40~50mb). If I access it locally using the server IP with port then I have no issues at all. My assumption is that maybe my reverse proxy server is not configured correctly, but I am not confident.

[2021-10-04 14:09] metalheim commented on #1384
Regarding Volume: There is also a very universal solution out there, called ReplayGain.

It's written to the tags and understood not only by navidrome but most music players!
The tag is already read by navidrome so if your client supports ReplayGain (most do), your problem is pretty much solved.

[2021-10-04 14:17] metalheim commented on #1377
I would find this very useful for smart playlists along the lines of
Songs with 'genre=Hip-Hop' & 'lang=deu' & 'year between 1995 and 2000'

That said I don't have my song languages tagged multi-valued

[2021-10-04 19:37] RedKage opened #1390 "Searchable/Filterable star ratings"
### Is your feature request related to a problem? Please describe.

As a user, I need to be able to search tracks by their star rating.
I do this so that I can search for tracks I have yet to listen (they have no ratings) or because sometimes I want to listen to only the good stuff (all of those which have 5 stars).

### Describe the solution you'd like

I see multiple ways to solve this.
The ulti

[2021-10-04 22:21] deluan commented on #297
@spiral6 Yeah, I though about allowing a syntax like `.gitignore` inside the .ndignore`. Please feel free to open a new GH issue so this suggestion is not buried in a closed issue. Thanks!

[2021-10-04 22:23] deluan commented on #1377
I actually not sure if we need to support multiple languages. The use case I see is what @metalheim just said above: to filter songs by language in a smart-playlist (or even in a UI filter). For this, IMHO, what really matter is the main language, right?

[2021-10-04 22:27] deluan commented on #1385
Thanks for the suggestion! The idea is great, but it requires a plugin system to be in place before anything else. I have plans to introduce it, but we are not there yet, so I'll keep this issue open to track this "search plugin" idea.

By the way, for western languages, accents are ignored: `legião` can be found by searching for `legiao`. For German, `schönen` can be found by typing `schonen`, bu

[2021-10-04 22:30] deluan commented on #1390
Thanks for the suggestion! Yeah, Smart playlists are coming, we just don't have a GH issue to track it.

As for adding filters, yeah, this can come before smart playlists, I'll take a look

[2021-10-04 22:33] deluan commented on #1384
Navidrome uses UTF-8 encoding. Are you having issues with encoding? Can you elaborate?

Regarding "volume normalization", I think ReplayGain is a better approach, as @metalheim suggested, and we have a GH issue opened for that: #233. Individual volume gain adjust may be a thing in a distant future, and I'm not sure if having a sidecar file is the best approach. Ideally we would use the UI to do th

[2021-10-04 23:03] deluan commented on #1364
Ah yes, if you use other services, Navidrome does not support them (yet).

Yeah, I was not saying there is a better solution for something like a multisource scraper, just that scraping (and other form of non-documented integration) are always susceptible to such breaks.

Unfortunately I don't have time to dig into this issue and fix it myself, but would be glad to accept a PR that address this.

[2021-10-05 07:41] RedKage commented on #1311
@Dnouv For me, that'd be to target the header bar `MuiPaper-root MuiAppBar-root MuiAppBar-positionFixed MuiAppBar-colorSecondary mui-fixed MuiPaper-elevation4` so I could change the blue color with a darker one (as I use a dark theme)

Aside from this, being able to change anything in the UI could be cool, like in a album grid view, to be able to change the margin between elements to make it wider

[2021-10-05 07:43] RedKage commented on #1380
Sounds like #1309

[2021-10-05 07:47] RedKage commented on #1390
Related #1067, for the "select entries beyond the search result UI"

[2021-10-05 08:18] KucharczykL commented on #1364
See #1392

[2021-10-05 18:49] aramaki87 opened #1393 "How to add/create a new user"
How do I add new/additional users to login at the front end?

I just read: “Multi-user, each user has their own play counts, playlists, favourites, etc...” - but how?

[2021-10-05 18:58] lostpolaris commented on #1393
presumably, you've already created an admin account. in that case:

in the top right of the page you should see the user icon, once you click on it, you should see the 'users' option
![image](https://user-images.githubusercontent.com/6691735/136085821-318079e9-dcc8-4c22-ad9c-e1ca121ebf46.png)

click on that and you will be led to a page where you can create additional users.

[2021-10-05 19:20] aramaki87 commented on #1393
![5C8DECE2-03DC-4786-B18D-6AF0089D4B7D](https://user-images.githubusercontent.com/17096379/136087690-57ffefb2-a707-407f-8239-e2038b6c79f8.jpeg)

Looks not the same here. If I am not an admin user what is my admin user? 😵‍💫

Using latest version 0.45.1

[2021-10-05 19:25] deluan commented on #1393
The admin user is the one you created when you first setup Navidrome. You can only add new users if you are logged in with as admin.

If you don't remember the user you created, the only way is to start from scratch again, by stopping Navidrome and deleting the DB files `navidrome.db.*` found in the DataFolder