[2020-11-03 15:22] #569 closed

[2020-11-03 15:24] deluan commented on #174
I think we can close this, it behaves as expected now. Feel free to reopen if you have any concerns.

[2020-11-03 15:24] #174 closed

[2020-11-03 15:25] deluan commented on #31
This can be done with an external script, like https://github.com/peguerosdc/subimporter

[2020-11-03 15:25] #31 closed

[2020-11-03 15:28] Darthagnon commented on #609
Maybe he's thinking about something like the Polymer Youtube "Add to Playlist" popup window - Click on a "Add to Playlist" button next to a song, and the popup window displays a scrollable list of existing playlists (plus a "New Playlist" field) with checkboxes next to each playlist. Check boxes for desired playlists for a song, click OK, and it's added to all the selected playlists.

[2020-11-03 15:31] deluan commented on #130
Subsonic API endpoints `startScan` and `getScanStatus` are now implemented in 0.37.0. `beets` integration is working (use the [subsonicupdate plugin](https://beets.readthedocs.io/en/stable/plugins/subsonicupdate.html)), and clients that support these endpoints can now trigger scans:

![ezgif-6-4a45132b37b0](https://user-images.githubusercontent.com/331353/98005868-89a23480-1dbf-11eb-8415-d60263268

[2020-11-03 15:33] deluan commented on #609
@Darthagnon thanks, never saw this, but that could work. Will try it in a future release

[2020-11-04 09:57] cascooscuro commented on #497
I would love to see this implemented.
Foobar uses external .tag files, which are binary dumped APE tags (http://wiki.hydrogenaud.io/index.php?title=Foobar2000:Components/External_Tags_(foo_external_tags))
I have attached two examples of APE tags, one "file" tag and one "folder". Looks like in foobar you can use per-file or per-folder tags:
[external_ape_tags.zip](https://github.com/deluan/navidrom

[2020-11-05 00:21] gramakri opened #613 "Need to clear browser cache after creating admin"
I am creating a navidrome package for Cloudron (at https://git.cloudron.io/cloudron/navidrome-app). I have noticed a peculiar behavior:

* Install navidrome. Create admin user.
* Logout
* I see login screen.
* Reload navidrome in browser.
* The UI keeps asking me to create admin user.
![image](https://user-images.githubusercontent.com/82041/98182070-b5094a00-1eb9-11eb-9ce2-e177ed908afb.png)
* Tryi

[2020-11-05 00:23] gramakri commented on #613
The bug is reproducible with chrome and firefox. Also, I can see that the admin user exists in the sqlite database.

[code]

[2020-11-05 00:52] deluan commented on #613
Hey, thanks for creating the package!

I can't seem to reproduce the issue here (using Chrome on macOS), but it is happening with Firefox. This used to happen in very early versions, but it's supposed to be fixed since April. I'll investigate a little more and let you know. Thanks!

[2020-11-05 01:05] gramakri commented on #613
@deluan After a bit of debugging, I found it's something to do with service worker. If you go to Firefox/Chrome, App -> Service Worker -> Unregister and then reload the page, it starts working again.

Also, I can confirm with curl that firstTime is set to false correctly in app config. So it's a frontend issue.

[2020-11-05 01:09] deluan commented on #613
Thanks for the information. The service worker was introduced recently, when we added PWA capabilities to Navidrome. Will have to figure out how to handle this situation. Seems that it caches the index.html by default.

[2020-11-05 20:41] emosterd opened #614 "binary for ASUSTOR NAS"
I'm not sure if this is the correct venue for this request, but per this page:

https://www.navidrome.org/docs/installation/build-from-source/

namely:

"If you can’t find a pre-built binary for your platform, you should open an issue in the project’s GitHub page."

I'd love to see a build for ASUSTOR NAS devices.  I know there's one for QNAP, and I think there might be one for Synology.  If it he

[2020-11-06 09:05] certuna commented on #613
This might offer a solution: https://github.com/facebook/create-react-app/issues/7700

[2020-11-06 09:56] pagdot commented on #490
Another option would be to be able to make a copy of a playlist. So I could make a copy of the imported playlist into my account

[2020-11-06 15:46] esfateev commented on #609
@Darthagnon yes that's exactly what i meant! Youtube is a good example :)

[2020-11-06 18:49] deluan commented on #613
Thanks for the digging, @certuna

It seems that most solutions on the links above will require to "eject" the CRA app, meaning all build and config code will be added to Navidrome's codebase, and will make it impossible to upgrade CRA in the future....

But there is hope: https://github.com/facebook/create-react-app/issues/3171#issuecomment-331583584
Will try this later this weekend.

[2020-11-07 04:05] dhruvinsh commented on #558
@deluan
Thanks for this awesome and lightweight project.

I agree that you are making sure that Navidrome is more secure by not writing anything to user directory. Your point of view is absolutely right here.

But normally what happen is, while listening to the song, in my case, I realize that I had to delete it. And just for that purpose opening other tool is bit tedious, and always end up keep t

[2020-11-07 15:30] certuna commented on #613
That would probably also fix the issue I've just encountered: even though I've updated my server twice (0.36 and 0.37) since I installed the PWA on my iPhone, it still says 0.35 in Menu-About, i.e. it has cached the assets on install and isn't refreshing them, even when I tap the 'refresh' icon.

[2020-11-07 17:21] #568 closed

[2020-11-07 18:17] deluan commented on #614
Hey, thanks for your interest in Navidrome. "Pre-built binaries" in the context of that page means an executable for a specific combination of OS/Platform. Ex: Linux/ARMv6 or Windows 64 bits.

Based on the link you provided, all ASUSTOR models are already supported (assuming it runs on Linux):

<img width="701" alt="Screen Shot 2020-11-07 at 12 52 16 PM" src="https://user-images.githubusercontent.

[2020-11-07 18:17] #614 closed

[2020-11-07 18:24] deluan commented on #613
The library used by the link I posted above (sw-precache) is deprecated.... and the new version of CRA removed the provided service worker due to [too many problems with them without proper configuration](https://github.com/facebook/create-react-app/issues/4674#issuecomment-406943230)

We will need more time to properly configure a service worker for Navidrome and not rely on the default provided

[2020-11-09 18:28] mattbk commented on #390
As part of this, some sort of global "most played" list across users would be interesting.

[2020-11-10 00:05] deluan commented on #613
Found another, possibly simpler and more elegant solution: https://felixgerschau.com/create-a-pwa-update-notification-with-create-react-app/

Will try it this week.

[2020-11-10 12:52] certuna opened #620 "multiple discs, not starting with track # 1"
When you have an album with:
disc 1 song 1
disc 1 song 2
disc 1 song 3
(disc 2 song 1 missing)
disc 2 song 2
disc 2 song 3

The navidrome UI will not split the album into two discs anymore, but will show them all under disc 1:
**disc 1:**
song 1
song 2
song 3
song 2
song 3

Example (in this case I'm missing tracks 1-10 from the second disc):

![Screenshot 2020-11-10 at 13 53 46](https://user-image

[2020-11-10 13:50] deluan commented on #620
Ah yes, It detects the "new disc" based on track 1. Will fix this, thanks for the report

[2020-11-10 14:58] certuna commented on #613
That's a great find, looks like the best thing to use. Maybe also use the "refresh" button on the top right to not just reload dynamic content, but also force a reload of the static files at the same time?

[2020-11-13 01:33] #620 closed

[2020-11-13 09:56] pagdot opened #621 "UI slow with big Playlists"
When opening a playlist with a few hundred (~600 in my case) entries the UI is really slow when loading the playlist or updating the UI.

[2020-11-13 10:39] a20eac1d opened #622 "Navidrome not grouping songs of the same album"
After scanning my music library Navidrome has found multiple songs of the same album but decided to show them each individually depending on the artists of that specific song.

Example:

https://i.imgur.com/kPcW3I7.png

All of these should be a part of the one album "8 Mile", but they are split up by artists as you can see below each album art.

This also happens on the main page "Albums -> All" w

[2020-11-13 13:28] certuna commented on #622
Do they have "Part Of Compilation" set to true?

[2020-11-13 14:05] SteveDinn commented on #622
By any chance, are these files from a Google Music backup? I noticed that it grouped my compilation songs by artist by default. I had lots of single-song albums under each artist instead of a compilation with many songs.

If this is the case, I recommend going through your library with a tool like [MP3Tag](https://www.mp3tag.de/), and making sure all of your files are in the correct and optimal fo

[2020-11-13 14:37] deluan commented on #621
Thanks for creating the issue. Will take a look at ways to optimize it

[2020-11-13 15:43] elementalest commented on #18
I just started using Navidrome. So far I'm liking it much more than Airsonic, but currently it lacks Last.fm scrobbling. So its great to see it being worked on here and from the looks of it maybe ready for the next release!

One feature that would be nice is to use Last.fm (or spotify) to sync your track played count. Or at least on initial setup perform an import.

It would also be nice to use La

[2020-11-13 15:53] deluan commented on #18
Scrobbling is coming, but not for the next release, I still have to refactor the current code to allow different integrations (offline, MusicBrainz, Libre.FM, etc...)

Importing from Last.FM could be done with a script. Unfortunately I don't have the time to write such script, but should be straightforward if you know a bit of Python: you could modify this code that imports from one server to anot

[2020-11-13 16:04] elementalest commented on #18
Ah, I see. Thanks for pointing me to that script and thanks for your work!

[2020-11-13 16:38] SteveDinn commented on #533
Perhaps the "filter" controls could be used on both the search page and the smart playlist creation page, because they're basically the same thing. And ultimately be able to "create smart playlist from this search"

[2020-11-14 17:45] HappyBasher opened #625 "api returns wrong song path"
getSong returns for example
`<song album="Greendale" albumid="53da1e3857c540d7fcd55f1c269e7c5d" artist="Neil Young &amp; Crazy Horse" artistid="f1c6b7c898c0e98c94c55635295bd761" bitrate="930" contenttype="audio/flac" coverart="8d5f083ec6f32567d917368cd81e639b" created="2019-04-12T16:20:49Z" discnumber="1" duration="777" genre="Rock" id="8d5f083ec6f32567d917368cd81e639b" isdir="false" isvideo="fals

[2020-11-14 17:58] HappyBasher commented on #622
Another reason could be not all songs of the album have the same album artist tagged.

[2020-11-14 18:21] deluan commented on #622
Time to add a new F.A.Q. ... :)

[2020-11-14 18:43] deluan commented on #625
Yes, this is by design. I implemented that way so when toggling offline mode in DSub, it shows a more sane structure of Artists/Albums, instead of having to navigate through various folders. Ex: If the original path is `/mnt/data/music/Crazy Horse/Greendale`, in offline mode DSub would show only one entry in the Library: `mnt`. Touching it would show another sole entry: `data`, and so on. You got

[2020-11-14 19:16] dertasiu opened #626 "[Feature Request] - Album collections"
Hello!
It would be awesome to have a feature similar to the playlists, but to group albums in.
This way we could make collections like "Top 100 albums...", "Concerts that are awesome".
It could be right below the "Playlists" menu item.
![playlist-collections](https://user-images.githubusercontent.com/11269785/99155085-44caa780-26b5-11eb-840b-0418a610bf8c.png)

The only problem that I see with this

[2020-11-14 19:59] HappyBasher commented on #625
Yep, I do some python scripting to create smart playlists based on my starred items, what works excellently with airsonic. So I assume this will never be fixed as the DSub client depends on it.

[2020-11-14 21:58] certuna commented on #626
This could be implemented the way Apple has done it, i.e. allow playlists to be displayed in the album view

So you fill up a playlist full of whole albums, set the album view as default for that playlist -> album collection

[2020-11-15 00:49] deluan commented on #625
I think I'll add an option in the Players configuration page, to enable real paths through the API. This would allow to select which players should receive the "fake" path (default) or the real one

[2020-11-15 00:51] deluan commented on #626
Yes, Smart Playlists + Album view will solve this. It won't be available through Sunsonic API, though... Currently if you just want to create a list of Best albums, you can "star" the albums and they will appear in DSub's Starred view.

[2020-11-15 07:04] vs49688 commented on #446
I just hit this on 0.37.0. Same problem, same fix.
Can be triggered in a few minutes navigating when using the Navidrome Kodi addon (it seems to load a LOT).

* OS: NixOS 20.09 (64-bit)
* Arch: x86_64

[code]

[2020-11-15 07:30] deluan commented on #446
Will investigate, thanks for reporting it.

[2020-11-15 11:06] HappyBasher commented on #625
Super, that would be nice. :+1:

[2020-11-16 09:18] quite opened #627 "web UI: add Play after current album"
For the old-school album-listeners :+1:

[2020-11-16 13:20] obbardc commented on #245
any plans for finishing the Web UI part?
i'd enjoy this for audiobooks ;-)

[2020-11-16 13:25] SimplyCorbett opened #635 "Transcoding does not work"
Transcoding has not worked for me with navidrome. Currently on version 0.37.0.

I do have a custom compiled ffmpeg, but it works with jellyfin so I'm not sure why that would be an issue with navidrome unless I missed compiling in something.

There are no errors - it just silently fails to play the music.

[code]
[code]

[2020-11-16 13:27] SimplyCorbett commented on #635
Oh, had to restart navidrome. Works now!

[2020-11-16 13:27] #635 closed

[2020-11-16 19:49] deluan commented on #627
You mean something like "Play Next", but instead of adding the selection as the next item to play, it adds the selection at the end of the current playing album?

[2020-11-16 22:58] deluan commented on #130
I can finally close this, as the functionality is now fully implemented as of version 0.38.0 (both in the API and UI). To trigger a new rescan, use the new Activity Panel (top right, near the settings menu).

[2020-11-16 22:58] #130 closed

[2020-11-17 05:31] quite commented on #627
Yup. It would have to skip fast all the upcoming songs that are from the same album, and add selection after the last of those.

[2020-11-17 10:32] alexmat commented on #585
`s` or `*` to star the currently playing song would be nice to have

[2020-11-17 12:10] Pollinopops commented on #250
Hey, I'm following Navidrome's developpment very closely. It looks really promissing ! For the moment, I am sticking with airsonic because I mainly listen to my music with the jukebox mode on my pi with a hifiberry DAC. Any ides when the feature will be implemented in Navidrome ?

Thanks for the great work !

[2020-11-17 13:13] quite commented on #627
Perhaps it adds clutter to the ui, how many ppl would use it...

[2020-11-17 13:29] Extarys opened #636 "Playlist group/multiple playlists into one"
I never really saw this feature elsewhere so maybe it's a niche request/feature but I'll explain what I'd like/what I'm doing. This is not high priority, but a simple suggestions other users could also comment on. Although this could be easily implemented once **smart playlists** are implemented.

I have multiple playlists in the style of "my own very best"

- Era - My own very best
- Enya - My ow

[2020-11-17 14:38] geekedtv opened #637 "Comments cut off if longer than wrapper"
Comments cut off if they are longer than the wrapper. This could be an issue for audiobooks with large descriptions.

See this image.
https://prnt.sc/vktgii

[2020-11-17 14:47] deluan commented on #245
Don't have a timeline for this, but it is in my todo list for sure

[2020-11-17 14:51] deluan commented on #250
@Pollinopops Do you mean the Jukebox mode #364 or Chromecast support? Or both? Jukebox will come first, hopefully in the next couple of months. Chromecast support may take longer, not sure how it works.

[2020-11-17 14:51] obbardc commented on #613
I had the same issue when upgrading to a new version using docker on develop branch: the web ui asked me to create a new admin user even though I already have an admin user. Eventually it let me login though.

[2020-11-17 14:52] deluan commented on #627
Yeah, it may clutter the UI. I'll think about it. For now I'll keep this open, thanks for the suggestion.

[2020-11-17 14:54] deluan commented on #613
For those having this issue, another workaround for now is to Force Reload the UI (Shift+Control+R)

[2020-11-17 15:00] Pollinopops commented on #250
Oh sorry I just realized I was in the wrong place... Yes I meant jukebox mode like in airsonic. Great news thanks ! Can't wait to try it out!

[2020-11-17 15:13] deluan commented on #636
This will definitely be possible with Smart Playlists, with rules like this (from iTunes):
<img width="852" alt="Screen Shot 2020-11-17 at 10 11 36 AM" src="https://user-images.githubusercontent.com/331353/99407641-5383ab00-28bd-11eb-8626-7f2cd1c95a27.png">

[2020-11-17 15:38] Extarys commented on #636
Oh thank you! It's been a long time since I was able to play with smart playlists, the ecosystem is limited on linux - or maybe just for music server in general. I wasn't sure if this was a normal thing.

:rocket:

[2020-11-17 20:05] bricas opened #639 "Ratings in local UI?"
First of all, thank you very much for this app! It's been very responsive on my Pi-based server, unlike other ones I've tried.

I'm moving from desktop-hosted content to my server and I'm hoping to get as close to what I'm used to as possible.

I've been using Banshee as a player and I've gotten used to two things: 1) smart playlists (which I see in another ticket that you're planning on implement

[2020-11-17 20:14] deluan commented on #446
Hey @vs49688 , can you try this build: https://github.com/deluan/navidrome/suites/1517769433/artifacts/26733088 ?

(Remember to reenable the Image Cache)

[2020-11-17 20:18] deluan commented on #639
Thanks for trying Navidrome! Yes, 5-star ratings will come to the UI at some point, probably before the Smart Playlist implementation. Keep tuned :)

[2020-11-17 20:55] deluan commented on #637
Thanks for the report.

Should we do the same as other platforms and strip line breaks from the comment?

[2020-11-18 00:25] vs49688 commented on #446
Am testing now. Should probably also mention I woke up to more of the same (this is after updating to 0.38.0):
[code]

[2020-11-18 00:50] bricas commented on #639
Excellent. Thank you! :trophy:

[2020-11-18 01:05] jwalton opened #640 "Server Uptime: OFFLINE"
I just set up a brand new Navidrome instance with Docker.  It found all my music (well, it found a bunch of music - I haven't gone digging to see if it found all), and I can play music, and everything seems to be working... except, in the upper right corner there's a yellow triangle with a ! in the middle, and a "loading" circle spinning around it.  If I click on it, it tells me the server is offl

[2020-11-18 01:28] vs49688 commented on #446
Nope, still happens. Both with and without image cache. Full log attached.

[2020-11-18 09:59] certuna commented on #278
In **id3v2.4**, there's three date fields defined:

- `TDRL` "Release Date" - explicitly specified as the date of *first* release, but in practice often misused to store the "re-release/re-issue date" (Picard, etc).
- `TDOR` "Original Date" - intended to store the release date of the original version of the song, in the case of covers/remixes/interpretations/etc. So: Nirvana's 1993 cover of David

[2020-11-18 10:54] AvdWerfhorst commented on #640
Same here. Only my instance is not in a docker.

[2020-11-18 13:11] deluan commented on #640
This happens when the UI cannot open an EventStream with the server. What browsers are you using? Can you see any error messages in the browser's console?

[2020-11-18 13:18] deluan commented on #278
@certuna Thanks for the detailed investigation. Yeah, I think your suggestion make sense. Will probably base the implementation on that.

[2020-11-18 13:30] AvdWerfhorst commented on #640
I am starting to wonder if I am experiencing the same issue as @jwalton . As I have been digging around a bit more, I think, the cashed parts are in this case making it seem like the rest is up and running. I am primary using Firefox 82.0.3 on Ubuntu 20.10. When the application mentions it is offline, I can still load some album views. But when I try to open a session in Chromium, it appears I can

[2020-11-18 14:12] jwalton commented on #640
On Chrome, I get no errors in the console... But on Firefox I *do* see an error in the console.  (It was burried under a bunch of warnings - I'm running another service on this same server on another port over https, and I was getting a flood of warnings from Firefox that one of the cookies was going to be treated as not-same-site because the scheme didn't match.  -_-  I created a second hostname

[2020-11-18 14:14] jwalton commented on #640
[code]

And then nothing... It seems to just hang forever.

[2020-11-18 14:24] jwalton commented on #640
Hmmm...  I restarted the navidrome server, and now it's connecting to that endpoint.

[2020-11-18 14:26] deluan commented on #640
When you connect to this endpoint, it should return the server start time, and then keep the connection, receiving at least one message every 15 seconds:
[code]

[2020-11-18 14:28] deluan commented on #640
When you connect to this endpoint, it should return the server start time, and then keep the connection, receiving at least one message every 15 seconds:
[code]

In the browser you should have something like this:
<img width="730" alt="Screen Shot 2020-11-18 at 9 27 30 AM" src="https://user-images.githubusercontent.com/331353/99542680-54c9dc00-2980-11eb-8ce8-7118e3782449.png">

Now that you restar

[2020-11-18 14:31] jwalton commented on #640
Yup.  (And TIL about "Content-Type: text/event-stream".  I was expecting a 101 switching protocols to a websocket!)

[2020-11-18 14:36] deluan commented on #640
Yeah, Server-Sent Events and Event Streams are simpler and more lightweight than websockets for this use case.

Anyway, it seems that there was a hiccup somewhere in the installation... Are you still having the issue? Let me know so we can close this

[2020-11-18 14:38] jwalton commented on #640
I'll close this.  If I get a chance later, I'll try setting up a new instance and see if I can get a reproducible test case.  It's perhaps worth noting that when I first set this up, it sat there for a couple of days unable to find any music, because for some reason when I copied all this music to my Synology, the Synology SMB server set the permissions on all the folders to 000.  -_-  I fixed tha

[2020-11-18 14:38] #640 closed

[2020-11-19 13:15] certuna opened #643 "[WebUI] utilize Sort Order tags"
Navidrome reads and stores Sort Order id3/Vorbis tags (Artist, Composer, Album, Song), but the Web UI doesn't use any of them when sorting by album or song title.

Proposal:

- _always_ use Sort Order tags for Album and Song titles
- _optionally_ use Sort Order tags for Artist/Composer: since MusicBrainz uses this field to store persons as "Lastname, Firstname", and many users prefer to see "Rick

[2020-11-19 13:25] certuna commented on #278
Note: having this fourth field for "original versions released" would be valuable for querying/browsing classical music, opera, jazz etc where there's a strong emphasis on interpretations of "standards" and historic compositions.

[2020-11-19 13:35] SteveDinn commented on #278
I've also run into this issue when bands release "remastered" versions of older albums. It's like, "Yeah, I know it technically released in 2018, but this music is from 1992."

[2020-11-19 13:37] certuna commented on #278
It's mostly a mess because id3 never explicitly defined a "reissue date" field.

[2020-11-19 16:16] #622 closed

[2020-11-19 16:18] deluan commented on #622
Add to F.A.Q (thanks @certuna): https://www.navidrome.org/docs/faq/#i-have-an-album-with-tracks-by-different-artists-why-is-it-broken-up-into-lots-of-separate-albums-each-with-their-own-artist

[2020-11-20 08:46] certuna opened #646 "ND_ADDRESS is not IPv4/IPv6-neutral"
Currently, the Navidrome [configuration option](https://www.navidrome.org/docs/usage/configuration-options/) for IP address binding is:

Environment Variable: `ND_ADDRESS`
Description: IP address the server will bind to
Default: `0.0.0.0` (all IPs)

a) this suggests Navidrome can only bind to IPv4 addresses, as `0.0.0.0` only covers all *IPv4* addresses. In reality of course, Navidrome binds to al

[2020-11-20 11:36] JannesMeyer commented on #165
I would be curious about this, too. On the sonos devices you can register yourself as a "music service" which is then shown in the Sonos Controller app.

The latest documentation is available here: https://developer.sonos.com/build/content-service-get-started/test-your-content-service/

To register the service you have to fill out a form on any of your Sonos devices: `http://$SonosDevice:1400/cust

[2020-11-20 14:49] kolmone opened #647 "[webUI] Album grid does not respect window size with narrow window"
Album grid view works inconsistently when viewed in a narrow window i.e. a phone screen where only two albums fit on the screen horizontally. On some pages of the album list the layout is broken in such way that the page content is wider than the window size and scrollable horizontally. Other pages of the album list work as expected, so the issue seems to be caused by specific albums (specific pag

[2020-11-20 14:56] Beswald opened #648 "[enhancement, WebUI] Remember the "Items per page" selection"
As the title states, remember the "Items per page" selection. I have a lot of artists and I find the first thing I do everytime I log into the webui is change that selection to 50.

[2020-11-20 17:11] certuna commented on #613
Shift-Control-R not so effective on phone or smart TV unfortunately...

Can we add a quick "clear the serviceworker cache" snippet to the js triggered by the Refresh button top right, like this:

[code]

[2020-11-20 17:36] esiqveland commented on #446
Seeing the same navidrome 0.38.0 on arm64.
I am not certain of ulimit it is running with, but this is very probably a file descriptor leak, as it never recovers again after this starts happening.

[2020-11-20 18:13] deluan commented on #613
Nice finding, will take a look at adding this. I tried the solution from the post I linked, but it is not as straightforward as it seems. Still have to figure out some loose ends

[2020-11-20 18:17] deluan commented on #446
Yes, this is definitely a file descriptor leaking. Can any of you guys try with version 0.36.0?

[2020-11-20 18:23] deluan commented on #647
Thanks for reporting this, I also noticed this yesterday. I think it is probably caused by the album's title and artist caption, that is new in this layout. Will take a look.

[2020-11-20 19:08] Beswald commented on #648
Nevermind, I found an issue that covers this. Didn't see it the first time I looked. Sorry.

[2020-11-20 19:08] #648 closed

[2020-11-20 19:36] esiqveland commented on #446
restarted .38.0 again now with debug logging and suddenly cant reproduce anymore.

deleted the caches/images folder and still can not reproduce.

[2020-11-20 22:03] esiqveland commented on #446
My issue may not be the same.

See logs:

[code]

Notice how the web client keeps reconnecting.

[2020-11-20 22:08] deluan commented on #446
Hummm, can you try disabling the Activity Panal with the config option `DevActivityMenu=false`? Also, I need confirmation this is happening in 0.36.1 and 0.37.0, if someone can try it, please

[2020-11-21 00:08] vs49688 commented on #446
Happens in 0.37.0. [navidrome-0.37.0-cache.txt.gz](https://github.com/deluan/navidrome/files/5576690/navidrome-0.37.0-cache.txt.gz).

Testing in 0.36.1 shortly.

This was reproduced by repeatedly hitting random and waiting for cover art to fail to load. When that didn't work, I switched to the Navidrome Kodi plugin. Navigating releases worked. Navigating artists (and failing to load the artist ima

[2020-11-21 00:20] vs49688 commented on #446
Also happens in 0.36.1. [navidrome-0.36.1-cache.txt.gz](https://github.com/deluan/navidrome/files/5576708/navidrome-0.36.1-cache.txt.gz)

[2020-11-21 01:32] deluan commented on #446
Thanks @vs49688! Is it too much to keep testing until you find the version it was last working? Thant would be extremely helpful, as I cannot seem to reproduce the issue here...

[2020-11-21 02:15] deluan commented on #446
To rule out the upgrade to Go 1.15 (introduced on version 0.35.0, I've built the current version from master using Go 1.14. If any of you guys can test it, it would be very helpful. Thanks!

[navidrome_v0.38.0-SNAPSHOT_Linux_arm64.tar.gz](https://github.com/deluan/navidrome/files/5576866/navidrome_v0.38.0-SNAPSHOT_Linux_arm64.tar.gz)
[navidrome_v0.38.0-SNAPSHOT_Linux_armv5.tar.gz](https://github.c

[2020-11-21 02:41] vs49688 commented on #446
Just tried it on this (with Go 1.14) and it still happens.
I seem to be able to reproduce it by navigating artists with the Kodi Navidrome plugin.

I could give you shell access if it'd help with debugging.

[2020-11-21 03:56] srichter opened #650 "Adding a song to the queue with "Play Next" while paused breaks the player"
## Expected Behavior
The track is added to the queue after the currently playing (but paused) track. The player functions properly and is able to be unpaused.

## Current Behavior
The track is added to the queue after the currently playing (but paused) track. The player's play/pause button changes to display pause icon, suggesting the player thinks it is in the playing state. The player is unable

[2020-11-21 08:15] vs49688 commented on #446
Just reproduced it on 0.34.0

[2020-11-21 13:27] nicholas-robertson opened #652 "Previous Track button does not restart the current track"
I know that this is probably behaving as intended, but 95% of players implement this button such that it will first restart playback of the currently playing track from the beginning rather than going strait to the previous track.

[2020-11-21 16:21] gedw99 opened #653 "DB Migration"
You might want to change to genji dB.

https://github.com/genjidb/genji

All golang with sql. Zero CGO. Easy to backup in streaming mode. Works with goose.
Can store files as if was a file system.
Advanced caching
Behind it is badgerdb.
Fast like crazy

Files are uploaded/ downloaded as chunks so for massive files it’s not going to balloon the memory either

[2020-11-21 23:58] deluan commented on #653
Thanks for the suggestion, I'd love to have something in pure Go, but the options available do not provides all functionality I need.

Originally Navidrome (at the time called GoSonic), was created using LedisDB, but it was not well-suited for its use case. Then I tried Storm (a precursor of Genji): https://github.com/deluan/navidrome/tree/334e8384ce68e43424fa193bc85100c0872c340c/persistence/db_st

[2020-11-22 00:09] #653 closed

[2020-11-22 00:11] deluan commented on #652
Sorry, I accidentally close this from my cellphone. This is a limitation of the upstream [React Player project](https://github.com/lijinke666/react-music-player)

I agree the current behaviour is not the most intuitive, and I suggest you open an issue with that project. I'll keep this open with a "blocked" label while we don't get this functionality provided by the React Player project

[2020-11-22 00:19] deluan commented on #446
Thanks but I don't think that would help :(

0.34.0 only introduced UI changes, so the next logical candidate version (that introduced server changes) is 0.33.0, where the `taglib` extractor was introduced. I wonder if the `taglib` extractor is the code to blame here.... Can you please test version 0.38.0, but using `Scanner.Extractor="ffmpeg"`?

[2020-11-22 00:42] vs49688 commented on #446
Done, still happens.

Repro notes (personal):
* Open Kodi Plugin
* Navigate all artists (557), letting each default image load.
* Navigate and load 14 "random" pages of albums
* Triggered when it starts displaying a vertical rectangular image with a video camera in the centre for each album.

[2020-11-22 01:07] vs49688 commented on #446
I'm going to keep going back until I find one that's working, then I'll do a bisect on it. Probably won't get to this until tonight though.
Will report back.

[2020-11-22 09:34] vs49688 opened #655 "Fails to start with "ImageCacheSize = 0""
Navidrome fails to start with `ImageCacheSize = 0`. Discovered on 0.38.0 when trying to bisect #446.
Bisect yields ba8d2f5da869d18dcd1dda39844063e81523c844 is the first bad commit.

[code]

Log:

[code]

[2020-11-22 11:32] BobWs opened #657 "What do these errors mean after the latest update"
Hi,
After updating to the latest version in keep getting these errors in the logs. What does it mean?
And how to solve this..
Thanks in advance.

`ERRO[0138] HTTP: GET http://music.mydomain.com/rest/getCoverArt.view?t=cca8f5ed7e5e98fc01e4c55af2768d06&c=playSub_iPadAir3rdgen&id=a7e7f5a56e78da8a54de66275eda0729&u=username&size=120&v=1.9.0&s=891689E5-A23F-4CE1-8BB3-2CA4FD5AFA53&f=json  elapsedTime="8

[2020-11-22 12:16] vs49688 commented on #446
Well, that was several hours of my life I'll never get back. Bisected to 9f4f2f7381039b135b4bfe4595b03395d4625774.

[code]

[2020-11-22 14:52] metalheim commented on #637
I can confirm the problem (also had this with an audiobook with a very long comment).

Its actually enough to remove the CSS property "white-space: nowrap;" from the wrapper" and the text will flow nicely.

Default (with white-space: nowrap)

![image](https://user-images.githubusercontent.com/44159957/99907001-8f15df00-2cda-11eb-8c65-bd5706f8e989.png)

Exptected behaviour (removed white-space: now

[2020-11-22 20:04] deluan commented on #496
Fixed by #658

[2020-11-22 20:04] #496 closed

[2020-11-22 20:06] deluan commented on #657
Weird. Do you see any issues with the covers in the play:Sub? Can you please add here the few lines above the error?

[2020-11-22 20:20] deluan commented on #446
Hey @vs49688, really, really thanks for this. Are you in Discord? I'd like to chat about your finds.

[2020-11-22 21:59] vs49688 commented on #446
No worries. I'm not, but I could probably create an account. I see you have a matrix.org account, could we chat there?

[2020-11-22 22:03] #655 closed

[2020-11-22 22:09] vs49688 commented on #446
Sent you an invite

[2020-11-23 07:06] BobWs commented on #657
No I don’t see any weird things or issues with the covers in play:sub.

Here’s the rest of the log before the error.

INFO[0000] Creating Transcoding cache maxSize="100 MB" path=/data/cache/transcoding stdout 11:18:13
INFO[0000] Mounting routes path=/rest stdout 11:18:13
INFO[0000] Mounting routes path=/app stdout 11:18:13
INFO[0000] Login rate limit set requestLimit=5 windowLength=20s stdout 11:1

[2020-11-23 17:27] esiqveland commented on #446
If you enable pprof debugging, we can probably heap/threaddump and make these much simpler to debug:

https://golang.org/pkg/net/http/pprof/

[2020-11-25 02:03] deluan commented on #657
I don't see anything wrong.....  the error 503 is [Service Unavailable](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503) and it is not one of the errors returned by Navidrome. Maybe your reverse proxy is returning this error? What happens if you open the URL in the browser?

[2020-11-25 02:21] deluan commented on #657
I don't see anything wrong.....  the error 503 is [Service Unavailable](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503) and it is not one of the errors normally returned by Navidrome.

Can you change the log level to `trace`, call one of the `getCoverArt.view` URL with errors from  the browser, and send me the logs generated by the call? You can send it to me in private through reddi

[2020-11-25 12:44] BobWs commented on #657
Vert strange but today I haven't seen the error message in the log! I will keep an eye on it and report back if it happens again.

[2020-11-25 21:03] zoidy commented on #640
I have the same issue. For me, it does not work when I access my server locally over HTTP on local LAN. When I access it via my HTTPS-enabled internet-facing domain, it works

[2020-11-26 06:42] srichter commented on #650
Okay I've been able to reproduce this:

1. Have a queue playing and be on any track except track 1
2. Select "Play Next" on a track
3. Select "Play Next" on another track
4. The queue restarts from track 1

[2020-11-26 19:41] zoidy commented on #446
I tried with the latest commit and I think the problem is indeed related to the activity panel. It may also be related to #640 since I also have that problem. I was able to reproduce the too many open files error like this:

- Compile the latest version
- Run two identical instances of the binary running on separate ports on the local LAN. The only difference is one has the DevActivityPanel=true s

[2020-11-27 01:52] deluan commented on #621
Hey, I'm doing some refactoring in the playlist view while migrating to the newest version of React-Admin, can you try this new version?

Binaries are available here: https://github.com/deluan/navidrome/suites/1569196857/artifacts/28258034
For the docker image, use the label `deluan/navidrome:pr-667`

There's still work to do to make it better, but I think this new version will be an improvement.

[2020-11-27 16:12] pagdot commented on #621
It's much better now. Rendering when loading a playlist and clicking on play/next still takes a few seconds but much better than before :)

[2020-11-27 16:18] deluan commented on #621
Great! The main issue here is that, as the playlist gets bigger, React has a hard time to render all components in the page. The solution is to paginate the playlist, at least while I don't implement infinite scrolling, that would be the definitive solution.

Will keep this open to track the pagination implementation

[2020-11-27 21:02] #637 closed

[2020-11-28 09:31] wanieru opened #668 "Use a logarithmic volume slider"
Correct me if I'm wrong, but the volume slider is currently implemented linearly?
Volume controls are much better when implemented as a logarithmic volume slider. It matches the way human hearing works. It makes turning the volume down from 100% to 50% actually impactful, instead of barely making a difference.
For me, this is currently my preferred volume: [https://i.imgur.com/e4B0lu2.png](https:/

[2020-11-28 10:39] corinzio opened #669 "Last.fm bio Artist crash navidrome"
Hello i use navidrome on a ubuntu 20.04 machine,
I downloaded the binary from the site.

When using the musicstash App on android if I try to show an artist Navidrome crash with this log:

[2020-11-28 12:31] certuna commented on #668
This is probably better posted as an issue for the upstream react player: https://github.com/lijinke666/react-music-player

[2020-11-28 13:44] corinzio commented on #669
Duplicate of #588
Solved by rebuilding navidrome from source code as described there.

[2020-11-28 15:25] #625 closed

[2020-11-28 15:28] deluan commented on #625
Done. New option on the player configuration:
<img width="617" alt="Screen Shot 2020-11-28 at 10 27 12 AM" src="https://user-images.githubusercontent.com/331353/100519196-5eafc400-3164-11eb-9956-8a5d9a43c1d7.png">

[2020-11-28 23:56] deluan commented on #669
Thanks for the report, this error is really weird. It looks like the OS sent a SIGNAL to Navidrome when it tries to access external resources, something like a firewall. Anyway, I'm closing this as this is a duplicate. If you find anything relevant, please post in #588

[2020-11-28 23:56] #669 closed

[2020-11-30 08:18] certuna commented on #585
Here's the list for [Spotify](https://support.spotify.com/us/article/Keyboard-shortcuts/). I must say, I prefer Ctrl-Left/Right for skipping tracks, less accidental presses.

[2020-11-30 12:21] xsteadfastx commented on #640
same problem.... https... navidrome in docker over traefik reverse proxy.

[2020-11-30 13:06] xsteadfastx commented on #640
looks like something is blocked or something.

![image](https://user-images.githubusercontent.com/168397/100613704-4337eb00-3315-11eb-9434-7349e6c796d6.png)

[2020-11-30 18:40] Mycah commented on #192
Just found this as airsonic seems dead, but I already like this way more.  Would love to see this feature added.  Thanks for the awesome program.

[2020-11-30 18:46] izaak commented on #446
I just installed Navidrome yesterday, and ran into this problem today. 0.38.0 x86_64. I also encountered the acvitity panel error first, and then a few hours of music listening later (using playSub), the server stopped responding and I got these 'too many open files' errors. I'll try with DevActivityPanel=false

[2020-12-01 08:04] darkeststar commented on #446
Not sure if this is related, but calls to `/app/api/events` appears to be consistently leaking a socket when the call gets cancelled. Which seems to be happening a decent amount when using the web client.

As an example, of a leak:

Number of file descriptors when the server is sitting idle:

[code]

Perform GET on `app/api/event`:
[code]
While the call is running:
[code]

Using `strace` I can see

[2020-12-01 14:08] deluan commented on #446
Hey @darkeststar, thanks for the detailed debugging! Yes, I can confirm that the Activity Panel is definitely add up to the issue, but it is not the main culprit. I'll release a new version today with the Activity Panel and the Image Cache disabled by default, that should alleviate the issue for new users, while I don't figure out the final solution for this issue

[2020-12-01 16:03] esiqveland commented on #446
I also think I had a old load balancer in front that did not play well with SSE. I think this caused numerous failed connections from some web clients, leaking connections much faster. I currently have no issues with caddy 2.2.0

[2020-12-01 21:56] izaak commented on #446
I'll just say 'me too' and if there's anything I can do to help debug/test, I've got time. I'll be monitoring the open file descriptors closely, after disabling the image cache.

[2020-12-02 14:05] HappyBasher commented on #625
Works as expected, thanx. :-)

[2020-12-02 16:59] count00zero opened #674 "feature request -> Visualizer"
First things first: I really LOVE navidrome and your work you are investing in it!
It's fast, it's stable, it's great! :)

I'm a sucker for "viz" ... therefore I like the Milkdrop Visualizer Feature of mStream (https://github.com/IrosTheBeggar/mStream).

Do you think it would be able to include something like that (in the future) in the  navidrome webplayer (NavidromeUI)?

just ~~beggin'~~ sayin'

[2020-12-02 18:27] deluan commented on #674
Hey, thanks, glad you like it!

Yes, this may be implemented in the future. If anyone wants to give it a shot: https://github.com/jberg/butterchurn

[2020-12-03 08:02] fringillidaes commented on #476
Here is one for the https://github.com/nginx-proxy/nginx-proxy setup if anyone comes across this in the feature. Automatically generates configs for new containers.

[code]

[2020-12-04 12:42] tcurdt commented on #476
@andrewzah do you have a full compose file for it?

[2020-12-04 12:43] tcurdt commented on #476
@fringillidaes curious - why did you pick that setup over traefik?

[2020-12-04 14:57] andrewzah commented on #476
Personally I think traefik is best but it takes a bit to wrap your head around. I've just been lazy and haven't moved over from Caddy yet.

[code]

[code]

[2020-12-04 15:54] imc67 opened #675 "After update Navidrome (web) doesn't play some albums anymore"
just updated Navidrome to [Cloudron.io] 0.39.0 and discovered in the web GUI that some albums don't play anymore and some do. Via the API and iOS app everything is playing.

In the GUI I see this warning:
![afbeelding](https://user-images.githubusercontent.com/58652432/101184483-10f9f680-3651-11eb-8eb2-4dacd45e62da.png)

Logs

log after restart (nothing special)

[code]

This is the log after logi

[2020-12-04 17:02] deluan commented on #675
I can't think of any changes in 0.39.0 that could cause this.... What version were you using before? Two things you can try:

1) Have you done a force refresh in the UI? Check if the UI has the same version as the server - 0.39.0 (f2a8308)
2) Stop Navidrome, remove the `cache` folder (found in the configured DataFolder) and start it again

If these doesn't help, can you send me the song that appea

[2020-12-04 17:41] imc67 commented on #675
Previous version was: 0.38.0

1. 0.39.0 (f2a8308)
2. somehow that solved it!

Thanks!

[2020-12-04 17:43] #675 closed

[2020-12-04 21:45] fringillidaes commented on #476
@tcurdt never really understood the newer version of traefik and did not want to stay on the older one. maybe one of these days I'll have to go back and take a look.

[2020-12-06 05:39] waymondo opened #676 "Cannot write to Docker volume using Azure File driver"
I am trying to deploy a Navidrome Docker instance on Azure. I'm able to get the Docker container running remotely, as well as read music from an Azure File Share volume using [the instructions outlined here](https://docs.docker.com/engine/context/aci-integration/#using-azure-file-share-as-volumes-in-aci-containers). If I don't specify a volume for the `/data` folder, everything works well, but nat

[2020-12-06 05:55] andrewzah commented on #668
Made an issue: https://github.com/lijinke666/react-music-player/issues/227

[2020-12-07 00:20] deluan commented on #676
Yes, you need write access to the /data folder. Everything seems fine in your config and setup, from Navidrome's perspective. I never used this service in Azure, so I'm not well equipped to help you with its configuration.

A quick search found some issues of SQLite (Navidrome's DB) and Azure File Share. Ex: https://github.com/MicrosoftDocs/azure-docs/issues/47130#issuecomment-580704977

[2020-12-07 03:52] waymondo commented on #676
Thanks, glad the config looks correct to your eyes. I'll close this and investigate what the Azure-specific issue is. If I figure it out, I'll update this issue for posterity.

[2020-12-07 03:52] #676 closed

[2020-12-07 14:14] garret opened #682 "Possibility to integrate Navidrome into Google Home/Assistant?"
I want to ditch YouTube Music/Spotify as music services for Google Assistant. In particular, I have a set of Google Nest Minis which I command by voice asking to play some music from my library on Youtube Music.
One could upload all its library to YouTube Music but I can see that now for playlist reproduction you need a (paid) pro account. That annoys me as it could be easily mane gable with Navid

[2020-12-07 14:32] h-2 opened #683 "Navidrome as app inside Nextcloud?"
This looks really great! Have you considered making a version that can be used from inside Nextcloud? Nextcloud currently has a music app that offers subsonic and ampache streaming, but the interface is rather slow and a lot less intuitive that navidrome!

Thank you in any case!

[2020-12-07 17:11] certuna commented on #682
There is something similar for Plex, although it only does video, not music: https://github.com/maykar/plex_assistant/issues/50 , so if someone wants to create a Navidrome Assistant for Google, that's probably the way to do it.

Also, "[jukebox mode](https://github.com/deluan/navidrome/issues/364)" would also need to be implemented in Navidrome first, where an application can instruct the server w

[2020-12-07 17:47] SteveDinn commented on #682
As I currently understand it, it's not easy (maybe not possible?) to create an app that works with the Google Assistant without making it public. And it doesn't make sense to have a public service that does things with your personal, self-hosted Navidrome instance. This would probably have to be something that lives in the cloud and to which you delegate some amount of control.

I tried to go down

[2020-12-07 17:57] certuna commented on #682
In this [Plex Assistant](https://github.com/maykar/plex_assistant) thing you seem to be able to set your own direct server URL, so somehow this does work with localized server settings.

[2020-12-07 18:08] SteveDinn commented on #682
Yes, but the control itself is coming from a central instance of the assistant app. Local control is possible, but not without that over-arching central web service app in the cloud. It can probably be a very simple app, that just maps your "home" to your instance of Navidrome, and redirects to your local instance. But that means that the information about your local instance needs to be stored so

[2020-12-08 08:34] Nelyah opened #684 "High memory usage"
As the title says, I'm experiencing a high memory usage on my server running navidrome. I am running the `latest` docker image (updated a few days ago), on a ~100GB library.

I stumbled onto this reddit discussion: https://www.reddit.com/r/navidrome/comments/jz3gsc/severe_memory_and_cpu_usage/
but it looks like the cause of that memory usage should have been disabled in the latest release `0.39.0`

[2020-12-08 14:18] SteveDinn commented on #684
I've noticed this as well. No extra CPU usage, but dramatically higher memory usage. I'm also using the `deluan/navidrome` docker image.

[2020-12-08 14:46] Nelyah commented on #684
I've noticed that as well, though unless I'm mistaken the latest release disables the Image cache? Maybe that isn't the reason for it?

I also saw a rise of ~5-8MB each time I would click "Random", but the memory _does_ go up without me doing that (when the instance is simply left as is with no user listening)

[2020-12-08 15:45] deluan commented on #684
Thanks for the report. Do you see anything unusual in the logs (any error or warning?) Does the growing memory usage slows down if you reduce the ScanInterval (default every minute)?

Does it happen only in "Random", not in other Album Views? I'll take a look, but this can be just SQLite loading new data from the DB and keeping it in its internal cache. This could also be caused by the image proce

[2020-12-08 16:49] Nelyah commented on #684
I can try that, then monitor how the memory usage grows. I'll try to run it overnight and see how it fares

The first time I clicked "Recently played" and "recently added" I got a bump of ~50MB in RAM in each case. But subsequent clicks don't change memory usage. In the album view (meaning when I click on an album and get its list of songs, right?) I didn't notice any augmentation in memory usage.

[2020-12-08 17:09] SteveDinn commented on #684
I'm getting these errors approximately once per minute:
[code]

[2020-12-08 17:16] SteveDinn opened #685 "Error trying to register new player"
Looking in my logs for an unrelated reason, and I see this snippet each time I stop and start my web-client.

[code]

I have more than one machine running this web-client logged on as 'Steve', and there is already a "NavidromeUI (Steve)" player in the list. There are several parameters in that SQL statement that are null that perhaps shouldn't be.

[2020-12-08 17:16] SteveDinn commented on #685
Side thought: Is there any way to use MySQL or MariaDB as the backend for Navidrome?

[2020-12-09 02:38] deluan commented on #685
This is an issue with the way players are identified and how the whole transcoding engine is programmed. This msgs are harmless, but if you want different transcodings settings for different instances of the Web UI, that's not currently possible. This will be fixed as part of the transcoding refactoring (#351).

Will close this issue, and please subscribe to #351 to get progress update about the r

[2020-12-09 02:38] #685 closed

[2020-12-09 02:42] SteveDinn commented on #685
I have been blissfully ignorant of those errors until now and they have done me no harm. I don't transcode to the web client anyway.

[2020-12-09 07:21] BobWs commented on #684
Having the same error message also using reverse proxy. But I have been using reverse proxy since day one and never had these errors before, it happened since version 0.37

[2020-12-09 07:22] BobWs commented on #684
Same errors and after I re-enabled the cache the error message disappeared.

[2020-12-09 08:20] Nelyah commented on #684
I started the instance before going to bed with `ND_SCANINTERVAL: "744h"` and the memory usage hasn't increased overnight :tada:

At this point I may just disable it and manually rescan whenever I add some music to my library (which isn't _that_ often). But it might still be interesting to understand why this triggers such a high memory consumption.

---

Also, would you know if those errors I'm g

[2020-12-09 08:45] garret commented on #682
Ok, it seems that the easy answer is just 'no'.

[2020-12-09 15:15] deluan commented on #682
This is something I'm also interested in implementing. Didn't spend too much time researching it, but I'm pretty @SteveDinn is right in that it will need an external web service, and not just your own instance of Navidrome. I'll keep this open until I decide what to do (or someone comes up with a solution)

[2020-12-09 15:28] deluan commented on #684
So it seems that the scaner has a memory leak somehow.... Can you please set LogLevel to trace, set ScanInterval to something like 744h and send me the full log from the moment Navidrome starts up until it finishes the first scan cycle (the first scan happens 5 seconds after starting Navidrome). You can send it to my email: deluan AT navidrome . org

Anyway, keeping it disabled is a better approac

[2020-12-09 19:24] deluan commented on #684
Hey @Nelyah , I received the logs, and I see there's a lot of reconnections from the Activity Panel, and it keeps up to 8 connections simultaneously (how many instances of the UI did you have open?). As the logs shows that it should be disabled (`DevActivityPanel: false`), maybe you didn't refresh the UI? Check if the version in the UI matches the server version (`0.39.0 (f2a8308)`)

It also shows

[2020-12-09 19:50] Nelyah commented on #684
Sorry about that. I'm also sharing the server with some friends and can't really control how many instance they have. I have quite a few computers myself (each had a Navidrome instance) so the number doesn't seem out of place to me.

I've checked the UI (upper right menu, then "About"), it shows the version `0.39.0 (f2a8308)` which seems to match.

I've down/up my container again to check. It's no

[2020-12-09 21:18] deluan commented on #684
If all users have the latest version, I don't know why your server is getting requests for the http://navidrome.mydomain.com/app/api/events endpoint. I did a change to disable dis endpoint if the activity panel is disabled. Can you try the latest `develop` build (`deluan/navidrome:develop`), and send me the logs again? My suspicion is that the `/events` requests are causing issues in your installa

[2020-12-10 09:45] Nelyah commented on #684
I haven't gotten to try the `develop` build yet, but just re- downed/up the container. Before up-ing the container, I pointedly closed the one instance I had running (which seemed to be the one doing the `/events` requests). The client I closed _did_ show the latest version of Navidrome. With that, I think _all_ clients were closed.

This time `docker-compose logs |  grep -ic "found directory"` sh

[2020-12-10 16:39] deluan commented on #684
Yeah, I was able to reproduce this behaviour here. There's some race condition in the events endpoint when doing a scan. Can you do one more test? Set the `ScanInterval="1m"`, and measure any memory increase overnight, so we can be sure that the memory leak was caused by this race condition.

[2020-12-10 16:42] Nelyah commented on #684
Will do! And post what I find tomorrow. Should I test that on `develop` or `latest`?

[2020-12-10 16:48] deluan commented on #684
Please test with the `develop` build

[2020-12-11 10:47] Nelyah commented on #684
So, I got data only until 5AM (after which the container got restarted because there was a new `develop` available). However, it doesn't look like there was any memory leak. It looks like it plateaued at ~110MB from the moment I went to bed to 5AM. :tada:

Thanks a lot for the fix! :smile:

[2020-12-11 16:56] jdaviescoates commented on #446
I noticed me images weren't loading, and so came here to see if I could find out why, and I guess it's due to the fact image cache has been disabled by default.. how can I turn image caching back on to see if it still works on my system? Thanks!

[2020-12-11 17:01] deluan commented on #446
Even with the Image Cache disabled, you should see the images. You can enable it with `ImageCacheSize=100MB` (100MB is the old default, but you can set it to any value greater than 0)

[2020-12-12 03:58] oznogon opened #688 ""Media Folder is empty" errors when media folder is not empty"
Navidrome ~0.38.0~ 0.39.0 running via Docker on Ubuntu 20.04

Given this command:

[code]

And this music directory containing music files:

[code]

Every scan appears to fail in the logs with a message suggesting the media folder is empty, citing `/music` as the directory's location in the container as expected:

[code]

Debug-level logs of scheduled 1m interval scan:

[code]

For a forced scan (

[2020-12-12 19:56] jdaviescoates commented on #446
I do see some images, but strangely not some that I was seeing previously.  And yeah I've actually already added that bit of code but didn't notice any difference.

[2020-12-12 23:52] deluan commented on #684
Hey @Nelyah , can you please test the latest `develop` build? Please enable the activity panel (`ND_DEVACTIVITYPANEL=true`) and also enable scan with a small interval (`ND_SCANINTERVAL=1m`), and please keep an open tab in the browser (make sure the activity panel is there)

Let me know if you see an increase of memory usage with this build. Thanks

[2020-12-13 00:16] deluan commented on #688
It all seems a volume mapping issue in docker.

This message is displayed when Navidrome cannot find any files or subfolders under the music library. This usually happens when you change the music folder, or in case of docker, it can also happen when the volume is not ready or not properly mounted.

Can you confirm the `/music` volume is mapped correctly? Try `docker exec navidrom find /music` and

[2020-12-13 00:24] deluan commented on #688
The API is in place, and can be used in any client that has the functionality implemented (Ex: [DSub](https://github.com/deluan/navidrome/issues/130#issuecomment-721201351)). The Activity Panel is currently disabled by default, as it is causing some issues to some users. It can be enabled with the env var `ND_DEVACTIVITYPANEL=true`.

<img width="410" alt="Screen Shot 2020-12-12 at 7 24 00 PM" src=

[2020-12-13 00:28] SteveDinn commented on #688
Unrelated, but how do you get a user icon to show up like that? I just have the default.

[2020-12-13 00:30] deluan commented on #688
Navidrome integrates with Gravatar. See the [configuration options](https://www.navidrome.org/docs/usage/configuration-options/) and look for `EnableGravatar`

[2020-12-13 01:13] oznogon commented on #688
That's the mystery to me. I think the "Media Folder is empty" message itself is in error, but I'm not sure how it's happening.

In any case, the files are visible in the container, at `/music`:

[code]

They play back fine. The only thing that doesn't work is updating modified or removed files in the database. The workaround so far is to stop the container, delete the database, and restart it.

I'

[2020-12-13 01:26] oznogon commented on #688
Sorry for missing the other questions:

[code]

They're what I expect considering the `docker` command setting the user and group to `id -u` and `id -g`. Not sure how to tell if they're correct, but everything in `/music` is world-readable:

[code]

Yes:

[code]

[2020-12-13 17:00] Nelyah commented on #684
I've started an instance of Navidrome on the latest `develop` with the following `docker-compose.yml` (so you can refer to it to check I've enabled things correctly).

[code]

I have checked and the logs tell me that `DevActivityPanel: true`, so it must be enabled. However I don't see anything different in the UI. I'm not sure what it's supposed to look like either. I'm joining a screenshot of wha

[2020-12-13 17:15] deluan commented on #684
Thanks for the test. When changing configs like this, you'll need to force-refresh the browser, so it reloads the latest config in the `index.html`

Can you confirm which version Navidrome reports in the initialization?

PS: Thanks for the concert tip ;)

[2020-12-13 17:28] Nelyah commented on #684
Ah, right. Indeed after clearing the cache I'm getting the same thing as Chrome (so activity panel present, but kind of buggy).

Here's the output when I run the container, so the version is `Version: 0.39.0-SNAPSHOT (e27d917)`.

[code]

[2020-12-13 17:38] deluan commented on #684
Ah, this version (e27d917) is still buggy.... Can you try the latest latest :)?

[2020-12-13 18:13] Nelyah commented on #684
Updated to `Version: 0.39.0-SNAPSHOT (1d33841)` 😄

[code]

[2020-12-13 18:54] deluan commented on #684
Great! Let me know if you experience any memory usage increase, or the "server offline" indicator (don't forget to force-refresh the browser). Thanks for helping test this

[2020-12-13 20:03] Nelyah commented on #684
Ok, so I'm noticing some funny behaviour with the activity panel:

When the `ScanInterval` triggers a scan, I can see in the log that it's finding everything. However, on the Activity Panel on the UI it sets the `Total Folders Scanned:` to a random-ish (low) number, something between 3 and 40 and sets the `Server Uptime` to `OFFLINE`. The buttons are greyed out.

If I force-refresh, the Activity p

[2020-12-14 03:08] deluan commented on #684
There were also some race conditions in the UI. I (hopefully) fixed it all now. Can you please test with the latest develop build (version a241865)?

[2020-12-14 08:32] Nelyah commented on #684
Unfortunately I'm experiencing the same behaviour (on build `a241865`) 😞

[2020-12-14 13:58] TheLonelinessOfHS commented on #613
Hi, same issue here. Hope you can fix this. Thanks.

[2020-12-14 22:25] oznogon commented on #688
Cannot reproduce outside of Docker so I'm writing this off as something specific to me unless I can get a better reproduction case.

[2020-12-14 22:25] #688 closed

[2020-12-16 22:39] berkentekin opened #694 "Can't change transcoding from UI even after enabling transcoding config"
As the title says, even after setting ND_ENABLETRANSCODINGCONFIG=true at navidrome.toml, the server still doesn't allow me to change the transcodings.

Here are permissions for the file:
`-rw-r--r-- 1 root      root           64 Dec 17 01:23 navidrome.toml`

and here are the contents:
[code]
I have tried everything from changing the owner to navidrome to making it executable, but to no avail.

[2020-12-16 22:42] ben16w opened #695 ""unable to open database file: no such file or directory" error when not runing as root"
When running Navidrome with Docker:
[code]

I'm getting these errors:
[code]

But I don't get any errors and everything works fine if I ommit the `--user 1000:1000`. It's running on a RPi 4.

[2020-12-17 07:56] orlea commented on #694
`ND_ENABLETRANSCODINGCONFIG` is an environment variable.
If you want to use navidrome.toml to enable that setting, use
`EnableTranscodingConfig=true`, I think.

[2020-12-17 10:30] berkentekin commented on #694
This instantly worked, thanks.

[2020-12-17 10:32] #694 closed

[2020-12-17 19:11] deluan commented on #695
A couple of  things to check:
- Do you have a user in your host with id = 1000 and groupid = 1000?
- Does this user have write permission on the `/home/username/navidrome/data` folder?

[2020-12-17 21:55] ben16w commented on #695
Thanks @deluan. So I checked:

- `id` gives `uid=1000(username) gid=1000(username) groups=1000(username),4(adm),20(dialout),24(cdrom),25(floppy),27(sudo),29(audio),30(dip),44(video),46(plugdev),115(netdev),118(lxd)`
- `touch /home/username/navidrome/data/test` gives no errors and the file is created.

Anything else I can check?

[2020-12-18 08:35] quotengrote commented on #192
Hi, thats the feature i am missing the most.
Anyone want to ship in in a bounty?

@deluan THX for Navidrome!

[2020-12-18 22:21] Wumbargh commented on #683
You can use Navidrome with the "External Site" App in you Nextcloud!?

[2020-12-19 20:15] abescalamis opened #697 "Feature - docker custom mount path"
I just installed Navidrome in my synology nas and I love it,

Can you please make it possible for the docker image to use a custom mount path, currently is case sensitive and you can only use /music, /data.

[2020-12-19 20:22] abescalamis opened #698 "New feature - playlist options for admin"
Can you please add the option for the admin to select which user can edit a playlist and also the ability to change owner of playlist.

[2020-12-20 02:49] deluan commented on #697
I don't see why you would change these folders, as they can be mapped to anything you want in the host, when setting up the container volumes, for example (using docker-compose):
[code]

As you can see, you don't need to change these folders to map to any folder in the host. But if you really want to change the folders used by Navidrome inside the container, just set the [config options](https://w

[2020-12-20 02:49] #697 closed

[2020-12-20 02:54] deluan commented on #695
Looks like permissions are correct. Not sure what is going on here.... the few times people complained about this was a permissions issue. I can assure you this works, I use it like this in my environment and I know other users are also configuring their docker containers this way. The only difference I see is that in my case I use `docker-compose`, instead of the `docker` command, but it should b

[2020-12-20 02:57] deluan commented on #698
You mean, edit playlists in general or given permissions for each playlist? I will probably introduce the former option, but having fine grained playlist permissions is not in the current plans. Ability to change a playlist's owner is covered by #490. There's a small issue with the React Admin library that prevented me to release this, but it is coming.

[2020-12-20 03:59] deluan commented on #683
Thanks for the compliment, really appreciate.

I never used Nextcloud, so I'm not sure what that entails. Packaging Navidrome for Nextcloud? Creating a small app? Don't really know. Anyway, packaging for other platforms is generally out of scope for Navidrome (see https://github.com/deluan/navidrome/issues/614#issuecomment-723477350)

[2020-12-20 03:59] #683 closed

[2020-12-20 19:39] ben16w commented on #695
I've tried using `docker-compose` and a bunch of other things, and it's still not playing ball. I'm using 64bit Ubuntu, rather than Raspbian, so maybe it's something to do with that. For the moment I'll just run as root. Thanks for your help.

[2020-12-20 21:29] h-2 commented on #683
Thanks for the replies! This is not about "packaging", but more about creating an app for nextcloud. This means using nextcloud's user management and accessing the files through nextcloud (also shares received from other users etc).

I assume that it would not be trivial, so please don't see it as a request or anything. But maybe something to keep in mind for the future. Over here in Europe, Nextc

[2020-12-21 04:36] abescalamis commented on #698
What I meant is for the admin to be able to lock the playlist, so the users cannot make changes or delete the playlist, but he can select which user/users can edit or delete the playlist

[2020-12-21 14:47] deluan commented on #684
Fixed in latest master. Will be part of next release. Thanks @Nelyah for helping debug this.

[2020-12-21 14:47] #684 closed

[2020-12-22 10:00] #695 closed

[2020-12-22 12:08] garret opened #699 "Suggestion for console client and MPD integration?"
I have been using for some time the greatest `ncmpcpp` to control my music from a `mpd` server. I recently switched to Navidrome and I am enjoying it. However, I miss a well-developed console client to reproduce music.

Are you aware of a console client I could use which can play music from Navidrome(/airsonic)?

On Reddit I found a message where @deluan states that MPD integration is scheduled fo

[2020-12-22 15:50] esiqveland commented on #132
The `getArtists` call works fine for this in my opionion, you would have to have huge number of artists for that to become unfeasible. However I notice most of the artists in the listing are missing cover art. Would that be much trouble to add?

[2020-12-22 16:43] deluan commented on #132
The UI does not use the Subsonic API to browse music, so `getArtists` is not used by it (and this call is actually not paginated). About having too many artists, my library has 1180, which is already a lot for the UI to render, and I know of some users that have as much as 11440 artists! So, not paginating artists is unfeasible until we have infinite scroll.

As for the cover art, Navidrome mimics

[2020-12-22 16:50] deluan commented on #699
Thanks for trying Navidrome!

There are two terminal clients I know about that work with Navidrome:
- https://github.com/tryffel/jellycli
- https://github.com/wildeyedskies/stmp

But they are normal clients, meaning that they play the music in the audio device attached to them. They do not control the server. For that we need to have the Jukebox mode (#364) in place, that will allow the server to

[2020-12-23 07:51] steifhahn commented on #285
Hi deluan. Is there an option to deactivate it for the web UI?

[2020-12-23 14:31] garret commented on #699
Do you think a solution with mopidy installed next to navidrome with the subsonic and mpd plugins could work to control navidrome music with ncmpcpp?

[2020-12-23 14:58] deluan commented on #699
Don't know, I actually never used MPD servers and clients, just read an overview of how, but never installed anything... Try and let us know :D

[2020-12-23 14:59] deluan commented on #285
See `EnableDownloads` in [Configuration Options](https://www.navidrome.org/docs/usage/configuration-options/)

[2020-12-23 16:42] Beswald opened #700 "Navidrom Restarts When Attempting to Pull Artist Biography"
Log attached. Using DSub on android, when an artist is selected I get errors. Navidrome is crashing. If I comment out last.fm and spotify keys Navidrome does not crash. All other functionality is fine, streaming music works great.

Version: 0.39.0, arm64

[navidrome.log](https://github.com/deluan/navidrome/files/5736235/navidrome.log)

[2020-12-23 17:35] steifhahn commented on #285
I have

ND_ENABLEDOWNLOADS: "false"

in file docker-compose.yml

but it is not working. If i put in without ““ then an error is thrown from docker.

Mit freundlichen Grüßen

Stefan Förster

[2020-12-23 17:46] deluan commented on #700
Can you try with these two binaries, please?

[1navidrome_v0.39.0-SNAPSHOT_Linux_arm64.tar.gz](https://github.com/deluan/navidrome/files/5736474/1navidrome_v0.39.0-SNAPSHOT_Linux_arm64.tar.gz)
[2navidrome_v0.39.0-SNAPSHOT_Linux_arm64.tar.gz](https://github.com/deluan/navidrome/files/5736473/2navidrome_v0.39.0-SNAPSHOT_Linux_arm64.tar.gz)

[2020-12-23 17:55] deluan commented on #285
Change LogLevel to "debug". Check if it shows the `EnableDownlods` config as false in the logs:
[code]

 Also make sure you force-refresh the UI, then you should see a message like this in the logs, showing the downloads are disabled:
[code]

If you still see the "Download" options in the UI after confirming `EnableDownloads` is false in these two places, please open a new issue here in GH, as it

[2020-12-23 18:01] Beswald commented on #700
Had the same issue with #1 (1navidrome....tar.gz)

However, all is working with #2 (2navidrome...tar.gz), artist biographies load up quick and the log is very clean now.

Thanks for looking into this. Is it a change on your end or did you identify something with my config?

[2020-12-23 18:12] deluan commented on #700
Thanks for helping test this.

It is not a config issue. It seems like this is an issue with the CGO network library used by go: https://github.com/google/cadvisor/issues/1481#issuecomment-259101833

In version 2 I turned on the Go network library (`-tags netgo`) as suggested in the attached thread. Please do more testing (specially streaming and using the UI) so we can be sure we can apply this c

[2020-12-23 18:14] Beswald commented on #700
Thanks, will do. I'll let you know if anything else comes up.

[2020-12-23 18:14] deluan commented on #588
Hey @cascooscuro can you try using the official build, but setting this env var: `GODEBUG=netdns=go`

[2020-12-23 18:19] steifhahn commented on #285
Ok download is disabled. But the web shows the possibility to download. i thought this option is not shown anymore.

Mit freundlichen Grüßen

Stefan Förster

[2020-12-23 18:31] deluan commented on #285
The option to Download from the UI should not show up if `EnableDownlods=false`. Make sure you are not seeing a cached version in the UI (clear the browser's cache or use Shift-Ctrl-R to force refresh the page)

It it still does not work, please open a new GitHub issue, as this one is closed and was resolved a while ago

[2020-12-23 19:16] steifhahn commented on #285
ahhh the cache.

THX.

now its fine

Mit freundlichen Grüßen

Stefan Förster

[2020-12-23 19:43] Beswald commented on #700
Streaming seems to be fine, both web ui and through DSub. UI seems responsive, haven't had any issues. Looking at the back end, resource usage is low and the logs are clean.

Anything in particular you want me to look at. I should mention that I don't do any transcoding, the hardware is a little light and usually if I won't have a wifi connection I'll cache music.

[2020-12-23 19:47] deluan commented on #700
I think this is enough. I'll merge this into master, thanks for the help!

[2020-12-23 20:29] #700 closed

[2020-12-24 09:40] esiqveland commented on #132
The UI does not need to render all artists at once, only the ones that are currently visible. As long as the response is small enough (in MB) that the client can parse it in a reasonable amount of time, there is no issue to make this at least scrollable. Some mobile clients may experience issues with as many as 11440 artists though, because the payload becomes quite big! Having all the data availa

[2020-12-25 03:59] tedder opened #702 "Error parsing year from ffmpeg date field, "date=12""
This came up in #63, I noticed I'm seeing it on a new album:

[code]

And when running `ffprobe`, here's what the metadata looks like:
[code]

Yes, the year is "12". This album is straight from `store.taylorswift.com`, so apparently UMG is encoding it wrong?

It may be a "wontfix", but I wanted to at least document it.

[2020-12-25 18:39] deluan commented on #702
You'd think they can do better... Anyway, not sure what can be done on Navidrome's side. This is clearly an invalid year value, so I think displaying the warning message is the right thing to do here

[2020-12-25 18:40] #702 closed

[2020-12-26 01:11] izaak commented on #446
I had encountered the file descriptor bug. Now I'm on 0.39.0 but I'm encountering strange behaviour with album art. Sometimes I restart Navidrome and some covers that worked before will disappear. To fix them, I can trigger a rescan of that particular folder by updating the file timestamps, and it will come back. Should I create a new issue, or is it related to this one?

[2020-12-26 05:00] danshilm opened #703 "Starting a playlist from a specific song only adds the remainder of the playlist to the queue (Web UI)"
The expected behaviour was that when I start playing a playlist from a specific song, the whole playlist is added to the queue and the specific song starts playing. That way, I can still go the previous song in the playlist since it is all in the queue.

However, in the Web UI, only the songs after the specific song are added to the queue.
This is not the case in Music Stash nor DSub.

[2020-12-26 10:46] BobWs commented on #657
Guess it was a onetime thing because the error message is still there. Don’t see any thing strange and as far as I can see everything is working fine.

Merry Christmas!🎄🎁

[2020-12-27 20:58] tedder opened #704 "DSub requests giving 'Wrong username'"
Hi, I'm trying to troubleshoot some intermittent behavior in dsub. Playing items seems to work, but telling dsub to cache or permacache them gives errors.

When tailing the navidrome logs, here's a successful set of lines:
[code]

Almost immediately afterwards there are errors from dsub:
[code]

I __think__ that dsub is threading requests, and perhaps trying to auth many parallel requests at the s

[2020-12-29 17:20] emosterd commented on #614
Thanks for following up!  Just in case anyone else stumbles across this, I was able to simply install one of the pre-built binaries (x86-64) using these instructions:

https://www.navidrome.org/docs/installation/pre-built-binaries/

Running it from the command line works without any modification, at least for my ASUSTOR AS5304T, though I assume it will work similarly on all other Intel-based ASUST

[2020-12-30 14:50] deluan commented on #704
Sorry for the delay in replying to this. "Invalid login" can only happen if the user does not exists or if the token/salt sent in the http request are invalid. Not sure how this can happen to some requests but not to others.... Maybe your DSub is caching an old password?

Try to get the _token_ and the _salt_ (`t` and `s` parameters in the HTTP request) from the logs, and validate them using this:

[2020-12-30 14:52] deluan commented on #703
Sorry for the delay. Yes this was necessary when I first implemented the play queue management, as the upstream react-player project didn't have better ways to manipulate the queue. It changed in recent versions, so I may take another look and see if this can be improved.

[2020-12-30 16:38] tedder commented on #704
I was going to update this today, I have a strong suspicion that this was caused by running the "data" mount of navidrome on (slow raid5) nfs. I would see complaints about a locked DB and some long timeouts on requests, I suspect that was all related.

I've moved it off of that nfs mount but need to wrap up my testing- I'll leave this issue open until then.

[2020-12-30 16:40] tedder commented on #704
Actually, no need to leave it open, a quick google confirmed:

https://www.sqlite.org/faq.html#q5

Apologies for opening this before checking that assumption!

[2020-12-30 16:40] #704 closed

[2021-01-01 21:56] danshilm commented on #703
Sure, you want me to keep this open until you see if its possible now?

[2021-01-02 01:15] Spireshield opened #709 "Single-artist albums split in two"
Hello! I've been using Navidrome for a couple months now, and it's worked great. Thank you :)

When uploading certain single-artist albums, Navidrome will split the album in two: one will use the proper artist metadata, while the second will list the artist as "Various Artists". The metadata on all the songs in the album is the same, with both Artist and Album Artist set identically.

I set the ta

[2021-01-02 18:32] deluan commented on #709
Seems that some tracks (the ones under "Various Artists") may have their "Compilation" flag as true: https://www.navidrome.org/docs/faq/#i-have-an-album-with-tracks-by-different-artists-why-is-it-broken-up-into-lots-of-separate-albums-each-with-their-own-artist

Can you please post here the results of `ffmpeg -i track.m4a` for two tracks, one from each group?

[2021-01-02 18:33] deluan commented on #703
Yes, let's keep this open. I'll try to take a look at this this week

[2021-01-02 19:04] Spireshield commented on #709
Yep, the compilation tag is set at different values. For Track 6, the compilation tag is "84", while for Track 8, the compilation tag is "0". The former is part of the "Various Artists" group, while the latter is part of the correct group.

The entire album was ripped from the same CD, at the same time; I'm unsure why this are set differently. I'll take a look at ffmpeg to see if I can use that to

[2021-01-02 19:42] deluan commented on #709
All these software should allow you to change the tags: https://www.navidrome.org/docs/faq/#how-can-i-edit-my-music-metadata-id3-tags-how-can-i-renamemove-my-files

I recommend Picard if you only need to edit tags. I personally use beets on Linux (to organize/tag my library), XLD (for FLAC ripping) and iTunes (for eventual tag editing) on macOS.

To quickly remove the Compilation flag from your fi

[2021-01-02 19:42] #709 closed

[2021-01-03 14:55] iang77 commented on #592
Hey

Hopefully you recall this issue.

This is FYI really. I asked the Darren the DSub developer to take a look at this issue to see if it is something Dsub related. His reply is below (his comments in italics). I'm not 100% sure what he means but I wonder if it's something to do with the way my music is stored externally to my RPi. Hope this helps.

Cheers
Ian

Here's a couple of examples of trac

[2021-01-03 17:58] deluan commented on #592
Thanks for the info. If the "fabricated" paths are the issue, you can disable it and use the real paths (as Subsonic/Airsonic do), using the "Report Real Path" option: #625

But looks like this is happening only in your setup, as even @daneren2005 was not able to reproduce it. Well, try using real paths and let me know.

[2021-01-03 18:23] iang77 commented on #592
Looks like we finally got there! It took a server restart for the setting to apply but it works now.

Thank you!
Ian

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Deluan Quintão <notifications@github.com>
Sent: Sunday, January 3, 2021 5:59:02 PM
To: deluan/navidrome <navidrome@noreply.github.com>
Cc: iang77 <ianglover10@hotmail.com>; Author <author@noreply

[2021-01-03 18:38] deluan commented on #592
Not sure why it worked (as this is not an issue for others), but I'm glad the issue is fixed for you!!

Will implement the mapping suggested by Darren ('/' -> '_') for the "fabricated" paths. Will keep this issue open to track it.

[2021-01-03 18:49] cascooscuro commented on #588
I have tried with and without the env var and in both cases it works.

I'm using  Version: 0.39.0 (f2a8308)

Thanks!!

[2021-01-03 19:27] deluan commented on #588
So the issue is resolved? Great! Hey @corinzio, can you please confirm it works for you so I can close this issue?

[2021-01-03 19:41] corinzio commented on #588
It doesn't crash but music stash app keep fetching data...
In logs there is no line about calling lastfm or spotify api...
I will check better tomorrow

[2021-01-03 20:04] iang77 commented on #592
Perfect - thanks again.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Deluan Quintão <notifications@github.com>
Sent: Sunday, January 3, 2021 6:38:13 PM
To: deluan/navidrome <navidrome@noreply.github.com>
Cc: iang77 <ianglover10@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [deluan/navidrome] MP3 will not play in Dsub if song title tag cont

[2021-01-04 10:55] corinzio commented on #588
Good Morning @deluan  yesterday i tried the official build without the env var and the result was that the api call hangs.
Today i setted the environment variable `GODEBUG=netdns=go`  in the unit service file and everithing works fine.

the version of Navidrome i'm using is 0.39.0 (f2a8308)

Thanks and Happy new year!

[2021-01-04 15:21] certuna opened #714 "Database: log all plays instead of just updating play count and last played"
Currently, the `annotation` table has for each track the `rating`, `starred`, `play_count` and `play_date`.
It would be useful if Navidrome would not just update `play_count` and `play_date` (=last played), but log all plays. That way, future features like "most played last month" or historic graphs can be implemented.

I'd suggest a new table `play_log` with columns `user_id`, `item_id`, `play_da

[2021-01-05 17:38] andrewzah commented on #668
The issue was just closed- we'll need to implement this feature manually.

[2021-01-06 16:42] ericgaspar opened #715 "Character is not displayed correctly"
Apostrophe character is not displayed correctly : `'`-> `&#39;` in the track descrition

![Capture d’écran 6](https://user-images.githubusercontent.com/46165813/103795004-bab01700-5045-11eb-911d-5eee219a5b52.png)

The text is correctly rendered in the comment.

![Capture d’écran 7](https://user-images.githubusercontent.com/46165813/103795265-0d89ce80-5046-11eb-9ad1-9f35f2737ecb.png)

[2021-01-07 11:00] ta264 opened #716 "API status is set to "fail" on bad request, not "failed" as in Subsonic"
See https://github.com/deluan/navidrome/blob/069199b2d884d4d8dc96e4bc56d639b2bf0d2c9c/server/subsonic/api.go#L207

The subsonic documentation suggests a failed response should have status `failed` and not `fail`.
http://www.subsonic.org/pages/api.jsp

[code]

The Lidarr subsonic integration checks for failed, so it doesn't work properly with Navidrome.  For now I can change it to check for not `ok

[2021-01-07 13:25] #716 closed

[2021-01-07 13:25] deluan commented on #716
Wow! Not sure how this was overlooked for so many time! Thanks for noticing it!

[2021-01-09 15:46] pacija opened #717 "Respect files' last modified timestamp for recently added media"
Hi,

would it be possible for navidrome to respect media files' "last modified" timestamp for "recently added" media?

At the moment, navidrome considers date of import, making my whole library "recently added" when first imported. Airsonic (and if I'm not mistaken also Jellyfin) consider last modified attribute, which correctly sorts music by file modification date, not by import to application d

[2021-01-09 22:05] archedraft commented on #18
When Navidrome uses Last.FM for getting artist metadata, does it also get the top rated song info as well?

[2021-01-10 05:09] teuteuguy commented on #695
Same problem trying to run on raspberry pi.
pi user is 1000:1000.
Any fix ?

[2021-01-10 19:52] deluan commented on #18
@archedraft Not at the same time, but yes, Subsonic API [getTopSongs](http://www.subsonic.org/pages/api.jsp#getTopSongs) is implemented and uses Last.FM's [artist.getTopTracks](https://github.com/deluan/navidrome/blob/049ac70b2bbec80193bb56b6e361a68b3812e649/core/lastfm/client.go#L83)

[2021-01-14 19:53] bradtn opened #726 "Adding file quality info?"
Anyway to show file quality info while playing in list etc? Akin to say plex amp displaying?

[2021-01-15 19:49] metalheim commented on #714
I very much like the idea of having that statistics, but I see some downsides.

I think play_length can't be supported through the subsonic API as many clients download the whole song once you start playing.
Also with multiple users listening to a lot of songs, performance could get problematic, as there could be possible millions of plays in that play_log table.

I'm more looking forward to last.

[2021-01-15 19:54] metalheim commented on #726
Can you please expand on where you want that info?

It is already visible if you expand a track in list view with the "v" icon.

![Screenshot_20210115-205234](https://user-images.githubusercontent.com/44159957/104772414-b08fc600-5773-11eb-9a1f-75d6098926c2.png)

[2021-01-15 20:15] bradtn commented on #726
![Screenshot_20210115-151324_Plexamp.jpg](https://user-images.githubusercontent.com/2039755/104774235-4dd30600-5744-11eb-84e0-2e1f69e841ce.jpg)![Screenshot_20210115-151340_Plexamp.jpg](https://user-images.githubusercontent.com/2039755/104774241-4f9cc980-5744-11eb-8178-7d3ba35ef39c.jpg)

Similar to this, Maybe showing inline as another column next to time so you don't need to dig as much and see at

[2021-01-16 22:42] MatteoTomasini opened #727 "Unable to delete playlists"

[2021-01-16 23:12] #727 closed

[2021-01-17 13:35] certuna commented on #714
You're right with play_length, the Subsonic API doesn't really have the ability to sync that info back to the server.

Last.fm is a very useful service of course, but I guess part of the appeal of self-hosting is that you also retain the play stats locally?

SQLite is no OracleDB of course, but a simple 5-column table with 10 million records probably shouldn't pose to many issues? You might need t

[2021-01-17 20:39] Ominitay opened #728 "Error reading metadata from file. Skipping"
I get this error (but for all 100 of the tracks in the album)
`WARN[0002] Error reading metadata from file. Skipping    error="cannot process Music/Toby Fox/Undertale/089. SAVE the World.flac" filePath="Music/Toby Fox/Undertale/089. SAVE the World.flac"`
The tracks don't appear in the web UI because of this, and cannot be streamed.
CMUS successfully parses the metadata to the best of my understand

[2021-01-17 21:02] PBlock96 opened #729 "Issue playing mp3 files but not flac files"
As discussed on discord, here is the issue brief with an example of an offending mp3 file.
Hello, I have run into an interesting problem that I can't seem to find any reference to on the github.

Setup:
Navidrome running behind a reverse proxy on nginx with ssl enabled. Running on a subdomain of my main domain used for a bunch of other stuff.
Navidrome is running on a Manjaro machine with a LEMP s

[2021-01-18 11:20] quotengrote opened #730 "Navidrome cant play any Song from this album"
Hi,

thx for your great Work.

I have an Navidrome-Instance within Docker.
It works great but this album cant be played:
- https://mgrote.next-cloud.org/index.php/s/q9PQo829GQt8gE2

## Docker-Compose:
[code]

[2021-01-18 17:34] andrewzah opened #737 "[feature req] scan album comment from file as well as from the tags"
Hi, would it be possible to set an album comment from something like a `comment.txt`? Some of the albums I own have longer descriptions that are kind of a pain to manage via the `comment` tag.

[2021-01-18 18:35] vestingz commented on #622
I understand this is a fundamental design decision to not just use the common album tag to group songs together but rather rely on an explicit tag to be set in the files metadata, but it is quite unfortunate in those cases where altering the tags is not an option. Would you consider a grouping feature which only relies on a common album tag?

[2021-01-18 20:59] sintpon opened #738 "Some songs are not imported, msg="Path in playlist not found" error="data not found""
using 0.39.0
when importing playlists, some songs from playlists are not imported with error (sample, there are many errors):
level=warning msg="Path in playlist not found" error="data not found" path="\\\\192.168.10.115\\music\\Dj Premier\\Payday Instrumentals\\01 Our Streets (Instrumental).mp3" playlist="!Recent.m3u"

I've attached log file and sample playlists, which is not imported completely.

[2021-01-20 17:15] metalheim commented on #730
You probably should delete your Last.fm secret from your message.

Sorry that I'm not able to contribute further to your issue.

[2021-01-20 19:41] andyklimczak commented on #730
Try opening the album in something like easytag, edit, and resave the metadata. I had a few albums where the library navidrome uses to get metadata errors out when reading some files from less than reputable sources

[2021-01-21 05:54] quotengrote commented on #730
Thx for the reminder, but these are only my test Credentials :-)

Did that with MediaMonkey, did not work.

[2021-01-21 08:24] sintpon commented on #738
some additional information - song itself imported by scanning process, i can play it via web UI. But song doesn't appear in playlist.

[2021-01-21 14:28] certuna commented on #737
All these messy 1990s-style sidecar files from the days when media files couldn't hold their own metadata is something we all want to get away from, right?

[2021-01-21 15:49] andyklimczak commented on #730
If you change the `LogLevel` to [`TRACE`](https://www.navidrome.org/docs/usage/configuration-options/#configuration-file), do any errors get printed when you try to play the file?

[2021-01-21 17:07] certuna commented on #730
Unfortunately that download link doesn't seem to work?

[2021-01-21 17:59] quotengrote commented on #730
Thats the output with level "Debug", i dont see anything special.
[code]

same with level=trace
[code]

[2021-01-21 18:02] quotengrote commented on #730
That should work:
https://mgrote.next-cloud.org/index.php/s/wGsqWHezZQSdgs9

[2021-01-21 18:34] jwynn6 commented on #728
same error, different album. also FLAC.

[2021-01-22 11:30] Typhonragewind opened #739 "[Feature Request] Folder View"
Love this project, and having tested it locally it works wonders.

There is just one thing missing that prevents me from switching. My collection is very large (around 39k songs) and contains some obscure music that even doesn't exist in MusicBrainz database, so it makes it a pain/nearly impossible to organize with tags.

Which is why i sort it through a folder and subfolder system.

I know this i

[2021-01-23 07:18] ich777 opened #740 "Save log to file for Fail2Ban"
Hi,
is there an option to save the log to file?
I'm using the Docker image of the application and would like to add it to my Fail2Ban jail but it seems there is no option to save the log to a file.

Cheers

[2021-01-23 10:07] KacperBak opened #741 "Enforced 'create admin' dialog after session timeout"
If you ran into a session timeout with browser A, Navidrome enforces the 'create admin' dialog. A simple login is not possible anymore using browser A. To mitigate this one can simply use a browser instance that has no data cached from Navidrome, e.g. Incognito mode, an other browser B, etc.

My case is documented [here](https://www.reddit.com/r/navidrome/comments/l1fd53/create_a_new_admin_using_o

[2021-01-24 01:07] Rick1029 commented on #726
This is done in mobile apps like play:sub, if you listen there you can get the bitrate indication. Not possible on the webUI without expanding the drop down at the minute.

[2021-01-24 13:13] lunik1 commented on #741
I have been running into this too using the official docker image. On many browsers, `Ctrl+F5` should clear the cache and allow you to log in.

[2021-01-25 21:39] AzMo23425 opened #744 "[feature request] resume playback in webui"
Hello and thanks for this awesome project.
Is there any way to save the current position in the playlist or even in the song so you can resume playback where you left off when reloading/closing-reopening the page? Currently the playlist is persistent but playback restarts at the first entry. This feature would be highly appreciated by me and also by my daughter when she's listening to her children

[2021-01-26 03:05] ben-connors opened #745 "Gapless playback"
Currently, network and transcoding delays add a short gap between tracks, which is rather distracting for tracks that are supposed to be played without pause (e.g. sustained notes crossing track boundaries). Would it be possible to add gapless playback support to the web player?

[2021-01-26 05:00] deluan commented on #745
The web player comes from another project, [react-jinke-music-player](https://github.com/lijinke666/react-music-player), so Gapless playback needs to be implemented first there.

I opened an issue with that project a while ago, but the dev hasn't prioritized it. PRs are welcome: https://github.com/lijinke666/react-music-player/issues/81

I'll keep this issue opened (and flagged as blocked), so oth

[2021-01-26 05:20] deluan commented on #740
Navidrome tries to follow the [Twelve Factor methodology](https://12factor.net/) as much as possible, and logs in particular are implemented [that way](https://12factor.net/logs), only being sent to stdout, allowing log management tools to handle all logging needs (store, rotate, etc..) I don't plan to introduce any log management features in Navidrome itself.

Having said that, I'm sure there has

[2021-01-26 05:20] #740 closed

[2021-01-26 05:31] ich777 commented on #740
For me that is not acceptable and a show stopper so I can't use the Container.

Anyways, thank you for the response.

[2021-01-27 14:42] Rick1029 commented on #727
Are you getting the "Something went wrong, A client error occurred and your request couldn't be completed." error?

I get those too on 0.39.0. The playlists still delete, you just have to go out of that screen and back in if you want to delete more.

[2021-01-27 15:52] danshilm commented on #668
https://github.com/lijinke666/react-music-player/pull/266 was merged.

[2021-01-28 10:38] army1349 commented on #242
I would use existing OIDC or SAML libraries and avoid reinventing the wheel.

[2021-01-28 15:48] vestingz opened #746 "Taglib fails to extract metadata from rclone mounts"
I am not exactly sure whether this is an issue with navidrome, but I am posting it nevertheless. Please close at your own discretion.

Recently I moved to a remote server for navidrome, which mounts my locally stored music library into navidromes ./music folder via rclone/sftp. According to the logs, navidrome was able to read and scan the files just fine, but apparently was not able to extract an

[2021-01-29 22:14] oliveconstant opened #747 "Docker image not launching on armv6"
The latest Docker image does not launch on armv6 (assuming a working `docker-compose.yml` in the working directory):

[code]
Furthermore, `docker logs` shows no output for the container.

According to [this](https://old.reddit.com/r/docker/comments/bltx02/container_exits_with_132_with_no_logs/) post, it seems that code 132 means attempting to execute an illegal instruction.

Is Navidrome expected

[2021-01-30 19:55] sintpon commented on #738
non-navidrome issue, root cause is problem with upper/lower case between windows and nas (linux based)

[2021-01-30 19:55] #738 closed

[2021-01-30 20:43] jvoisin opened #748 "Ability to share a subset of the library"
It would be nice to be able to share an arbitrary subset (tracks, artists, albums, …) of my library with anonymous users.

[2021-01-31 04:38] markasoftware opened #749 "Random sort changes each time you switch pages"
In random sort mode, clicking the next page button changes the random ordering, so some of the same albums show up. Maybe a random seed should be stored in the url?

[2021-01-31 14:29] SteveDinn commented on #749
I posted about this on the discord several weeks back. Should have logged a bug :)

I don't think there's any point in having the random section paginated because it doesn't make any sense. Any "next" or "previous" page is just another first page of a random query.

[2021-01-31 15:29] tcurdt commented on #394
I know you said you are a bit busy atm, but I just wanted to check about the current state of things.

[2021-01-31 23:24] #668 closed

[2021-02-01 00:10] deluan commented on #749
Thanks for opening this. There's no simple (and performant) way to use a seed in a random sorted SQLite3 query. I did some research, there are some hacks, but they are not performant. Will keep this open if someone has any ideas.

[2021-02-01 00:14] deluan commented on #747
It should work in armv6. Can you try downloading and running the binary directly: https://github.com/deluan/navidrome/releases/download/v0.39.0/navidrome_0.39.0_Linux_armv6.tar.gz

[2021-02-01 00:17] deluan commented on #746
Rclone mounts are usually a lot slower than other protocols (SMB, NFS), but should work, will take a look and confirm it is not an issue with taglib+rclone before closing this. Thanks for the report

[2021-02-01 00:26] oliveconstant commented on #747
The binary works, but I would use Docker if it worked.

[2021-02-01 00:28] deluan commented on #744
Thanks for trying Navidrome. The API already supports it, and it works among Subsonic clients (ex: Dsub and Sublime), but the Web UI is not using it yet.

This is already being tracked by this issue: https://github.com/deluan/navidrome/issues/245, so I'll close this one as it is a duplicate. Please subscribe to that issue to follow its development or give suggestions.

[2021-02-01 00:28] #744 closed

[2021-02-01 00:34] deluan commented on #747
I just checked and I remembered there is not Docker image for armv6, only armv7 and arm64:

<img width="548" alt="Screen Shot 2021-01-31 at 7 32 08 PM" src="https://user-images.githubusercontent.com/331353/106403143-1b3f3380-63fb-11eb-8539-1d103581a92b.png">

The only way to run Navidrome in Armv6 is to run the binary. I may add the Docker image for armv6 in the next release

[2021-02-01 00:36] #747 closed

[2021-02-01 00:41] deluan commented on #741
This is a bug caused by the current serviceWorker implementation, as part of the PWA implementation. It has been reported here: https://github.com/deluan/navidrome/issues/613

The solution for now is clear the browser's cache or "force" refresh the page with `Ctrl+F5` (or `Command+R` on macOS) as suggested by @lunik1 .

I'll close this as this bug is already been tracked in the other issue. Thanks

[2021-02-01 00:41] #741 closed

[2021-02-01 00:59] deluan commented on #739
Thanks for trying Navidrome.

As I said before, "Browse by Folder" is not in the plans for Navidrome, mostly because it would require too many changes, and as you noted there are lots of features I'd like to implement before even thinking of such big refactor.

By the way, my library has 70K songs, 5.2K albums. I also have some obscure albums. When they are proper releases I just add them to Music

[2021-02-01 00:59] #739 closed

[2021-02-01 01:09] deluan commented on #737
Thanks for the suggestion, but as @certuna noted, there's no standard for these sidecar files. I may try to implement support for [CUE files](https://en.wikipedia.org/wiki/Cue_sheet_(computing)) (to support single FLAC albums), and this format supports storing basic metadata. So maybe this will allow you to do what you want (not sure if the CUE format supports album comments, but I think it does).

[2021-02-01 01:09] #737 closed

[2021-02-01 01:13] deluan commented on #726
Thanks for the suggestion. It is not possible at the moment, but I'll add this in a future release

[2021-02-01 01:27] deluan commented on #728
I can reproduce it in my dev environment. Seems like your file has some weird tag that crashes `taglib`, but I was able to import it without any issues using the `ffmpeg` extrator.

I'll take a look at this and try to figure out what tag is causing this. In the meanwhile, if this is blocking you, you have two options:

1) Remove and re-add the tags using a "modern" editor, like Picard
2) Configure

[2021-02-01 01:42] deluan commented on #729
Sorry for the long delay in looking into this. I checked your files and they seem to be a bit... problematic.
When extracting tags manually using both taglib and ffmpeg and I get weird results:

TagLib:
[code]
You see it read some tags but the length of the track is 0

This is ffmpeg:
[code]
No tags, and the length is correct (I think), also note that ffmpeg says the file is a `aac`  (mp4) file, n

[2021-02-01 03:17] deluan commented on #717
That makes sense. Actually I thought it was already like this :P

It will be fixed in the next release. Thanks!

[2021-02-01 03:43] deluan commented on #714
I thought about that in the past, and I decided to integrate with services that better handle this type of things, like Last.FM, Libre.FM and ListenBrainz. For the self-hosted folks, someone suggested [Maloja](https://www.reddit.com/r/navidrome/comments/jy2gr0/feature_inquiry_most_playedstats/). As @metalheim noted, storing this log in SQlite3 may not cause performance (and disk space?) issues.

M

[2021-02-01 04:08] deluan commented on #622
@vestingz, and how to handle albums from different artists that you **don't** want to group together? Examples:
<img width="1526" alt="Screen Shot 2021-01-31 at 10 53 36 PM" src="https://user-images.githubusercontent.com/331353/106413095-3ddf4580-6417-11eb-9dc8-16e40f0d94aa.png">
or
<img width="1512" alt="Screen Shot 2021-01-31 at 11 00 20 PM" src="https://user-images.githubusercontent.com/331353/

[2021-02-01 05:19] deluan commented on #717
I just realized why it was not implemented like this before: If you add an album to your library, but it has modified times in the past, it may not appear at the top of the Recent Added list. Not sure if using modified times is a good approach here... Thoughts?

[2021-02-01 05:43] deluan commented on #730
Sorry for the delay. I tried your file locally, and it seems that it is not playable in Chrome, so the Navidrome UI cannot play the file. Don't know why it is not playable.... There's nothing much Navidrome can do if the browser can't play the file. One possible workaround is to enable transcoding in Navidrome. I tried here and it was able to play the file.

I'll close this, but feel free to add a

[2021-02-01 05:43] #730 closed

[2021-02-01 05:53] quotengrote commented on #730
@deluan Thx for the suggestion, will try.

[2021-02-01 10:24] Ominitay commented on #728
That fixes it for me, thanks!

[2021-02-01 10:57] pacija commented on #717
Well, my music library grows over last two decades, a dozen or so releases per month. Over the time I used bunch of media servers, and at the moment I am using multiple media servers simultaneously. It is very important to me that media servers respect date of adding media to the library (file system), not date of adding media to that particular media server.

If I want to "refresh" some album so

[2021-02-01 13:34] deluan commented on #717
I have to do more testings with this, and may introduce a config option. I think if we use the modification time, if you change tags of a file it will be considered a new file and will go to the beginning of the "Recently Added", which is undesirable...

The current behaviour is actually what iTunes (and now macOS' Music) uses: If you re-import your library, the "date added" attribute is set to th

[2021-02-01 13:38] jvoisin commented on #717
I prefer this behaviour.

[2021-02-01 13:40] danshilm commented on #717
+1

[2021-02-01 13:45] #504 closed

[2021-02-01 14:11] deluan commented on #394
Yes, didn't forget about this. I'm back at dedicating more time to Navidrome and this is in my top 3 action itens

[2021-02-01 14:35] vestingz commented on #622
@deluan, you are absolutely correct, I did not consider this.

There are unfortunately still major use cases for music files, which require them to conform to a unique checksum or a hash. Editing their metadata would contradict this use case, so you either would have to retain an untouched duplicate or give up these use cases.
I could imagine that storing this "Part of Compilation" flag in an exte

[2021-02-01 14:47] deluan commented on #622
Not an external database, but I'm contemplating supporting CUE files (https://github.com/deluan/navidrome/issues/497#issuecomment-706724225), and it would probably solve your issue: If a .CUE file is found in the folder, it could override the tags from the files, and of course all files would be considered part of the same album, even if they are from different artists.

If you have any other idea

[2021-02-01 16:59] certuna commented on #729
I've got an MP3 scan/repair tool, it says: `Garbage at the end of the file. Too few MPEG frames (it's unlikely that this is a MPEG audio file).` So definitely something funky with these files.

[2021-02-01 17:33] anatosun opened #753 "[Feature request] Playlist update after import"
First, thank you for the great work. The playlist import feature is especially the one that made me migrate to this project.

Now, after importing a playlist with an m3u file, any change added to the playlist in Navidrome is not added to the original m3u. Of course, we have the ability to download the updated m3u file directly from the UI. Yet, having the original m3u file updated automatically co

[2021-02-01 18:00] deluan commented on #753
Thanks for trying Navidrome!

Originally I planned to implement a "two way sync", but there are some complications in implementing it and I decided not to do it. Take a look here: https://github.com/deluan/navidrome/issues/105#issuecomment-626376542

Maybe change the auto-sync flag from a boolean (auto import or not) to a combo: Off, Auto-import, Auto-Export). The sync would be unidirectional, but

[2021-02-01 18:36] FabioC4 commented on #717
Yes Deluan! A config option would be nice, on older Navidrome builds if i scanned files with old date attributes (Ex. 2010) they would appear as "Recently Added" but buried down the list, maintaining the new files on top. In my case this is the desired behavior.

I reinstalled my build with the newer release, and when scanning for first time the same files it shows on top random old songs and if i

[2021-02-01 20:11] fwicht commented on #753
Oh yes now I see the difficulties around this feature implementation...

Changing the “direction” of the sync can be a solution indeed but we would need that option globally so to make a smooth and easy export feature, what do you think?

In my opinion, it would also be good to have the option to export it either in relative or absolute path.

[2021-02-02 13:11] pacija commented on #717
I think, from users' point of view, it would be great if users could decide wheather they want "recently added by import date" or "recently added by last modified date", so I agree with @FabioC4 that config option would be nice.

In a way, for tech savvier people, Navidrome having "recently added by last modified date" gives ability people who want "recently added by import date" to do it - just t

[2021-02-02 13:18] pacija commented on #717
I am not 100% sure but I think I tested this some time ago and noticed that just tag change in easytag, without other modifications (eg. renaming file) preserves original filestamp.

[2021-02-03 00:08] #715 closed

[2021-02-03 03:45] PBlock96 commented on #729
After manually editing some of the tags and setting them properly these files work. Though as a future improvement it might be nice to add in some resiliency for improper or non-existent tags. Maybe something along the lines of displaying information that can't be pulled from tags as "Unreadable" or in the case of numeric tags such as length, track num, etc. displaying dashes?

[2021-02-03 04:04] deluan commented on #729
The main issue is not that Navidrome was not reading the malformed tags, the issue is that the files are not playable in Chrome (and possible other browsers), so no Web player would be able to play them.

You can try yourself dragging one of the fixed files to a Chrome window, so you can see they play normally. But if you drag one of the old ones, it does not play.

This is a hard situation to han

[2021-02-03 04:04] #729 closed

[2021-02-04 08:32] certuna commented on #717
Personally, I prefer file creation date :)

If I downloaded a file or ripped a CD in 2017 (creation date), fixed some tags in 2019 (modified date), and added it to the library in 2021, then I'd like the library to show that I added this to my music library in 2017, not 2019.

[2021-02-04 11:40] pacija commented on #717
Creation date is also ok. It can also be controlled with `touch`, should one want to put release in particular period of addition to the library.

You're probably right about iTunes, last time I tried to use it was more than 10 years ago, perhaps it was improved in the meantime. Nowadays I mostly use clementine on FreeBSD, foobar2000 on Windows, and dsub on Android.

I am so vocal about respecting

[2021-02-05 15:36] FabioC4 commented on #717
In case anyone is wondering or wants to see how it would look, I just use the following URL to sort the items by new: "/#/song?order=DESC&sort=updated_at"

For my mobile APP, i currently just add all my latest songs to a playlist and then import to Navidrome.

[2021-02-07 20:23] deluan commented on #446
Hey @izaak , seems like I missed your last comment, sorry. Do you have more info on this disappearing covers bug? This is only related to the fd bug if you see "too many opened files" messages in the logs for the `getCoverArt` requests.

You said that you found the bug. What exactly do you mean? Did you find where in the code this is being caused?

[2021-02-08 09:04] jdaviescoates commented on #446
That's what's happened to me too. Albums that used to have covers not longer do. I may try the file name change trick to see if that works for me too...

[2021-02-08 12:41] izaak commented on #446
Sorry for the confusion- my system does run into the bug but I have not found anything to help fix it.

I used to run into the bug more often though, I wonder if it's aggrevated by crappy routers dropping connections. I used to get the 'too many opened files' error every ~4 days average, but since upgrading my network setup a few weeks ago, I've only seen the problem once...

[2021-02-08 12:42] izaak commented on #446
Eventually I just had to start a new database.

[2021-02-08 15:45] deluan commented on #394
@tcurdt Take a look at the description of the PR #766 for details on how agents will be implemented

[2021-02-08 22:25] tcurdt commented on #394
Just a first (very!) quick look.

I think in the constructor we should pass an array of paths/patterns.
That should then also be future proof for multi library support.

It feels a bit redundant but how about also passing the base URL in via constructor (for now)?

Do you think the agent should register the endpoint?

[2021-02-09 02:09] #563 closed

[2021-02-09 06:29] ghost opened #769 "Show What Other Users Are Playing"
It is very nice to see what other users are playing on the server.  Perhaps as a list on the left pane?

[2021-02-09 06:31] TheFlatworm opened #770 "Add Ability to Upload"
Give users the ability to upload to a special folder and have the admin get an email of the upload.

[2021-02-09 09:51] ForgetfulMagnet opened #771 "[feature request] add playlists to default view option"
When I open Navidrome, I always click the playlists button first. It would save me a lot of clicks if the playlists were open by default. Adding the playlist view as an option to the default view setting would achieve that.

[2021-02-09 11:22] certuna commented on #394
How do embedded Artist images in the file tags fit into this? The tag formats (id3, mp4, Vorbis) all support it, will Navidrome?

One thing that annoys me with Plex for example is that it pulls in Mood from last.fm/Musicbrainz, but doesn't read the Mood fields from the tags, breaking the "embedded metadata always trumps online metadata" paradigm.

[2021-02-09 12:40] SteveDinn commented on #769
I think this should be left to third parties like Last FM. It adds complexity where it doesn't belong

[2021-02-09 14:39] deluan commented on #771
Playlists will (soon?) move to the left menu bar, similar to other music players (Spotify, iTunes, etc..)
<img width="302" alt="Screen Shot 2021-02-09 at 9 37 23 AM" src="https://user-images.githubusercontent.com/331353/107379096-98813d00-6aba-11eb-8803-9c1a2161b615.png">

[2021-02-09 17:32] bitva77 commented on #364
for what it's worth, Jukebox mode would be amazing.

I'd love to be able to have my server playing musically locally (goes to an FM transmitter) that I control remotely but if I could also stream my music as well to my phone for when I'm remote....it would really be a game changer (for me :)

going back into my hole now...

[2021-02-09 21:06] 0xERR0R opened #773 "Navidrome 0.40 - unhealthy docker container on armv7"
Navidrome 0.40 starts as "unhealthy" docker container. I run navidrome on Rasbperry pi 3 behind traefik and unhealthy state makes the container unreachable.
Message from docker inspect `Connecting to localhost:4533 (127.0.0.1:4533)\nwriting to stdout\nwget: clock_gettime(MONOTONIC) failed\n`
The problem is not a navidrome itself, it is caused by update to alpine 3.13 (which was released last month

[2021-02-09 22:00] deluan commented on #770
Hey @TheFlatworm , thanks for the suggestion, but this is something that has been discussed [before](https://github.com/navidrome/navidrome/issues/311) and the verdict is that (IMO) it is not a good fit for Navidrome itself. You can always use a software built specifically for this purpose, like FileBrowser, or even a simple FTP dropbox. If you use Docker, here's an example: https://github.com/gee

[2021-02-09 22:00] #770 closed

[2021-02-09 22:03] deluan commented on #769
You mean show what is currently being played? If that is the case, then yes, Navidrome already implement the [getNowPlaying](http://subsonic.org/pages/api.jsp#getNowPlaying) Subsonic endpoint, and the plan is to show this info in the Activity Panel.

[2021-02-09 22:08] deluan commented on #773
Thanks for letting me know!

Unfortunately I don't think locking the version to 3.12 and not getting future upgrades is a solution.... based on the linked issue, the real solution is to update the server: https://github.com/alpinelinux/docker-alpine/issues/135#issuecomment-762397429

For those having this issue, please upgrade your system as per linked instructions or disable the `healthcheck` as

[2021-02-09 22:08] #773 closed

[2021-02-09 22:49] deluan commented on #394
@certuna I agree with you and tags should trump online metadata and any sidecar files. But I could not find a way to add artist pictures to files, I tried with Picard and iTunes. And as I don't have any files with these pictures, I cannot even check if `ffmpeg` and/or `taglib` support extracting them.

Can you please share with me how are you adding these tags? Or at least send me 1 file of each t

[2021-02-09 22:50] ilPeo commented on #773
I confirm, updating libseccomp fixed the problem.
For anyone like me running Raspbian Buster on Raspberry pi I got libseccomp2 from buster-backports.

[2021-02-09 22:51] deluan commented on #394
@tcurdt , paths can be get from the DB, using `DataStore.MediaFolder` that can be injected in your agent if we use wire to create the constructor. My concern is the base URL, as we don't have that anywhere in the server. We may need to introduce it as part of the `BaseURL` config option

[2021-02-09 22:58] deluan commented on #364
@bitva77, why not use a [Subsonic client](https://www.navidrome.org/docs/overview/#apps) on your phone?

[2021-02-09 23:24] TheFlatworm commented on #769
"You mean show what is currently being played?"

Yes, including other users on the server, so it show "USER1 is listening to Bach Brandenburg #1", "USER2 is listening to the Brand Flakes, Porky Pig" etc... much like the Subsonic feature.

[2021-02-10 01:28] bitva77 commented on #364
Oh I do and it works for one or the other.  I can use two different clients to get that effect when using Airsonic (for example).

I'm wondering if using MPD for jukebox mode and then Navidrome (*sonic) for streaming is really the best option at the moment.  All MPD clients pretty much suck.  What you've done with Navidrome is really nice and ticks off most feature boxes :)

To play Spotify in juk

[2021-02-10 17:30] deluan commented on #613
Another possible solution to reload assets on a new version: https://deanhume.com/displaying-a-new-version-available-progressive-web-app/ (thanks @certuna)

[2021-02-11 20:57] AMoonRabbit commented on #18
I ditched Last.FM last year and solely use Listenbrainz for scrobbling so it would be good to see that added.

[2021-02-13 10:57] sergio-ns commented on #637
Hello,
I just upgraded to v0.39.0 on docker and #637 seems to still be there.
Tried both on Firefox 85 and Edge.
Thanks!
(PS loving increasingly Navidrome by the day)

![2021-02-13 11_53_19-Navidrome](https://user-images.githubusercontent.com/46521034/107848246-22e6db00-6df2-11eb-99fe-a7e693e8f3f9.png)

![2021-02-13 11_52_17-Navidrome](https://user-images.githubusercontent.com/46521034/107848227-f

[2021-02-13 14:28] CTParkinson opened #776 ""Something went wrong" when viewing Library > Artists"
Hi!

Just came over from Airsonic, intending to move away from it fully.
Standard set up with Docker, media folder scanned, and now when I view artists I get the following error in Console:

[code]

I can see that the issue lies on this line
`filter: { album_artist_id: props.record.id },`
in `ArtistContextMenu`
Though I'm not sure what `props.records` is intended to be but it looks like at static

[2021-02-13 14:31] CTParkinson commented on #776
So... immediately after posting I decided I should just force a refresh, ctrl + F5, to see what happens and the artists now load.
Which I can't make sense of if it were in the react files, as they wouldn't change whether they were cached or not...
However it's loading now.

But I'll leave this open just in case there is something you can gleam from this, if there potentially is an issue.

[2021-02-13 14:49] SteveDinn opened #777 "Constant CPU usage since 0.40"
Since upgrading to 0.40, I've experienced constant CPU usage of around 2 - 4% on my RPi 4. This is apart from the periodic scans (which are recognisable spikes) and any transcodes (which are a separate process anyway).

![Screenshot_20210213-104025](https://user-images.githubusercontent.com/3911507/107852705-a69bca00-6de8-11eb-8097-3eecdc802c20.png)
![Screenshot_20210213-103909](https://user-image

[2021-02-13 16:39] deluan commented on #777
Hummm, seems that this is being caused by the Diode library I'm using to buffer messages to the Activity Panel. I'm using the [polling method](https://github.com/cloudfoundry/go-diodes#poller), that polls every 10ms for new messages.... I'll experiment with the Waiter implementation or increasing the poll interval to 100ms

Thanks for reporting this

[2021-02-13 16:53] deluan commented on #776
Thanks for the report!

Yes, the stacktrace is helpful, will put a fix to avoid breaking like that. And not, it is not your media, this is caused by some weird internal state from React Admin, where it tries to render things that are not there yet.

[2021-02-13 16:59] deluan commented on #637
Thanks @sergio-ns . Can you send me one song from this album, that contain this comment?

[2021-02-13 17:04] #776 closed

[2021-02-13 17:09] #777 closed

[2021-02-13 19:27] mandickay opened #778 "Scanning of DSF and DFF and playing of FLAC files"
I installed Navidrome 0.40.0-SNAPSHOT (501af141) via docker on my Armbian OS. The app is able to scan my FLAC files  but not my DSD collections, which are mostly DSF and a few DFF files. There is nowhere in the app where I can configure it to be able to scan DSF or DFF files.

In addition, it seems that Navidrome can only play my files as MP3. My FLAC files have to be transcoded to mp3. Again, the

[2021-02-13 20:05] SteveDinn commented on #777
If this is literally just for notifications to the activity panel, is even 1 second too long? I mean, I can live with 1 second of latency between something happening and getting notified about it. I don't think it's necessary to check 10 times per second, let alone 100 times per second.

[2021-02-13 20:50] sergio-ns commented on #637
Sent to your email address

[2021-02-13 21:01] deluan commented on #778
Hey, thanks for trying Navidrome.

`.DSF` files are only scannable using the `ffmpeg` extractor. You can enable it by setting the `Scanner.Extractor = "ffmpeg"` in your config file or setting the `ND_SCANNER_EXTRACTOR=ffmeg` env var in your docker config.

`.DFF`, currently Navidrome ignores this extension. I don't have of such files, but you can send me one and I can take a look.

In terms of str

[2021-02-14 05:23] ducky710 commented on #18
Just wanted to let people who are waiting for some sort of scrobbling know that Web Scrobbler just added support for Navidrome per my request (yay!). Web scrobbler supports Last.fm, Listenbrainz, Libre.fm, and Maloja!
https://github.com/web-scrobbler/web-scrobbler/commit/5e62c921b4545be36b7024213cd6b121a6005b31

[2021-02-14 06:10] doggogoesbork commented on #771
random question to the above, could we add songs to playlists by just dragging them onto them? Nextcloud's music plugin works this way and makes it really easy to add songs

[2021-02-14 06:18] mandickay commented on #778
**time="2021-02-14T06:00:54Z" level=info msg="Finished processing changed folder" dir="/music/The_Alan_Parsons_Project-Eye_In_The_Sky-(Arista)-DSF128-LP-1982" elapsed=4.13s purged=0 updated=10
time="2021-02-14T06:00:55Z" level=info msg="Finished processing changed folder" dir="/music/The_Alan_Parsons_Project-The_Turn_Of_A_Friendly_Card-(Arista)-DSF128-LP-1980" elapsed=1.19s purged=0 updated=10**

[2021-02-15 18:30] deluan commented on #778
You shouldn't need to create a new transcoding. You just have to edit the Player's properties, select the "Opus" transcoding and set the Max Bit Rate you want (192k in your case):
<img width="689" alt="Screen Shot 2021-02-15 at 1 28 55 PM" src="https://user-images.githubusercontent.com/331353/107982332-d3d7ac00-6f91-11eb-9775-09a579ad3f8a.png">

[2021-02-15 18:32] deluan commented on #771
I'd love to enable that. When I get to implement this, I'll take a look on how to enable drag'n'drop for it

[2021-02-15 18:42] deluan commented on #637
@sergio-ns Navidrome actually enables expanding the comments in this case, you just have to click on the comment. The issue is that there's no visual cues for that:
![Screen Recording 2021-02-15 at 1 35 53 PM](https://user-images.githubusercontent.com/331353/107983053-28c7f200-6f93-11eb-9833-eb1fe1164e22.gif)

I'll take a look at that. If you have any more comments, please open a new GH issue, as

[2021-02-15 20:32] sergio-ns commented on #637
Thanks for clarifying

[2021-02-20 17:41] TheFlatworm opened #785 "Scanning Stops at 21000 Songs"
I keep getting an infinite loops of Navidrome scanning music - it scans until 21000 or so and then starts the scanning over - repeating indefinitely.  Running :latest navidrome in a Docker container on a RasperyiPI 4, Debian Stretch with OMV5.

[2021-02-20 18:22] deluan commented on #785
Does it restart (do you see the "Navidrome" banner again when it restarts the scan)?

It may be that the system does not have enough RAM, and it crashes, then starts again. The scan process uses a considerable amount of memory. I've seen that on the demo instance, it had 512MB with no swap area. The solution was to configure a swap area of 1GB.

Let me know if this is your case. If not, send me th

[2021-02-22 20:38] argus-core commented on #408
When testing Amperfy with Navidrome (https://github.com/BLeeEZ/amperfy/issues/17) the developer noticed that the artists/albums/songs/playlists id format in Navidrome is different than the other Subsonic APIs they've seen so far. Linking it here as it could possibly be related if SubStreamer processes song ids differently from artist / album ones.

[2021-02-23 13:44] BobWs commented on #18
Will `getTopSongs` be implemented in the webUI? And if so will you implement the ability to create playlists from the results of `getTopSong`? That’s one of the features I miss most from Subsonic. For now I’m very happy with your app. Thanks for all your hard work.

[2021-02-23 18:44] IsidoreIsou commented on #450
Hey, I got the same problem on a yunohost Navidrome (0.40.0 (8799358a)),
* Some covers shows some don't
* All is tagged with Picard and embedded

Would you mind explaining me how I can do that? How can I check how my music folder is mounted? Can't find it alone... Thanks!

[2021-02-24 15:45] drinn opened #792 "Album Art Does Not Update on Quick/Full Scans"
I'm having an issue with my Navidrome installation (0.40.0) where if the album art for a given album gets changed, I seemingly am unable to get that change reflected in my browser. I've tried the usual affairs of cleaning out the cache/cookes, etc. but the only thing that reliable seems to to work is to wipe out my navidrome database and start over.

This isn't a huge deal, but is a minor inconven

[2021-02-24 21:34] Code-Slave opened #793 "Implement podcast subsonic api"
this would fill out the functionality from my standpoint. Be nice to support the podcast api. it would require a secondary directory for sure

[2021-02-25 03:10] behzad1248 commented on #793
Behzad1248

[2021-02-25 10:55] metalheim commented on #792
Are your files marked as "modified on _<Date>_"? Some Tagging software does not mark that it has modified the files.
Navidrome therefore thinks the file hasnt been changed and skips looking for updates.

If that is the issue, you can force the modification date to _<now>_ with the console command (on linux)
`touch file.mp3`

[2021-02-25 16:40] drinn commented on #792
I played around with things this morning and have not gotten things to fail in the way that I was seeing earlier.

Thank you for mentioning the filename modification date as the item that navidrome looks at for changes. I had previously been trying to touch the parent directory of the files instead of the individual files themselves.

I'll go ahead and close out this issue and if I continue to hav

[2021-02-25 16:40] #792 closed

[2021-02-26 04:18] drinn opened #794 "[Feature Request] Transcode FLAC Files When Downsample Requested"
As a person with limited mobile bandwidth a month, I'm wondering if it would be possible to transcode FLAC files if/when a request to downsample a song is requested? The Dsub app seems to specify a max bitrate for files over wifi vs mobile.  When I'm on wifi, I'd just assume have the full FLAC file on my phone for the best quality. But if I'm out and using my limited mobile data, I have the maximu

[2021-02-26 13:19] drinn commented on #794
... or would it be possible to transcode FLAC files to a chosen lossy format in general?

I like the idea of using opus files for better quality vs. mp3 given the same bitrate. But most of my library is already in mp3 format and converting from mp3 to opus will only serve to further degrade the quality of those files. Hence, having a blanket opus transcode as exists today which converts all my mp3

[2021-02-26 15:13] #794 closed

[2021-02-27 00:41] TheFlatworm commented on #785
Hi - sorry I was away.  Navidrome doesn't restart, the scan justs stops and starts over at 0, and then counts rapidly to 21000 or so and then starts again.  Ram should be fine - it has access to the full 4MB of ram.

The last line in the log before restart is

`time="2021-02-27T00:34:09Z" level=info msg="Finished processing Music Folder" added=0 deleted=0 elapsed=1m12s folder=/music playlistsImpor

[2021-02-27 04:11] deluan commented on #785
By default, Navidrome checks for new or changed files every 1 minute. The number you see (~21000) is the number of folders found in your library)

If all your music is there, then that's the expected behaviour.  If you don't want/need the periodic scan, you can change the interval with the `ScanInterval` [config option](https://www.navidrome.org/docs/usage/configuration-options), or disable it com

[2021-02-27 20:08] TheFlatworm commented on #785
Thank you!!  That solves it!

[2021-02-27 20:46] #785 closed

[2021-02-27 22:22] easteteb opened #795 "URL para uso remoto"
Logré instalar la aplicación sin problemas en local, pero no sé cómo configurarla para poder usarla en otra PC o en un dispositivo móvil, es decir, cúal es la URL del servidor para que pueda usarla en los clientes móviles (todos me piden la URL del servidor) o en PCs externas. Tengo IP dinámica. Por favor necesito orientación al respecto. Gracias.

[2021-03-01 17:30] deluan commented on #795
Hi, this is not something you do on Navidrome itself, you need to setup a Reverse Proxy to expose Navidrome (or any other service you want) to the public Internet, or else you will only be able to access your server inside your home (your local network). Just google for "how to setup a reverse proxy" and there are tons of tutorials on how to do it.

For the files with accents, I'm assuming you are

[2021-03-01 19:37] easteteb commented on #795
Gracias por su respuesta. Probaré siguiendo las recomendaciones que me han
hecho llegar. Efectivamente, corro Navidrome bajo Windows 10. Aprovecho
para hacer llegar mis felicitaciones por un software tan completo y sobre
todo porque es Open Source.

Muchísimas gracias.

El lun, 1 de mar. de 2021 a la(s) 12:30, Deluan Quintão (
notifications@github.com) escribió:

--

[2021-03-01 20:33] deluan commented on #795
Closing this now, but feel free to report any issues you may find in new tickets.

[2021-03-01 20:52] deluan commented on #794
Hey @drinn, the current transcoding options in Navidrome are not flexible enough for this use case. I'll rewrite it at some point (soon-ish I hope). Take a look at #351

[2021-03-01 21:17] drinn commented on #794
Thanks for the response. I actually did a complete 180 on this (and hence, closed the case) and decided to just enable opus transcoding for my Dsub player entirely. With opus being so efficient and practically transparent at 128k bitrate (from what I've tested and read), I've decided to just let my entire library be transcoded to opus before arriving to my phone. The space savings of even 320k bit

[2021-03-01 21:28] deluan commented on #794
This is exactly how I use transcoding: All music sent to DSub is transcoded to 128Kbps Opus, even MP3 and other Opus files. In my tests I could not feel any difference. Could be my bad hearing, though 😝

Even then, I will rewrite it, to give more flexibility for different use cases

[2021-03-02 00:09] Jeck commented on #446
File descriptor bug occurs on latest release as well. I ran into it while setting up the server, so importing folders might have exacerbated it. I had to set image cache to 0, will let you know if I continue to hit it.

[2021-03-02 13:30] drinn commented on #794
Same here. I hadn't experimented with opus until recently and was amazed at
the difference between opus and mp3 at lower bitrates. I probably could
have settled for 96kbps and not known the difference, so 128k is more than
enough. 96kbps mp3 files sound like garbage. 😝

Transparent (to me) compression at opus 128k + the space savings it gives
on a limited storage mobile device is amazing. Thank yo

[2021-03-05 20:31] deluan commented on #450
I don't personally use Yunohost nor SMB/CIFS, but I assume the config `//192.168.0.1/sda1 /media/mediashare cifs vers=1.0,credentials=/home/admin/.smbcredentials,x-systemd.automount,noauto 0 0` would go in a file like `/etc/fstab`. You have to find it and change `vers=1.0` to `vers=2.0`

I think the OP used this link: https://askubuntu.com/questions/956361/cifs-mount-returns-input-output-error-on-

[2021-03-05 20:39] deluan commented on #18
@BobWs Yes it will. Yes, you'll be able to save the current play queue as a playlist

[2021-03-05 20:40] deluan commented on #408
Thanks for the tip. Yes, this is probably the issue, but unless Substreamer's developer takes a look at this, there's nothing much I can do.

[2021-03-07 16:56] sintpon opened #801 "Starred item from DSub wont appear in Starred items"
Just as stated - i use Star control in DSub (i use android and android auto as well), so starred item appear in bookmarks page in DSub, but not in Starred in Navidrome.
Am i doing anything wrong way?

[2021-03-07 18:25] deluan commented on #801
Currently Navidrome's UI does not have a consolidated view to show all your starred items in one place. When you go to "Albums->Starred", it only shows albums. If you want to see the starred songs (or artists), you need to go to that view, and filter by starred:

![Screen Recording 2021-03-07 at 1 23 33 PM](https://user-images.githubusercontent.com/331353/110250279-7c9d7980-7f48-11eb-82ff-53deb203

[2021-03-07 19:09] sintpon commented on #801
thanks, would be perfect to have ability to export such filter as m3u (i used to import starred items to my main library management software).
Patiently waiting for some LastFM integration (love tracks).

[2021-03-07 19:10] #801 closed

[2021-03-09 10:19] obbardc commented on #793
Do you know of the best opensource Subsonic podcast apps for linux/android/web to start doing testing with?

The subsonic backend would be a good place to start implementation ;-)

[2021-03-09 20:08] rohitgeddam commented on #748
I would like to work on this!

[2021-03-09 21:38] bouhormq commented on #323
I would love to take on this challenge for this edition of GSOC! Can't wait to get to know more about the community!

[2021-03-10 05:46] aniketbiswas21 commented on #771
@deluan I'd love to work on this. Can you help me get started?

[2021-03-10 05:52] KashyapPavra commented on #771
@deluan If the feature is still to be added, I’d love to work on it.

[2021-03-10 06:06] Devesh21700Kumar commented on #748
i would like to implement this feature

[2021-03-10 06:14] rochakjain361 commented on #233
I would love to work on this issue for this edition of GSOC! Can't wait to get to know more about the project and community!

[2021-03-10 07:54] aniketbiswas21 opened #809 "Better accessbility while playing a song from an album"
## Problem Description

The current way of playing a single song might be a bit difficult for some users to figure out since there is no distinct play button visible.

![Screenshot from 2021-03-10 13-14-51](https://user-images.githubusercontent.com/51146347/110594611-08124700-81a3-11eb-8dfc-4e88ae674054.png)

## Possible Solution

We can show a play button on hover next to the song name(kind of li

[2021-03-10 10:53] HassanRahim26 commented on #650
Hey @srichter ,
I am interested in working on this issue. However, I am not very familiar with the codebase. Can you please guide me about how to proceed with solving this?

[2021-03-10 11:46] parthsarthiprasad commented on #769
@deluan do you mean something like a story icon, fetching data from users in a friend list?

[2021-03-10 16:44] garret commented on #682
If one has home assistant and google or alexa speakers, maybe there is a way to cast the stream somehow?

[2021-03-10 17:47] deluan opened #810 "Unicode (special) chars in Windows file paths are not parseable"
When running Navidrome on Windows, the default Scanner.Extractor (taglib) is currently not able to read filepaths that contains any unicode chars (accents and special symbols). This is probably caused by the way we open the file to read the metadata, using a `char *` for the filepath instead of a unicode string: https://github.com/navidrome/navidrome/blob/caeff2862ae82d9a60219bc34fca06ba57635105/s

[2021-03-10 18:17] the-pro commented on #810
Could we change the `char *` to a wide character datatype? Although I am not sure if that will work.

[2021-03-10 19:00] deluan commented on #810
I did a quick try and it didn't seem to work, but I was in a rush, so I may have done something wrong. I added it here to give GSoC folks some small tasks to validate their coding skills :)

[2021-03-10 19:04] kjain0073 commented on #323
Hi @maverick40, if this is not assigned to anyone, Can I take up this issue?

[2021-03-10 19:29] Manas502 commented on #682
Didn't get you @garret

[2021-03-10 19:44] garret commented on #682
Sorry, just wrote very fast before :/

I was thinking today if there could be a way to stream music from navidrome on the google speakers if somebody has an home assistant instance already connected to google assistant. Home assistant allows to stream content to the google speakers. A routine in google assistant can trigger an automation in home assistant. That automation could be to stream the mu

[2021-03-11 03:31] Code-Slave commented on #793
most subsonix mobile apps support podcasts

[2021-03-11 03:57] abhinavmaharana commented on #233
I would love to work on this issue for this edition of GSOC! Can't wait to get to know more about the project and community!

[2021-03-11 07:27] parthsarthiprasad commented on #810
since it's windows only @deluan I think it might be related to https://stackoverflow.com/questions/1520986/open-file-in-taglib-with-unicode-chars-in-filename
`IIUC, this library comes from the Linux world (where file names are expressed as char arrays), and was later ported to Windows (where file names are expressed as wchar_t arrays). The FileName ctor taking a wchar_t array is thus probably cond

[2021-03-11 08:22] certuna commented on #810
Wow, an 11 year old bug, haha!

Problem is that defaulting back to ffmpeg as tag library is not sustainable towards the future where ND will use multi-valued fields (which ffmpeg [can't read](https://trac.ffmpeg.org/ticket/6949), also a 10+ year old limitation).

[2021-03-11 09:22] dpirad007 commented on #810
https://stackoverflow.com/questions/5642251/taglib-how-to-handle-utf-8-encoded-file-paths , This is the fix i found for windows. Apparently in windows it expects both char* as well as wide char.

[2021-03-11 10:21] anegrin opened #813 "Feature req: Play m4a"
Can't play m4a files directly from any client (web UI or android app like DSub) - mp3 are playing

logs:

`level=info msg="Streaming file" artist=Soundtrack bitRate=0 cached=false format=raw originalBitRate=1411 originalFormat=m4a title="XXXXXXXXXXX" transcoding=false user=navidrome`

ffmpeg info of the file

[code]

file info

[code]

navidrome version is 0.40; i've tryed cleaning cache folder an

[2021-03-11 15:13] deluan commented on #813
Thanks for using Navidrome. ALAC encoding is not supported by most players. I don't know any Android player that supports it, and I'm pretty sure it is not supported by any web browser as well.

If you want to avoid transcoding your files to a lossy format, your best bet is to convert them to FLAC, which is well supported by major browsers and all Android clients. You can also transcode them to FL

[2021-03-11 15:38] anegrin commented on #813
thanx! very detailed explanation. i tested what you suggest and yes not browser neither android can play m4a if ALAC is the encoding. sorry for the noise

[2021-03-11 15:38] #813 closed

[2021-03-11 15:59] deluan commented on #769
@parthsarthiprasad If you look at the [getNowPlaying](http://subsonic.org/pages/api.jsp#getNowPlaying) response, you'll see what information you have. The idea is to add this information to the Activity Panel:

<img width="392" alt="Screen Shot 2021-03-11 at 10 57 19 AM" src="https://user-images.githubusercontent.com/331353/110815616-998fc080-8258-11eb-82f3-8245f6bec060.png">

This is how it is im

[2021-03-11 16:09] deluan commented on #771
For those wanting to tackle this, you'll need a bit of understanding on how to [customize React-Admin](https://marmelab.com/react-admin/Theming.html#using-a-custom-menu). Changes will most probably be applied to Navidrome's [Sidebar Menu](https://github.com/navidrome/navidrome/blob/847531391dab0dd4f5ac4951767d4698f920dfdb/ui/src/layout/Menu.js).

[2021-03-11 16:12] deluan commented on #809
Thanks for the suggestion, this is would be awesome. It may require some customization to React-Admin's DataGrid. We already have some customization here: https://github.com/navidrome/navidrome/blob/2010fcf4ca75616272a4275661f7eec32a54a1ca/ui/src/common/SongDatagrid.js

[2021-03-11 16:16] deluan commented on #323
Hi @kjain0073 this would be part of a larger refactor. The goal would be to rewrite the whole album grid. It is listed as one of the GSoC's ideas: https://www.navidrome.org/docs/gsoc/#new-album-grid

[2021-03-11 16:38] aniketbiswas21 commented on #809
I'd love to work on this.

[2021-03-11 19:06] jvoisin opened #814 "Make the commit clickable in the `about` dialog"
It would be nice to be able to click on the commit hash to be able to see the actual commit on github

[2021-03-11 19:07] jvoisin opened #815 "Make the version number in the about dialog clickable"
It would be nice to be able to click on the version number in the about dialog to land on the corresponding changelog, like https://github.com/navidrome/navidrome/releases/tag/v0.40.0 for the versions 0.40.0

[2021-03-11 19:15] jvoisin opened #816 "Create a Spotify theme"
It would be nice to have a spotify theme, if only to make it easy for people migrating from it to navidrome.

- [Spotify's branding guide](https://developer.spotify.com/documentation/general/design-and-branding/)
- [Spotify's web app]( https://open.spotify.com/ )

[2021-03-11 19:27] deluan commented on #814
Not sure about this one. I don't see the value of this for a end user....

[2021-03-11 21:40] parthsarthiprasad commented on #815
@jvoisin can you assign me the task, I believe a simple href will do the task?

[2021-03-11 21:55] rochakjain361 commented on #815
Sorry to interrupt @parthsarthiprasad, but just before you asked to assign the issue I've already committed on my forked repo and was about to make the pull request. Being a simple href fix I thought to get it done asap. Hope it's fine.

[2021-03-11 21:58] parthsarthiprasad commented on #815
no worries, I just reviewed it, seems fine, it seems your PR failed some tests, try to fix it for now.

[2021-03-12 05:43] HassanRahim26 commented on #816
Hey @jvoisin,
I am interested in working on this issue. However, I am not very familiar with the codebase. Can you please guide me about how to proceed with solving this?

[2021-03-12 07:07] ketangupta34 commented on #809
Hey @deluan , Can I work on this??

[2021-03-12 08:33] K-Kumar-01 commented on #816
does it mean that the ui needs to be redesigned?

[2021-03-12 09:32] jvoisin commented on #816
The documentation is [here]( https://www.navidrome.org/docs/developers/creating-themes/ ).

[2021-03-12 15:27] deluan commented on #815
Fixed in #817

[2021-03-12 15:29] deluan commented on #816
@K-Kumar-01 It is not a UI redesign, it is more related to fonts and color palette. See the Material-UI documentation to understand what is possible to customize.

[2021-03-12 16:00] deluan commented on #815
Hey

[2021-03-12 16:03] K-Kumar-01 commented on #816
@deluan
I got it and have already started working on it.
Please assign the issue to me.
I will send some screenshots or recording ASAP

[2021-03-12 16:05] deluan commented on #815
Hey @rochakjain361 , just found a small issue in your PR. When the version is a SNAPSHOT, it leads to a 404 page. This happens when using a development docker build.

Maybe a solution for this is, in case of a snapshot, change the URL to something like https://github.com/navidrome/navidrome/compare/v0.40.0...5f7c7393 , where the hash is the gitCommitID in the version. This would all commits since

[2021-03-12 16:33] RitikPandey1 commented on #554
I wolud like to work on this, Please assign this issue to me @deluan

[2021-03-12 17:27] deluan commented on #202
Yeah @dani , I've been thinking about doing something similar to this. Just have to find a good way to let users that are coming from Airsonic/Subsonic to understand how this would work. Some people would not be able to use DSub out-of-box for example, and would just give up trying to make it work....

I wish clients implemented an auto-fallback from token-based to password-based authentication. I

[2021-03-12 18:00] armedev commented on #323
I would like to work on this mini-project to enhance the UI, I also saw the GSoC project idealist, it would be nice if you could assign me this issue later I will be looking forward to applying to GSoC as a contestant on the application date.

![Screenshot from 2021-03-12 23-29-07](https://user-images.githubusercontent.com/51921579/110979686-f12e4900-838a-11eb-81fe-cb4b5585cc48.png)

[2021-03-12 22:27] syedsafi30 commented on #748
This project seems interesting, I would be happy to work on this.

[2021-03-12 22:54] deluan commented on #717
Hey @pacija sorry for the long delay in getting this done. I'm introducing a new option in the next version that will allow you to use `mtime` for sorting by Recently Added. The config option is `RecentlyAddedByModTime` and it is a boolean (default false).

You should not need to reimport to use it. It will be part of the next release.

@certuna: Unfortunately there's no reliable way to obtain the

[2021-03-12 23:08] deluan commented on #778
Hey @mandickay, were you able to figure this out? Can I close this issue?

[2021-03-12 23:10] #588 closed

[2021-03-12 23:18] #717 closed

[2021-03-12 23:53] #657 closed

[2021-03-13 00:20] #382 closed

[2021-03-13 05:15] dpirad007 commented on #816
@deluan Ill give this a shot as well

[2021-03-13 05:23] the-pro commented on #520
I would love to work on this issue. Can you assign me this

[2021-03-13 06:11] armedev opened #823 "creating new component for smaller displays."
before:
![Screenshot from 2021-03-13 11-45-44](https://user-images.githubusercontent.com/51921579/111021379-c9be9700-83f1-11eb-875c-8746d3dbee03.png)

after:

![Screenshot from 2021-03-13 11-40-01](https://user-images.githubusercontent.com/51921579/111021244-0342d280-83f1-11eb-8568-e301007a5a6c.png)

it looks more accessible and clean.

[2021-03-13 08:00] ketangupta34 commented on #823
Hey, this is a good suggestion. @deluan I would like to work on this!!!

[2021-03-13 09:54] K-Kumar-01 commented on #816
@deluan
I have made a PR for the issue. Let me know if there are any changes required.

[2021-03-13 10:06] K-Kumar-01 opened #827 "Docs: Contributing Guide"
In my opinion, navidrome should also have a contributing guide. Currently, we don't have any `CONTRIBUTING.md` file.
The contributing file will help in many ways:
1. Defining a structure for pull requests (along with proper commit conventions)
2. Defining a structure to open any issue.

This will improve the project structure as well as ensure more readability and understanding of commits made and

[2021-03-13 10:46] Tejas21-design commented on #748
This really seems to be intresting,  i would love to work on this

[2021-03-13 11:27] Tejas21-design commented on #748
can somebody help me to how to contribute to this project

[2021-03-13 11:45] rochakjain361 commented on #815
Hey @deluan, can you share the string that is being saved as the version in the config.js file while using a development docker build. I've understood the solution to this problem but then the dialog box is using the version string from the config file which in the development server is simply 'dev', so if I can get the string being used there, I can proceed easily
https://github.com/navidrome/nav

[2021-03-13 13:20] mandickay commented on #778
Yes, I got it sorted myself. Please close this comment.
Many thanks.

[2021-03-13 14:14] #778 closed

[2021-03-13 14:49] YashJipkate commented on #260
HI @deluan @brianpierson2020! I would like to work on this issue.

[2021-03-13 15:20] Anurag5086 commented on #323
Hello, I am interested in this issue. I came across this though the GSoC idealist. I would like to work on this as a GSoC Participant. Looking forward to GSoC as a contestant.

[2021-03-13 15:24] deluan commented on #815
Sure, the string is `0.40.0-SNAPSHOT (18fda0d9)`.

 It is not trivial to get the real config in dev mode, as the request for `index.html` is intercepted by webpacks' dev server and does not reach the backend to create a proper `index.html` with the config injected to it. For dev purposes, you can just change the version in the `config.js` file to the string I sent above.

<img width="479" alt="Scr

[2021-03-13 15:28] deluan commented on #827
Agree. I'll try to write one this weekend. Thanks for the suggestion/reminder :)

[2021-03-13 15:38] deluan commented on #823
Thanks for the suggestion/PR, but I'm not sure about your solution.... Song duration is rather important, and should be easily visible in the grid. I like how DSub shows it, but I think to get something similar, we would need to rewrite/create a new `SimpleList` component:
![Screenshot_20210313-103005](https://user-images.githubusercontent.com/331353/111035222-6465a880-83e7-11eb-8abc-6689bef0f274.

[2021-03-13 15:41] armedev commented on #823
if I could just shift it to right it should work I thought giving more breathing room for title.

[2021-03-13 15:45] armedev commented on #823
also @deluan if you saw it if you keep timestamp next to stars it kinda feels it is showing stars value like the first one in your image
[4:57] if you could keep it next to author name there would be more room to the song rating :)

[2021-03-13 15:49] armedev commented on #823
@deluan I just showed you how it would look by only changing the code in songs section if you could allow i can try creating a new SimpleList component

[2021-03-13 16:03] deluan commented on #823
Sure, you can try it. Try creating a `SongSimpleList` and using it here: https://github.com/navidrome/navidrome/blob/847531391dab0dd4f5ac4951767d4698f920dfdb/ui/src/song/SongList.js#L81

PS: You don't need to handle the 5-star rating as in DSub, but it would be a bonus if you can :) For that, the `song` record contains a `rating` number, 0-5. Currently the WebUI has no way to set this value, but y

[2021-03-13 16:06] armedev commented on #823
@deluan I will try to create a new SongSimpleList,
I assume you are saying to let the timestamp be next to the author also I will just take fake value to calculate the rating which you can provide from the song data later.

[2021-03-13 16:08] K-Kumar-01 commented on #827
Can I make a draft doc having some basic guidelines for these things?
If they are suitable, then they can be used.

[2021-03-13 16:10] deluan commented on #520
@the-pro, I think the solution for this is to add a new option in the "Personal" panel, something like: "Mobile Player Resolution" (argh, please suggest a better name) with the value of the breakpoint, and use it in the [`mobileMediaQuery` parameter](https://github.com/lijinke666/react-music-player#bulb-customize-mobile-media-query). This will require to save this option in the Redux store. See ho

[2021-03-13 16:12] deluan commented on #823
No, the duration (timestamp) _needs to be aligned to the right_. This is the most important part of this. If it is next to the author, it will be really difficult to read it. You don't have to bother with the 5-star rating, just the context menu and the ⭐ that are already in the SimpleList

[2021-03-13 16:13] armedev commented on #823
ok on it.

[2021-03-13 16:14] RitikPandey1 commented on #554
When I'm trying to push changes to repository, I'm getting this error.
![error1](https://user-images.githubusercontent.com/57366926/111036369-e59f5880-8444-11eb-8f47-0093862d11dc.PNG)
@deluan  how can I resolve this ?

[2021-03-13 16:15] deluan commented on #748
@Tejas21-design You can start by [setting up your dev environment](https://www.navidrome.org/docs/developers/dev-environment/) and joining our [Discord](https://discord.gg/2qMuMyHfSV). There's a #dev and a #gsoc channel there.

[2021-03-13 16:19] deluan commented on #827
@K-Kumar-01 Sure, go ahead!

[2021-03-13 16:22] deluan commented on #323
@kjain0073 The curent AlbumGrid is too convoluted, and it is better rewrite it from scratch. That's the goal of the GSoC idea "New Album Grid". Having this slide is just one part of it. If you implement the slide in the current grid, it will be a throw away effort....

[2021-03-13 16:32] SteveDinn commented on #682
If you're suggesting that somebody write a subsonic server integration for home assistant, them I'm all for it, and I think that would be awesome, but you're in the wrong project :)

[2021-03-13 16:41] the-pro commented on #520
Yes i would most definitely want to work on this issue. I went through the code and i think i can do this

[2021-03-13 17:10] cristobalvp opened #829 "Songs with special characters are omitted from imported playlist"
In Linux, I can see all the songs at the album, but if a playlist (m3u) is imported, all the songs with special chars are omitted.
Later, I can add them manually without problems.

[2021-03-13 17:50] ketangupta34 opened #830 "Single color scheme throughout the Application"
As of now a lot of different colors are used throughout the app. There is a need to have a common color scheme.
Navbar - Blue
Icons -  White
labels - light bluish
Playing song - purple

A single color scheme looks more premium.

[2021-03-13 18:56] dpirad007 commented on #260
@deluan In applying this feature, the user model would have to include weather the user has ever changed the theme, As any time the app loads i can do a check to see the preference dark or light, However if the user selects light then on the next reload it should not default to dark by the system preference. Or am i missing something?

[2021-03-13 19:09] deluan commented on #260
The idea is to have a new option, "Auto", that would switch automatically between "Light" and "Dark", based on the browser's theme. If the user sets it to anything else ("Light", "Dark", ...), Navidrome would only use the selected theme, ignoring the browser's theme

[2021-03-13 19:14] deluan commented on #830
I'm not a design person, and to make things worse I'm color blind 😛

So feel free to submit a PR with improvements to the current theme(s), if this is something you can handle. Here's some information on how themes work in Navidrome: https://www.navidrome.org/docs/developers/creating-themes/

[2021-03-13 19:23] ketangupta34 commented on #830
Sure, I would love to work on this!!

[2021-03-13 19:27] dpirad007 commented on #260
Ohh okay, cool

[2021-03-13 19:30] deluan commented on #830
Try to add your improved theme as a new one, giving it a new name. That's because nobody ever complained about the current colors (after last tweaks), and I don't want to disrupt our user's experience. Besides, the more options the better (in this case) :)

[2021-03-13 19:39] ketangupta34 commented on #830
Yes, I'll make a new file.

[2021-03-14 04:44] Harshkaushik14 commented on #748
Willing to work on this project. & I want to fix some issues which i faced too.

[2021-03-14 06:21] elit-altum commented on #132
Hey @deluan !
I would like to take  a shot at this!

[2021-03-14 10:32] pacija commented on #717
Much appreciated, works as intended!

[2021-03-14 10:50] K-Kumar-01 commented on #827
@deluan
I have created a PR. Let me know if there are any changes required.

[2021-03-14 14:13] fionera opened #832 "Add API to replace FS access"
Hi, I would like to use navidrome, but I have my files in an object storage and I would like to directly interact with it. How about an API so it is possible to use other storage providers. This could also allow to use as example rclone as storage source

[2021-03-14 14:36] armedev commented on #823
@deluan @jvoisin kindly check the new PR I have created the component as @deluan said :),

[2021-03-14 15:18] the-pro commented on #520
Hi @deluan i wanted to know the input method to take the resolution.
Also after i am storing it in the redux store how to re render the player without reloading the page.
Here is the working video :

https://user-images.githubusercontent.com/42973786/111073875-899d0880-8506-11eb-9661-0f641235f3ce.mp4

[2021-03-14 16:36] ashikka commented on #809
Hello @deluan, can you assign me this issue? I'd love to work on this.

[2021-03-14 16:36] jvoisin commented on #823
How does it looks now with super-long titles?

[2021-03-14 16:48] deluan commented on #832
Hi @fionera, thanks for trying Navidrome!

I already thought about introducing this FS abstraction, but after moving my library to GDrive and setting up RClone to mount it, I don't see any advantage of incorporating this functionality directly into Navidrome's codebase. It would be more code to maintain and it would never be better than something dedicated to it, like RClone. Think about all the t

[2021-03-14 16:51] deluan commented on #816
Thanks @K-Kumar-01!

[2021-03-14 16:51] #816 closed

[2021-03-14 17:24] armedev commented on #823
awesome also a bit different from others. :D

[2021-03-14 17:42] fionera commented on #832
I have a big library I cant just mount with rclone and I would implement my own driver for it then anyway. If its wanted, I could take a look into implementing this

[2021-03-14 18:36] YashJipkate commented on #260
@deluan Following up on our discussion. According to your idea, I tried to implement this by placing the hook in `Layout` and added an additional theme choice `Auto` in the select theme dropdown. The only problem is reading from `localStorage`. Reading in `themeReducer` changes the `theme` state, which reflects in the dropdown as it changes from `Auto` to `Light/Dark`.
What I thought was to not re

[2021-03-14 18:44] deluan commented on #260
You actually don't need to use the `localStorage` as I proposed before. You could use the hook in the [`Layout` component](https://github.com/navidrome/navidrome/blob/a168f46b959479858333fbcdc2c62d8635c6c533/ui/src/layout/Layout.js#L16), and if the selected theme is "Auto", it calls the hook to retrieve the browser/OS preferred theme and set it accordingly.

[2021-03-14 20:02] YashJipkate commented on #260
Thanks, @deluan, for the guidance; I learned a lot about the codebase and the practices. I have made #835 to fix this issue now. Please take a look!

[2021-03-14 23:02] deluan commented on #832
I'm all for contributions, but I still don't get why you say you can't just mount it.. My library is 70K songs, mostly FLAC and it works pretty well, taking less than 30 seconds to add a new album. I know some folks that have more than a million songs, also mounting using rclone. Can you elaborate a bit more on why this is not possible in your case. And, in the issue description you said:

So, I'm

[2021-03-14 23:24] fionera commented on #832
The Library I want to use and Index currently has over 20 Million Songs and is over 500TB in size. Its split across multiple s3 buckets and not sorted in a human readable way. There are multiple abstractions in there. If I mount it, its far more overhead.

Using rclone was just an example, so I am not the only one who would use that Interface ;) I dont really like the native go plugin system, sinc

[2021-03-15 01:26] deluan commented on #520
I haven't thought too much about this, maybe a `select` with a list of breakpoints? Feel free to suggest something. Just remember this has to be straightforward for end users, that don't know anything about responsive designs and breakpoints...

Regarding the re-render, I would assume that if you just change the Player's property, it should redraw if needed....

[2021-03-15 01:34] deluan commented on #829
Thanks for the report. Are you using `taglib` (default) or `ffmpeg` as your `Scanner.Extractor` option?

[2021-03-15 02:51] durin42 opened #836 "POSTing to an invalid URL (eg //rest/) 405s but produces no log"
I noticed this because mopidy-subidy doesn't dedupe trailing slashes on its configured URL, so it was requesting paths that looked like the cURL invocation below. It was getting silent 405s, even at `--loglevel debug`. Reproduced against the navidrome hostport without a reverse proxy involved, eg
`curl -v -X POST 'http://$HOSTPORT/$BaseUrl//rest/ping.view'` (or even without the `ping.view`). If yo

[2021-03-15 02:54] deluan commented on #836
I'd have to take a look, but seems that the logging middleware is not capturing this type of (POST) request. Thanks for the report!

[2021-03-15 02:55] rohitgeddam commented on #748
***Just to be clear " Anonymous users are the ones who are not added as a user on our server? "***

### My Thoughts
- I would like to implement a feature to generate a sharable link ( just like in google docs ) that can be used to share albums with other users ( on a different server )
  - let me know if it should be done in a different way

###  Few questions

- Should the anonymous user be logge

[2021-03-15 04:53] Dnouv commented on #647
@deluan, I would like to work on this issue. Please assign me on this if it's still available.

[2021-03-15 05:18] Vrishabhsk commented on #132
hi i would like to work on this project

[2021-03-15 06:38] cristobalvp commented on #829
Hi. I do not have anything configured in ND_SCANNER_EXTRACTOR, so I suppose that I am using taglib, but the same behaviour is happenning with the variable set to ffmpeg

[2021-03-15 08:30] Himanshunitrr commented on #814
Can you please elaborate the issue?

[2021-03-15 12:12] rochakjain361 commented on #814
I would love to work on this issue. @deluan @jvoisin can you please assign me to this issue?

[2021-03-15 14:17] deluan commented on #814
Thanks @rochakjain361  and @Himanshunitrr , but we decided not to implement this. Closing now.

[2021-03-15 14:17] #814 closed

[2021-03-15 14:49] neilchauhan2 commented on #639
Hi @deluan, I would like to work on this. I could see there is a method in server code the setRatings in the subsonic folder. I would like to know a little more about how do you want the ratings to be implemented. Do you want the ratings to be visible only at the individual song or do you want the ratings to visible on both playlist items and the the individual song item?

[2021-03-15 14:58] dpirad007 commented on #810
@deluan Would Something like this work?, Im not sure how to test this though
[code]

[2021-03-15 15:15] certuna commented on #394
[Samples.zip](https://github.com/navidrome/navidrome/files/6142378/Samples.zip)
Here's three samples of files with both embedded cover art *and* artist images.

id3v2.4 has these picture types defined, my proposal would be to map 7, 8, A, E, F and 13 (in that order of preference) to Navidrome's artist picture object:
[code]

[2021-03-15 15:29] Himanshunitrr commented on #726
One will have to add the file quality info in both ```AlbumSongs.js``` and ```PlaylistSongs.js```. But how will we get that information (song's file quality info)?

[2021-03-15 15:43] deluan commented on #726
Currently the `song` record contains the format (MP3/FLAC/OGG....) and the bitrate.

[2021-03-15 16:20] certuna commented on #823
Somewhat related issue: I see that in the mobile view, `/album/AlbumSongs.js` drops the "artist" field, which is fine if it's a one-artist album, but for compilation it makes the experience pretty bad. So probably a good thing to replicate this SongSimpleList to that view too?

[2021-03-15 16:28] deluan commented on #823
Yeah, we could use the same component in that view. @armedev, can you experiment with it? Not sure how easy it is to replace the `SongDatagrid` in the `AlbumDetail` and PlaylistDetail` views...

[2021-03-15 16:34] verma-pulkit commented on #559
@jvoisin shall I work on the color contrast and moving the details to the left part..?

[2021-03-15 16:37] armedev commented on #823
Yeah, I can try to implement it. @deluan did the SongSimpleList look right for you?
if yes I can proceed with the album and playlist implementation.

[2021-03-15 16:48] Himanshunitrr commented on #726
Unable to see the format, found the bitrate information.
Looked the following in ```SongDetails.js```
[code]
Searched for FLAC,MP3 etc but all the results are in few ```.go``` files

[2021-03-15 16:49] certuna opened #846 "hide Artist, Genre and/or Year columns in Album Details View when the values are all the same"
Currently, the WebUI desktop Album Details view looks like this:

![Screen Shot 2021-03-15 at 17 35 04](https://user-images.githubusercontent.com/62144283/111187944-d0493c00-85b4-11eb-893b-2a98f74a1d5e.png)

A couple of issues here:

1. the Artist for all tracks is the same, (edit: and the same as the Album Artist), so the Artist column is not needed
2. the Year however is different for each track

[2021-03-15 16:52] deluan commented on #559
@verma-pulkit: The contrast has been fixed a while ago:
<img width="974" alt="Screen Shot 2021-03-15 at 12 48 16 PM" src="https://user-images.githubusercontent.com/331353/111189893-eb07ba80-858c-11eb-89a8-35512e878479.png">

Re: position of buttons, If you want to try moving things to the left as suggested, feel free to submit a PR. Remember this is just for the BulkActionButtons. I'm not sure if

[2021-03-15 17:02] deluan commented on #810
I don't know what would work... Have to experiment. To reproduce the issue, just rename one of the your music files and add a special char to it (ñ, †, ø, ¢, etc...). When scanning, Navidrome will not import it

[2021-03-15 17:06] certuna commented on #823
I just posted this as a separate issue https://github.com/navidrome/navidrome/issues/846
That is just for the desktop webview, so doesn't concern the mobile view like this SimpleList does. Shouldn't overlap too much.

[2021-03-15 17:15] deluan commented on #639
@neilchauhan2 Ideally we would display the 5-star rating everywhere. Keep in mind that albums and artists can have stars. Example form DSub:

![Screenshot_20210313-103005](https://user-images.githubusercontent.com/331353/111035411-71cf6280-83e8-11eb-8e6a-2d8e8eacdb08.png)

I though about adding the 5-star rating to the song, artist and album ContextMenus.

[2021-03-15 17:21] armedev commented on #823
hey, @deluan I was trying to recreate the album list with the new component I created but I found out that the album list has a fixed grid, so what do you suggest?

![Screenshot from 2021-03-15 22-46-08](https://user-images.githubusercontent.com/51921579/111194099-da812f80-85e0-11eb-93c4-ccbfb4f88b5c.png)

if we want to implement it using the SongSimpleList component we should probably remove time

[2021-03-15 17:24] deluan commented on #823
The idea is to replace the `SongDataGrid` with your new `SongSimpleList`, but only on mobile devices (similar to what we do in `SongList`). But, as I said above:

[2021-03-15 17:41] armedev commented on #823
hey, @deluan take a look at this,

![Screenshot from 2021-03-15 23-10-29](https://user-images.githubusercontent.com/51921579/111196791-b410c380-85e3-11eb-9465-710091139355.png)

[2021-03-15 17:42] certuna opened #847 "Artist List view based on standard React Admin template"
Replace the [current bare-bones Artist view](https://user-images.githubusercontent.com/62144283/111197872-4357b000-85bf-11eb-9152-97df99d30d89.png) with one based on [this one from the React Demo](https://marmelab.com/react-admin-demo/#/customers) website:

![Screen Shot 2021-03-15 at 18 07 46](https://user-images.githubusercontent.com/62144283/111192460-5cf5f900-85b9-11eb-8502-e346c6349195.png)

[2021-03-15 17:45] deluan commented on #823
I think we don't need the checkboxes when on mobile, and we don't need the header as well

[2021-03-15 17:45] SobhanBera commented on #748
**I too want to join the party. And contribute to this project. And learn something.**

### According to Me:
- I think every song, album, artist data, has its own unique id to fetch data from the database
- If not then I will create some id for songs, artists, album. (something like this - https://some_api_end_point/songs/[id] this id would be related to the song in some way. (only if the song doe

[2021-03-15 17:50] armedev commented on #823
yeah if we can create an option in the playlist or album saying select song we could remove the select option for every song.
as for the header in grid, it has the ability to sort which can be useful in mobile but we can remove only the time option in the header.

[2021-03-15 17:54] deluan commented on #748
This is a big task, as it will require changes to both backend and frontend. We will have to implement all "Sharing" [Subsonic endpoints](http://subsonic.org/pages/api.jsp#getShares), and we will have to implement a new anonymous webpage with the new player. Also a new "CRUD" for shared media.

For those thinking about tackling this, please install and take a look on how this is done in Airsonic.

[2021-03-15 18:33] armedev commented on #823
hey, @deluan I was searching for a way in which a component could fit in all [song, album, playlist, artist] section and I came up with this design,

![Screenshot from 2021-03-15 23-56-54](https://user-images.githubusercontent.com/51921579/111202709-31d7cd80-85ea-11eb-8a68-0b804f204058.png)

pros:
**we can keep the grid header and have all abilities sorting the list in terms of name or time**

con

[2021-03-15 19:34] cynequil commented on #771
Is this option related to only macOS version of navidrome? The dev or demo edition doesn't seem to have in place (in the side menu) on click dropdown showing all the available playlists.
![Screenshot_20210316_004338](https://user-images.githubusercontent.com/19496170/111210173-f097eb80-85f2-11eb-814f-cac8b5d20af7.png)

[2021-03-15 19:35] Himanshunitrr commented on #726
Tried to understand it fully but i have many doubts. Though i was able to imitate results by seeing the relevant code already present but what is source prop doing in TextField? Added these two lines for the desired effect in the albumlist.
[code]

[2021-03-15 23:18] certuna opened #850 "Genre list/grid based on standard React Admin template"
The WebUI currently has no support for navigation or filtering by genre at all. It just displays (one) genre in the `Album` view. Most other players (Apple Music, Kodi, PlexAmp, Marvis, Prism, etc) have a navigate-by-genre top level option.

This issue should hopefully open the discussion what it should look like and what the functionality would be. Please feel free to contribute with any ideas, a

[2021-03-16 00:02] certuna commented on #823
IMO looks like too little space for the song title.

[2021-03-16 03:46] armedev commented on #823
No its just a figma design i have made in reality the title has a enough breathing room :)

[2021-03-16 11:07] jvoisin commented on #771
As @deluan said on the 9th of February:

This is not yet implemented.

[2021-03-16 11:19] cynequil commented on #771
@jvoisin I get it. That was a different player all together. I am going to look at it then.

[2021-03-16 12:11] neilchauhan2 commented on #639
@deluan I'll go through it and let you know if I'm stuck somewhere. One question I have is, what is going to be the default value for the ratings, i.e. are we trying to show the general ratings as per other people's response for a particular song and artist or is this a personalized rating which is only limited to the current user. In any case how do I fetch the default value for the ratings? Is t

[2021-03-16 17:58] deluan commented on #832
Wow! Are you trying to launch your own streaming service? LOL!

Seriously though, abstracting away the FS access is a Good Thing ™️, but I'm not sure how we would handle TagLib's access to the files (it is a C++ library, not Go).

By the way, in your case, you may encounter other issues with this huuuuge library, ex: I'm not sure if SQLite3 is the best option to store a library this size.

[2021-03-16 18:01] armedev commented on #823
@deluan I have recreated the component SongSimpleList to match the above design now it looks like this,

![Screenshot from 2021-03-16 23-26-38](https://user-images.githubusercontent.com/51921579/111357578-711c2200-86af-11eb-91d8-49ab94320db9.png)

this design has the ability to fit in your album list and playlist,
what do you suggest @deluan @jvoisin should I push the code?
or do you suggest any m

[2021-03-16 18:57] shravani05 commented on #846
@certuna I would like to work on this. Can you please assign me this issue?

[2021-03-16 20:31] fionera commented on #832
Nah not really, I am just experimenting with some open Storage Systems and want to access them over a nice UI. In this case I want to try to Index some Items from Archive.org.

Regarding TagLib... Arent there other Libraries that are written in Go for that? Maybe switch?
SQLite3 shouldnt be any Issue since I would probably also implement Elasticsearch or smth like that as Search Engine :)

[2021-03-16 21:11] rochakjain361 commented on #241
I think in the newer releases of Material UI, this issue is fixed, and now on applying `autoComplete = off` to the username field on the login page, the autocomplete feature is disabled simply.
Before disabling autocomplete:

![Screenshot from 2021-03-17 02-38-20](https://user-images.githubusercontent.com/57208018/111380070-e563bf00-86c9-11eb-8aa1-1d7b3df123e9.png)

After:

![Screenshot from 2021-

[2021-03-16 21:13] Dnouv commented on #771
@jvoisin, the playlist in the left menu bar would be like in the screenshot attached below, or does it need to be different? Could you please review it and provide feedback.
<img width="277" alt="navid_play" src="https://user-images.githubusercontent.com/61188295/111380307-2bb91e00-86ca-11eb-84ea-e129af9373e8.png">

Thank you!

[2021-03-17 04:09] balki commented on #102
It can be worked around by setting CSP/RP on the web server. However would be best to have direct support in navidrome. Below examples for caddy web server:

Below keeps the server private by not leaking the server URLs when clicking away via referrer header.

    header Referrer-Policy same-origin

Below keeps the client private by not loading external resources other than the domain hosted,

[2021-03-17 04:14] deluan commented on #639
Hey @neilchauhan2 I think it is worth to take a look at DSub and see how it handles it: https://github.com/daneren2005/Subsonic/releases (of course only if you have an Android device)

Answering your questions:
- Currently the UI does not handle the ratings in any way, but the APIs are in place.
- The rating is personal, and it is returned as part of the `/song` `/album` and `/artist` API calls. T

[2021-03-17 04:35] deluan commented on #832
Unfortunately TagLib is the best option out there, and there are upcoming features that depends on some of its features, like multi-valued tags. Maybe we can create a File class in C++ whose methods calls the `fs.File` methods, and pass it to the `TagLib::Open` (or whatever it is called). Anyway we will have to find a solution for that...

[2021-03-17 05:41] Dnouv commented on #647
@deluan, as per your suggestion, I added the albums with long names and a page full of albums but still could not reproduce the issue on the Album grid.
Here is the screenshot of the Album page.
<img width="210" alt="localhost_4533_(iPhone X)" src="https://user-images.githubusercontent.com/61188295/111420297-f8e64880-8710-11eb-9ebd-16648409249a.png">

[2021-03-17 09:33] metalheim commented on #846
Your assumption for "1. the Artist for all tracks is the same, so the Artist column is not needed" is wrong. The Albumartist can differ completely from the track-individual Artist.
![image](https://user-images.githubusercontent.com/44159957/111445759-ffbe8c80-870b-11eb-9185-bb6a44c6d3cf.png)
Typically, you will see this when an artist features another artist for just one song.

This is even more t

[2021-03-17 09:44] metalheim commented on #823
looks great imho :)

[2021-03-17 09:45] certuna commented on #846
This is why I wrote _Add an isCompilation check, if it is, then display the Artist column_

But you are right for your Mos Def example, the check should be to only drop the column when "AllTrackArtistsTheSame = true" *and* "Track Artist = Album Artist".

[2021-03-17 09:48] metalheim commented on #846
That's right, if it's an AllTrackArtistsTheSame Album, you don't need the column.
But I'm not sure how much replacing it with another Value will impact user-experience. (Every other album could have different columns which could be confusing).

I'd rather prefer implementing SongSimpleList from #823 to make it visually more clear while not hiding any information. 🤝

[2021-03-17 09:54] certuna commented on #846
Most other servers/players do the same though - only show track artists when they're different to the album artists. I think that part is fairly intuitive.

You are right that sometimes showing year and genre columns and sometimes not may be a bit messy - but how would you propose to handle albums where tracks have different artists, different years and/or different genres? Not show this at all, l

[2021-03-17 10:40] neilchauhan2 commented on #639
@deluan by this I mean, as stated in the build setup readme I created a music folder in which I have saved 2 songs. I'm only able to view those songs in the entire Web UI when I use `make dev` . So I'm only able to view the songs that are available in my music folder in the project. How do I fetch music from the api?

[2021-03-17 11:21] ketangupta34 opened #853 "Improve makefile messages to developers"
as of now, makefile shows a message
```Download go dependencies```
which can be changed to
```downloading go dependencies```

[2021-03-17 12:15] jvoisin commented on #102
This isn't a proper solution, since it might break things.

[2021-03-17 12:42] balki commented on #102
On Wednesday, March 17, 2021 8:16:08 AM EDT Julien Voisin wrote:

Yes, not a proper solution but works for now as the only external lookup is
from unsplash.

[2021-03-17 12:45] certuna commented on #613
I think my PR fixes it, please test :) Also, name of this issue should probably be changed to: `Need to clear service worker cache after creating admin`

[2021-03-17 14:27] #853 closed

[2021-03-17 16:03] rohitgeddam commented on #748
@deluan this looks interesting and challenging, I am on it.

[2021-03-17 16:57] SobhanBera commented on #748
### Me too

[2021-03-17 16:58] SobhanBera commented on #830
Hey @deluan , Can I also give it a chance with a new theme??

[2021-03-17 18:48] ketangupta34 commented on #830
hey there, the main issue that is faced while making color throughout the application common is that the react-music-player CSS properties need to be updated either through a webpack.config file or through a .less file.

[2021-03-17 18:53] deluan commented on #830
@ketangupta34 Yes, that's a limitation. It would be great to come-up with some way to change its colours dinamically, without too much "hacking"... It could also maybe a simple PR to their project, where we enable it to receive an object with all overridden colours, similar to how it handles translations. But this is only worth if it is a simple task.

[2021-03-17 18:57] ketangupta34 commented on #836
@deluan can you provide some more detail about this issue?? I would like to have a look at this.

[2021-03-17 19:03] ketangupta34 commented on #830
@deluan I am able to make the text color of the song title similar to the theme, but the green primary-color is an issue, I'm reviewing the music-player's GitHub too, and see if something can be done without creating a new file.

[2021-03-17 19:05] armedev commented on #846
yeah, @certuna is right SongSimpleList component is for simple and smaller mobile displays, and this has been created to deal with a new design for song components in desktop versions.

[2021-03-17 19:05] deluan commented on #836
To tackle this, you'll need a good understanding of HTTP servers in Go and how middlewares work in general. Seems that the logging middleware (responsible for generating log messages) is being configured after the point that the server returns the 405, so then it does not log such invalid requests.

Basically what we want to achieve here is: When a request similar to the `curl` one in the descript

[2021-03-17 19:05] SobhanBera commented on #830
Hey! @deluan Could I also try on this. If it would be a success I will make a PR soon. I will just try it.

[2021-03-17 19:14] armedev commented on #846
@certuna if we completely remove the artist column and if we have any additional artist remaining we can append it to the end of the title with `ft.` as a prefix.

like if you see here

![Screenshot from 2021-03-17 12-24-42](https://user-images.githubusercontent.com/44159957/111446402-a6a32880-870c-11eb-87e4-2cb94d7c5c37.png)

in the first song, it is already prefixed we just check for "ft." in th

[2021-03-17 20:07] YashJipkate commented on #726
Hey @Himanshunitrr, are you still planning to work on this? It would be great if you could free this issue if you aren't planning to work on this right now.
Thanks!

[2021-03-18 03:41] Himanshunitrr commented on #726
Yep, was just checking the react admin documents. Will push a PR soon.

[2021-03-18 07:14] Himanshunitrr commented on #726
@deluan I have added file quality info to ```AlbumSongs.js``` and ```PlaylistSongs.js```. Only one place is left ie in the player. But the quality info is not there in the props ```album: "[Unknown Album]"
​
albumId: "d6f2e67009217f02d8478bb0b35d0c03"
​
artistId: "d1fb0b96a0a51a3f73fbf777ca44f6fb"
​
cover: "/rest/getCoverArt?u=admin&t=a0b62b1e2056d22493b563f596d8caca&s=2e9bfc&f=json&v=1.8.0&c=Navi

[2021-03-18 07:15] Hackerbone commented on #850
I would like to work on this. It's UI related and a bit of functionality based (sorting for filters) I think I'll in this way learn more about React Admin as well.

[2021-03-18 07:18] Hackerbone commented on #850
Is there a standard protocol to implement sorting of albums on the basis of genres and year basis which I should follow? @certuna . Can you give me some references to checkout?

[2021-03-18 14:34] SobhanBera commented on #830
# Can I create a particular function like this:
## 1st Idea:
[code]

This function could be in the useStyles function like this:
[code]

## 2nd Idea:
[code]

And we can use it like this:
[code]
We could provide these values while we are changing the themes. Instead of changing the value 'dark' to 'light' or vice versa, we could change the whole theme property with primary, secondary, and more colo

[2021-03-18 15:36] certuna commented on #846
This is not so trivial.

First of all, Navidrome currently doesn't support multiple values in the artist field yet. Nor in the genre field, for that matter. What you see in that example is stored in Navidrome as one artist "Mos Def/Cassidy", not two artists "Mos Def" and "Cassidy". Aside from client-side parsing/splitting of metadata fields (a minefield in itself, it's already hard enough to do th

[2021-03-18 16:02] certuna commented on #249
I like this, combined with https://github.com/navidrome/navidrome/issues/255 you would be able to find songs in your library just by typing some lyrics, how awesome is that?

However, with some users having very large libraries, the database would get a lot bigger - say 100,000 songs with 4kb of lyrics each, that would easily double or triple the size of the library. Just storing a "has lyrics" fl

[2021-03-18 16:36] certuna commented on #850
`GET https://subdomain.yourdomain.com/app/api/album?_end=18&_order=DESC&_sort=maxYear&_start=0` returns an album list sorted by Year.

At the moment Genre is exposed through the Subsonic API but it's not used in the WebUI yet, so I think you'd have to ask @deluan (easiest on Discord) if genre is usable in the internal API yet, and if so, how.

[2021-03-18 17:38] Hackerbone commented on #850
I'll ask and start working on it. Thanks !

[2021-03-18 18:43] Dnouv commented on #771
@deluan, could you please review the above-mentioned playlist on the left comment.

[2021-03-18 20:59] ketangupta34 commented on #830
@deluan I tried this issue but as you said edits are needed in the music players Github, I have raised an issue there and will try to solve it there. Till that time, this cannot be resolved in a standardized manner. You can reassign it or close the issue.
Thank you!

[2021-03-19 03:21] deluan commented on #241
I actually don't think this behaviour should change.... As @Sohalt pointed out, this would get into the way of Password Managers. Any thoughts, @jvoisin?

[2021-03-19 03:27] deluan commented on #647
Well, thanks for fixing the issue in the AlbumDetail view, but unfortunately this issue is still happening in the Album Grid:
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/331353/111727512-65606500-8841-11eb-90a4-52d053a54c57.gif)

[2021-03-19 03:53] deluan commented on #823
I prefer the design in the PR: https://github.com/navidrome/navidrome/pull/833#issuecomment-800845282

[2021-03-19 04:34] deluan commented on #771
@Dnouv, yes, that's the idea. Keep in mind that, for a better UX, the left menu bar should scroll independently from the main view, similar to Spotify, Apple Music, and others:
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/331353/111731801-9abd8080-884a-11eb-8c72-97d636979eab.gif)

But in mobile view, it should stay as it is today.

[2021-03-19 04:39] deluan commented on #726
@Himanshunitrr Play Queue data is managed by the `playQueue.js` reducer, and the `audioplayer.js` actions.

[2021-03-19 07:18] KashyapPavra commented on #850
Hey I would also love to work on this, this seems a big task. @Hackerbone So how about we both work on it together?

[2021-03-19 07:49] rohitgeddam opened #855 "Make Album Detail Screen Responsive on smaller devices"
The Album Detail screen is not responsive in some cases ( where the album name is longer )

![navidrome_album_detail_before](https://user-images.githubusercontent.com/48797475/111747585-7c409f00-88b5-11eb-8506-476a66efba98.gif)

related issue -  #845

[2021-03-19 08:36] Hackerbone commented on #850
Yeah sure we can work together on this @KashyapPavra

[2021-03-19 10:53] grinapo opened #857 "Error reading metadata from file. Skipping - ogg/opus files"
As in #728 but for ogg files.
ffmpeg extractor works, taglib chokes. *Maybe* it doesn't like the cover image tag. ;-)
Possibly needs rethinking something in taglib since v2 and v3 tags are way more flexible and "unknown" stuff may pop up anytime.

[code]

[2021-03-19 11:02] rohitgeddam commented on #491
I see that Airsonic has lyrics support, maybe we can see how they implemented it.

[2021-03-19 11:34] KashyapPavra commented on #850
@Hackerbone Great, did you have a talk with @deluan whether the genre is exposed in internal API?

[2021-03-19 11:53] Hackerbone commented on #850
@KashyapPavra not yet, will do till then can you share your discord id?

[2021-03-19 12:06] KashyapPavra commented on #850
kashyappavra#4305

[2021-03-19 12:33] rohitgeddam commented on #847
This looks like a good enhancement, I will give it a try!

[2021-03-19 12:45] neilchauhan2 commented on #639
![screencapture-localhost-4533-2021-03-19-18_05_49](https://user-images.githubusercontent.com/31568159/111780978-22080400-88de-11eb-8058-69ffecd4655b.png)

![screencapture-localhost-4533-2021-03-19-18_05_21](https://user-images.githubusercontent.com/31568159/111780942-16b4d880-88de-11eb-9002-9170b463926d.png)

@deluan I've implemented the `setRatings` feature for the **Songs** and **Albums** as yo

[2021-03-19 12:46] jvoisin commented on #241
Yeah, no need to change the behaviour.

[2021-03-19 14:40] andrewzah opened #858 "[feature req] add OIDC authentication + roles"
https://swagger.io/docs/specification/authentication/openid-connect-discovery/

This would allow things like SSO through an external service like Keycloak, which generates `.well-known` automatically. A generic OIDC authenticator is preferable to service-specific logins like Google, Facebook, etc.

One way to do this would be to have multiple Authenticators, like an `OIDCAuthenticator` and a `Loca

[2021-03-19 15:33] KashyapPavra opened #859 "Select multiple songs/albums and perform a task on them"
Currently Navidrome does not have the feature to select multiple songs/albums and perform a task on them.
Like the below example of Apple Music:

https://user-images.githubusercontent.com/22401926/111804062-b7fb5900-88f5-11eb-8e7e-e1be1e0aa0ee.mov

1. A discussion can be opened regarding what tasks can be performed as currently there is no option to perform any task even on a single album or song.

[2021-03-19 16:14] deluan commented on #859
Selecting multiple albums in AlbumGrid view would be awesome. But your statement about not having tasks per song/album is incorrect. We have tasks for Albums, Artists and Songs. And we can select multiple songs to perform tasks on them:

https://user-images.githubusercontent.com/331353/111810541-827e4d80-88ac-11eb-934e-d09de9e8baa0.mov

https://user-images.githubusercontent.com/331353/111810569-8a

[2021-03-19 16:49] certuna commented on #850
From what I can see:
- set up the underlying SQL query in https://github.com/navidrome/navidrome/blob/master/persistence/genre_repository.go
- add `/genre` command to the API in https://github.com/navidrome/navidrome/blob/master/server/app/app.go

[2021-03-19 16:55] KashyapPavra commented on #859
@deluan Ohh I missed this because I checked just for albums, which does not have an option to select multiple items and perform a task. I see there are already a bunch of tasks, so should I implement the drag and select feature? also add a feature for selecting multiple items and perform a task for albums as well?

[2021-03-19 17:00] KashyapPavra commented on #850
@certuna
I am not well aware with GO, so if you could implement the backend for it on GO. I'll add the front-end functionality for it

[2021-03-19 17:56] #241 closed

[2021-03-19 18:08] deluan commented on #131
Browsing by genre in the WebUI in now being tracked in #119

[2021-03-19 18:08] #131 closed

[2021-03-19 18:10] deluan commented on #119
We will need to introduce a `genre` table, with many-to-many relationships with `artist`, `album` and `media_file`. Then add a `/genre` rest endpoint to be consumed by the UI

[2021-03-19 18:10] certuna commented on #850
@KashyraPavra & @Hackerbone : I am very sorry to say this enhancement cannot be implemented yet. It's not trivial to expose a `/genre` REST endpoint since the database does not have a genre table yet. Overhauling the database schema is planned for later, so for now I have to put this enhancement on hold.

[2021-03-19 18:10] deluan commented on #850
This requires more work on the backend. We need a table for `genre`, which will be implemented in #119

[2021-03-19 18:16] deluan commented on #859
Yes, that would be awesome. Not sure if drag and select is the best option though, as it cannot be used in mobile. Maybe use the same pattern we have in `Songs`? Maybe add a "Select" button at the top right (besides "Add Filter"), that would enter "select mode", showing a checkbox on each album? We could then leverage the `BulkActionsToolbar` from React-Admin.

[2021-03-19 18:24] KashyapPavra commented on #859
@deluan maybe we can have a different approach for mobile drag and select, like this which is implemented for Apple Photos app :

https://user-images.githubusercontent.com/22401926/111825835-f56be080-890d-11eb-9e6a-139ea6ca1675.MP4

I am trying to implement the ``BulkActionsToolbar`` for albums, we might need an additional component ``AlbumBulkActions.js`` just similar to ``SongBulkActions.js`` ,

[2021-03-19 20:57] Shruti3004 opened #860 "Search Engine Optimization (SEO) for the web pages"

[2021-03-20 00:01] josepmdc commented on #829
Hi, I would like to take a look at this issue if it's ok. I tried with a song like this "%&ñò$•¿¡¡$Öņ.mp3" and I couldn't reproduce the issue, the song was imported with the entire playlist. What kind of special chars are giving you the problem?

[2021-03-20 06:09] Himanshunitrr commented on #726
Implemented the changes but while pushing those its failing in some tests therefore unable to create a PR. Git output is as follows:
[code]

[2021-03-20 08:38] ruddi10 commented on #847
@deluan  can you assign this to me

[2021-03-20 09:29] cristobalvp commented on #829
Hi, my files have the following characters: äÖöüßí
For example I have the following error for the file "006 - DJ Ötzi - Oktoberfest Party Music - Anton aus Tirol.mp3"

Since you are not having the issue, I checked my m3u file, and it was an error with the encoding. It was saved as ANSI instead of UTF8. After converting to UTF8, the playlist is imported correctly in Navidrome.

Sorry for the inconv

[2021-03-20 09:29] #829 closed

[2021-03-20 09:37] Shruti3004 commented on #860
@deluan I want to work on this issue

[2021-03-20 09:42] Himanshunitrr commented on #559
@verma-pulkit are you working on this issue?

[2021-03-20 09:53] neilchauhan2 commented on #639
@deluan I've figured this out, and now its working. But now the issue is that the while I'm trying to hit the `/setRating` endpoint for Artist, the ratings are not been applied. But in case of Albums and Songs everything works fine. Not sure why am I running into this issue. I'm almost done with the setRating feature, and I'll raise a PR shortly. Please review and let me know why the Rating featur

[2021-03-20 13:52] not-wlan opened #861 "Ability to peer with other instances"
Hi!

Something I'd really like to see in navidrome would be the ability to peer with other instances to share music with your friends & family. For the end user it would be similar to the library sharing found in Plex.

[2021-03-20 13:55] neilchauhan2 commented on #639
#862

[2021-03-20 14:47] AndersMoberg commented on #639
Been waiting for ratings in the Navidrome UI for quite a while, so very excited to see this turn up as a pull request. Not certain where I should add this comment, but having both ratings and the "starring" iconography be the same could be confusing for the newcomers.

Some players use the "heart" icon for one of them. I still personally associate stars with a rating, so perhaps "staring" thing sh

[2021-03-20 15:02] neilchauhan2 commented on #639
@deluan I've created a PR for the Ratings, #862 please have a look. The Ratings feature works perfectly for Albums and Songs. But, in case of Artist I guess there is some issue with the subsonic api. I tried changing the ratings for Artist even with a REST client Postman, but still the ratings are not been updated. I still enabled the ratings feature for Artists, it might be possible there would h

[2021-03-20 15:22] certuna commented on #847
Bear in mind that this is not only front end work - at the moment the `artist` REST endpoint in the API only returns a limited set of fields: `name`, `albumCount`, `songCount` and `playCount` (and a lot more, but not the fields needed for the functionality described above).
- things like `min_year`, `max_year`, total time, average rating, last played, and genre(s) are all info that is already in t

[2021-03-20 15:41] ruddi10 commented on #847
Okk

[2021-03-20 19:47] josepmdc commented on #836
I was taking a look at this issue and I noticed that if I add this line in the function initRoutes in the server.go file:
[code]
the logging middleware does get called and logs the 405 response as a WARN. Does it make sense to add this line here? It's already getting called on the MountRouter function of the same file, but it doesn't get called with the 405 response, I don't know why.
Also I don't

[2021-03-20 19:59] the-pro opened #864 "Weird behaviour while using navidrome"
I am not sure if this is a serious issue but it surely seems weird while using navidrome:

Bug:

Some symbols turn black from white after minimizing and maximizing the player. It happens only in dark mode and spotify-ish mode both of which uses a dark theme.

Steps to reproduce:

- play a song
- observe the '>' symbols in the list
- minimize it
- maximize it
- observe the '>' symbol in the list

!

[2021-03-20 20:47] jvoisin commented on #860
There is no need for "SEO" for the "web pages".

[2021-03-20 20:47] #860 closed

[2021-03-20 22:17] deluan commented on #860
@Shruti3004 If you are talking about applying SEO practices to Navidrome website (https://www.navidrome.org), this is the wrong repo. The correct one is https://github.com/navidrome/website

On the other hand, Navidrome itself should be as SEO UN-friendly as possible, as it is a[ self-hosted app](https://en.wikipedia.org/wiki/Self-hosting_(web_services)), and users don't want to have their servers

[2021-03-20 22:28] deluan commented on #864
Which browser you see this happening? Can you reproduce it with the [demo site](https://demo.navidrome.org)? I can't reproduce the issue with the latest version, nor with my local copy (master), when using Chrome.

[2021-03-21 05:05] the-pro commented on #864
I am using firefox browser and yes sir it can be produced in the demo site after minimizing and maximizing the audio player

![navise](https://user-images.githubusercontent.com/42973786/111894468-f0ec1880-8a30-11eb-86b5-20fff891c43e.png)